/* used in faculty directory (profile/bio pages not listing pages). Was old profile_2013.css */

.facultyProfile {
    font-size:14px;
}

.facultyProfile .profilePicture {
    margin:10px 10px 10px 0;
    overflow:hidden;
	width: 130px;
    height:150px;
    clear:both;
    position:relative;
}

.facultyProfile .profilePicture.noPhoto {
    height: 75px;
    width: 65px;
}

.facultyProfile .profilePicture img {
    position:absolute;
    max-width:206px;
	border: 5px solid white;
    -webkit-box-shadow: 0px 0px 7px #434343;
    -moz-box-shadow: 0px 0px 7px #434343;
    box-shadow: 0px 0px 7px #434343;
}

.facultyProfile .credit {
	font-size: 12px;
} 

.facultyProfile .jobTitle{
    font-weight:normal;
    font-size:14px;
    margin: 0;
		line-height:17px;
}

.facultyProfile div[itemprop="affiliation"]{
    font-size:16px;   
    max-width:600px;
}

.facultyProfile div[itemprop="affiliation"]:first-child{
    margin: 15px 0 0 0;
}

.facultyProfile div[itemprop="college"]{
	padding-bottom:5px; 
	font-size:14px;
}

.facultyProfile .honors{
    font-size:15px;
    margin:10px 0 0 0;
}

.facultyProfile dl{
    margin:10px 0 10px 0;  
}

.facultyProfile .noFloat{
    margin: 10px 0 10px 0;   
    /*max-width:600px;*/
    width: 70%;
}

.facultyProfile dt{
    font-weight:bold;
    float:left;
    clear:left;
    margin:0 5px 0 0;
}

.facultyProfile dd{
    padding:0;
    margin:0;
    float:left;
}

.facultyProfile .video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.facultyProfile .video iframe, .facultyProfile .video object, .facultyProfile .video embed {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
}

.facultyProfile .social{
    margin:10px 0 0 0;
}

.facultyProfile .contactInfo {
     max-width: 500px; 
}

.facultyProfile dd.scholarlyWork {
    padding: 10px 15px 10px 30px;
    text-indent: -15px;
}

.facultyProfile dd.scholarlyWork div {
    display: inline;
}

.facultyProfile dd.scholarlyWork div:after{
    content: '.';    
}

.facultyProfile dd.scholarlyWork div:first-child:after{
    content:'';   
}
	
/* copied these social icon classes from level_2013.css: */
.facultyProfile .social a{
    float:left;
    margin:0 10px 0 0;
    text-indent:-999em;
    height:26px;
    width:26px;
    background-image:url("../_files/level/img left_nav_social_icons.png");
    background-repeat:no-repeat;
}

.facultyProfile .social .facebook{
    background-position:left top;   
}

.facultyProfile .social .twitter{
    background-position:-30px top;   
}

.facultyProfile .social .linkedIn{
    background-position:-60px top;   
}

.facultyProfile .social .rss{
    background-position:-90px top;   
}

.facultyProfile .social .flickr{
    background-position:-120px top;   
}

.facultyProfile .social .youTube{
    background-position:-150px top;   
}

.facultyProfile .social .vimeo{
    background-position:-180px top;   
}

.facultyProfile .social .googlePlus{
    background-position:-210px top;   
}

.facultyProfile .social .instagram{
    background-position:-240px top;   
} 


@media only screen and (min-width: 780px) {
	.facultyProfile .profilePicture {
			position: absolute;
			top: 50px;
			right: 10px;
			float: none;
		}
}


.large_faculty_photo .profilePicture{
    height:auto;
    width:auto;
	 max-width:206px;    
}

.large_faculty_photo .noFloat{
}

.large_faculty_photo .profilePicture img{
    position:static;    
}