<div class="feature-points">
	<div class="outer-container">
		<ul class="feature-points-list">
			<li class="point-item">
        <div class="item-wrap"><span class="icon icon-calendar4"></span></div>
        <div class="item-wrap">21-moth program with daytime classes</div>
      </li>
			<li class="point-item">
        <div class="item-wrap"><span class="icon icon-leaf"></span></div>
        <div class="item-wrap">Fall start</div>
      </li>
			<li class="point-item">
        <div class="item-wrap"><span class="icon icon-bookmark"></span></div>
        <div class="item-wrap">Merit scholarships</div>
      </li>
			<li class="point-item">
        <div class="item-wrap"><span class="icon icon-earth"></span></div>
        <div class="item-wrap">Optional international travel courses</div>
      </li>
			<li class="point-item">
        <div class="item-wrap"><span class="icon icon-library2"></span></div>
        <div class="item-wrap">Concentrations in Finance and Marketing</div>
      </li>
		</ul>
	</div>
</div>