<div class="ad-landing-masthead">
  <div class="masthead-header">
    <%= image_tag("argyros-center-stacked.svg", class: "header-mobile") %>
    <div class="header-desktop">
      <%= image_tag("argyros-horizontal-stacked.svg", class: "header-logo-desktop") %>
      <p class="header-text-desktop">MAKING <strong>BOLD</strong> STEPS</p>
    </div>
  </div>

  <div class="masthead-hero">
    <div class="background-image" style="background-image: url('http://www.chapman.edu/dodge/_files/dmac/dmac-masthead.jpg'); ">
      <div class="outer-background-overlay"></div>
      <article style="background-image: url('http://www.chapman.edu/dodge/_files/dmac/dmac-masthead.jpg'); ">
        <div class="inner-background-overlay"></div>
        <div class="content">
          <h1 class="title">TURN YOUR PASSION, KNOWLEDGE AND EXPERIENCE INTO A REWARDING CAREER</h1>
          <h2 class="subtitle">Earn your Masters Degree at Dodge College of Film and Media Arts.</h2>
        </div>
      </article>
    </div>
  </div>

  <div class="masthead-content">
    <section class="masthead-content-panel">
      <h2>Take the first step to advance your career.</h2>
      <p>
        Fill out the simple form below to request information on the Chapman MBA.
      </p>

      <form class="calls-to-action">
        <label for="first-name">First Name</label>
        <input type="text" name="first-name" id="first-name"><br>
        <label for="last-name">Last Name</label>
        <input type="text" name="last-name" id="last-name"><br>
        <label for="email">Email Address</label>
        <input type="text" name="email" id="email"><br>
        <label for="program">Program of Interest</label>
        <input type="text" name="program" id="program"><br>
        <label for="hear-of-us">How did you hear about us?</label>
        <input type="text" name="hear-of-us" id="hear-of-us"><br>
        <input type="submit" value="Request Info Now">
      </form>
      <div id="form_211afdcd-26ad-4084-8b41-349d8d55f09a">Loading...</div><script>/*<![CDATA[*/var script = document.createElement('script'); script.src = 'https://myuniversity.edu/register/?id=211afdcd-26ad-4084-8b41-349d8d55f09a&output=embed&div=form_211afdcd-26ad-4084-8b41-349d8d55f09a&form_sys:program=Chemistry' + ((location.search.length > 1) ? '&' + location.search.substring(1) : ''); var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);/*]]>*/</script>
    </section>
  </div>

  <div class="masthead-footer">
    <h2 class="footer-text-desktop">CHAPMAN UNIVERSITY</h2>
  </div>
</div>