<div class="ad-landing-masthead">
  <div class="masthead-header">
    <%= image_tag("argyros-center-stacked.svg", class: "header-mobile") %>
    <div class="header-desktop">
      <%= image_tag("argyros-horizontal-stacked.svg", class: "header-logo-desktop") %>
      <p class="header-text-desktop">MAKING <strong>BOLD</strong> STEPS</p>
    </div>
  </div>

  <div class="masthead-hero">
    <!-- There are two elements with background images because of the major design difference between the mobile and desktop layouts -->
    <div class="background-image" title="desktop hero background image" style="background-image: url('http://www.chapman.edu/dodge/_files/dmac/dmac-masthead.jpg'); ">
      <article title="mobile hero background image" style="background-image: url('http://www.chapman.edu/dodge/_files/dmac/dmac-masthead.jpg'); ">
        <div class="content">
          <h1 class="title">Turn your passion, knowledge and experience into a rewarding career.</h1>
          <h2 class="subtitle">Earn your Masters Degree at Dodge College of Film and Media Arts.</h2>
        </div>
      </article>
    </div> 
  </div>

  <div class="masthead-content">
    <section class="masthead-content-panel">
      <h2>Take the first step to advance your career.</h2>

      <div class="calls-to-action">
        <div id="form_4c37abdc-d5ba-4313-99b6-89b7a869ac37">Loading...</div><script async="async" src="https://go.chapman.edu/register/?id=4c37abdc-d5ba-4313-99b6-89b7a869ac37&amp;output=embed&amp;div=form_4c37abdc-d5ba-4313-99b6-89b7a869ac37">/**/</script>
      </div>
    </section>
  </div>

  <div class="masthead-footer">
    <h2 class="footer-text-desktop">CHAPMAN UNIVERSITY</h2>
  </div>
</div>