<div id="sponsor-bar">
	<div class="sponsor-title"><h2>Our Alumni Work at</h2></div>
	<div class="outer-container">
		<div class="carousel-container">
			<div class="jcarousel">
				<ul class="sponsor-list">
					<li class="sponsor-list-item"><img src="<%= image_path 'ad_landing_page/Wells.png' %>"/></li>
					<li class="sponsor-list-item"><img src="<%= image_path 'ad_landing_page/Deloitte.png' %>"/></li>
					<li class="sponsor-list-item"><img src="<%= image_path 'ad_landing_page/Johnson.png' %>"/></li>
					<li class="sponsor-list-item"><img src="<%= image_path 'ad_landing_page/Dell.png' %>"/></li>
					<li class="sponsor-list-item"><img src="<%= image_path 'ad_landing_page/Mattel.png' %>"/></li>
					<li class="sponsor-list-item"><img src="<%= image_path 'ad_landing_page/Ernst.png' %>"/></li>
					<li class="sponsor-list-item"><img src="<%= image_path 'ad_landing_page/Disney.png' %>"/></li>
					<li class="sponsor-list-item"><img src="<%= image_path 'ad_landing_page/CBRE.png' %>"/></li>
				</ul>
			</div>
		</div>
	</div>
</div>