$call-to-action-block-mobile-height: 50px;
$call-to-action-block-screen-height: 150px;

.call-to-action-block-widget {
  padding: $one-column-widget-spacing 0;
  background-color: #eaeaea;

  .outer-container {
    @include outer-container();
    width: 100%;

    @include media($large-screen) {
      @include pad(0 $base-spacing);
    }
  }

  .box {
    position: relative;
    display: block;
    width: 100%;
    height: $call-to-action-block-mobile-height;
    text-align: center;
    overflow: hidden;
    color: $black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% center;
    background-color: darken(white, 2%);
    transition: transform 100ms;

    &:after {
      content: '';
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
    }

    &:hover {
      background-color: white;
      transform: scale(1.02);
      z-index: 2;
      box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.25);
    }

    @include media($medium-screen) {
      width: 25%;
      height: $call-to-action-block-screen-height;
      float: left;
      padding: $base-spacing 8px;
    }
  }

  .content-container {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .title {
    @include sub_section_heading(500);
    line-height: $call-to-action-block-mobile-height;
    margin: 0;
    padding: 0 $base-spacing;
    white-space: nowrap;

    @include media($medium-screen) {
      white-space: normal;
      line-height: 22px;
    }
  }

  .subtitle {
    @include p_small;
    margin: 0;
    display: none;
    @include media($medium-screen) {
      display: block;
    }
  }

  .box__text-light {
    color: white;
    background-color: $black;
    &:hover { background-color: $black; }

    &.box__background-media:after {
      content: '';
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      background-color: rgba(0,0,0,0.5);
    }
  }

  .theme-bg-color {
    color: white;
  }
}

.call-to-action-block-widget__medium-bg {
  background-color: #cfcfcf;
}

.call-to-action-block-widget__dark-bg {
  background-color: #323430;
}

