.call-to-action-3-up-widget {
	padding: $one-column-widget-spacing 0;

	.outer-container {
		@include outer-container();
	}

	.column {
		margin-bottom: $base-spacing*3;
		&:last-child { margin-bottom: 0; }
		@include media($medium-screen) {
			margin-bottom: 0;
			@include span-columns(6);
			@include pad(0 default);
		}
	}

	h3.headline {
		@include section_heading();
		margin: 24px 0 0;

		@include media($medium-screen) {
			@include sub_section_heading();
		}

		@include media(min-width 800px) {
			@include section_heading();
		}
	}

	.image-wrap {
		@include aspect_ratio(3, 2);
		position: relative;
		overflow: hidden;
		max-width: 900px;
		max-height: 400px;
		width: auto;
		height: auto;

		img {
			height: 100%;
			width: 100%;
		}
	}

	.text-wrap {
		display: inline-block;
		@include pad($base-spacing*2 $base-spacing*2 0);

		@include media($medium-screen) {
			@include pad(0 default);
		}

		@include media(min-width 800px) {
			@include pad(0 default);
		}
	}

	p {
		@include paragraph();
		margin: 24px 0 0!important;
	}

	a.more-link {
		@include hyperlinks();
		display: inline-block;
		margin-top: 44px;
	}
}