.chapman-stories-feed-widget {
	padding: $one-column-widget-spacing 0;
  text-align: center;
  background-color: $cu-light-grey;

  .outer-container {
		@include outer-container;
		@include pad(0 $base-spacing * 3);
		width: 100%;

		@include media($large-screen) {
		  @include pad(0 $base-spacing);
		}
	}

	h2.social-feed-title {
		@include main_heading(600);
		padding: 0 $base-spacing*2;
		margin-bottom: 48px;
	}

	.feed-column {
		display: inline-block;
		width: 100%;

		@include media($medium-screen) {
			float: right;
			width: 40%;
		}
	}

	.feed-column.stories-feed {
		time, img, .author {
			display: none;
		}

		.message { text-align: left; }
	}

	.post_tile {
		margin-bottom: 16px;
	}

	.top_story_post_tile, .post_tile {
		padding: 12px 24px;
		background-color: white;
	}

	h2.title {
		margin: 0;
		font-size: 14px;
		line-height: 18px;
		font-weight: 800;

		a { color: $black; }
		a:hover { color: $blue; }
	}

	.tag {
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		margin-bottom: 2px;
		color: #62605a;
	}

	.feed-column.top-story {
		margin-bottom: 16px;

		h2.title {
			font-size: 22px;
			line-height: 22px;
			font-weight: bold;
		}

		.message {
			padding: 24px 32px 32px;
			text-align: left;
		}

		.excerpt {
			margin-bottom: 0;
			margin-top: 14px;

			font-size: 14px;
			line-height: 20px;
		}

		time { display: none; }

		@include media($medium-screen) {
			float: left;
			width: 55%;
			margin-bottom: 0;
		}
	}

	.top_story_post_tile {
		margin-top: 0;
		max-width: 900px;
		max-height: 600px;
		padding: 0;
	}

	img {
		display: block;
	}

	.image-wrap {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		padding-bottom: 50%;
	}

	.story-photo {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.actions {
		display: block;
		text-align: center;
		margin-top: 48px;

		@include media($medium-screen) {
			display: inline-block;
			margin-top: 48px;	
		}
	}
}

.chapman-stories-feed-widget__medium-bg {
	background-color: $bg-silver-gray;
}

.chapman-stories-feed-widget__dark-bg {
	background-color: $black;

	h2.social-feed-title {
		color: white;
	}
}
