.contact-footer-widget {
	@include pad($base-spacing*2 0);
	background-color: #eaeaea;

	.outer-container {
		@include outer-container();
		@include pad(0 $base-spacing*2);
		display: table;
		border-spacing: 28px;
		width: 100%;

		&::after {
    		display: none!important;
  		}

		@media(min-width: 780px) {
			@include pad(0 $base-spacing*2);
			border-spacing: 0;
		}

		@media(min-width: $large-screen) {
			@include pad(0 $base-spacing);
		}
	}

	.footer-section {
		display: table-row;
		text-align: center;

		@media(min-width: 780px) {
			display: table-cell;
			vertical-align: top;
			text-align: left;
			padding-right: 4%;

			&.title {
				width: 30%;
			}

			&.contact-2 {
				vertical-align: middle;
			}
		}

		h2.footer-title {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 22px;
			font-weight: 500;
			line-height: 28px;
		}
	}

	p.address,
	a.address {
		margin-bottom: 0;
		font-style: normal;
		white-space: nowrap;
	}

	a.address {
		display: block;
		color: $blue;
	}

	h3.footer-heading {
		margin-top: 0;
		margin-bottom: 8px;
		font-size: 18px;
		line-height: 24px;
		font-weight: 500;
		font-style: center;
	}

	ul.social-icon-list {
		li {
			display: inline-block;
			margin: 0 5px;
			list-style-type: none;
			text-align: center;
		}

		.social-link {
			display: inline-block;
			height: 16px;
			width: 16px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
}

.contact-footer-widget__medium-bg {
	background-color: $bg-silver-gray;
}

.contact-footer-widget__dark-bg {
	background-color: $black;
  color: white;

  p.address, h3.footer-heading {
  	color: white;
  }
}