.contact-footer-widget {
	@include pad($base-spacing*2 0);
	background-color: #eaeaea;

	.outer-container {
		@include outer-container();
		@include pad(0 $base-spacing*3);
		display: table;
		width: 100%;

		&::after {
	  	display: none!important;
		}

		@media(min-width: 780px) {
			padding: 0;
		}
	}

	.content-cell {
		display: table-row;
		text-align: center;

		@include media($medium-screen) {
			display: table-cell;
			width: 50%;

			&.right {
				text-align: left;
			}

			&.left {
				text-align: right;

				.content-wrap {
					border-right: 1px solid $black;
				}
			}

			.content-wrap {
				padding: $base-spacing $base-spacing*2;
			}

			.contact-line-2 {
				margin-bottom: 0;
			}
		}

		.contact-line-1, .contact-line-2 {
			margin-bottom: 24px;
		}
		
		.social-icon-list {
			list-style-type: none;
			line-height: 20px;

			li {
				display: inline-block;
				margin: 0 5px;
				list-style-type: none;
				text-align: center;
				line-height: 24px;
			}
			a {
				color: $black;
			}
		}

		h3.footer-heading {
			margin: 0;
			font-size: 18px;
			line-height: 24px;
			font-weight: 600;
		}

		.address {
			margin-bottom: 0;
			line-height: 20px;
			font-style: normal;

			&.email {
				color: $red;
				cursor: pointer;
			}
		}
	}
}