.cta-footer-widget {
	padding: 24px 0;
	background-color: $bg-silver-gray;

	.outer-container {
		@include outer-container();
		@include pad($base-spacing*2);
		width: 100%;

		@include media($medium-screen) {
			display: table;
			@include pad( $base-spacing $base-spacing*2);
		}

		@include media($large-screen) {
			@include pad($base-spacing);
		}
	}

	.footer-section {
		background-color: transparent;
		text-align: center;


		&.text {
			p {
				font-size: 22px;
				margin-bottom: 12px;
			}
		}

		@include media($medium-screen) {
			display: table-cell;
			vertical-align: middle;
			text-align: left;

			&.text {
				width: 20%;
				p {
					margin-bottom: 0;
				}
			}

			&.buttons {
				width: 90%;
				text-align: right;
			}
		}
		

		&.buttons {
			.button-wrapper {
				margin-top: 8px;
			}

			.buttons-container {
				margin-top:32px;
			}

			.footer-button {
				text-align: center;
				width: 100%;

				&.gray {
					@include button($gray-smoke);			
				}

				&.red {
					@include button($red);
				}
			}

			@include media($medium-screen) {
				.buttons-container {
					display: table;
					width: 100%;
					margin: 0;
				}

				.button-wrapper {
					display: table-cell;
					margin: 0;
					padding-left: 12px;
				}
			}
		}
	}
}