/*  Base Styles */
.messaging-2-column {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: white;
	padding: $widget-padding 0;

	.outer-container {
		@include outer-container;
		@include clearfix;
		@include pad(0 $base-spacing * 3);

		@include media($large-screen) {
			@include pad(0 $base-spacing);
		}
	}

	.media-column {
		white-space: nowrap;
		margin-bottom: $base-spacing * 2;
	}

	.center-media-helper {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	.media {
		vertical-align: middle;
		width: 100%;
		height: auto;
	}

	.fluid-width-video-container {
		@include fluid-width-video-container;
		display: inline-block;
	}

	h1.title {
		@include main_heading(100);
		margin-bottom: 0;
	}

	h4.category {
		@include content_label();
		margin-top: 0;
	}

	p {
		@include p_standard();
		margin: 32px 0 0;
	}

	.button.red {
		text-align: center;
		padding: 15px 25px;
		font-size: 16px;
		font-weight: normal;
	}

	.actions {
		margin-top: 72px;
		text-align: center;
		@include media($medium-screen) {
			text-align: left;
		}
	}
}




/* Text Right Variation */
.messaging-2-column.text-right {

	/* Medium Screen */
	@include media($medium-screen) {
		.media-column {
			@include span-columns(8);
		}
		.text-column {
			@include span-columns(9);
			@include shift(1);
		}
	}

	/* Large Screen */
	@include media($large-screen) {
		.media-column {
			@include span-columns(10);
		}
		.text-column {
			@include span-columns(7);
			@include shift(1);
		}
	}
}




/* Text Left Variation */
.messaging-2-column.text-left {
	@include direction-context(right-to-left) {

		/* Medium Screen */
		@include media($medium-screen) {
			.media-column {
				@include span-columns(8);
			}
			.text-column {
				@include span-columns(9);
				@include shift(1);
			}
		}

		/* Large Screen */
		@include media($large-screen) {
			.media-column {
				@include span-columns(10);
			}
			.text-column {
				@include span-columns(7);
				@include shift(1);
			}
		}
	}
}



/* Light Variation */
.messaging-2-column.text-light {
	h1.title {
		color: white;
	}

	h4.category {
		color: white;
	}

	p {
		color: white;
	}
}