.subscribe-widget {
  padding: $one-column-widget-spacing 0;
  background-color: #eaeaea;
  
  .outer-container {
    @include outer-container;
    padding: 0 $base-spacing*3;
    @include media($large-screen) { padding: 0 $base-spacing; }
  }

  .subscribe-message-column {
    margin-bottom: $base-spacing;
    // border: 1px solid white;

    p {
      margin: 0;
      @include media($large-screen) {
        margin: $base-spacing / 2 0;
      }
    }
  }

  form { @include clearfix }

  .campaign-monitor-forms {
    text-align: center;
    // border: 1px solid white;

    p {
      display: inline;
    }

    label, br {
      display: none;
    }

    input {
      display: inline-block;
      font-size: 16px;
      margin-bottom: $base-spacing;
      width: 100%;
      padding: $base-spacing / 2;
      border-radius: 3px;
      border: 1px solid rgba(0,0,0,0.1);
      box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.1);
      transition: border 150ms;
      background-color: #fff;
      &:focus {
        outline: none;
        border: 1px solid $blue;
      }
    }

    button {
      @include button($blue);
      width: 100%;
    }
  }

  /* Medium Screen */

  @include media($medium-screen) {
    .campaign-monitor-forms {
      text-align: left;
      
      p {
        display: inline;
      }

      input {
        width: 75%;
        float: left;
        margin-bottom: 0;
      }
      button {
        padding-top:    ($base-spacing/2) + 1px; // The border of the form is
        padding-bottom: ($base-spacing/2) + 1px;
        width: 20%;
        float: right;
      }
    }
  }

  /* Large Screen */
  @include media($large-screen) {
    .subscribe-message-column {
      margin-bottom: 0;
      @include span-columns(6);
    }
    .campaign-monitor-forms {
      @include span-columns(12);
    }
  }
}

.subscribe-widget__medium-bg {
  background-color: $bg-silver-gray;
}

.subscribe-widget__dark-bg {
  background-color: $black;
  color: white;
}