.main {
  .primaryContent & {
    max-width: none !important;
    width: 100%;
  }
}

#main {
  @include bp(m) {
    overflow: hidden;
  }
}

.main {
	body.personnel & {
		margin-left: 0;
	}
	a {
	    border-bottom: 1px dotted #C0C0C0;
	}
	.ie7 & {
    h2 {
      zoom: normal;
    }
  }
  .tabGroup {
    min-height: 0;
    max-width: 100%;
    float: none;
    padding: 0 0 0 0;
  }
  .tabNav {
    background-image: none;
    height: auto;
    padding: 0 0 0 0;
    li {
      margin: 0 30px 0 0;
      float: none;
      &.active {
        bottom: -5px;
        @include bp(l) {
          bottom: 0;
        }
      }
      @include bp(l) {
        margin: -1px 2px 0 0;
        float: left;
      }
    }
    @include bp(l) {
      background-image: image-url('tab_shadow.png');
      background-position: left 3px;
      height: auto;
      height: 35px;
      padding: 0;
    }
  }
  .tabContent > li {
    padding: 5px 10px 0 10px;
    @include bp(l) {
      padding: 5px 0 0 0;
    }
  }
}
