<div class="controls-link control-overlays" data-partial="controls-link">

	<a href="/./" id="virtualTour-deepLink" class="button small primary">
		<img alt="Link icon" src="img/linkIcon.png" class="icon" />
		Get Link to My Pins
	</a>

	<div id="virtualTour-deepLinkDialog" class="deep-link-dialog" title="Basic dialog">
		<input id="virtualTour-deepLinkTextField" class="deep-link-dialog-text-field" type="textfield" />
		<button id="virtualTour-deepLinkCloseBtn" class="copy-button button small primary">
			<span class="label">Close</span>
		</button>
	</div>

</div>
