<div class="media-block" data-partial="media-block" data-id="{{id}}">
	<div class="media-container">

		{{#if video.active}}
			{{#each video.href}}
				<div class="video">
					<div class="video-wrapper">
						{{{this}}}
					</div>
				</div>
			{{/each}}
		{{/if}}

		{{#if audio.active }}
			{{#each audio.href }}
				<div class="audio">
					{{{this}}}
				</div>
			{{/each}}
		{{/if}}

	</div>
</div>
