{{!-- How it will actually look --}}
<div class="street-view" data-module="street-view">
	<input type="hidden" value="https://www.google.com/maps/@40.429078,-80.050775,3a,75y,315.5h,81.44t/data=!3m4!1e1!3m2!1sYEWQUuLlT10vJfZ3osPWPg!2e0" />

</div>

<div class="streetViewBar" id="streetViewBar"></div>

{{!-- Dev out the styles and layout --}}
<ul class="street-view-tile" data-partial="street-view-tile">
	<li>
		<div class="tile-container">
			<div class="img-container">
				<img class="streetViewImg"

				     src="https://geo2.ggpht.com/cbk?output=thumbnail&amp;thumb=1&amp;cb_client=maps_sv.gps.maps_sv.tactile&amp;ll=40.429078,-80.050775&amp;yaw=315.5&amp;pitch=-8.560000000000002&amp;panoid=YEWQUuLlT10vJfZ3osPWPg&amp;h=250&amp;w=350"

				     data-original-href="https://www.google.com/maps/@40.429078,-80.050775,3a,75y,315.5h,81.44t/data=!3m4!1e1!3m2!1sYEWQUuLlT10vJfZ3osPWPg!2e0"

				     data-id="1"

				     data-query-string="{&quot;ll&quot;:&quot;40.429078,-80.050775&quot;,&quot;yaw&quot;:&quot;315.5&quot;,&quot;pitch&quot;:-8.560000000000002,&quot;panoid&quot;:&quot;YEWQUuLlT10vJfZ3osPWPg&quot;,&quot;h&quot;:250,&quot;w&quot;:350}" >
			</div>

			<div class="icon-container">
				<span class="icon"></span>
				<span class="title">Image Icon</span>
			</div>

		</div>

	</li>
</ul>


