<div class="side-panel-hero">

  <div class="hero-content">
    <section class="hero-content-panel">
      <h1>Dodge College of Film and Media Arts</h1>
      <h2>Preparing students for a creative life in fiml and media arts.</h2>
      <p>
        Welcome to Dodge College of film and Media arts, a state-of-the-art facility open to you 24/7, acomplished faculty with a combined filmography of more than 300 feature films, a hands-on learning environment, international travel oportunities, one-of-a-kind internships, a solid alumni network and synergy across all programs.
      </p>

      <nav id="program-select-links" class="program-select">
        <span class="select-arrow theme-border-color"></span>

        <button class="hero-select-button theme-border-color">Sample Text</button>
        <ul class="hero-select-list">
          <li>
            <a href="http://www.google.com">Programs and Majors</a>
          </li>
          <li><a href="http://www.google.com">Film Production</a></li>
        </ul>
      </nav>

      <nav class="calls-to-action">
        <a href="#" class="theme-bg-color theme-button">Visit Dodge</a>
        <a href="#" class="theme-bg-color theme-button">Admission Information</a>
      </nav>
    </section>
  </div>

  <div class="cd-hero">
    <ul class="cd-hero-slider autoplay">
      <li class="selected">
        <div class="background-image" style="background-image: url('http://www.chapman.edu/dodge/_files/dmac/dmac-masthead.jpg'); ">
          <article class="theme-bg-color-alpha">
            <img src="http://www.chapman.edu/dodge/_files/dmac/dmac-masthead.jpg">
            <div class="content">
              <span class="category">Beyond Dodge</span>
              <h2 class="title">New Orleans Becoming Hollywood South</h2>
              <h3 class="subtitle">Alumni Discuss the film industry in New Orleans</h3>
              <p class="body">
                What’s the first thing that comes to mind when you think of France and the arts? The Louvre? The Mona Lisa? Hiroshima, Mon Amour? It’s probably not animation. Yet the influence of French animation is also enormous, from the first animated film in history, Reynaud’s Pauvre Pierrot to Illumination Studios’ newest blockbuster, Minions. Dodge’s Digital...&nbsp;&nbsp;<a href="#">Read more on dodge</a>
              </p>
            </div>
          </article>
        </div>
      </li>
      
      <li>
        <div class="background-video-wrapper">
          <article class="theme-bg-color-alpha">
            <video autoplay loop poster="http://www.chapman.edu/_files/img/hero-panels/fallback-images/football.jpg">
              <source src="http://www.chapman.edu/_files/img/hero-panels/html5-videos/homecoming.mp4" type="video/mp4">
            </video>
            <div class="content">
              <span class="category">Sports Broadcasting</span>
              <h2 class="title">Students Cover Chapman's Homecoming Football Game</h2>
              <h3 class="subtitle">Equitment and crew all from Chapman's own Dodge College</h3>
              <p class="body">
                What’s the first thing that comes to mind when you think of France and the arts? The Louvre? The Mona Lisa? Hiroshima, Mon Amour? It’s probably not animation. Yet the influence of French animation is also enormous, from the first animated film in history, Reynaud’s Pauvre Pierrot to Illumination Studios’ newest blockbuster, Minions. Dodge’s Digital...&nbsp;&nbsp;<a href="#">Read more on dodge</a>
              </p>
            </div>
          </article>
          <video id="background-video" class="background-video" autoplay loop poster="http://www.chapman.edu/_files/img/hero-panels/fallback-images/football.jpg">
            <source src="http://www.chapman.edu/_files/img/hero-panels/html5-videos/homecoming.mp4" type="video/mp4">
          </video>
        </div> 
      </li>
  
      <li>
        <div class="background-image" style="background-image: url('http://www.chapman.edu/dodge/_files/dmac/dmac-masthead.jpg'); ">
          <article class="theme-bg-color-alpha">
            <img src="http://www.chapman.edu/dodge/_files/dmac/dmac-masthead.jpg">
            <div class="content">
              <span class="category">Hello there</span>
              <h2 class="title">This is my test panel, hope it works</h2>
              <h3 class="subtitle">Alumni Discuss the film industry in New Orleans</h3>
              <p class="body">
                What’s the first thing that comes to mind when you think of France and the arts? The Louvre? The Mona Lisa? Hiroshima, Mon Amour? It’s probably not animation. Yet the influence of French animation is also enormous, from the first animated film in history, Reynaud’s Pauvre Pierrot to Illumination Studios’ newest blockbuster, Minions. Dodge’s Digital...&nbsp;&nbsp;<a href="#">Read more on dodge</a>
              </p>
            </div>
          </article>
        </div>
      </li>
    </ul>

    <div class="cd-slider-nav">
      <nav>
        <span class="cd-marker item-1"></span>
        <ul>
          <li class="selected"><a href="#0">News Story 1</a></li>
          <li><a href="#0">Event Announcement</a></li>
          <li><a href="#0">Student or Alumni Showcase</a></li>
        </ul>
      </nav> 
    </div>
  </div>
</div>