<div class="side-panel-hero">

  <div class="background-video-wrapper">
    <article class="theme-bg-color-alpha">
      <video controls poster="http://www.chapman.edu/_files/img/hero-panels/fallback-images/football.jpg">
        <source src="http://www.chapman.edu/_files/img/hero-panels/html5-videos/homecoming.mp4" type="video/mp4">
      </video>
      <div class="content">
        <span class="category">Sports Broadcasting</span>
        <h2 class="title">Students Cover Chapman's Homecoming Football Game</h2>
        <h3 class="subtitle">Equitment and crew all from Chapman's own Dodge College</h3>
        <p class="body">
          What’s the first thing that comes to mind when you think of France and the arts? The Louvre? The Mona Lisa? Hiroshima, Mon Amour? It’s probably not animation. Yet the influence of French animation is also enormous, from the first animated film in history, Reynaud’s Pauvre Pierrot to Illumination Studios’ newest blockbuster, Minions. Dodge’s Digital...<a href="#">Read more on dodge</a>
        </p>
      </div>
    </article>
    <video id="background-video" class="background-video" autoplay loop poster="http://www.chapman.edu/_files/img/hero-panels/fallback-images/football.jpg">
      <source src="http://www.chapman.edu/_files/img/hero-panels/html5-videos/homecoming.mp4" type="video/mp4">
    </video>
  </div>
  
  
  <div class="hero-content">
    <section>
      <h1>Dodge College of Film and Media Arts</h1>
      <h2>Preparing students for a creative life in fiml and media arts.</h2>
      <p>
        Welcome to Dodge College of film and Media arts, a state-of-the-art facility open to you 24/7, acomplished faculty with a combined filmography of more than 300 feature films, a hands-on learning environment, international travel oportunities, one-of-a-kind internships, a solid alumni network and synergy across all programs.
      </p>
      <nav class="program-select" id="program-select-links">
        <input href="#" type="hidden"/>
        <input href="undergraduate/accounting.aspx" type="hidden"/>
        <input href="undergraduate/business-administration.aspx" type="hidden"/>
        <input href="undergraduate/economics.aspx" type="hidden"/>
        <input href="graduate/prospective-students/programs/5-year.aspx" type="hidden"/>
        <input href="graduate/prospective-students/programs/full-time-mba.aspx" type="hidden"/>
        <input href="graduate/prospective-students/programs/professional-mba.aspx" type="hidden"/>
        <input href="graduate/prospective-students/programs/executive-mba.aspx" type="hidden"/>
        <input href="graduate/prospective-students/programs/masters-in-accounting.aspx" type="hidden"/>
        <input href="graduate/prospective-students/programs/msesd.aspx" type="hidden"/>
                                
        <span class="select-arrow theme-border-color"></span>
        <select class="theme-border-color">
          <option value="#">Degree &amp; Programs</option>
          <option>BS in Accounting</option>
          <option>BS in Business Administration</option>
          <option>BA in Economics</option>
          <option>5 Year MBA</option>
          <option>Full-time MBA</option>
          <option>Professional MBA</option>
          <option>Executive  MBA</option>
          <option>MS in Accounting</option>
          <option>MS in Economics System Design</option>
        </select>
      </nav>
          
      <nav class="calls-to-action">
        <a class="theme-bg-color" href="undergraduate/index.aspx">Undergraduate Programs</a>
        <a class="theme-bg-color" href="graduate/index.aspx">Graduate Program</a>
      </nav>
    </section>
  </div>
</div>