<div class="side-panel-hero">
  <!-- <div class="background-image" style="background-image: url('http://www.chapman.edu/dodge/_files/dmac/dmac-masthead.jpg'); "></div> -->

  <video autoplay class="background-video">
    <source src="https://www.chapman.edu/_files/img/hero-panels/html5-videos/surf.mp4" type="video/mp4">
  </video>
  
  <div class="hero-content">
    <section>
      <h1>Dodge College of Film and Media Arts</h1>
      <h2>Preparing students for a creative life in fiml and media arts.</h2>
      <p>
        Welcome to Dodge College of film and Media arts, a state-of-the-art facility open to you 24/7, acomplished faculty with a combined filmography of more than 300 feature films, a hands-on learning environment, international travel oportunities, one-of-a-kind internships, a solid alumni network and synergy across all programs.
      </p>
      <nav>
        <a href="#" class="theme-primary-bg">Programs and Majors</a>
        <a href="#" class="theme-primary-bg">Visit Dodge</a>
        <a href="#" class="theme-primary-bg">Admission Information</a>
      </nav>
    </section>

    <article>
      <span>Beyond Dodge</span>
      <h2>New Orleans Becoming Hollywood South</h2>
      <h3>Alumni Discuss the film industry in New Orleans</h3>
      <p>
        What’s the first thing that comes to mind when you think of France and the arts? The Louvre? The Mona Lisa? Hiroshima, Mon Amour? It’s probably not animation. Yet the influence of French animation is also enormous, from the first animated film in history, Reynaud’s Pauvre Pierrot to Illumination Studios’ newest blockbuster, Minions. Dodge’s Digital...<a href="#">Read more on dodge</a>
      </p>
    </article>
  </div>
</div>