<div class="side-panel-hero">
  <div class="background-image" style="background-image: url('http://www.chapman.edu/dodge/_files/dmac/dmac-masthead.jpg'); "></div>
  
  <div class="hero-content">
    <section>
      <h1>Dodge College of Film and Media Arts</h1>
      <h2>Preparing students for a creative life in fiml and media arts.</h2>
      <p>
        Welcome to Dodge College of film and Media arts, a state-of-the-art facility open to you 24/7, acomplished faculty with a combined filmography of more than 300 feature films, a hands-on learning environment, international travel oportunities, one-of-a-kind internships, a solid alumni network and synergy across all programs.
      </p>

      <nav class="program-select">
        <input type="hidden" value="#"/>
        <input type="hidden" value="http://jameskerr.info"/>
        <input type="hidden" value="https://github.com"/>
        <input type="hidden" value="http://jameskerr.info"/>
        <input type="hidden" value="http://jameskerr.info"/>
        
        <span class="select-arrow theme-border-color"></span>
        <select class="theme-border-color">
          <option>Programs and Majors</option>
          <option>Film Production</option>
          <option>Editing</option>
          <option>Screenwriting</option>
          <option>Publications & Broadcasting</option>
        </select>
      </nav>

      <nav class="calls-to-action">
        <a href="#" class="theme-bg-color">Visit Dodge</a>
        <a href="#" class="theme-bg-color">Admission Information</a>
      </nav>
    </section>

    <article class="theme-bg-color-alpha">
      <img src="http://www.chapman.edu/dodge/_files/dmac/dmac-masthead.jpg">
      <div class="content">
        <span>Beyond Dodge</span>
        <h2>New Orleans Becoming Hollywood South</h2>
        <h3>Alumni Discuss the film industry in New Orleans</h3>
        <p>
          What’s the first thing that comes to mind when you think of France and the arts? The Louvre? The Mona Lisa? Hiroshima, Mon Amour? It’s probably not animation. Yet the influence of French animation is also enormous, from the first animated film in history, Reynaud’s Pauvre Pierrot to Illumination Studios’ newest blockbuster, Minions. Dodge’s Digital...<a href="#">Read more on dodge</a>
        </p>
      </div>
    </article>
  </div>
</div>