<!-- Begin Blog Stories Area -->
<section id="featured_stories" class="stories section">
  <div class="maxWidth">
    <div class="announcement">
      <!-- Images must be 725x374 (or proportionally larger) for this space | unlimited images supported -->
      <div class="imagerotator">
        <img alt="Future Chapman President Daniele Struppa" src="http://www.chapman.edu/_files/img/homepage-blog-stories/top-stories/struppa-bio.jpg">
        <div class="imagerotator_clearfix" style="padding-bottom:52%"></div>
      </div>
      <div class="details">
        <a class="tag" href="http://www.chapman.edu/about/administration/inauguration/index.aspx">#ChapmanU</a>
        <h2 class="title"><a class="smc-cta" data-cta-id="Top Story" data-cta-label=" Celebrating the Presidential  Inauguration of Daniele C. Struppa, Ph.D." href="http://www.chapman.edu/about/administration/inauguration/index.aspx"> Celebrating the Presidential  Inauguration of Daniele C. Struppa, Ph.D.</a></h2>
        <p class="source blogname ">
          <a href="http://blogs.chapman.edu/">Chapman University</a>
        </p>
        <p></p>
        <p><span class="s1">The inauguration of Dr. Daniele C. Struppa as Chapman University's thirteenth president welcomes guests from around the globe. This weeklong celebration draws on the treasured traditions and pageantry of higher education through the ages, and represents a formal passing of the torch from Dr. James L. Doti, who served as Chapman's president from 1991 to 2016.&nbsp;</span></p>
        <p></p>
        <p><a href="http://www.chapman.edu/about/administration/inauguration/index.aspx">Visit the Inauguration website »</a></p>
      </div>
    </div>
    <!--end announcement-->
    <div class="third">
      <article class="story story-1">
        <a class="tag" href="//blogs.chapman.edu/happenings/category/campus-life/">#Campus Life</a>
        <a class="permalink smc-cta" data-cta-id="Trending Story 1" data-cta-label="International Students to be Greeted with a World of Support" href="http://blogs.chapman.edu/happenings/2016/08/10/international-students-to-be-greeted-with-a-world-of-support/">
          <h2 class="title">International Students to be Greeted with a World of Support</h2>
          <!-- LIMIT THIS FIELD TO 50 CHARACTERS -->
          <div class="story-bg" style="background-image:url('http://www.chapman.edu/_files/img/homepage-blog-stories/trending-stories/international.jpg');">
            <img alt="group of students" src="http://www.chapman.edu/_files/img/homepage-blog-stories/trending-stories/international.jpg">
          </div>
        </a>
        <footer class="story_footer">
          <p class="source blogname ">
            <a href="http://blogs.chapman.edu/happenings">Happenings</a>
          </p>
          <p class="meta">
            <a class="action facebook" href="http://www.facebook.com/sharer.php?u=http://blogs.chapman.edu/happenings/2016/08/10/international-students-to-be-greeted-with-a-world-of-support/" service="Facebook">Share on Facebook</a>
            <a href="http://twitter.com/intent/tweet?text=International+Students+to+be+Greeted+with+a+World+of+Support&amp;url=http://blogs.chapman.edu/happenings/2016/08/10/international-students-to-be-greeted-with-a-world-of-support/" class="action twitter" service="Twitter">Post to Twitter</a>
            <a class="icon shares" href="#"></a>
          </p>
        </footer>
      </article>
    </div>
    <div class="third">
      <article class="story story-2">
        <a class="tag" href="//blogs.chapman.edu/wilkinson/tag/wilkinsons-artist-in-residency/">#Artist in Residency</a>
        <a class="permalink smc-cta" data-cta-id="Trending Story 2" data-cta-label="My Summer Before California" href="http://blogs.chapman.edu/wilkinson/2016/08/15/my-summer-before-california/">
          <h2 class="title">My Summer Before California</h2>
          <!-- LIMIT THIS FIELD TO 50 CHARACTERS -->
          <div class="story-bg" style="background-image:url('http://www.chapman.edu/_files/img/homepage-blog-stories/trending-stories/drink.jpg');">
            <img alt="drawing of a drink" src="http://www.chapman.edu/_files/img/homepage-blog-stories/trending-stories/drink.jpg">
          </div>
        </a>
        <footer class="story_footer">
          <p class="source blogname wilkinson">
            <a href="http://blogs.chapman.edu/wilkinson">Wilkinson College of Humanities and Social Sciences</a>
          </p>
          <p class="meta">
            <a class="action facebook" href="http://www.facebook.com/sharer.php?u=http://blogs.chapman.edu/wilkinson/2016/08/15/my-summer-before-california/" service="Facebook">Share on Facebook</a>
            <a href="http://twitter.com/intent/tweet?text=My+Summer+Before+California&amp;url=http://blogs.chapman.edu/wilkinson/2016/08/15/my-summer-before-california/" class="action twitter" service="Twitter">Post to Twitter</a>
            <a class="icon shares" href="#"></a>
          </p>
        </footer>
      </article>
    </div>
    <div class="third">
      <article class="story story-3">
        <a class="tag" href="//blogs.chapman.edu/happenings/category/science-and-health/">#Science and Health</a>
        <a class="permalink smc-cta" data-cta-id="Trending Story 3" data-cta-label="In Battle Against Fire-Prone Grasses, Chapman Professor Offers New Insight" href="http://blogs.chapman.edu/happenings/2016/08/05/in-battle-against-fire-prone-grasses-chapman-professor-offers-new-insight/">
          <h2 class="title">In Battle Against Fire-Prone Grasses, Chapman Professor Offers New Insight</h2>
          <!-- LIMIT THIS FIELD TO 50 CHARACTERS -->
          <div class="story-bg" style="background-image:url('http://www.chapman.edu/_files/img/homepage-blog-stories/trending-stories/fire-study.jpg');">
            <img alt="picture of a tree" src="http://www.chapman.edu/_files/img/homepage-blog-stories/trending-stories/fire-study.jpg">
          </div>
        </a>
        <footer class="story_footer">
          <p class="source blogname ">
            <a href="http://blogs.chapman.edu/happenings">Happenings</a>
          </p>
          <p class="meta">
            <a class="action facebook" href="http://www.facebook.com/sharer.php?u=http://blogs.chapman.edu/happenings/2016/08/05/in-battle-against-fire-prone-grasses-chapman-professor-offers-new-insight/" service="Facebook">Share on Facebook</a>
            <a href="http://twitter.com/intent/tweet?text=In+Battle+Against+Fire-Prone+Grasses%2C+Chapman+Professor+Offers+New+Insight&amp;url=http://blogs.chapman.edu/happenings/2016/08/05/in-battle-against-fire-prone-grasses-chapman-professor-offers-new-insight/" class="action twitter" service="Twitter">Post to Twitter</a>
            <a class="icon shares" href="#"></a>
          </p>
        </footer>
      </article>
    </div>
    <div class="actions">
      <a class="button smc-cta" data-cta-id="learn-more" href="//inside.chapman.edu/">Read more on Inside.Chapman</a>
      <a class="button red smc-cta" data-cta-id="learn-more" href="https://events.chapman.edu/">View our events calendar</a>
    </div>
  </div>
  <!-- end maxwidth-->
</section>
<!-- end featured-stories-->
<!-- End Blog Stories Area -->
