<section class="section light-bg" id="generalInformation">
  <div class="maxWidth">
    <h2 class="heading" skrollable skrollable-after data-bottom="opacity:0;" data-center="opacity:1;">At Chapman, you'll discover there's an energy that runs through everything and everyone.</h2>
    <div class="third">
      <!-- Images must be 480x320 for this space | unlimited images supported -->
      <div class="imagerotator">
        <img alt="student experimenting" src="http://www.chapman.edu/_files/img/homepage-general-info/cu-family-image-cc1.jpg" style="position: absolute; top: 0px; z-index: 2; opacity: 1; display: block;">
        <img alt="theater student learning" src="http://www.chapman.edu/_files/img/homepage-general-info/cu-family-image-cc4.jpg" style="position: absolute; top: 0px; z-index: 1; display: none; opacity: 0;">
        <div class="imagerotator_clearfix" style="padding-bottom:67%;"></div>
      </div>
      <h3>Get Your Hands Dirty</h3>
      <p>Inside the walls of our university you will find dynamic classes with creative students and faculty ready to work hand-in-hand. Get your hands dirty from day one. Pick up a camera, put on your lab coat, or begin your first novel. Chapman allows you the opportunity to work alongside your professors from the beginning.</p>
      <p><a href="academics/degrees-and-programs.aspx">See our Degrees &amp; Programs</a></p>
    </div>
    <div class="third">
      <!-- Images must be 480x320 for this space | unlimited images supported -->
      <div class="imagerotator">
        <img alt="professor teaching" src="http://www.chapman.edu/_files/img/homepage-general-info/cu-family-image-cc2.jpg" style="position: absolute; top: 0px; z-index: 2; opacity: 1; display: block;">
        <img alt="student learning from professor" src="http://www.chapman.edu/_files/img/homepage-general-info/cu-family-image-cc5.jpg" style="position: absolute; top: 0px; z-index: 1; display: none; opacity: 0;">
        <div class="imagerotator_clearfix" style="padding-bottom:67%;"></div>
      </div>
      <h3>World-Class Faculty Who Know Your Name</h3>
      <p>Our faculty graduated from the same prestigious schools as their colleagues at other world-class universities. They do the same caliber of research. They speak at the same international conferences. They get interviewed on national television, write textbooks, and garner national awards. The only difference from their colleagues is that our faculty know their students by name.</p>
      <p><a href="academics/index.aspx">Learn About Academics</a></p>
    </div>
    <div class="third">
      <!-- Images must be 480x320 for this space | unlimited images supported -->
      <div class="imagerotator">
        <img alt="student grouped together" src="http://www.chapman.edu/_files/img/homepage-general-info/cu-family-image-cc3.jpg" style="position: absolute; top: 0px; z-index: 2; opacity: 0.409397; display: block;">
        <img alt="chapman spirit" src="http://www.chapman.edu/_files/img/homepage-general-info/cu-family-image-cc6.jpg" style="position: absolute; top: 0px; z-index: 1; display: block; opacity: 0.590603;">
        <div class="imagerotator_clearfix" style="padding-bottom:67%;"></div>
      </div>
      <h3>The Chapman Family</h3>
      <p>Being connected with a dedicated, resourceful, and innovative network is one of the most important aspects of attending a university. Chapman cultivates an environment of family, so when you're in the "real world" a friend is just around the corner. Panther Pride is with you for a lifetime.</p>
      <p><a href="http://inside.chapman.edu/">Connect with the Chapman Family</a></p>
    </div>
  </div>
</section>
