<section class="section dark-bg skrollable skrollable-between" data-bottom-top="background-position: center 100px" data-top-bottom="background-position: center -100px" id="graduateAdmission">
  <div class="maxWidth">
    <div class="second ">
      <h2 class="heading skrollable skrollable-after" data-bottom="right:50px; opacity:0;" data-center="right:0; opacity:1;">Graduate Programs <span>at <b>Chapman</b></span></h2>
      <h3 class="subheading skrollable skrollable-after" data-bottom="right:50px; opacity:0;" data-center="right:0; opacity:1;">We invite the inciters of change and disrupters of the ordinary to start their journey to mastery.</h3>
    </div>
    <div class="second">
      <div class="actions" data-bottom="opacity:0;" data-center="opacity:1;">
        <a class="button red apply smc-cta skrollable skrollable-after" data-cta-id="homepage-grad-admv" data--100-bottom="opacity:1" data-bottom="opacity:0" href="http://www.chapman.edu/academics/degrees-and-programs.aspx?startingtab=4" style="opacity: 1;">View a List of Graduate Programs</a>
      </div>
    </div>
  </div>
</section>
