<div id="heroWrapper">
  <div class="maxWidth" id="mastheadNavigationWrapper">
    <div id="mastheadNavigation" style="display: block;">
      <button class="smallButton disabled" id="showNewerContent" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Newer</button>
      <button class="smallButton disabled muted" id="changeVolume">Mute</button>
      <button class="smallButton" id="showOlderContent" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Older</button>
    </div>
  </div>
  <section aria-label="red slash with connecting lines for Chapman brand launch" class="dark-bg align-center video-playing" id="hero" role="img" style="background-image:url('http://www.chapman.edu/_files/img/hero-panels/fallback-images/anything-imaginable.jpg');">

    <div class="maxWidth" id="mastheadContent">
      <span class="tagline " role="heading">Experiment boldly. <span class="tagline-line-2">Act thoughtfully.</span></span>
      <h2>
        <span class="heading bold ">DO ANYTHING </span>
        <span class="subheading thin bold ">IMAGINABLE</span>
      </h2>
      <div class="actions fast_transition" style="position: relative; left: 0px; opacity: 1;">
        <a class="button smc-cta " data-cta-id="homepage-hero-anything-imaginable" href="academics/degrees-and-programs.aspx" id="secondary" title="link to our degrees and programs discovery search">Explore Our Degrees and Programs</a>
        <a class="button smc-cta " data-cta-id="homepage-hero-anything-imaginable" href="about/visit-chapman/index.aspx" id="primary" title="Learn More">Plan a Visit to Chapman</a>
      </div>
    </div>
    <div id="mastheadGradient"></div>
    <div id="mastheadBackground">       
      <video id="mastheadVideo" muted="muted" loop="loop" autoplay="autoplay" style="display:none;"></video>
      <img id="mastheadImage" src="http://www.chapman.edu/_files/img/hero-panels/fallback-images/anything-imaginable.jpg" alt="Anything Imaginable" />
    </div>
  </section>
</div>
