<div id="heroWrapper">
  <div id="mastheadNavigationWrapper" class="maxWidth">
    <div id="mastheadNavigation">
      <button id="showNewerContent" class="smallButton disabled">Newer</button>
      <button id="changeVolume" class="smallButton disabled muted">Mute</button>
      <button id="showOlderContent" class="smallButton disabled">Older</button>
    </div>
  </div>
  <section id="hero" class="dark-bg align-left" style="background-image:url('http://www.chapman.edu/_files/img/hero-panels/fallback-images/hilbert-art.jpg');">
    <div id="mastheadContent" class="maxWidth">
      <span class="tagline" role="heading">Optional Tagline goes here <span class="tagline_line-2">Optional Tagline, Line 2</span></span>
      <h2>
        <span class="heading bold fast_transition" style="position: relative; left: 0px; opacity: 1;">California Scene Painting:</span>
        <span class="subheading thin bold fast_transition" style="position: relative; left: 0px; opacity: 1;">A Narrative Revolution</span>
      </h2>

      <p class="excerpt fast_transition" style="position: relative; left: 0px; opacity: 1;">The once overlooked California Scene painting movement gets the recognition it deserves and a new home at the Hilbert Museum of California Art at Chapman University.</p>

      <div class="actions fast_transition" style="position: relative; left: 0px; opacity: 1;">
        <!-- # Watch Video Button
             # There's some Javascript that tweaks this and was causing an issue.
             # See https://github.com/chapmanu/cascade-assets/issues/93
             # -->
        <a href="https://www.youtube.com/watch?v=Rr0XAFbe8b8"
           class="button white smc-cta "
           id="secondary"
           data-cta-id="homepage-hero-fear-survey-2016"
           data-quickview-content='<iframe width="80%" height="80%" src="//www.youtube.com/embed/Rr0XAFbe8b8?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>'
           title="click to go to YouTube to watch Chapman Fear Survey promo video">
          Watch Video
        </a>

        <a href="/" class="button white smc-cta" id="primary" data-cta-id="homepage-hero-sample">Visit HilbertMuseum.org</a>
      </div>
    </div>

    <div id="mastheadGradient"></div>

    <div id="mastheadBackground">
      <video id="mastheadVideo" muted="muted" loop="loop" autoplay="autoplay" style="display:none;"></video>
      <img id="mastheadImage" src="http://www.chapman.edu/_files/img/hero-panels/fallback-images/hilbert-art.jpg" />
    </div>
  </section>
</div>
