<section class="section dark-bg" data-bottom-top="background-position: center 100px" data-top-bottom="background-position: center -100px" id="undergraduateAdmission">
  <div class="maxWidth">
    <h2 class="heading" data-100-top="opacity:1;" data-top="opacity:0;">
      <span class="fade-elem">Research It.</span>
      <span class="fade-elem">Learn It.</span>
      <span class="fade-elem">Make It.</span>
    </h2>
    <h3 class="subheading fade-elem">Join our vibrant intellectual community of undergraduate makers &amp; doers.</h3>
    <ul class="statistics">
      <li class="fact1" data-bottom-top="top[sqrt]:120px" data-center="top:0px">
        <p><span class="bigstat">1,425</span> <span class="label"> freshmen enrolled</span></p>
      </li>
      <li class="fact2" data-bottom-top="top[sqrt]:-50px" data-center="top:0px">
        <p><span class="bigstat">3.75</span> <span class="label"> admitted freshman average GPA</span></p>
      </li>
      <li class="fact3" data-bottom-top="top[sqrt]:60px" data-center="top:0px">
        <p><span class="bigstat">1877</span> <span class="label"> admitted freshman average SAT</span></p>
      </li>
      <li class="fact4" data-bottom-top="top[sqrt]:-10px" data-center="top:0px">
        <p><span class="bigstat">380</span> <span class="label"> transfers enrolled</span></p>
      </li>
      <li class="fact5" data-bottom-top="top[sqrt]:70px" data-center="top:0px">
        <p><span class="bigstat">3.35</span> <span class="label"> admitted transfer average GPA</span></p>
      </li>
    </ul>
    <div class="actions">
      <a class="button white smc-cta" data--100-bottom="opacity:1" data-bottom="opacity:0" data-cta-id="homepage-ug-adm" href="https://www.chapman.edu/discover/index.html">Discover Chapman</a>
      <a class="button white smc-cta" data--100-bottom="opacity:1" data-bottom="opacity:0" data-cta-id="homepage-ug-adm" href="https://go.chapman.edu/register/admission-info">Request information</a>
      <a class="button white smc-cta" data--100-bottom="opacity:1" data-bottom="opacity:0" data-cta-id="homepage-ug-adm" href="admission/undergraduate/applynow.aspx">Apply Today</a>
    </div>
  </div>
</section>
