// bxSlider overwrite styles
.virtualTour-bxSlider {

	.bx-wrapper {

		.bx-viewport {
			border: 0;
			box-shadow: none;
			left: auto;
		}

		.bxslider {
			// Awesome styles
		}

		.bx-controls-direction a {
			background: none;
			color: $red;
			font-size: 48px;
			line-height: 1;
			text-indent: 0;
			margin-top: -20px;
			display: block;
			height: 48px;
			width: 48px;
			z-index: 200;
		}

		.bx-prev,
		.bx-next {
			opacity: 0;
			transition-property: opacity, visibility;
			transition-duration: 0.2s;
			transition-timing-function: ease;
			visibility: hidden;

			&.disabled {
				display: none;
			}
		}

		.bx-prev {
			text-align: left;
			left: 20px;
		}

		.bx-next {
			text-align: right;
			right: 20px;
		}

		img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
}
