.control-container {
	padding: 0 20px;

	.search {
		position: relative;

		.icon {
			color: $bombay;
			font-size: 20px;
		}

		.icon-search {
			position: absolute;
			top: 13px;
			left: 4px;
			height: 20px;
			width: 20px;
		}

		.icon-backspace {
			background-color: transparent;
			border: 0;
			opacity: 0;
			visibility: hidden;
			transition-property: opacity, visibility;
			transition-duration: 0.2s;
			transition-timing-function: ease-in-out;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 13px;
			right: 0;

			&.is-active {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	input[type="text"] {
		border: 0;
		font-size: 12px;
		padding: 0 32px 0 36px;
		height: 46px;
		width: 100%;

		&:focus {
			outline: none;
		}
	}

	@include placeholder {
		color: $bombay;
		font-family: $font-stack-heading;
		font-size: 12px;
	}
}
