.infowindow {

  //width: 400px;
  //padding: 18px;
  //background-color: $white;
  //
  //@include background(90deg, rgb(223, 223, 223) 5%, rgb(255, 255, 255) 35%);
  //background: linear-gradient(0, rgb(223, 223, 223) 5%, rgb(255, 255, 255) 35%);
  //@include vendorize(box-shadow, 1px 1px 3px rgba(0, 0, 0, 0.65));
  //border: 1px solid $mediumGray;

  line-height: 1.35;
  overflow: hidden;

  min-height: 75px;
  min-width: 275px;

  .layout,
  .image,
  .info {
    display: inline-block;
    vertical-align: top;
  }

  .layout {

    width: 100%;

    .image {
      width: 45%;

      img {
        width: 100%;
        height: auto;
      }
    }

    .info {
      width: 55%;
      padding: 3px 0 0 10px;

      h2 {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 5px;
      }

      p {
        // font-size: 14px;
        padding: 0;
        margin: 0;
        width: 100%;
        display: block;
      }

      .contact {
        width: 100%;

        // a {
        //   font-size: 15px;
        // }
      }

      &.noImage {
        width: 100%;
        padding: 3px 0 0 0;
      }
    }

  }

  .sub-nav {

    margin-top: 10px;
    width: 100%;
    // height: 30px;

    .buttons {

      display: inline-block;
      // border: none;

      .button {
        color: $black;
        margin-right: 5px;
        &.primary {
          color: $white;
        }
      }

      // button {
      //   margin-right: 5px;
      // }

      .open-street-view {
        max-width: 175px;
      }

    }
  }

}