.map-nav {
	top: 88px;

	&.jmenu {
		overflow-y: visible; // reset
		z-index: 500;
	}

	@include bp(medium) {
		box-shadow: 4px 0 16px 0 rgba(50, 50, 50, 0.75);
		max-width: 320px;
	}

	@include bp(large) {
		max-width: 480px;
	}

	.scroll-pane {
		padding-bottom: 88px;
		overflow-y: scroll;
		height: 100%;
	}

	#virtualTour-searchResults {
		display: none;
	}

	.virtualTour-searchResults {
		margin-top: 20px;
		padding: 0 20px;
	}

	.virtualTour-searchResultsStats {
		color: $darkGray;
	}

	.virtualTour-searchResultsList {
		list-style: none;
		margin-top: 10px;

		a {
			text-decoration: none;
		}

		li {
			border-top: 1px solid $mediumGray;
			padding: 10px 0;
		}
	}

	// Virtual Tour "Go To Map" call-to-action
	.virtualTour-goToMapCTA {
		background-color: $dark-red;
		font-family: $proxima-nova;
		font-size: 13px;
		font-weight: 600;
		color: $white;
		line-height: 36px;
		pointer-events: none;
		text-align: center;
		bottom: 88px;
		display: block;
		height: 40px;
		left: 0;
		position: fixed;
		width: 100%;
		z-index: 400;

		@include bp(medium) {
			display: none;
		}

		.icon {
			font-size: 11px;
			margin-top: 4px;
		}

		span {
			color: $white;
			opacity: 0.4;
			transition: opacity 0.3s;
			display: inline-block;
			vertical-align: middle;
		}

		&.is-active {
			pointer-events: auto;

			span {
				opacity: 1.0;
			}
		}
	}
}