.map-header {
	background-color: $white;
	box-shadow: 4px 0 16px 0 rgba(50, 50, 50, 0.75);
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 999;

	@include bp(medium) {
		max-width: 320px;
	}

	@include bp(large) {
		max-width: 480px;
	}

	.virtualTour-header-wrapper {
		padding: 0 20px;
		height: 55px;
		position: relative;
	}

	.logo {
		display: inline-block;
		position: absolute;
		left: 20px;
		top: 12px;
	}

	.buttons {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		> li {
			text-align: center;
			margin: 0 0 0 2px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: calc(33.33333% - 2px);

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.button {
		background-color: $grey;
		border-radius: 0;
		border-top: 1px solid $dark-grey;
		color: $black;
		font-size: 12px;
		font-weight: 500;
		margin: 0;
		padding: 8px;

		&.primary {
			background-color: $dark-red;
			font-weight: 700;
		}

		@include bp(large) {
			font-size: 14px;
		}
	}
}
