.media {
	opacity: 0;
	transition-property: opacity, visibility;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	visibility: hidden;
	padding: 20px;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9999;

	&.is-visible {
		opacity: 1;
		visibility: visible;
	}

	.media-close-button {
		background-color: $white;
		text-align: center;
		padding: 4px;
		height: 32px;
		position: absolute;
		right: 20px;
		top: 20px;
		width: 32px;

		.icon {
			color: $black;
			font-size: 24px;
		}

		span:nth-child(2) {
			display: none;
		}
	}
}
