.street-view {
	display: none;
	position: absolute;
	// padding-left: 15px;
	bottom: 0;
	z-index: 10;

	@include bp(medium) {
		display: block;
		left: 320px;
	}

	@include bp(large) {
		left: 480px;
	}

	.streetViewBar {
		background-color: #F5F2DF;
		height: 100%;
		margin-left: 5px;
	}

	.bx-wrapper {
		margin-right: -5px !important;

		.bx-prev {
			background: url("images/icon-prev.png") no-repeat;
		}

		.bx-next {
			background: url("images/icon-next.png") no-repeat;
		}

	}

	ul {

		> li {
			margin: 5px;
		}
	}
}
