.virtual-tour-panel {
	padding: 0 18px;
	width: 100%;

	.title {
		font-family: $title-font-family;
		font-size: $title-font-size;
		color: $title-color;
		padding-top: $title-padding-top-mobile;
		padding-bottom: $title-padding-bottom-mobile;
		margin: $title-margin;

		@media (min-width: 992px) {
			padding-top: $title-padding-top;
			padding-bottom: $title-padding-bottom;
		}

	}

	.locations {
		//padding-left: 18px;
		display: block;
	}

	/* Ripped from here:
	 * http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/
	 * https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Counters
	 */
	ol {
		counter-reset: li; /* Initiate a counter */

		li {
			list-style: none;
			position:relative; /* Create a positioning context */

			&:before {
				content:counter(li) '.'; /* Use the counter as content */
				counter-increment:li; /* Increment the counter by 1 */
				position:absolute;
				left: 0em;
				font-weight: bold;
			}

		}

	}

}
