@mixin ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.virtualTour-detail {
	background-color: #ffffff;
	box-shadow: 4px 0 16px 0 rgba(50, 50, 50, 0.75);
	opacity: 0;
	transition-property: bottom;
	transition-duration: .25s;
	transition-timing-function: ease;
	transition-delay: 0s;
	visibility: hidden;
	padding-bottom: 55px;
	// padding-bottom: 88px;
	bottom: -100%;
	height: 100%;
	left: 0;
	position: absolute;
	top: auto;
	width: 100%;
	z-index: 500;
	// z-index: 100;

	// Display panel header
	&.is-active {
		opacity: 1;
		visibility: visible;
		bottom: calc(-100% + 86px);

		.virtualTour-bxSlider {
			// margin-top: 86px;
			margin-top: 62px;
		}

		.virtualTour-attractionHeader {
			position: absolute;
			left: 0;
			top: 0;
		}

		.virtualTour-attractionHeader .icon-chevron-up {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
			top: 16px;
		}
	}

	// Display full panel
	&.is-open {
		opacity: 1;
		overflow-y: scroll;
		visibility: visible;
		bottom: calc(0px - 55px);
		z-index: 9999;

		.virtualTour-backButton,
		.virtualTour-backButtonContainer {
			backface-visibility: hidden;
			transform: translateZ(0) scale(1.0, 1.0);
			opacity: 1;
			visibility: visible;
			position: fixed;
		}

		.virtualTour-backButtonContainer {
			left: 0;
			top: 55px;
			z-index: 300;
		}

		.virtualTour-backButton {
			left: 12px;
			top: 59px;
			// top: 92px;
			z-index: 450;
		}
	}

	@include bp(medium) {
		max-width: 320px;
	}

	@include bp(large) {
		max-width: 480px;
	}

	.virtualTour-contentContainer {
		padding: 0 20px;
	}

	.virtualTour-backButton,
	.virtualTour-backButtonContainer {
		opacity: 0;
		visibility: hidden;
		transition-property: opacity, visibility;
		transition-delay: .25s;
		transition-duration: .25s;
		transition-timing-function: ease;
	}

	.virtualTour-backButtonContainer {
		background-color: $red;
		line-height: 24px;
		padding: 0 12px;
		display: block;
		height: 24px;
		width: 100%;

		@include bp(medium) {
			max-width: 320px;
		}

		@include bp(large) {
			max-width: 480px;
		}
	}

	.virtualTour-backButton {
		transition-property: opacity, top;
		transition-duration: .25s;
		transition-timing-function: ease;

		&.move-top {
			top: 72px;
			// top: 104px;
		}

		.icon-left-arrow {
			color: $white;
			font-size: 16px;
			display: block;
			width: 16px;
			height: auto;
		}
	}

	.grid {
		border-top: 1px solid $mercury;
		// padding: 0 20px;
		padding: 0 20px 0 40px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.column,
		.column-2 {
			position: relative;
		}

		.column {
			margin: 8px 0;
			padding: 12px 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
		}

		.column-2 {
			@extend .column;
			width: 50%;

			&:nth-child(odd) {
				border-right: 1px solid $mercury;
				padding-right: 20px;
			}

			&:nth-child(even) {
				padding-left: 20px;
			}

			.campus-directions {
				padding-left: 30px;
			}

			.icon-map {
				left: 20px;
			}
		}
	}

	.virtualTour-attractionHeader {
		background-color: $red;
		cursor: pointer;
		transition-property: padding-left;
		transition-duration: .2s;
		transition-timing-function: ease;
		padding: 16px 56px 16px 20px;
		height: 86px;
		position: relative;
		width: 100%;
		z-index: 400;

		&.is-fixed {
			// Bug fix; CSS property fixes an issue where a fixed element disappears in an element (conttainer) that is absolutely positioned with an overflow-y set to scroll. - sstacho
			backface-visibility: hidden;
			transform: translateZ(0) scale(1.0, 1.0);
			position: fixed;
			top: 55px;
			// top: 88px;
			left: 0;
		}

		&.move-left {
			padding-left: 48px;
		}

		@include bp(medium) {
			max-width: 320px;
		}

		@include bp(large) {
			max-width: 480px;
		}

		.icon-chevron-up {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
			display: block;
			position: absolute;
			top: 8px;
			right: 20px;
			width: 24px;

			&:before {
				color: $white;
				font-size: 24px;
			}
		}

		h2,
		p {
			color: $white;
			font-weight: 700;
			
			@include ellipsis;
		}

		h2 {
			font-size: 16px;
			margin: 0 0 6px 0;
		}

		p {
			margin: 0;
		}
	}

	.content {

		:nth-child(2) {
			margin-top: 0;
		}

		:last-child {
			margin-bottom: 0;
		}

		.icon {
			color: $red;
			font-size: 20px;
			position: absolute;
			top: 0;
			left: -40px;
			height: 10px;
			width: 10px;

			&-clock,
			&-information {
				top: 16px;
			}

			&-clock-globe,
			&-phone,
			&-map,
			&-map-marker {
				margin-top: -8px;
				top: 50%;
			}
		}
	}

	// All elements
	* {
		color: $black;
		font-size: 11px;
		line-height: 16px;
	}
}
