# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log

# Ignore rvm config
/.ruby-gemset
/.ruby-version

# Ignore the redis database
/*.rdb

# Untracked Directories
.dev/
.sass-cache/
dist/
node_modules
/tmp/
/public/_assets
/public/_files

# Miscellaneous Files
*.DS_Store
*.codekit
db/data.yml
npm-debug.log
*.log
