---
title: example-one
template: true
layout: map.hbs
---


<div id="virtualTour-attractionContent" class="virtualTour-attractionContent">

	<div class="virtualTour-backButtonContainer"></div>
	<a id="virtualTour-backButton" class="virtualTour-backButton" href="#" title="Return to map">
		<span class="icon icon-left-arrow"></span>
	</a>

	<section id="virtualTour-bxSlider" class="virtualTour-bxSlider">
		<ul class="bxslider" data-auto="On" data-start-slide="0" data-speed="5000">
			<li data-src="img/argyros-fitness-center/a-fitness-center.jpg">
				<img src="img/argyros-fitness-center/a-fitness-center.jpg" alt="Julianne Argyros Fitness Center" />
			</li>
			<li data-src="img/argyros-fitness-center/fitness-center-1.jpg">
				<img src="img/argyros-fitness-center/a-fitness-center.jpg" alt="Julianne Argyros Fitness Center" />
			</li>
			<li data-src="img/argyros-fitness-center/fitness-center-2.jpg">
				<img src="img/argyros-fitness-center/a-fitness-center.jpg" alt="Julianne Argyros Fitness Center" />
			</li>
			<li data-src="img/argyros-fitness-center/fitness-center-3.jpg">
				<img src="img/argyros-fitness-center/a-fitness-center.jpg" alt="Julianne Argyros Fitness Center" />
			</li>
		</ul>
	</section>

	<header id="virtualTour-attractionHeader" class="virtualTour-attractionHeader is-clickable">
		<h2 title="Julianne Argyros Fitness Center">Julianne Argyros Fitness Center</h2>
		<p title="Located between the Hutton Sports Center and Wilson Field">Located between the Hutton Sports Center and Wilson Field</p>
		<span class="icon icon-chevron-up"></span>
	</header>

	<section id="virtualTour-contentContainer" class="virtualTour-contentContainer">

		<section class="grid">

			<div class="column no-border">

				<div class="content detail-info">
					<span class="icon icon-information"></span>
					<p>The innovative 4,000 square foot Julianne Argyros Fitness Center creates a welcoming environment for the Chapman community. The Center's mission is to promote wellness and healthy lifestyles by providing a space to host a variety of exercise activities and physical education classes.</p>
				</div>

			</div>

		</section>

		<section class="grid">

			<div class="column-2">

				<div class="content campus-telephone">
					<span class="icon icon-phone"></span>
					(714) 516-5623
				</div>

			</div>

			<div class="column-2">

				<div class="content campus-directions">
					<span class="icon icon-map"></span>
					<a href="#" title="Directions">Directions &raquo;</a>
				</div>

			</div>

		</section>

		<section class="grid">

			<div class="column">

				<div class="content">
					<span class="icon icon-map-marker"></span>
					1 University Drive, Orange, California 92866
				</div>

			</div>

		</section>

		<section class="grid">

			<div class="column">

				<div class="content">
					<span class="icon icon-clock"></span>
					Fall 2016 Hours (Beginning August 22, 2016)<br />
					Monday - Friday: 5 a.m. - 12 a.m.<br />
					Saturday - Sunday:  8 a.m. - 12 a.m.<br />
					<br />
					Summer 2016 Hours (Beginning August 22, 2016)<br />
					Monday - Thursday: 5 a.m. - 8 p.m.<br />
					Friday: 5 a.m. - 7 p.m.<br />
					Sat-Sun: 10 a.m - 6 p.m.
				</div>

			</div>

		</section>

		<section class="grid">

			<div class="column">

				<div class="content">
					<span class="icon icon-clock-globe"></span>
					<a href="#" title="Visit Website">Visit Website &raquo;</a>
				</div>

			</div>

		</section>

	</section>

</div>