---
title: "Bxslider"
layout: module.hbs
module: true
---

<!-- module:bxslider -->
{{#parseFixture 'bxslider.json'}}
<div class="bxslider">
	Bxslider
</div>
{{/parseFixture}}

<!-- end module:bxslider -->
