---
title: "campus-map"
layout: module.hbs
module: true
---

<div id="virtualTour-mainNavigation" class="campus-map-toggle" data-module="campus-map-toggle">

	<div class="virtualTour-wrapper" id="virtualTour-wrapper">

		{{!-- Moved from _map-nav.hbs --}}
		<div class="control-container virtualTour-mainNavigationButton clearfix"
			 data-action="menu"
			 href="#virtualTour-menu"
			 id="virtualTour-mainNavigationMenuButton"
			 title="Places">

			<div class="search"
				 data-action="search"
				 href="#virtualTour-search"
				 id="virtualTour-mainNavigationSearchButton">

				<form id="virtualTour-searchFieldForm" action="#">
				
					<span class="icon icon-search"></span>

					<button id="js-reset" class="icon icon-backspace" title="Reset" type="reset" value="Reset" aria-label="Reset">
						<span class="hidden">Reset</span>
					</button>

					<input id="virtualTour-searchField" placeholder="Search places" type="text" />
				
					<label for="virtualTour-searchField" style="display: none;">Search Places</label>
				
				</form>

			</div>

		</div>

		<div class="virtualTour-contentPanel" id="virtualTour-search">

			<div id="virtualTour-searchResults" class="virtualTour-searchResults">

				<div class="virtualTour-searchResultsStats">
					<span id="virtualTour-numItems">0</span> items found
				</div>

				<ul id="virtualTour-searchResultsList" class="virtualTour-searchResultsList"></ul>

			</div>

		</div>

		<div class="virtualTour-contentPanel" id="virtualTour-categoryMenu">

			{{> map-cats }}

			{{!-- Virtual Tour "Go To Map" button --}}
			<a id="virtualTour-goToMapCTA" class="virtualTour-goToMapCTA" href="#" title="Go To Map">
				<span>Go To Map</span>
				<span class="icon icon-double-chevron"></span>
			</a>

		</div>

	</div>

</div>
