---
title: "infowindow"
layout: map-module.hbs
module: true
---

<div class="infowindow">

	<div class="layout">

		<div class="image">
			<img src="http://placehold.it/150x100" alt="">
		</div>

		<div class="info">
			<h2>Name</h2>
			<div class="address">
				<span>Address 123</span>
				<span>City, State, Zip</span>
				<span>Office Hours</span>
			</div>

			<div class="contact">
				<a href="#" class="phone">Phone</a> | <a href="#" class="website">Website</a>
			</div>
		</div>
	</div>

	<div class="sub-nav">
		<div class="buttons">
			<button class="button small primary directions">
				Get Directions
			</button>
			<button class="button small street">
				Street View
			</button>
		</div>
	</div>

</div>