---
title: "map-nav"
layout: map-module.hbs
module: true
---

<div id="js-jmenu--slide-left" class="jmenu jmenu--slide-left map-nav" role="navigation" data-module="map-nav">

	<div class="scroll-pane">

		{{> _campus-map-toggle}}

		{{> _virtual-tour-panel}}

	</div>

</div>