---
title: "Map Header"
layout: module.hbs
module: true
---

<!-- module:map-header -->
{{#parseFixture 'map-header.json'}}
<header id="map-header" class="map-header" role="banner">

	<div class="virtualTour-header-wrapper">

		<a class="logo" href="#" title="Chapman University">
			<img src="img/logo.png" alt="Chapman University" width="131" />
		</a>

	</div>

	<nav id="virtualTour-navContainer" class="nav-container" role="navigation">

		<ol class="buttons">
			<li>
				<a href="#" id="virtualTour-mapBtn" class="button map" data-active="false">Landmarks</a>
			</li>
			<li>
				<a href="#" id="virtualTour-tourBtn" class="button tour" data-active="false">Virtual Tour</a>
			</li>
			<li>
				<a href="#" id="virtualTour-shuttleBtn" class="button pointer shuttle" data-url="//chapman.transloc.com/">Shuttle</a>
			</li>
		</ol>

	</nav>

</header>
{{/parseFixture}}
<!-- end module:map-header -->
