---
title: "map-container"
layout: map-module.hbs
module: true
---

<div class="map-container" data-module="map-container">

	<div class="row map-reduce">

		<div data-starting-point-latitude="33.793003"
		     data-starting-point-longitude="-117.852606"
		     id="virtualTour-mapColumn">

			<div id="printButton" title="Print map">
				<a class="icon-print"
				   data-url="/discover/maps-directions/campus-map/print"
				   href="print.aspx"
				   id="virtualTour-printButton"
				   target="_blank"
				   title="Print this page">Print
				</a>
			</div>

			<div id="virtualTour-mapCanvas"></div>

			<div id="streetViewCanvas"></div>

		</div>

	</div>

	<div class="street-view-reduce">

		{{> _street-view}}

		{{> _control-overlays}}

	</div>

	{{> _media }}

</div>
