---
title: "street-view"
layout: map-module.hbs
module: true
---

<div id="virtualTour-streetView" class="street-view" data-module="street-view">
	<div class="streetViewBar" id="streetViewBar"></div>
</div>

<div class="street-view-data">
	{{#each streetView }}
		<input type="hidden" value="{{{this.value}}}" data-name="{{{this.name}}}" data-icon="{{{this.icon}}}">
	{{/each}}
</div>
