---
title: "virtual-tour-panel"
layout: map-module.hbs
module: true
---

<div id="virtualTour-panel" class="virtual-tour-panel" data-module="virtual-tour-panel">

	<ol class="locations">
		{{#each virtual-tour}}
			{{> virtual-tour-block}}
		{{/each}}
	</ol>

</div>