---
title: "Virtualtour Detail"
layout: module.hbs
module: true
---

<!-- module:virtualTour-detail -->
{{#parseFixture 'virtualTour-detail.json'}}
<div id="virtualTour-detail" class="virtualTour-contentPanel virtualTour-detail"></div>
{{/parseFixture}}

<!-- end module:virtualTour-detail -->
