div#mobile-nav {
  padding: 25px;

  // This needs to be coordinated with the left-nav menu shift.
  @include bp(wildcard-min, 768px) {
    display: none;
  }

  a.button {
    width: 100%;
    font-size: 14px;
    font-family: futura-pt, sans-serif;
    font-weight: bold;
    color: $red;
    background-color: inherit;
    border: 2px solid $red;
    text-transform: uppercase;
    text-align: center;
  }

  a.button:hover {
    background: $red;
    color: white;
  }
}
