$accordion-border-color: $bombay;

.map-subcats {

	&.virtualTour-subCategories {
		background-color: $white;
		border-bottom: 1px solid $accordion-border-color;
		list-style: none;
		margin: 0;
		padding: 12px 20px;
		display: none;

		@include bp(large) {
			padding: 12px 30px;
		}
	}

	.virtualTour-subCategory {
		margin: 0 0 12px 0;

		&:last-child {
			margin-bottom: 0;
		}

		legend {
			display: none;
		}
	}

	.virtualTour-categoryCheckbox {
		display: none;

		&:checked + .virtualTour-categoryCheckboxLabel:after {
			content: "\e90c";
		}
	}

	.virtualTour-categoryCheckboxLabel {
		color: $black;
		cursor: pointer;
		font-family: $font-stack-heading;
		font-size: 11px;
		position: relative;

		&:before {
			border: 2px solid $light-blue;
			content: '';
			margin-right: 8px;
			display: inline-block;
			height: 16px;
			width: 16px;
			vertical-align: middle;
		}

		&:after {
			content: '';
			color: #555555;
			font-family: $icomoon;
			display: inline-block;
			position: absolute;
			top: -2px;
			left: 2px;
		}

		span {
			display: inline-block;
			vertical-align: middle;
		}
	}
}
