.street-view-tile {
	.tile-container {
		position: relative;
	}

	.img-container {

	}

	.icon-container {
		position: absolute;
		display: inline;
		left: 0;
		bottom: 0;
		padding: 0 0 20px 10px;

		.icon {
			display: inline-block;
			background: transparent url("//maps.gstatic.com/tactile/runway/card-icons-v0-1x.png") 0 0 no-repeat;
			background-size: 90px 15px;
			width: 18px;
			height: 15px;
			vertical-align: middle;

			&.photo {
				background-position: -18px 0;
			}

			&.street-pano {
				background-position: 0 0;
			}
		}

		.title {
			display: inline;
			color: $white;
			font-weight: bold;
			font-size: 15px;
			vertical-align: top;
			padding-left: 5px;
		}
	}
}