.virtual-tour-block {

	border-bottom: 1px solid $mediumGray;
	padding: 25px 0 25px 35px;

	&:before {
		font-size: 16px;
		color: $primary-color;
	}

	.button {
		margin-bottom: 5px;
	}

	.content {
		display: inline-block;
		padding-right: 5px;
		width: 49%;

		.undo {
			background-color: $mediumGray;
			display: none;
			
			a {
				color: $black;
			}
		}

		h3 {
			font-size: 16px;
			font-weight: 600;
			color: $primary-color;
			line-height: 20px;
			margin-top: 0;
		}
	}

	.img {
		display: inline-block;
		width: 49%;

		img {
			border: 1px solid $mediumGray;
			padding: 1px;
			width: 100%;
		}
	}

	div {
		//display: inline-block;
		vertical-align: top;
	}
}
