/***************************************************
* Universal Nav
***************************************************/
html {
  padding-top: 55px; }

.admin-bar #cu_nav {
  margin-top: 32px; }

#cu_nav h2 {
  color: #353430;
  font-size: 14px;
  margin: 0 0 6px 22px; }

@media only screen and (max-width: 782px) {
  .admin-bar #cu_nav {
    margin-top: 46px; } }
#cu_nav .loadMore {
  border: none;
  margin: 0;
  padding: 15px 0 !important; }

#cu_nav {
  background: #FFF;
  border-bottom: 1px solid #D6D5CF;
  font-family: "rooney-sans", "futura-pt", Arial, Verdana, "Sans Serif";
  height: 55px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999; }

@media only screen and (min-width: 760px) {
  #cu_nav {
    position: fixed; } }
#cu_nav .menu {
  border-left: 1px solid #D6D5CF;
  float: left; }

#cu_nav .menu:first-of-type {
  border-left: none; }

#cu_nav .menu,
#cu_nav .menu li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#cu_nav .menu li a {
  box-sizing: content-box;
  background: #faf9f6;
  color: #404040;
  display: block;
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 15px 0 15px;
  text-decoration: none; }

#cu_nav .menu li a:hover {
  background: #FFF; }

.no-js #cu_nav .menu:hover li a,
#cu_nav .menu.expanded li a,
#cu_nav .menu li.selected a {
  border-bottom: 1px solid #D6D5CF;
  height: 22px;
  opacity: 1;
  padding: 17px 15px 15px 15px; }

#cu_nav #domain.menu li.selected a {
  background: white url("../img/cu_navbar/cu_window.svg") no-repeat 15px center;
  background-size: 20px;
  padding-left: 45px; }

#cu_nav #breadcrumb.menu li.selected a {
  background-color: #FFF; }

#cu_nav .menu:hover li.selected a,
#cu_nav .menu.expanded li.selected a {
  color: #A82439;
  filter: none;
  -webkit-filter: grayscale(0%); }

/* Red Icon */
#cu_nav #breadcrumb li.selected a {
  filter: none;
  -webkit-filter: grayscale(0%); }

.no-js #cu_nav .menu:hover,
#cu_nav .menu.expanded {
  padding-top: 55px; }

#cu_nav .menu li.selected {
  z-index: 1; }

#cu_nav .menu.compressed li.selected {
  z-index: 0; }

.no-js #cu_nav .menu:hover li.selected,
#cu_nav .menu.expanded li.selected {
  position: absolute;
  top: 0; }

#cu_nav .menu.compressed {
  max-width: 50px;
  overflow: hidden; }

#cu_nav .menu.compressed li a {
  width: 300px; }

#cu_nav .menu.compressed li.selected a {
  width: 50px;
  text-indent: -9999px; }

/*#cu_nav .menu.compressed:hover,*/
#cu_nav .menu.compressed.expanded {
  overflow: visible;
  text-indent: 0;
  max-width: 999px; }

#cu_nav .menu.compressed.expanded li.selected a {
  text-indent: -9999px; }

/* Icons */
#cu_nav .menu .icon {
  min-height: 0; }

#cu_nav .menu li.icon a {
  /*color:#a82439;*/
  background-repeat: no-repeat;
  background-position: 10px center;
  -webkit-filter: grayscale(100%);
  filter: gray;
  padding-left: 45px !important; }

#cu_nav .menu li.icon:hover a {
  color: #a82439;
  -webkit-filter: grayscale(0%);
  filter: none; }

#cu_nav .menu li:hover a {
  color: #a82439; }

#cu_nav .menu li.icon a {
  background-image: url("../img/cu_navbar/cu_monogram_red.svg");
  background-size: 30px; }

#cu_nav .menu li.icon.business a {
  background-image: url("../img/cu_navbar/business_red.svg");
  background-size: 30px; }

#cu_nav .menu li.icon.ces a {
  background-image: url("../img/cu_navbar/ces_red.svg");
  background-size: 30px; }

#cu_nav .menu li.icon.copa a {
  background-image: url("../img/cu_navbar/copa_red.svg");
  background-size: 30px; }

#cu_nav .menu li.icon.dodge a {
  background-image: url("../img/cu_navbar/dodge_red.svg");
  background-size: 30px; }

#cu_nav .menu li.icon.law a {
  background-image: url("../img/cu_navbar/law_red.svg");
  background-size: 30px; }

#cu_nav .menu li.icon.scst a {
  background-image: url("../img/cu_navbar/scst_red.svg");
  background-size: 30px; }

#cu_nav .menu li.icon.wilkinson a {
  background-image: url("../img/cu_navbar/wilkinson_red.svg");
  background-size: 30px; }

#cu_nav .menu li.icon.loading a {
  background-image: url("../img/cu_navbar/loading_circle.gif");
  background-size: 20px;
  background-position: 15px center; }

/* Icons */
#cu_nav .story p.icon {
  background-repeat: no-repeat;
  background-position: 0 center;
  color: #A82439;
  -webkit-filter: grayscale(100%);
  filter: gray;
  padding-left: 18px; }

#cu_nav .story.has-image p.icon {
  background-position: 80px center;
  padding-left: 100px !important; }

#cu_nav .story p.icon {
  background-image: url("../img/cu_navbar/cu_monogram_red.svg");
  background-size: 15px; }

#cu_nav .story p.icon.business {
  background-image: url("../img/cu_navbar/business_red.svg");
  background-size: 15px; }

#cu_nav .story p.icon.ces {
  background-image: url("../img/cu_navbar/ces_red.svg");
  background-size: 15px; }

#cu_nav .story p.icon.copa {
  background-image: url("../img/cu_navbar/copa_red.svg");
  background-size: 15px; }

#cu_nav .story p.icon.dodge {
  background-image: url("../img/cu_navbar/dodge_red.svg");
  background-size: 15px; }

#cu_nav .story p.icon.law {
  background-image: url("../img/cu_navbar/law_red.svg");
  background-size: 15px; }

#cu_nav .story p.icon.scst {
  background-image: url("../img/cu_navbar/scst_red.svg");
  background-size: 15px; }

#cu_nav .story p.icon.wilkinson {
  background-image: url("../img/cu_navbar/wilkinson_red.svg");
  background-size: 15px; }

/* Transitions */
#cu_nav .menu li a {
  -webkit-transition: height 0.15s 0s ease-out, border 0.15s 0s ease-out, padding 0.15s 0s ease-out, opacity 0.15s 0s ease-out, filter 0s 0s ease-out;
  -moz-transition: height 0.15s 0s ease-out, border 0.15s 0s ease-out, padding 0.15s 0s ease-out, opacity 0.15s 0s ease-out, filter 0s 0s ease-out;
  -o-transition: height 0.15s 0s ease-out, border 0.15s 0s ease-out, padding 0.15s 0s ease-out, opacity 0.15s 0s ease-out, filter 0s 0s ease-out;
  transition: height 0.15s 0s ease-out, border 0.15s 0s ease-out, padding 0.15s 0s ease-out, opacity 0.15s 0s ease-out, filter 0s 0s ease-out; }

/*#cu_nav .menu:hover li a {
    -webkit-transition: height 0.15s 0s ease-out, border 0.15s 0s ease-out, padding 0.15s 0s ease-out, opacity 0.15s 0s ease-out, filter 0s 0s ease-out;
         -moz-transition: height 0.15s 0s ease-out, border 0.15s 0s ease-out, padding 0.15s 0s ease-out, opacity 0.15s 0s ease-out, filter 0s 0s ease-out;
             -o-transition: height 0.15s 0s ease-out, border 0.15s 0s ease-out, padding 0.15s 0s ease-out, opacity 0.15s 0s ease-out, filter 0s 0s ease-out;
                    transition: height 0.15s 0s ease-out, border 0.15s 0s ease-out, padding 0.15s 0s ease-out, opacity 0.15s 0s ease-out, filter 0s 0s ease-out;
}*/
/***************************************************
* Right side buttons
***************************************************/
#cu_nav #actions {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0; }

#cu_nav #actions ul,
#cu_nav #actions li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#cu_nav #actions > li {
  float: left; }

#cu_nav #actions > li:first-of-type {
  border-left: none; }

#cu_nav #actions > li > a {
  color: #404040;
  display: block;
  height: 23px;
  opacity: 0.6;
  padding: 17px 15px 15px 15px;
  text-decoration: none; }

/*#cu_nav #actions li:hover a {background-color:green;}*/
#cu_nav #actions .icon > a {
  box-sizing: content-box;
  width: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: contain;
  padding-left: 40px;
  padding-right: 30px; }

#cu_nav #actions .icon > a:hover {
  opacity: 0.8; }

#cu_nav #actions .icon.no-text > a {
  background-position: center;
  text-indent: -9999px;
  padding-left: 0px; }

#cu_nav #actions .icon.updates > a {
  background-image: url("../img/cu_navbar/newspaper.svg");
  background-size: 25px;
  border-left: 1px solid #D6D5CF; }

#cu_nav #actions .icon.login > a {
  background-image: url("../img/cu_navbar/user.svg");
  background-size: 25px;
  border-left: 1px solid #D6D5CF;
  opacity: 0.6; }

/*#cu_nav #actions .icon.login a.cu_display_name  {opacity: 1;}*/
.logged-in #cu_nav #actions .icon.login > a {
  background-image: none; }

#cu_nav #actions .icon.updates > a:hover,
#cu_nav #actions .icon.login > a:hover {
  background-color: #faf9f6;
  opacity: 0.8; }

/* Latest posts */
#cu_nav #actions li.updates {
  position: relative; }

#cu_nav #cu_latest_posts {
  display: none; }

#cu_nav li.updates.expanded #cu_latest_posts {
  background: #faf9f6;
  border: 1px solid #D6D5CF;
  display: block;
  position: fixed;
  right: 0;
  top: 55px;
  width: 100%; }

.admin-bar #cu_nav li.updates.expanded #cu_latest_posts {
  top: 100px; }

#cu_nav #cu_latest_posts {
  max-height: 560px;
  overflow: scroll; }

@media only screen and (min-width: 600px) {
  #cu_nav li.updates.expanded #cu_latest_posts {
    border-radius: 5px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50px !important;
    width: 400px; }

  #cu_nav #cu_latest_posts:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #eaeaea;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: 25px;
    top: -10px;
    width: 0; }

  #cu_nav #cu_latest_posts:after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #FFF;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: 26px;
    top: -9px;
    width: 0; } }
#cu_nav #cu_latest_posts .header {
  border-bottom: 1px solid #D6D5CF;
  background: #FFF;
  padding-top: 0px; }

#cu_nav #cu_latest_posts .header .title {
  color: #61605b;
  font-family: "futura-pt", Arial;
  font-size: 13px;
  line-height: 30px;
  padding: 5px 0 0;
  margin: 0 0 0 22px;
  text-transform: uppercase; }

#cu_nav #cu_latest_posts .header a {
  color: #A82439;
  display: block;
  font-size: 12px;
  margin: 11px 16px 15px 15px;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0; }

#cu_nav #cu_latest_posts .header a:hover {
  color: #C92741; }

/*#cu_nav #cu_latest_posts .header a:before {content: "\f119"; font: 400 14px/1 dashicons; height: 4px; text-align: center; vertical-align: middle; width: 14px; display: inline-block; line-height: 0; margin: 0 3px 0 0; padding: 0!important;}*/
#cu_nav a.button.red {
  background: #a82439 no-repeat center;
  color: #FFF; }

#cu_nav a.button {
  background: #DAD8CF no-repeat center;
  border-radius: 2px;
  color: #8C8B83;
  display: inline-block;
  padding: 10px; }

#cu_nav #cu_latest_posts .story {
  border: none;
  border-bottom: 1px solid #D6D5CF;
  opacity: 0.6;
  /* override */
  border-radius: 0;
  box-shadow: none; }

#cu_nav #cu_latest_posts .story a.permalink {
  overflow:auto;
  color: #62605a;
  display: block;
  padding: 15px;
  text-decoration: none; }

#cu_nav #cu_latest_posts .story .title {
  color: #353430;
  font-family: "futura-pt", Arial;
  font-size: 18px;
  line-height: 20px;
  margin: 0; }

#cu_nav #cu_latest_posts .story .icon {
  font-size: 12px;
  margin: 0; }

#cu_nav #cu_latest_posts .story img {
  height: 70px;
  float: left;
  width: 70px; }

#cu_nav #cu_latest_posts .story.has-image a {
  min-height: 70px; }

#cu_nav #cu_latest_posts .story.has-image .title,
#cu_nav #cu_latest_posts .story.has-image .icon {
  padding-left: 85px; }

#cu_nav #cu_latest_posts .story.new {
  background-color: #faf9f6;
  opacity: 1; }

#cu_nav #cu_latest_posts .story.new .title {
  color: #a82439; }

#cu_nav #cu_latest_posts .story:hover {
  background-color: #ffffff;
  opacity: 1; }

#cu_nav #cu_latest_posts .footer a {
  background: #f5f5f3;
  color: #62605a;
  display: block;
  font-size: 12px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }

/* Search */
#cu_nav #actions #cu_search {
  background: #FFF; }

#cu_nav #actions #cu_search .search {
  background: url("../img/icons/svg/search3.svg") no-repeat right center;
  background-color: transparent;
  background-size: 30px;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: none;
  font-size: 14px;
  margin: 12px;
  max-width: 0px;
  opacity: 0.6;
  padding: 5px 35px 5px 15px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

#cu_nav #actions #cu_search .search:focus,
#cu_nav #actions #cu_search:hover .search {
  background-color: #F9F9F9;
  border: 1px solid #CCC;
  /*box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.2); */
  max-width: 200px;
  opacity: 0.8; }

#cu_nav #actions #cu_search .search:focus {
  outline: none; }

#cu_nav #actions #cu_search #cu_submit {
  display: none; }

/***************************************************
* Login
***************************************************/
#cu_nav #actions .login {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

#cu_nav #cu_login_container {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.logged-in #cu_nav #actions .cu_display_name {
  padding-left: 28px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.logged-in #cu_nav #actions .cu_display_name .avatar {
  height: auto;
  margin-right: 10px;
  margin-top: -2px;
  margin-bottom: -8px;
  width: 28px; }

/*#cu_nav.show-login #actions .cu_display_name { opacity: 0 !important; }*/
/* Login Menu */
ul#logins, ul#logins li {
  background: #faf9f6;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0; }

ul#logins li {
  border-top: solid 1px #D8D6D0;
  min-height: 0; }

ul#logins li a {
  color: #353430;
  display: block;
  padding: 13px 47px; }

ul#logins li a:hover {
  color: #A82439;
  text-decoration: none; }

ul#logins li.blackboard a {
  background: url("../img/cu_navbar/BbBlack.png") left no-repeat;
  background-position: 20px 10px;
  background-size: 23px 24px; }

ul#logins li.blackboard a:hover {
  background: url("../img/cu_navbar/BbRed.png") left no-repeat white;
  background-position: 20px 10px;
  background-size: 23px 24px;
  color: #A82439; }

ul#logins li.panthermail a, ul#logins li.email a {
  background: url("../img/cu_navbar/EmailBlack.png") left no-repeat;
  background-position: 23px 13px;
  background-size: 15px 16px; }

ul#logins li.panthermail a:hover, ul#logins li.email a:hover {
  background: url("../img/cu_navbar/EmailRed.png") left no-repeat white;
  background-position: 23px 13px;
  background-size: 15px 16px;
  color: #A82439; }

ul#logins li.mywindow a, ul#logins li.webadvisor a {
  background: url("../img/cu_navbar/CUBlack.png") left no-repeat;
  background-position: 23px 13px;
  background-size: 15px 16px; }

ul#logins li.mywindow a:hover, ul#logins li.webadvisor a:hover {
  background: url("../img/cu_navbar/CURed.png") left no-repeat white;
  background-position: 23px 13px;
  background-size: 15px 16px;
  color: #A82439; }

/* Show / Hide */
#cu_nav #cu_login_container {
  background: #faf9f6;
  border-left: 1px solid #D6D5CF;
  border-right: 1px solid #D6D5CF;
  border-bottom: 1px solid #D6D5CF;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 0px;
  max-width: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 55px; }

#cu_nav.show-login #cu_login_container {
  max-height: 999px; }

#cu_nav.show-login #actions .login,
#cu_nav.show-login #cu_login_container {
  min-width: 255px; }

#cu_nav #cu_login_container .cu_container {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 255px;
  padding: 20px; }

/* Form Styling */
#cu_login_form {
  margin: 16px 15px 20px; }

#cu_nav #cu_login_form input {
  color: #9a9996; }

#cu_nav #cu_login_form input:focus {
  color: #353430; }

#cu_nav #cu_login_form label {
  font-size: 11px;
  opacity: 0.8; }

#cu_nav #cu_login_form #cu_submit {
  background: #A82439;
  border: none;
  border-left: none;
  border-radius: 2px;
  color: #FFF;
  cursor: pointer;
  display: block;
  height: 27px;
  margin: 9px 0;
  padding: 0 10px;
  width: 100%; }

#cu_nav #cu_login_form #cu_submit:hover {
  background: #C92741; }

#cu_nav #cu_login_form #cu_username,
#cu_nav #cu_login_form #cu_password {
  border: 1px solid #D8D6D0;
  border-radius: 2px;
  box-shadow: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #9a9996;
  font-family: "RooneySans","rooney-sans", "futura-pt", Arial, Verdana, "Sans Serif";
  font-size: 12px;
  margin: 4px 0px;
  padding: 7px;
  width: 100%; }

#cu_nav #cu_login_form #cu_username:focus,
#cu_nav #cu_login_form #cu_password:focus {
  border-color: #D3A6AE;
  color: #353430;
  outline: none; }

#cu_nav #cu_login_container #cu_login_form {
  clear: both; }

input.persist[type="radio"], input.persist[type="checkbox"] {
  -webkit-appearance: none;
  background: #FBFBFB;
  border-color: #D8D6D0;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 14px;
  line-height: 0;
  margin: -1px 3px 0 0;
  min-width: 14px;
  padding: 0 !important;
  outline: 0;
  text-align: center;
  vertical-align: middle;
  width: 14px; }

.persist label {
  color: #9A9996; }

input.persist {
  border-color: #D8D6D0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #A82439; }

input.persist[type="radio"]:checked:before, input.persist[type="checkbox"]:checked:before {
  color: #A82439;
  content: '\f147';
  display: inline-block;
  float: left;
  font: 400 19px/1 dashicons;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: -3px 0 0 -4px;
  speak: none;
  vertical-align: middle;
  width: 14px; }

/*#cu_nav #cu_logged_in,
#cu_nav #cu_logged_out,
#cu_Nav #cu_login_pending { opacity:0; max-height:0; overflow: hidden;
    -webkit-transition: opacity 0.3s ease-out;
         -moz-transition: opacity 0.3s ease-out;
             -o-transition: opacity 0.3s ease-out;
                    transition: opacity 0.3s ease-out;
}

#cu_nav.logged-in #cu_logged_in,
#cu_nav.logged-out #cu_logged_out,
#cu_nav.login-pending #cu_login_pending { max-height:999px; opacity:1; padding:15px; }*/
#cu_nav #cu_logged_in .avatar {
  border-radius: 50%;
  float: left;
  height: auto;
  margin-right: 10px;
  width: 48px; }

#cu_nav #cu_logged_in .label {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  opacity: 0.5; }

#cu_nav #cu_logged_in .label:after {
  content: ","; }

#cu_nav #cu_logged_in .cu_display_name {
  color: #353430;
  font-size: 32px;
  line-height: 32px;
  margin: 0; }

#cu_nav #logins {
  width: 100%; }

/* Show/Hide items based on user role */
#cu_nav .for-staff {
  display: none; }

#cu_nav .for-faculty {
  display: none; }

#cu_nav .for-students {
  display: block; }

#cu_nav.is-staff .for-staff {
  display: block; }

#cu_nav.is-staff .for-faculty {
  display: block; }

#cu_nav.is-staff .for-students {
  display: block; }

#cu_nav.is-faculty .for-staff {
  display: block; }

#cu_nav.is-faculty .for-faculty {
  display: block; }

#cu_nav.is-faculty .for-students {
  display: block; }
