<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>

		<script src="//use.typekit.net/ata4lfd.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
		<!-- build:css css/main.css -->
		<link rel="stylesheet" href="css/main.css" />
		<!-- endbuild -->
		<!-- build:js js/plugins/modernizr.js -->
		<script src="bower_components/modernizr/modernizr.js"></script>
		<!-- endbuild -->
	</head>

		<body class="">

			<div class="container">
				<div class="infowindow">
	<div class="layout">
		<img src="" alt="">
		<div class="info">
			<h3>Name</h3>
			<span>Address 123</span>
			<span>City, State, Zip</span>
			<span>Office Hours</span>

			<a href="#" class="phone">Phone</a> | <a href="#" class="website">Website</a>
		</div>
	</div>
	<div class="sub-nav">
		<div class="buttons">
			<button class="directions">
				Get Directions
			</button>
			<button class="street">
				Street View
			</button>
		</div>
	</div>
</div>
			</div>

			<!-- build:js js/main.js -->
			<script src="bower_components/jquery/dist/jquery.js"></script>
			<script src="bower_components/foundation/js/foundation.js"></script>
			<!-- endbuild -->
		</body>
</html>
