<!-- partial:dap-results-header -->
<header class="dap-results-header">

	<h2 class="results-count">You are seeing all {{title}} Degrees and Programs</h2>

	<ul class="results-views clearfix">
		<li class="active" data-view="grid-view" aria-label="Click to enable grid view of the results">
			<span class="show-for-sr">Show results in grid view</span>
			{{svg "grid"}}
		</li>
		<li data-view="list-view" aria-label="Click to enable list view of the results">
			<span class="show-for-sr">Show results in list view</span>
			{{svg "list"}}
		</li>
	</ul>
	
</header>
<!-- end partial:dap-results-header -->
