<!-- partial:dap-discover-form -->
<form id="js-dap-discover-form" class="dap-discover-form" action="">
	<legend class="show-for-sr">Search for Degrees and Programs</legend>
	<fieldset>

		<input type="hidden" name="type" value="discover">

		{{> dap-discover-motivations motivations }}
		
		{{#parseFixture 'dap-feature.json'}}
	    	{{> dap-discover-interests interests }}
	    {{/parseFixture}}

	</fieldset>
</form>
<!-- end partial:dap-discover-form -->
