<!-- partial:dap-discover-keyword-form -->
<form id="js-dap-discover-keyword-form" class="dap-discover-keyword-form" action="">

	<hr>
	
	<legend class="show-for-sr">Find the Degree or Program You Are Looking For by Keyword</legend>
	<fieldset>

		<input type="hidden" name="type" value="discover">

		<div id="js-dap-discover-filter-types" class="filter-types">

			<div class="row">

				<div class="label-column columns small-12 medium-6 large-5">
					<span class="big-label">Still can't find what you are looking for?</span>
				</div>

				<!-- Search for Degrees and Programs -->
				<div class="field-column columns small-12 medium-6 large-7">
					<div class="field-container">
						<label for="dap-discover-keyword" class="show-for-sr">Search for Degrees and Programs by Keyword</label>
						<input id="dap-discover-keyword" name="dap-discover-keyword" class="input-with-button" type="text" placeholder="Search">
						<button type="submit">
							<span class="show-for-sr">Search</span>
							{{svg "search"}}
						</button>
					</div>
				</div>

			</div>
		</div>

	</fieldset>
</form>
<!-- end partial:dap-discover-keyword-form -->
