<!-- partial:dap-header -->
<header class="dap-header">
    <div class="row">
    	<div class="columns small-12">
    		<h2>{{title}}</h2>
		    <h3>{{subtitle}}</h3>
		    <span class="dap-section-accordion-trigger">
		    	<span class="show-for-sr">Toggle the accordion for the "{{title}}" section</span>
		    	{{svg "chevron-down"}}
		    </span>
    	</div>
    </div>
</header>
<!-- end partial:dap-header -->
