<div class="callout-box-widget--left callout">
    <div class="border"> </div>
    <h2>Dean Gilyard In The Press</h2>
    <div class="editableContent">
        <copy></copy>
    </div>
    <ul class="buttonLinks">
        <li><a href="https://ocmetro.com/t-Cover-Story-HOT-25-for-2012-18-Reggie-Gilyard-Argyros-business-school-Chapman.aspx">A 21st-century leader for one of the best business schools in the Western U.S.</a></li>
        <li><a href="http://www.ocregister.com/articles/business-373327-gilyard-chapman.html">Chapman dean sees opportunity in ambiguity</a></li>
    </ul>
</div>
