<!--- this version has the social follow us image/links at top --->
<div class="callout-box-widget--left callout">
	<div class="border"> </div>     
	<h2>Contact Information</h2>
    
	<div id="social_follow_us">
    	<div class="banner"></div>
        <ul>
            <li class="facebook first"><span class="inactive_state"></span><span class="hover_state"></span><a href="https://www.facebook.com/SchmidCollegeOfScienceTechnologyChapmanUniversity?fref=ts"><span class="hide">facebook</span></a></li>
            <li class="blog"><span class="inactive_state"></span><span class="hover_state"></span><a href="http://blogs.chapman.edu/scst/"><span class="hide">blog</span></a></li>
            <li class="youtube last"><span class="inactive_state"></span><span class="hover_state"></span><a href="https://www.youtube.com/watch?v=PIuSc7mOnzc&amp;list=PLBAF625333A86D39F"><span class="hide">youtube</span></a></li>    
        </ul>
	</div>
                    
    <div class="editableContent">
        <p>Schmid College of Science &amp; Technology</p> 
            
        <p>Main:
           <br/><a href="tel:7146287318">(714) 628-7318</a>
           <br/><a href="mailto:schmidcollege@chapman.edu">schmidcollege@chapman.edu</a>
        </p>
        
        <h3>Location</h3>
        
        <p>One University Drive
           <br/>Orange, CA 92866
        </p>

        <h3>Mailing Address</h3>
        
        <p>Schmid College of Science &amp; Technology
           <br/>Chapman University
           <br/>One University Drive 
           <br/>Orange, CA 92866
        </p>
    </div>    
</div>