<!--- this version has additional (optional) contacts after "Main" --->
<div class="callout-box-widget--left callout">
	<div class="border"> </div>
    <h2>Contact Information</h2>
    <div class="editableContent">
    	<p>Information Systems &amp; Technology</p> 
                
        <p>Main:
            <br/><a href="tel:7149976600">(714) 997-6600</a>
            <br/><a href="mailto:servicedesk@chapman.edu">servicedesk@chapman.edu</a>
        </p>
                
        <p>
            Front Desk
            <br/><a href="tel:${suppPhoneS}">714-997-6726</a> 
            <br/><a href="mailto:"></a>  
        </p>
        <p>
            Information Security
            <br/><a href="tel:${suppPhoneS}">714-744-7972</a> 
            <br/><a href="mailto:infoSec@chapman.edu">infoSec@chapman.edu</a>  
        </p>
                                                    
                                                    <p>Hours:
                        <br/><p>Office open for walk-in 8:00am to 12noon, 1:00pm to 5:00pm. Closed from 12noon to 1:00pm for lunch hour.</p>
                    </p>
                                    
                <h3>Location</h3>
                <p>
                    635 W. Palm Ave.
                                        <br/>Orange, CA 92866
                                                               <br/><a href="https://www.chapman.edu/about/maps-directions/campus-map/index.aspx?s=subCat-a713d6dbc04d744c291bfe8353b34cb3">View Map</a>
                                    </p>

                <h3>Mailing Address</h3>
                <p>
                    Information Systems &amp; Technology
                    <br/>Chapman University
                                            <br/>One University Drive 
                                        <br/>Orange, CA 92866
                </p>

    	</div>
        
        
    </div>