<div class="callout-box-widget--left callout">
	<div class="border"> </div>
    <h2>Contact Information</h2>
    <div class="editableContent">
        <p>Strategic Marketing &amp; Communication</p> 
        
        <p>Main:
            <br/><a href="tel:7149976661">(714) 997-6661</a>
            <br/><a href="mailto:smc@chapman.edu">smc@chapman.edu</a>
        </p>
        <p>Hours:
                <br/>8 a.m. to 5 p.m.
        </p>
                            
        <h3>Location</h3>
        
        <p>633 West Palm
           <br/>Suite 118A 
           <br/>Orange, CA 92866
        </p>

        <h3>Mailing Address</h3>
        
        <p>Strategic Marketing &amp; Communication
           <br/>Chapman University
           <br/>One University Drive 
           <br/>Orange, CA 92866
        </p>

		<h3>Individual Contact(s)</h3> 
        <p>
                    Esther Choi
                    <br/>Account Manager
                    <br/><a href="tel:7149976582">(714) 997-6582</a> 
                    <br/><a href="mailto:echoi@chapman.edu">echoi@chapman.edu</a>                                  
        </p>
        <p>
                    Drew Farrington
                    <br/>Account Manager
                    <br/><a href="tel:7142893142">(714) 289-3142</a> 
                    <br/><a href="mailto:afarring@chapman.edu">afarring@chapman.edu</a>                                  
        </p>
        <p>
                    Carl Minor
                    <br/>Account Manager
                    <br/><a href="tel:7146287214">(714) 628-7214</a> 
                    <br/><a href="mailto:cminor@chapman.edu">cminor@chapman.edu</a>                                  
        </p>
        <p>
                    Gina Madson
                    <br/>Account Manager
                    <br/><a href="tel:7147447961">(714) 744-7961</a> 
                    <br/><a href="mailto:madson@chapman.edu">madson@chapman.edu</a>                                  
        </p>
	</div>
</div>