// Search Box and Filters for both the main Faculty Directory listing AND School/Dept version of Faculty Listing

.directorySearch{	
    background-color:#2f2f2f; 
    padding: 10px 15px 10px 15px;  
    border-bottom:1px solid #cdcdc7;
	
	select,
	textarea,
	input[type="text"],
	input[type="search"] {
		padding: 0;
	}

	label {
		display:block;
		font-size:16px;
		color:#fff;   
		margin:0 0 8px 0;
	}

	#directorySearchBox{
		min-width:70%;   
		height:25px;
		line-height:25px;
		color:#2f2f2f;
		
		@media only screen and (min-width: 780px) { 
			min-width: 60%;       
			display: inline-block;       
		}
	} // end directorySearchBox

	.button {
		border-bottom: none;
		padding:10px;
		max-width: 120px;
		display: block;
		margin-top:5px;
		@media only screen and (min-width: 780px) {     
			display: inline-block;       
		}
	}

	.helpText{
		color:#fff;
		font-style:italic;
		margin: 8px 0 0 15px;
		display: inline-block;
	}

	.filters{
		box-shadow: inset 0 8px 8px -8px rgba(0,0,0,0.5);
		padding:15px 0 15px 0;
		margin:10px 0 0 0;		

		fieldset>legend {
			color: #fff;
			font-weight: 600;    
		}
	
		fieldset>label,  select{
			margin:0 10px 5px 0;    
			width: 170px;  
			max-height: 20px;
			vertical-align: middle; 
			display: block;   
		}
		// one for main listing page, other two for school/dept listing page:
		fieldset>label[for=allFaculty], fieldset>label[for=showAll], fieldset>label[for=tenure], fieldset>label[for=fulltime]  {
			margin-left:5px;
			vertical-align:text-top;
			color:#fff;
			display: inline;
		}
		
		@media only screen and (min-width: 780px) {
			select {
				display: inline-block; 
			}
		}
		
		@media only screen and (min-width: 1024px) { 
			padding: 30px 0 15px 0;
			margin: 10px 0 0 0;
		}

	} // end .filters


	@media only screen and (min-width: 780px) {   
		padding: 20px 20px 10px 20px;     
   	}
}