<div class="hidden slideOptions">
    <div class="autoRotate">On</div>
    <div class="startingSlideNumber">4</div>
    <div class="speed">5</div>
</div>
<div class="miniRotatorContainer">
    <ul class="miniRotator clearfix">
        <li>
            <a class="item" href="http://wegotthiscovered.com/movies/moonrise-kingdom-analysis-highpoint-wes-andersons-career/"><img alt="Sam" height="220" src="<%= image_path 'placeholder/moonrise_1.png' %>" width="266" />
                <div class="caption ellipsis multiline">
                    <div class="inner">
                        <div class="title">Sam</div>
                        <div class="copy ellipsis multiline">The word auteur is entirely overused and misunderstood in the field of film criticism, but in its true form, the label certainly applies to director Wes Anderson.</div>
                        <div class="button">More <span class="bullet">»</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a class="item" href="http://wegotthiscovered.com/movies/moonrise-kingdom-analysis-highpoint-wes-andersons-career/"><img alt="In Love" height="220" src="<%= image_path 'placeholder/moonrise_2.jpg' %>" width="266" />
                <div class="caption ellipsis multiline">
                    <div class="inner">
                        <div class="title">In Love</div>
                        <div class="copy ellipsis multiline">When we meet these characters, they have run away together, Sam from camp and Suzy from her family. They barely know each other, but they are sure they are in love. </div>
                        <div class="button">More <span class="bullet">»</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a class="item" href="http://wegotthiscovered.com/movies/moonrise-kingdom-analysis-highpoint-wes-andersons-career/"><img alt="Moonrise Kingdom" height="220" src="<%= image_path 'placeholder/moonrise_3.jpeg' %>" width="266" />
                <div class="caption ellipsis multiline">
                    <div class="inner">
                        <div class="title">Moonrise Kingdom</div>
                        <div class="copy ellipsis multiline">The development of Anderson’s craft culminates in the spectacular Moonrise Kingdom, his latest and most accomplished work.</div>
                        <div class="button">More <span class="bullet">»</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a class="item" href="http://wegotthiscovered.com/movies/moonrise-kingdom-analysis-highpoint-wes-andersons-career/"><img alt="[alt]" height="220" src="<%= image_path 'placeholder/moonrise_4.jpeg' %>" width="266" />
                <div class="caption ellipsis multiline">
                    <div class="inner">
                        <div class="title">Suzy and Sam</div>
                        <div class="copy ellipsis multiline">Sam is an orphan still reeling from the loss of his parents, desperately desiring friendship but rejected by the other kids in the Khaki Scouts for his social awkwardness and obvious superiority in all areas of scout training. Suzy, meanwhile, feels disconnected from her family; her little brothers live in a world of their own, and she no longer trusts her parents because her mother is carrying on an affair.</div>
                        <div class="button">More <span class="bullet">»</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="miniRotatorNav">
    <a class="prev"></a>
    <a class="next"></a>
</div>
