<div class="brochure-masthead">
  <div class="foreground-content">
    <div class="headline-container">
      <h2 class="headline secondary">Chapman University</h2>
      <h1 class="headline primary">Alumni</h1>
    </div>
    <div class="offcanvas-menu-trigger">
      <a href="#">View Menu</a>
    </div>
  </div>
  <div class="slider-controls">
    <div class="control left cd-arrow-left"><a href="#">&lsaquo;</a></div>
    <div class="control right cd-arrow-right"><a href="#">&rsaquo;</a></div>
  </div>
  <div class="background-content">
    <div class="slider-wrapper">
      <ul class="cd-hero-slider autoplay">
        <li class="selected" >
          <div class="background-video-wrapper">
            <video id="background-video" class="background-video" muted="muted" aria-label="Welcome to Chapman montage" autoplay="true" loop="true" poster="http://www.chapman.edu/_files/img/hero-panels/fallback-images/welcome-2015.jpg">
              <source src="http://www.chapman.edu/_files/img/hero-panels/html5-videos/welcome-2016.mp4" type="video/mp4" />
            </video>
          </div>
        </li>
        <li>
          <div class="background-image" role="img" aria-label="Memorial Lawn" style="background-image: url(<%= image_url 'placeholder/chapman.jpg' %>)"></div>
        </li>
        <li>
          <div class="background-image" role="img" aria-label="Musco Center" style="background-image: url(<%= image_url 'placeholder/musco.jpg' %>)"></div>
        </li>
      </ul>
    </div>
    <div class="gradient-overlay"></div>
  </div>
</div>