<div class="hidden slideOptions">
    <div class="autoRotate">On</div>
</div>
<div class="rounded-slider">
    <div class="rotatorContainer">
        <div class="flex-container">
            <div class="flexslider">
                <ul class="slides">
                    <li class="slide">
                      <div class="masthead-new quote"><img alt="Ruby on Rails" src="<%= image_path 'placeholder/attallah_plazza.jpg' %>" />
                        <div class="caption align-bottom-left">
                          <p class="subTitle">subtitle</p><a href="http://rubyonrails.org///"><h2>Main Title</h2></a>
                          <p>Here is some supporting text</p><span class="author">Author</span>
                        </div>
                      </div>
                    </li>
                    <li class="slide">
                      <div class="masthead-new quote"><img alt="Ruby on Rails" src="<%= image_path 'placeholder/attallah_plazza.jpg' %>" />
                        <div class="caption align-bottom-left">
                          <p class="subTitle">subtitle</p><a href="http://rubyonrails.org///"><h2>Main Title</h2></a>
                          <p>Here is some supporting text</p><span class="author">Author</span>
                        </div>
                      </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
