<div class="hidden slideOptions">
    <div class="autoRotate">On</div>
</div>
<div class="rounded-slider">
    <div class="rotatorContainer">
        <div class="flex-container">
            <div class="flexslider">
                <ul class="slides">
                    <li class="slide">
                        <div class="masthead-new quote"><img alt="Ruby on Rails" src="<%= image_path 'placeholder/ruby_landing.jpeg' %>" />
                            <div class="caption align-bottom-left">
                                <p class="subTitle">Web development that doesn't hurt</p><a href="http://rubyonrails.org///"><h2>Ruby on Rails&#160;»</h2></a>
                                <p>It is designed to make programming web applications easier by making assumptions about what every developer needs to get started.</p><span class="author">James Kerr</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
