// @import "color-palette/color.scss";

$fontsize: 16;

// // Basics
$white: #fff;
$black: #000;

// // Color pallete
// $ash: #d8d4cf;
// $charcoal: #231f20;
// $darkGray: #595858;
$darkGray: $gray-slate;
// $lightGray: #e1e1e1;
$lightGray: $gray-mist;
// $mediumGray: #d9d9d5;
$mediumGray: $secondary-color;
// $veryLightGray: #e8e8e8;

$border-color: $gray-cement;

$white-to-grey-gradient: linear-gradient(0deg, $border-color 10%, $white 70%);
$white-to-grey-gradient-reversed: linear-gradient(0deg, $white 10%, $border-color 70%);


// Theme variables
$alto: #cfcfcf;
$bombay: #a9a9ab;
$gray-nickel: #b5b5b3;
$mercury: #e5e5e5;
$merlot: #881d2e;
$mystic: #dae4eb;

// Campus Map
$dark-grey: $gray-nickel;
$dark-red: $merlot;
$grey: $alto;
$light-blue: $mystic;


// // Fonts
$icomoon: "icomoon";
$proxima-nova: $font-stack-heading;

// $sans-serif: "proxima-nova", arial, sans-serif;

// $primary-font: $sans-serif;

$title-font-family: $font-stack-heading;
$title-font-size: 26px;
$title-color: $black;
$title-padding-top: 20px;
$title-padding-top-mobile: 6px;
$title-padding-bottom: 10px;
$title-padding-bottom-mobile: 6px;
$title-margin: 0;
