<div class="callout-box-widget callout photo styleOne">
                    <img alt="Photo showing image dimensions for webpage element." src="//www.chapman.edu/campus-services/marketing-communication/_files/website/images/image-sizes/206.jpg" width="195"/>
                    <h2>Right Column Callout (style 1)</h2>
                    <div class="editableContent"><p><span>Lorem ipsum dolor sit amet, <a href="//www.chapman.edu/admission/undergraduate/index.aspx">consectetur adipiscing</a> elit. Donec leo turpis, dictum a quam eget.</span></p>
	<p><a href="//www.chapman.edu/admission/undergraduate/index.aspx"><span>Link Here</span></a></p></div>
</div>

<div class="callout-box-widget callout noPhoto styleOne">
    <div class="border"></div>
                 <h2>Right Column Callout No Photo (Style 1)</h2>
                <div class="editableContent"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec leo turpis, dictum a quam eget.</p>
	<p><a href="//www.chapman.edu/admission/undergraduate/index.aspx">Link Here</a></p></div>
</div>

<div class="callout-box-widget callout noPhoto styleOne">
    <div class="border"></div>
                 
                <div class="editableContent"><p>No heading on this one (Style 1), <a href="//www.chapman.edu/admission/undergraduate/index.aspx">consectetur adipiscing</a> elit.</p>
	<p><a href="//www.chapman.edu/admission/undergraduate/index.aspx">Link Here</a></p></div>
</div>