<div class="sponsor-box-widget sponsor-box-widget--small callout sponsor" id="small-sponsor">
    <div class="carousel">
        <ul>
            <li><a href="index.aspx"><img alt="logo 1" src="http://placehold.it/114x100"/></a></li>
            <li><a href="index.aspx"><img alt="logo 2" src="http://placehold.it/114x100"/></a></li>
            <li><a href="index.aspx"><img alt="logo 3" src="http://placehold.it/114x100"/></a></li>
        </ul>
    </div>
    <h2 class="header">Logo Image Rotator</h2>
</div>