<div class="simple-form-widget callout">
<h2>Optional Section Header Here</h2>
<div class="editableContent">Optional copy above form here. Complete this form to stay informed about our programs, important deadlines, &amp; news. Please let us know if you have any questions.</div>
                        
<!--<script src="/_files/js/form_validation.js" type="text/javascript"></script>-->
<script language="JavaScript" type="text/javascript">
<!--
function validate() {
    var formObj = document.form1;

   if (formObj.requestor_name.value == "your name") {
       alert("Please enter in your first and last name");
       formObj.requestor_name.focus();
       return false;
   }
   else if (formObj.requestor_name.value.length == 0) {
       alert("Please enter in your first and last name");
       formObj.requestor_name.focus();
       return false;
   }
   else if (formObj.email.value == "your email") {
       alert("Please enter an email address where we may contact you");
       formObj.email.focus();
       return false;
   }   
   else if (formObj.email.value.length == 0) {
       alert("Please enter an email address where we may contact you");
       formObj.email.focus();
       return false;
   }   
   else if (checkEmail(formObj.email) != true) {
    formObj.email.focus();
    return false;
   }
    else {        
              
        return true;
    }
}
//-->
</script>

<div class="short-form">
<form action="https://webfarm.chapman.edu/mailservice/formmail.aspx" id="form1" method="post" name="form1" onsubmit="return validate(this);">
  <input name="recipient" type="hidden" value="mthomas@chapman.edu">
    <input name="sender" type="hidden" value="webmaster@chapman.edu">
    <input name="subject" type="hidden" value="Sample form from github">
    <input name="mail_format" type="hidden" value="html">
    <!--<input name="table" type="hidden" value="law_llm_request_info">-->
  <input name="redirect_url" type="hidden" value="http://www.chapman.edu/law/academic-programs/llm/request-information-thank-you.aspx"> 
  <!-- version of this form page we're on (block uses on multiple pages). Populated using JS from og:url meta field: -->
    <input name="form_url" type="hidden" value="">
  
     
	<div>  
              <input maxlength="50" name="requestor_name" placeholder="your name" size="20" type="text"/>
       </div>
       <div> 
              <input id="email" maxlength="50" name="email" placeholder="your email" size="20" type="text"/>
       </div>
        <div> 
              
          <fieldset>
          <legend>Areas of interest:<br>(check all that apply)</legend>
              <input id="business_law" name="emphasis_area" type="checkbox" value="Business Law"><label for="business_law">Business Law</label>              
               <br/>       
              <input id="entertainment_law" name="emphasis_area" type="checkbox" value="Entertainment and Media Law"><label for="entertainment_law">Entertainment/Media Law</label>
            <br/> 
              <input id="international_law" name="emphasis_area" type="checkbox" value="International and Comparative Law"><label for="international_law">Intl. and Comparative Law</label>
            <br/> 
              <input id="double" name="emphasis_area" type="checkbox" value="LL.M.-MBA Double Masters"><label for="double">LL.M.-MBA Double Masters</label>
            <br/> 
              <input id="taxation" name="emphasis_area" type="checkbox" value="Taxation"><label for="taxation">Taxation</label>
        <br/> 
              <input id="trial_advocacy" name="emphasis_area" type="checkbox" value="Trial Advocacy (with Court Residency)"><label for="trial_advocacy">Trial Advocacy (with Court Residency)</label>
               
                  
              </fieldset>

            <label for="comments">Comments:</label>
            <textarea cols="50" id="comments" name="comments" rows="4"></textarea>
       </div>
       <div><input name="submit" type="submit" value="Submit">
       </div>
       <!-- The following code is invisible to people and
     contains some trap text fields-->
    <div style="display:none;">
      If you can read this, don't touch the following field: <input name="address_bot" type="text" value="">
    </div>
</form>
</div>


    </div>