##
## Chapman.edu/test-section/tatwell/fast-omni-nav/debug_format
## https://dev-cascade.chapman.edu/entity/open.act?id=72cd23f8c0a814531b32a4acd3357be4&type=format
##

#import( "/_cascade/formats/helpers.velocity" )
#import( "/_cascade/formats/helpers/debug.velocity" )

#set ( $simpleArray = ['a', 'b', 'c'] )
#set ( $nestedArray = [
  ['a', 'A'],
  ['b', 'B']
] )
#set ( $simpleMap = {'a':1, 'b':2} )

<div id="debug-format">
  <h2>Debug Format</h2>
  <h3>Maps and Arrays</h3>
  <pre>
    simpleArray: $simpleArray
    simpleArray.size(): $simpleArray.size()
    nestedArray: $nestedArray
    nestedArray.size(): $nestedArray.size()
    simpleMap: $simpleMap
    simpleMap['a']: $simpleMap['a']
    simpleMap['nope']: $simpleMap['nope']
  </pre>

  <h3>contentRoot</h3>
  <pre>
    # Inspect
    #inspectXML( $contentRoot )

    # _PropertyTool.outputProperties
    $_PropertyTool.outputProperties( $contentRoot )
  </pre>
</div>
