#*
 * OmniNav format refactored to work with faster loading index block.
 * Chapman.edu/test-section/tatwell/fast-omni-nav/omni_nav_format.vtl
 *#

#import( "/_cascade/formats/helpers/debug.velocity" )

##
## Hardcoded Params
##
## secondaryNavDirectories
## These are locations for which OmniNav should build the secondary off-canvas-nav menu.
## Inner Array: [ directory (assume leading /), menu label, class/image id, path ]
#set ( $secondaryNavDirectories = [
  [ 'business', 'ARGYROS SCHOOL', 'asbe', 'business/index.aspx' ],
  [ 'education', 'ATTALLAH COLLEGE', 'education', 'education/index.aspx' ],
  [ 'support-chapman', 'Support Chapman', 'default', '/' ],
  [ 'about', 'TEST PAGE IS HERE', 'default', '/' ]
] )

##
## Vars
##
#set ( $indexBlock = $_XPathTool.selectSingleNode($contentRoot, "//system-index-block") )
#set ( $currentPage = $_XPathTool.selectSingleNode($contentRoot, "//system-page[@current = 'true']") )

## These vars will be set by setSecondaryNav method.
#set ( $secondaryNavDirectory = [] )


##
## Macros
##
#macro ( build_off_canvas_nav_trigger )
  <a href="#"
     id="js-cu-off-canvas-nav-trigger"
     class="cu-off-canvas-nav-trigger"
     title="Access links to the pages within this section of the website and to other sections of the website"
     aria-label="Access links to the pages within this section of the website and to other sections of the website">
    <span class="icon icon-menu7"></span>
  </a>
#end

#macro ( build_logo )
  <a class="cu-logo" href="${domain}" title="Chapman University Website Home Page">
    <span itemprop="name">Chapman University</span>
  </a>
#end

#macro ( build_login_component )
  <div class="cu_nav_menu" id="cu_login_container">
    <div id="cu_identity">
      <div id="omni-login">
        <span class="icon icon-user3"></span>
        <span class="cu_name">Log In</span>
      </div>
    </div>

    <ul class="cu_dropdown_menu">
      #login_logo_link('https://blackboard.chapman.edu/' 'blackboard' 'Blackboard')
      #login_logo_link('https://my.chapman.edu/' 'cu_window' 'MyChapman')
      #login_logo_link('https://exchange.chapman.edu/' 'email' 'Staff &amp; Faculty Email')
      #login_logo_link('https://www.chapman.edu/panthermail/' 'email' 'PantherMail')
      #login_logo_link('https://mywindow.chapman.edu/' 'cu_window' 'MyWindow')
    </ul>
  </div>
#end

#macro ( build_search_component )
#end

#macro ( build_off_canvas_nav )

#end

#macro ( setSecondaryNav $thisPage, $navDirectories  )
  #set ( $pagePath = $thisPage.getChild("path").value )

  ## Is current path under one of specified $secondaryNavDirectories?
  #foreach ( $navDirectory in $navDirectories )
    #set ( $dirName = $navDirectory[0] )

    ## Start/end +1 to skip leading /
    #set ( $startSubStr = 1 )
    #set ( $endSubStr = $dirName.length() + 1 )

    ## Make sure endSubStr not long than pagePath else will throw exception
    #if ( $endSubStr > $pagePath.length() )
      #set ( $endSubStr = $pagePath.length() )
    #end

    #set ( $pagePathDir = $pagePath.substring($startSubStr, $endSubStr) )

    ## Is current page directory $pagePathDir under this $navDirectory? If so,
    ## we found our $navDirectory.
    #if ( $pagePath.contains($dirName) && $pagePathDir == $dirName )
      #set ( $secondaryNavDirectory = $navDirectory )
    #end
  #end
#end

#macro ( build_primary_nav )
#end

#macro ( build_secondary_nav $secondaryNavDirectory )
#end

#macro ( login_logo_link $href $svg_id $label )
  ## Cascade won't allow this line to be saved when SVG_ID replaced by $svg_id.
  ## Won't even let you save it with line commented out. Error message:
  ## Draft could not be saved. named capturing group is missing trailing '}'
  #set ( $xlink = "[system-asset:id=eb945fd7c04d744c54334ecab3a4f792]/_files/img/omni-nav.svg#SVG_ID[/system-asset]" )

  <li>
    <a class="cu_nav_button" href="$href">
      <svg viewbox="0 0 512 512">
          <use xlink:href="$xlink" xmlns:xlink="http://www.w3.org/1999/xlink">
          </use>
      </svg>
      <span class="label">$label</span>
    </a>
  </li>
#end


##
## Debug
##
##inspectXML( $contentRoot )
##$_PropertyTool.outputProperties( $contentRoot )


##
## Main OmniNav HTML Block
##
#setSecondaryNav($currentPage $secondaryNavDirectories)

<div id="cu_nav">

  <pre>
  pagePath: $pagePath
  secondaryNavDirectory: $secondaryNavDirectory
  </pre>

  #build_off_canvas_nav_trigger()

  #build_logo()

  #build_login_component()

  #build_search_component()

  #build_off_canvas_nav()

</div>
