#*
 * OmniNav format refactored to work with faster loading index block.
 * Chapman.edu/test-section/tatwell/fast-omni-nav/omni_nav_format.vtl
 *#

#import( "/_cascade/formats/helpers/debug.velocity" )

##
## Hardcoded Params
##
## umbrellaCategories
## These are locations for which OmniNav should build the secondary off-canvas-nav menu.
## Inner Array: [ directory (assume leading /), menu label, class/image id, path ]
#set ( $umbrellaCategories = [
  [ 'business', 'ARGYROS SCHOOL', 'asbe', 'business/index.aspx' ],
  [ 'education', 'ATTALLAH COLLEGE', 'education', 'education/index.aspx' ],
  [ 'support-chapman', 'Support Chapman', 'default', '/' ],
  [ 'about', 'TEST PAGE IS HERE', 'default', '/' ]
] )

##
## Vars
##
#set ( $indexBlock = $_XPathTool.selectSingleNode($contentRoot, "//system-index-block") )
#set ( $currentPage = $_XPathTool.selectSingleNode($contentRoot, "//system-page[@current = 'true']") )

## These vars will be set by setPageUmbrellaCategory method.
#set ( $pageUmbrellaCategory = [] )


##
## Macros
##
#macro ( buildOffCanvasNavTrigger )
  <a href="#"
     id="js-cu-off-canvas-nav-trigger"
     class="cu-off-canvas-nav-trigger"
     title="Access links to the pages within this section of the website and to other sections of the website"
     aria-label="Access links to the pages within this section of the website and to other sections of the website">
    <span class="icon icon-menu7"></span>
  </a>
#end

#macro ( buildLogo )
  <a class="cu-logo" href="/" title="Chapman University Website Home Page">
    <span itemprop="name">Chapman University</span>
  </a>
#end

#macro ( buildLoginComponent )
  <div class="cu_nav_menu" id="cu_login_container">
    <div id="cu_identity">
      <div id="omni-login">
        <span class="icon icon-user3"></span>
        <span class="cu_name">Log In</span>
      </div>
    </div>

    <ul class="cu_dropdown_menu">
      #loginLogoLink('https://blackboard.chapman.edu/' 'blackboard' 'Blackboard')
      #loginLogoLink('https://my.chapman.edu/' 'cu_window' 'MyChapman')
      #loginLogoLink('https://exchange.chapman.edu/' 'email' 'Staff &amp; Faculty Email')
      #loginLogoLink('https://www.chapman.edu/panthermail/' 'email' 'PantherMail')
      #loginLogoLink('https://mywindow.chapman.edu/' 'cu_window' 'MyWindow')
    </ul>
  </div>
#end

#macro ( buildSearchComponent )
  <div class="cu-search-open-trigger" id="js-cu-search-open-trigger">
    <span>Search</span>
  </div>

  <div id="cu_search">
    <select class="search-type" name="search-type" id="search-type" aria-label="search type">
      <option value="All">All</option>
      <option value="Blog Stories">Blog Stories</option>
      <option value="Faculty Directory">Faculty Directory</option>
      <option value="Events">Events</option>
    </select>

    <div id="cu_search_box">
      <form action="/search-results/index.aspx">
        <table cellpadding="0" cellspacing="0" class="gsc-search-box">
          <tbody>
            <tr>
              <td class="gsc-input">
                <input type="text" id="cu_search_no_js" name="q" class="gsc-input no-js"
                       placeholder="Search" size="10" spellcheck="false" autocomplete="off"
                       style="outline: none;" />

                ## Why is this display: none? Do we not want to display? Or is it toggled
                ## by js? If the former, remove and please stop doing this. If latter,
                ## include comment.
                <label for="cu_search_no_js" style="display: none;">Search</label>
              </td>
              <td class="gsc-search-button">
                <input class="gsc-search-button" title="search" type="button" value="Search" />
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <div id="cu_search_results">
      <div id="cu_search_results_cell">
        <div id="cu_search_results_ui">
          <td class="gsc-clear-button">
            <div class="gsc-clear-button" title="clear results"></div>
          </td>
        </div>
      </div>
    </div>
  </div>
#end

#macro ( buildOffCanvasNav )
  <div id="js-cu-off-canvas-overlay" class="cu-off-canvas-overlay"></div>

  <div id="js-cu-off-canvas-nav-container" class="cu-off-canvas-nav-container">
    #buildOffCanvasNavHeader()
    #buildOffCanvasNavMenu()
  </div>
#end

#macro ( buildOffCanvasNavHeader )
  #set ( $isUmbrellaCategory = $pageUmbrellaCategory.size() > 0 )
  pageUmbrellaCategory: $pageUmbrellaCategory
  isUmbrellaCategory: $isUmbrellaCategory

  <div class="cu-off-canvas-header">

    ## Build main nav logo.
    ## If umbrella category, use school/college logo.
    #if ( $isUmbrellaCategory )

      ## UmbrellaCat has special path
      #if( $pageUmbrellaCategory[3] != '/' )
        <a class="sc-logo ${$pageUmbrellaCategory[2]}"
           href="/${pageUmbrellaCategory[3]}"
           title="Link to ${pageUmbrellaCategory[1]}">
          <span itemprop="name">${pageUmbrellaCategory[1]} Logo</span>
        </a>
      ## Use Chapman as Default
      #else
        <a class="sc-logo" href="site://Chapman.edu/index" title="Link to Chapman University Homepage">
          <span itemprop="name">Chapman University</span>
        </a>
      #end

      <a class="default-logo" href="site://Chapman.edu/index" title="Link to Chapman University Homepage">
        <span itemprop="name">Chapman University</span>
      </a>

    ## Else use Chapman logo.
    #else
      <a class="default-logo-cu" href="site://Chapman.edu/index" title="Link to Chapman University Homepage">
        <span itemprop="name">Chapman University</span>
      </a>
    #end

    <span id="js-cu-close-off-canvas-nav" class="close">X</span>

    ## Display menu name and secondary menu links.
    <div class="cu-off-canvas-links clearfix">
      #if ( $isUmbrellaCategory )
        <span id="js-main-menu" class="main-menu">${pageUmbrellaCategory[1]}</span>
        <a id="js-level-2-link" href="#" class="level-2-link">
          &#8592; Go to <span class="accent">${pageUmbrellaCategory[1]} Menu</span>
        </a>
        <a id="js-level-1-link" href="#" class="level-1-link">
          Go to <span class="accent">Main Menu</span> &#8594;
        </a>
      #else
        <span id="js-main-menu" class="main-menu">Main Menu</span>
      #end
    </div>

  </div>
#end

#macro ( buildOffCanvasNavMenu )
  <div id="js-cu-off-canvas-nav" class="cu-off-canvas-nav clearfix">
  </div>
#end

#macro ( setPageUmbrellaCategory $thisPage  )
  #set ( $pagePath = $thisPage.getChild("path").value )

  ## Is current path under one of specified $umbrellaCategories?
  #foreach ( $umbrellaCategory in $umbrellaCategories )
    #set ( $dirName = $umbrellaCategory[0] )

    ## Start/end +1 to skip leading /
    #set ( $startSubStr = 1 )
    #set ( $endSubStr = $dirName.length() + 1 )

    ## Make sure endSubStr not long than pagePath else will throw exception
    #if ( $endSubStr > $pagePath.length() )
      #set ( $endSubStr = $pagePath.length() )
    #end

    #set ( $pagePathDir = $pagePath.substring($startSubStr, $endSubStr) )

    ## Is current page directory $pagePathDir under this $navDirectory? If so,
    ## we found our $navDirectory.
    #if ( $pagePath.contains($dirName) && $pagePathDir == $dirName )
      #set ( $pageUmbrellaCategory = $umbrellaCategory )
    #end
  #end
#end

#macro ( buildMainNav )
#end

#macro ( buildUmbrellaNav )
#end

#macro ( loginLogoLink $href $svg_id $label )
  ## Cascade won't allow this line to be saved when SVG_ID replaced by $svg_id.
  ## Won't even let you save it with line commented out. Error message:
  ## Draft could not be saved. named capturing group is missing trailing '}'
  #set ( $xlink = "[system-asset:id=eb945fd7c04d744c54334ecab3a4f792]/_files/img/omni-nav.svg[/system-asset]#${svg_id}" )

  <li>
    <a class="cu_nav_button" href="$href">
      <svg viewbox="0 0 512 512">
        <use xlink:href="$xlink" xmlns:xlink="http://www.w3.org/1999/xlink">
        </use>
      </svg>
      <span class="label">$label</span>
    </a>
  </li>
#end


##
## Debug
##
##inspectXML( $contentRoot )
##$_PropertyTool.outputProperties( $contentRoot )


##
## Main OmniNav HTML Block
##
#setPageUmbrellaCategory($currentPage)

<div id="cu_nav">

  <!-- pagePath: $pagePath -->
  <!-- pageUmbrellaCategory: $pageUmbrellaCategory -->

  #buildOffCanvasNavTrigger()

  #buildLogo()

  #buildLoginComponent()

  #buildSearchComponent()

  #buildOffCanvasNav()

</div>
