.ad-landing-container {
  .ad-landing-column-container {
    @include outer-container;
    
    .ad-landing-left-column {
      @include media($medium-screen) {
        @include span-columns(11);
        padding: 0 $base-spacing*2;
      }
    }

    .ad-landing-right-column {
      @include media($medium-screen) {
        @include span-columns(7);
        padding: 0 $base-spacing*2;
      }
    }

    .ad-landing-title {
      padding-left: $base-spacing*2;
      font-size: 32px;

      @include media($medium-screen) {
        margin-top: 0;
        padding-left: 0;
      }
    }
  }

  #footer {
    padding: 50px 0 36px;

    @include media($medium-screen) { padding-top: 84px; }

    .copyright {
      padding: 82px 36px 0px;
      text-align: center;

      p {
        font-style: normal;
      }
    }
  }
}