<system-region name="PAGE WRAPPER OPEN"/>
<system-region name="JUMP LINK"/>

<div id="fb-root"></div>

<div class="noscript">
  <p>Some of the content on this website requires JavaScript to be enabled in your web browser to function as intended. This includes, but is not limited to: Flash (also requires the <a href="https://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" target="_blank" title="Get Adobe Flash Player (link opens in a new browser window)">Adobe Flash Player</a>), navigation, video, image galleries, etc. While the website is still usable without JavaScript, it should be enabled to enjoy the full interactive experience.</p>
</div>

<div class="bigMasthead smallRotator" id="container">
  <header>
    <system-region name="OMNI-NAV"/>
    <system-region name="NAVIGATION"/>
  </header>

  <div id="main" role="main">

    <div class="primary-content one-column">
      <system-region name="MASTHEAD"/>
      <system-region name="PRIMARY CONTENT"/>
    </div>
  </div>

  <footer>
    <system-region name="GLOBAL FOOTER"/>
  </footer>
</div>

<!--[if lt IE 7 ]>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
  <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
<system-region name="ADDITIONAL BODY AT-END"/>
<system-region name="PAGE WRAPPER CLOSE"/>
