.side-panel-hero {
  position: relative;

  + div { // Whatever is under this hero area should have double padding to account for the overlap
    padding-top: $one-column-widget-spacing*2;
  }

  .background-image, .background-video-wrapper {
    display: none;
    @include media($large-screen) {
      display: block;
      position: absolute;
      top: 0; right: 0; left: 0; bottom: 0;
      height: 100%; width: 100%;
    }
  }

  .background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  .hero-content {
    @include outer-container;
    position: relative;
    padding: 0;
    @include media($medium-screen) {
      padding: $one-column-widget-spacing;
    }
    @include media($large-screen) {
      padding: $one-column-widget-spacing 0;
    }
  }

  // The side panel
  section {
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
    padding: $one-column-widget-spacing;
    background-color: white;

    @include media($large-screen) {
      @include span-columns(6);
      margin-bottom: -$one-column-widget-spacing*2;
    }

    // Title
    h1 { margin-top: 0; }

    // Subtitle
    h2 { font-weight: 200; }
    
    .calls-to-action { 
      margin-top: $base-spacing*3;
      a {
        @include button($blue);
        width: 100%;
        margin-bottom: $base-spacing;
        text-align: center;
        line-height: 36px;
        border-radius: 0px;
      }
    }

    .program-select {
      margin-top: $base-spacing*3;
      position: relative;

      .select-arrow {
        position: absolute;
        top: 14px;
        right: 18px;
        display: block;
        background: transparent;
        border-width: 0px 1px 1px 0px;
        border-style: solid;
        width: 8px;
        height: 8px;
        transform: rotateZ(45deg);
      }

      select {
        position: relative;
        -webkit-appearance: initial;
        -moz-appearance: none;
        font-size: 16px;
        padding: $base-spacing/2 $base-spacing;
        background-color: transparent;
        box-shadow: none;
        margin: 0;
        height: auto;
        border-radius: $base-spacing;
        background-position: center right;
        background-repeat: no-repeat;
      }
    }
  }

  // The featured article
  article {
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
    color: white;

    @include media($medium-screen) {
      margin-top: $base-spacing*3;
    }

    @include media($large-screen) {
      @include span-columns(10);
      @include shift(1);
      margin-top: 35%;
      border-radius: 3px;
    }

    img, video {
      width: 100%;
      height: auto;
      @include media($large-screen) { display: none; }
    }

    .content {
      padding: $base-spacing*2 $base-spacing*3;
    }

    .category {
      @include content_label();
      color: white; 
    }
    
    .title {
      margin: 0;
    }
    
    .subtitle { 
      margin-top: 0;
      font-weight: 200;
    }

    a {
      color: white;
      text-decoration: underline;
      font-weight: bold;
    }
  } 
}


// Override the default background color when no theme is applied
#theme .side-panel-hero .theme-bg-color-alpha { 
  background-color: rgba(0,0,0,0.95); 
}