.side-panel-hero {
  position: relative;
  background-color: #eaeaea;

  + div { // Whatever is under this hero area should have double padding to account for the overlap
    padding-top: $one-column-widget-spacing;
  }

  video {
    width: 100%;
  }

  .cd-hero, .background-image, .background-video-wrapper {
    padding-bottom: $one-column-widget-spacing/2;
    pointer-events: none;
    background-color: #eaeaea;

    @include media($medium-screen) {
      padding: 0;
    }

    @include media($large-screen) {
      overflow: hidden;
      display: block;
      position: absolute;
      top: 0; right: 0; left: 0; bottom: 0;
      width: 100%;
    }
  }

  .cd-hero {
    @include media($medium-screen) {
      .cd-arrow-left, .cd-arrow-right { display: none; }
      &:hover{
        .cd-arrow-left, .cd-arrow-right { display: block; }
     }
    }
  }

  .cd-arrow-left, .cd-arrow-right {
    position: absolute;
    top: 115px;
    height: 50px;
    width: 50px;
    text-align: center;
    margin: auto;
    z-index: 668;
    pointer-events:all;
    background-color: white;
    opacity: .7;
    @include media($medium-screen) {
      top: 0;
      bottom: 0;
    }

    a {
      display: inline-block;
      height: 50px;
      width: 50px;
      font-size:80px;
      line-height: 40px;
      color: $black;
    }
  }

  .cd-arrow-left { left: 0; }
  .cd-arrow-right { right: 0; }

  .cd-slide-container {
    height: 95%;
    width: 100%;
  }
  // super ugly css I know, but this was the only fix I could come up with to make the arrows appear properly
  @include media($large-screen) {
    .cd-arrow-left, .cd-arrow-right { display: none; }
    &:hover{
      .cd-arrow-left, .cd-arrow-right { display: block; }
   }
  }

  .cd-hero-slider {
    height: 95%;
    list-style-type: none;

    li {
      padding: $one-column-widget-spacing/4 0;
      max-width: 100%;
      margin-bottom: 0;
      background-color: #eaeaea;
    }

    .slider-bottom-border {
      @include media($large-screen){
        position: absolute;
        bottom: 0;
        height: 10px;
        z-index: 667;
        width: 100%;
      }
    }
  }

  .cd-slider-nav {
    height: 13%;
    background-color: transparent;
    text-align: left;
    pointer-events: all;
    padding-left: 16px;

    .cd-marker {
      background-color: transparent;
      color: #E5E5E5;
      box-shadow: none;
    }

    a {
      outline: none;
      display: inline-block;
      font-size: 0px;
      height: 15px;
      width: 15px;
      line-height: 10px;
      background: white;
      color: white;
      border-radius: 15px;
      text-indent: -9999px;
      margin-right: 12px;
      border: 2px solid #676767;
      padding-top: 0;
      &:hover { background-color: #676767; }
    }

    li {
      width: inherit;
      &.selected a {
        background: #676767;
        opacity: 1;
        box-shadow: 0 0 2px #F0EFE7;
        &:hover { background-color: #676767; }
      }
    }

    @include media($medium-screen) {
      height: 7%;
      padding-left: 32px;
      padding-right: 0;
    }

    @include media($large-screen){
      height: 9%;
      text-align: center;
      @include shift(6);
    }
  }

  .background-image {
    background-size: 0 0;
    @include media($large-screen) {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center bottom;
    }
  }

  .background-video-wrapper #background-video {
    display: none;
    @include media($large-screen) {
      display: inline-block;
    }
  }

  .hero-content {
    @include outer-container;
    position: relative;
    padding: $one-column-widget-spacing/2 $primary-column-widget-spacing;

    @include media($medium-screen) {
      padding: $one-column-widget-spacing $base-spacing*3 $base-spacing $base-spacing*3;
    }
    @include media($large-screen) {
      padding: $primary-column-widget-spacing*2 0;
      pointer-events: none;
      z-index: 666;
    }
  }

  // The side panel
  .hero-content-panel {

    @include media($large-screen) {
      @include span-columns(6);
      padding: $base-spacing*3 $one-column-widget-spacing/2 $one-column-widget-spacing $one-column-widget-spacing/2;
      box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
      background-color: white;
      pointer-events: all;
    }

    // Title
    h1 {
      margin: 0;
      font-size: 26px;
      line-height: 30px;

      @include media($medium-screen) {
        font-size: 32px;
        line-height: 36px;
      }

      @include media($large-screen) {
        font-size: 36px;
        line-height: 40px;
      }
    }

    // Subtitle
    h2 {
      font-weight: 200;
      margin: $base-spacing/2 0;
      font-size: 22px;
      line-height: 26px;

      @include media($medium-screen) {
        font-size: 26px;
        line-height: 28px;
      }

      @include media($large-screen) {
        font-size: 30px;
        line-height: 32px;
      }
    }

    p { line-height: 24px; }

    h1, h2, p {
      text-align: center;
      @include media($large-screen) { text-align: left; }
    }

    .calls-to-action { 
      margin-top: $base-spacing;
      text-align: center;

      a {
        @include button($blue);
        width: 100%;
        margin-bottom: $base-spacing/2;
        text-align: center;
        line-height: 30px;
        border-radius: 0px;

        @include media($medium-screen) {
          width: 45%;
          margin: $base-spacing/2;
        }

        @include media($large-screen) {
          width: 100%;
          margin: $base-spacing/4 0px;
        }
      }
    }

    .program-select {
      position: relative;

      @include media($medium-screen) {
        width: 50%;
        margin-top: $base-spacing*3;
        margin-left: auto;
        margin-right: auto;
      }
      @include media($large-screen) {
        width: 100%;
        margin: 0;
        margin-top: $base-spacing/4;
      }

      .select-arrow {
        position: absolute;
        top: 20px;
        right: 18px;
        display: block;
        background: transparent;
        border-width: 0px 1px 1px 0px;
        border-style: solid;
        width: 8px;
        height: 8px;
        transform: rotateZ(45deg);
      }

      .hero-select-button {
        width: 100%;
        font-size: 16px;
        line-height: 30px;
        outline: none;
        padding: $base-spacing/2 $base-spacing;
        background-color: transparent;
        box-shadow: none;
        margin: 0;
        height: auto;
        border: 2px solid #000000;
        border-radius: 3px;
        background-position: center right;
        background-repeat: no-repeat;
      }

      .hero-select-list {
        display: none;
        position: absolute;
        margin: 0;
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
        width: 100%;
        background-color: #FFF;
        top: 0px;
        z-index: 667;

        li {
          max-width: 100%;
          font-size: 16px;
          line-height: 36px;
          margin: 0;
          padding: $base-spacing/2 $base-spacing;

          &:hover, &.selected { background-color: #E5E5E5; }
        }
      }
    }
  }

  // The featured article
  article {
    color: $black;
    pointer-events: all;

    @include media($medium-screen) {
      margin-top: $base-spacing*3;
    }

    @include media($large-screen) {
      @include span-columns(7);
      @include shift(9);
      bottom: 0;
      border-radius: 3px;
      position: absolute;
      color: white;
    }

    img, video {
      width: 100%;
      height: auto;
      margin-bottom: -6px;
      @include media($large-screen) { display: none; }
    }

    .content {
      padding: $base-spacing*2;
      z-index: 667;

      @include media($large-screen) {
        padding: $base-spacing*2 $base-spacing*3;
      }
    }

    .category {
      @include content_label();
      color: $black;

      @include media($large-screen) {
        color: white;
      }
    }

    .title {
      margin: 0;
    }

    .subtitle { 
      margin-top: 0;
      font-weight: 200;
    }

    a {
      color: $black;
      text-decoration: underline;
      font-weight: bold;

      @include media($large-screen) {
        color: white;
      }
    }
  } 
}


// Override the default background color when no theme is applied
#theme .side-panel-hero .theme-bg-color-alpha { 
  background-color: transparent;

  @include media($large-screen) {
    background-color: rgba(0,0,0,0.95); 
  }
}
