// ---------- Main Footer Styles ---------- //
.footer {
  position: relative;
  height: auto;
  padding-bottom: $base-spacing;
  overflow: auto;
  background-color: #eaeaea;

  .inner-container {
    position: relative;
    max-width: 1130px;
    margin: 0 auto;
  }

  .footer-section {
    display: block;
    float: left;
    overflow: auto;

    @include media($large-screen) {
      display: inline-block;
      vertical-align: top;
    }
  }

  .footer-section.footer-info {
    width: 100%;
    border-top: 2px solid $black;
    padding-top: 48px;
    text-align: center;

    @include media($large-screen) {
      width:25%;
      border-top: none;
      padding: 0 0 0 12px;
      text-align: left;
    }

    .weather {
      display: table;
      margin: 0 auto 20px auto;

      @include media($large-screen) {
        margin: 0 auto 20px 0;
        padding-right: 4px;
      }

      .weather-icon {
        display: table-cell;
        vertical-align: top;

        img { display: inline-block; }
      }

      p { margin: 0; }

      .temp {
        display: table-cell;
        vertical-align: top;
        padding-top: 12px;
        text-align: left;

        .f {
          padding-bottom: 8px;
          font-size: 35px;
          font-weight: bold;
          line-height: 24px;
        }

        .c {
          padding-left:2px;
          line-height: 20px;
        }
      }
    }

    @include media($large-screen) {
      .address, .copyright { padding-left: 52px; }
    }

    .address {
      width: 200px;
      margin: 0 auto 20px auto;

      @include media($medium-screen){
        width: auto;
        margin: 0 0 20px 0;
      }

      p {
        margin-bottom: 0;
        line-height: 24px;

        &.addr-name{
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }

    .copyright {
      font-size: 12px;
      font-style: normal;
      text-transform: uppercase;
    }
  }

  .link-container-before {
    position: absolute;
    top: 0; left: -1000%;
    width: 1000%;
    height: 45px;
    line-height: 45px;
    background-color: $black;
  }

  .link-container-after {
    display: none;
    float: left;
    width:15px;
    height:45px;
    background-position: right 0;
    background-repeat: no-repeat;
    background-image: url(//www.chapman.edu/_assets/ribbon_tails-b7f0694bd5d3c96acc5d6cd44d0bf1b864b2a3bbe2f3d3f27291694ecb4371dc.png);

    @include media($large-screen){
      display: inline-block;
    }
  }

  .footer-section.footer-menu {
    position: relative;
    width: 100%;
    padding-bottom: 36px;

    @include media($large-screen) {
      width: 70%;
    }

    .menu-section {
      position:relative;
      display: block;
      overflow: auto;

      @include media($medium-screen) {
        display: inline-block;
        width: 50%;
        float: left;
      }
    }

    .link-list {
      padding: 16px;
      list-style-type: none;

      li { margin: 0; }

      a {
        margin: 0;
        line-height: 24px;
        color: $black;

        &:hover { color: $red; }
      }

      &.social-icon-list {
        overflow: auto;

        li {
          display: inline-block;
          float: left;
          width: 36px;
          height: 36px;
          margin: 0 8px 8px 0;
          text-align: center;
          line-height: 36px;
          border-radius: 4px;
          background-color: #c1c1c1;

          &:hover { opacity: .8; }

          a {
            vertical-align: middle;
            font-size: 24px;
            line-height: 42px;
            color: white;
          }
        }
      }
    }

    .links-header {
      padding: 10px 16px;
      background-color: $black;

      h2 {
        margin: 0;
        font-size: 18px;
        font-weight: 100;
        color: white;
        text-transform: uppercase;
        font-family: "futura-pt", sans-serif;
      }
    }

    .link-container {
      width: 50%;
      float: left;

      &:last-of-type {
        .social-icon-list { padding-right: 0; }
      }
    }
  }
}
