/* New Form Styles */

  .text-input {
    width: 100%;
    padding: $base-spacing / 2;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.1);
    transition: border 150ms;
    &:focus {
      outline: none;
      border: 1px solid $blue;
    }
  }

/* Old form styles */
.form {
  padding: 10px 45px;
  background-color: #f5f5f5;
  border-left: 1px solid $white;
  border-bottom: 1px solid $cu-border;
  color: #313131;
  div {
    margin: 7px 0;
  }
  label.inline {
    display: inline;
    margin: 10px;
  }
  input {
    &[type=text], &[type=password] {
      width: 300px;
    }
    &[readonly=readonly] {
      background-color: #ececec;
      border: 1px solid #bbb;
    }
  }
  textarea[readonly=readonly] {
    background-color: #ececec;
    border: 1px solid #bbb;
  }
}

.form-label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin: 0 10px;
  vertical-align: middle;
}

.responsiveForm {
    background-color: #f5f5f5;
    color: #313131;
    padding: 25px 45px 45px; 
}

/************ these responsiveForm used in surrounding DIV for all full page forms ************/
// moved these next 3 from components/forms.scss and associate display:block only with .responsiveForm not global: 
// Allow the height of file controls to match text inputs
.responsiveForm input[type="file"] {
  display: block;
}

// Makes range inputs behave like textual form controls
.responsiveForm input[type="range"] {
  display: block;
  width: 100%;
}

.responsiveForm select,
.responsiveForm textarea,
.responsiveForm input[type="text"],
.responsiveForm input[type="password"],
.responsiveForm input[type="datetime"],
.responsiveForm input[type="datetime-local"],
.responsiveForm input[type="date"],
.responsiveForm input[type="month"],
.responsiveForm input[type="time"],
.responsiveForm input[type="week"],
.responsiveForm input[type="number"],
.responsiveForm input[type="email"],
.responsiveForm input[type="url"],
.responsiveForm input[type="search"],
.responsiveForm input[type="tel"],
.responsiveForm input[type="col"] {
  display: block;
  width: 100%;
}

.responsiveForm label{
    display:block;
    font-weight: bold;
}

.responsiveForm input[type=text],
.responsiveForm input[type=password],
.responsiveForm textarea,
.responsiveForm select{
    max-width:100%;
    margin:5px 0 15px 0;
}

.responsiveForm input[type=checkbox],
.responsiveForm input[type=radio]{
    margin: 5px 0 3px 15px;
}

.responsiveForm input[type=submit],
.responsiveForm a.button{
  @include button;
  display: block;
}

.responsiveForm fieldset {
    margin:10px 0 10px 0;
}
.responsiveForm fieldset.showBorder {
    border: thin solid #D2D1CD;
    padding: 5px;
}

.responsiveForm fieldset legend{
    margin:0 0 10px 0;
    font-weight: bold;
}

.responsiveForm input[type=radio]+label,
.responsiveForm input[type=checkbox]+label {
    display:block;
    margin-top:-19px; margin-left: 40px;
    font-weight: normal;
}