.middleRightContainer {
  @include media($medium-screen) {
    float: right;
    width: 70%;
    position: relative;
  }
}

.primaryContent {
  .main {
    @include bp(l) {
      width: 100%;
      max-width: 465px;
      float: left;
    }
  }
  &.twoColumns .main {
    @include bp(l) {
      max-width: 100%;
    }
  }
}
