.middleRightContainer {
  text-align: left;

  @include media($medium-screen) {
    position: relative;
    float: right;
    @include vendorize(box-sizing, border-box);
  }

  @include media($large-screen) {
    display: inline-block;
    float: none;
    width: 55%;
  }
}