.rightColumn {
  margin: 0 0 10px 0;
  .border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 7px;
  }
  .photo {
    img {
      width: 100%;
      max-width: 206px;
    }
    @include bp(wildcard-max, 780px) {
      margin-left: 10px;
    }
  }
  .styleOne {
    background-color: #e2e1dc;
    border-right: 1px solid #c0c0b8;
    border-bottom: 1px solid #c0c0b8;
    vertical-align: top;
    .border {
      background-color: #d2d1cd;
    }
  }
  .styleTwo {
    background-color: $teal2-hover;
    background: -ms-radial-gradient(circle, $teal2-hover, $teal2);
    background: -webkit-radial-gradient(circle, $teal2-hover, $teal2);
    background: -moz-radial-gradient(circle, $teal2-hover, $teal2);
    background: -ms-radial-gradient(circle, $teal2-hover, $teal2);
    color: $white;
    position: relative;
    overflow: hidden;
    h2 {
      color: $white;
    }
    a {
      color: $cu-red;
      font-weight: 800;
      &:hover {
        text-decoration: underline;
      }
    }
    .border {
      background-color: #01999f;
    }
  }
  .linkList {
    list-style-type: none;
  }
  .callout .linkList li {
    a {
      padding: 10px 0 10px 0;
      display: block;
      border-top: 1px solid #ccc0a7;
    }
    &:first-child a {
      border-top: none;
    }
  }
  .newbutton {
    @include bp(m) {
      margin-top: 0;
    }
  }
  a {
	  &:link, &:visited {
	    border-bottom: 1px dotted #C0C0C0;
	  }
	}
	.callout {
    &.noPhoto h2 {
      margin-top: 7px;
    }
  }
  @include bp(l) {
    width: 25%;
    position: relative;
    float: right;
    padding-right: 0;
  }
}
