// Use this file to store common values like
// font size, z index, etc.

$proxima-nova: "proxima-nova", verdana, sans-serif;
$futura: "futura-pt", verdana, sans-serif;

// Foundation overrides
@import 'overrides/_foundation';

// Color palette is a mixin from IBM that
// lets you organize colors inside a SASS
// mapping. I find that it is an easier way
// to manage colors rather than a long
// list of variable names. I highly recommend
// using it. It's not difficult to use.
//
// There are examples of how to use it peppered
// into some of the default common styles.
@import 'color-palette/_color';

// Colors
$burgundy: #98002e; // Chapman Red
$paprika: #7f0026; // Chapman Dark Red
$mexican-red: #a82439;
$cardinal: #ba183e;
$silver: #c1c1c1; // Light Gray
$dusty-gray: #999999; // Medium Gray
$tundora: #4e4e4e; // Dark Gray
$dark-gray: #353430; // Darker Gray
$mine-shaft: #2d2d2d; // Darkest Gray
$boulder: #777777;

// Measurements, etc.
$transition-time: 0.45s;
$transparent-white-border: 1px solid rgba($white, 0.425);
$image-bg-position: center 25%;
$input-height: rem-calc(50);
