<div id="cu-global-nav">
  <nav aria-label="global navigation bar">
    <ul class="global-nav-links">
      <li class="primary-link">
        <a>About</a>
        <div  class="global-nav-dropdown">
          <ul>
            <li><a class="icon icon-file-text" href="/about/index">Overview</a></li>
            <li><a class="icon icon-location" href="/about/maps-directions/index.aspx">Maps and Directions </a></li>
            <li><a class="icon icon-california" href="/about/visit-chapman/index.aspx">Visit Chapman</a></li>
            <li><a class="icon icon-cu-window" href="/discover/index.html">Discover Chapman</a></li>
            <li><a class="icon icon-office" href="/about/campus/index.aspx">Our Campus</a></li>
            <li><a class="icon icon-library4" href="/about/facts-history/index.aspx">Facts and History</a></li>
            <li><a class="icon icon-cu-window" href="/about/administration/index.aspx">Administration</a></li>
            <li><a class="icon icon-envelop" href="/about/contact-us.aspx">Contact Us</a></li>
          </ul>
        </div>
      </li>
      <li class="primary-link">
        <a>Academics</a>
        <div class="global-nav-dropdown">
          <ul>
            <li><a class="icon icon-file-text" href="/academics/index">Overview</a></li>
            <li><a class="icon icon-graduation" href="/academics/degrees-and-programs.aspx">Degrees &amp; Programs</a></li>
            <li><a class="icon icon-library2" href="/academics/schools-colleges.aspx">Schools &amp; Colleges</a></li>
            <li><a class="icon icon-calendar4" href="/academics/academic-calendar.aspx">Academic Calendar</a></li>
            <li><a class="icon icon-books" href="/academics/libraries/index.aspx">Libraries</a></li>
            <li><a class="icon icon-book2" href="/academics/course-catalogs/index.aspx">Course Catalogs</a></li>
            <li><a class="icon icon-earth" href="/international-studies/index.aspx">International Study</a></li>
          </ul>
        </div>
      </li>
      <li class="primary-link">
        <a>Admission</a>
        <div class="global-nav-dropdown">
          <ul>
            <li><a class="icon icon-file-text" href="/admission/index">Overview</a></li>
            <li><a class="icon icon-bookmark" href="/admission/undergraduate/index.aspx">Undergraduate Admission</a></li>
            <li><a class="icon icon-pencil5" href="/admission/undergraduate/applynow.aspx">Undergraduate Application</a> </li>
            <li><a class="icon icon-bookmark2" href="/admission/graduate/index.aspx">Graduate Admission</a></li>
            <li><a class="icon icon-pencil5" href="/admission/graduate/applynow.aspx">Graduate Application</a></li>
            <li><a class="icon icon-calculate2" href="/admission/undergraduate/afford.aspx">Affordability</a></li>
            <li><a class="icon icon-calculate" href="/students/tuition-and-aid/financial-aid/net-cost-calculator/index.aspx">Financial Aid Calculator</a></li>
            <li><a class="icon icon-office" href="/admission/undergraduate/visit.aspx">Campus Tours</a></li>
          </ul>
        </div>
      </li>
      <li class="primary-link">
        <a>Alumni</a>
        <div class="global-nav-dropdown">
          <ul>
            <li><a class="icon icon-file-text" href="/alumni/index">Overview</a></li>
            <li><a class="icon icon-calendar4" href="/alumni/events/index.aspx">Events</a></li>
            <li><a class="icon icon-hand" href="/alumni/get-involved/index.aspx">Get Involved</a> </li>
            <li><a class="icon icon-paw" href="/campus-services/career-professional-development/index.aspx">Career Support</a></li>
          </ul>
        </div>
      </li>
      <li class="primary-link"><a>Arts</a></li>
      <li class="primary-link">
        <a>Campus Life</a>
        <div class="global-nav-dropdown">
          <ul>
            <li><a class="icon icon-file-text" href="/campus-life/index">Overview</a></li>
            <li><a class="icon icon-paw" href="http://www.chapmanathletics.com/landing/index">Athletics</a></li>
            <li><a class="icon icon-hand" href="/diversity/index.aspx">Diversity and Inclusion</a></li>
            <li><a class="icon icon-calendar4" href="https://events.chapman.edu/ ">Events</a></li>
            <li><a class="icon icon-earth" href="/about/fish-interfaith-center/index.aspx">Fish Interfaith Center</a></li>
            <li><a class="icon icon-heart3" href="/students/health-and-safety/index.aspx">Health and Safety</a></li>
            <li><a class="icon icon-home2" href="/students/services/housing-and-residence/index.aspx">Residence Life</a></li>
            <li><a class="icon icon-smiley" href="/students/life/index.aspx">Student Life</a></li>
          </ul>
        </div>
      </li>
      <li class="primary-link">
        <a>Research</a>
        <div class="global-nav-dropdown">
          <ul>
            <li><a class="icon icon-file-text" href="/research/index">Overview</a></li>
            <li><a class="icon icon-medal" href="research/sponsored-projects-services/index.aspx">Sponsored Projects Services</a></li>
            <li><a class="icon icon-clipboard5" href="research/integrity/index.aspx">Research Integrity</a></li>
            <li><a class="icon icon-library4" href="research/institutes-and-centers/index.aspx">Institutes and Centers</a></li>
            <li><a class="icon icon-lamp8" href="research/office-undergraduate-research-creative-activity/index.aspx">Center for Undergraduate Excellence</a></li>
            <li><a class="icon icon-microscope" href="research/graduate-research/index.aspx">Graduate Research Support</a></li>
          </ul>
        </div>
      </li>
      <li class="primary-link">
        <a>Support</a>
        <div class="global-nav-dropdown">
          <ul>
            <li><a class="icon icon-file-text" href="/support-chapman/index">Overview</a></li>
            <li><a class="icon icon-envelop" href="/support-chapman/contact-us.aspx">Contact Development</a></li>
            <li><a class="icon icon-hand" href="/support-chapman/get-involved.aspx">Get Involved</a></li>
            <li><a class="icon icon-cu-window" href="/support-chapman/ways-to-give/areas-to-support.aspx">Areas to Support</a></li>
            <li><a class="icon icon-paw" href="/alumni/get-involved/index.aspx">Alumni Involvement</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</div>