
<div class="off-canvas-overlay" id="js-off-canvas-overlay"></div>

<div class="off-canvas-nav-container" id="js-off-canvas-nav-container">
  <!-- OffCanvasNav Header -->
  <div class="cu-off-canvas-header">
    <div class="cu-logo-wrapper">
      <!-- This will be displayed conditionally by format in Cascade -->
      <% if @page_umbrella_category.present? %>
      <div id="umbrella-logo" class="toggle-logo">
        <a class="<%= @page_umbrella_category[2] %> off-logo" href="/" title="<%= @page_umbrella_category[4] %>">
          <!-- logo set as background image by class -->
        </a>
        <span class="close js-close-off-canvas-nav">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 512 512">
            <title>Close</title>
            <path d="M446.627 110.627l-45.254-45.254-145.373 145.372-145.373-145.372-45.254 45.253 145.373 145.374-145.373 145.373 45.254 45.254 145.373-145.373 145.373 145.373 45.254-45.255-145.372-145.372z"></path>
          </svg>
        </span>
      </div>
      <% end %>

      <div id="main-logo" class="toggle-logo">
        <a class="default off-logo" href="/" title="Chapman University Website Home Page">
          <!-- logo set as background image by class -->
          Chapman University
        </a>
        <span class="close js-close-off-canvas-nav">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 512 512">
            <title>Close</title>
            <path d="M446.627 110.627l-45.254-45.254-145.373 145.372-145.373-145.372-45.254 45.253 145.373 145.374-145.373 145.373 45.254 45.254 145.373-145.373 145.373 145.373 45.254-45.255-145.372-145.372z"></path>
          </svg>
        </span>
      </div>
    </div>
  </div>

  <!-- OffCanvasNav Menu(s) -->
  <div class="off-canvas-nav clearfix" id="js-off-canvas-nav">
    <% if @page_umbrella_category.present? %>
    <div id="off-canvas-umbrella" class="off-canvas-menu">
      <div class="menu-header">
        <span class="menu-label"><%= @page_umbrella_category[1] %></span>
        <a class="toggle-menu-label" href="#">Main Menu &gt;</a>
      </div>
      <ul>
        <li>
          <a>About this School</a>
          <span class="toggle">
            <span>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                <title>Toggle</title>
                <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
              </svg>
            </span>
          </span>
          <ul>
            <li><a href="#">Shish</a></li>
            <li><a href="#">Koom</a></li>
            <li><a href="#">Bah</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Meet the Dean</a>
        </li>
        <li>
          <a>Student Resources</a>
          <span class="toggle">
            <span>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                <title>Toggle</title>
                <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
              </svg>
            </span>
          </span>
          <ul>
            <li><a href="#">Academic Affairs</a></li>
            <li><a href="#">Graduation</a></li>
            <li><a href="#">Organizations</a></li>
          </ul>
        </li>
      </ul>

    </div>
    <% end %>

    <div id="off-canvas-main" class="off-canvas-menu">
      <div class="menu-header">
        <span class="menu-label">Main Menu</span>
        <% if @page_umbrella_category.present? %>
        <a class="toggle-menu-label" href="#">&lt; <%= @page_umbrella_category[1] %> Menu</a>
        <% end %>
      </div>

      <ul>
        <li>
          <a>About</a>
          <span class="toggle">
            <span>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                <title>Toggle</title>
                <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
              </svg>
            </span>
          </span>
          <ul>
            <li><a href="#">Maps &amp; Directions</a></li>
            <li><a href="#">Visit Chapman</a></li>
            <li><a href="#">Discover Chapman</a></li>
            <li><a href="#">Our Campus</a></li>
          </ul>
        </li>
        <li>
          <a>Academics</a>
          <span class="toggle">
            <span>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                <title>Toggle</title>
                <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
              </svg>
            </span>
          </span>
          <ul>
            <li><a href="#">Foo</a></li>
            <li><a href="#">Bar</a></li>
          </ul>
        </li>
        <li>
          <a>Admission</a>
          <span class="toggle">
            <span>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                <title>Toggle</title>
                <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
              </svg>
            </span>
          </span>
          <ul>
            <li><a href="#">Foo</a></li>
            <li><a href="#">Bar</a></li>
          </ul>
        </li>
        <li>
          <a>Alumni</a>
          <span class="toggle">
            <span>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                <title>Toggle</title>
                <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
              </svg>
            </span>
          </span>
          <ul>
            <li><a href="#">Events</a></li>
            <li><a href="#">Get Involved</a></li>
            <li><a href="#">Career Support</a></li>
          </ul>
        </li>
        <li>
          <a>Arts</a>
        </li>
        <li>
          <a>Campus Life</a>
          <span class="toggle">
            <span>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                <title>Toggle</title>
                <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
              </svg>
            </span>
          </span>
          <ul>
            <li><a href="#">Foo</a></li>
            <li><a href="#">Bar</a></li>
          </ul>
        </li>
        <li>
          <a>Research</a>
        </li>
        <li>
          <a>Support</a>
          <span class="toggle">
            <span>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                <title>Toggle</title>
                <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
              </svg>
            </span>
          </span>
          <ul>
            <li><a href="#">Foo</a></li>
            <li><a href="#">Bar</a></li>
          </ul>
        </li>
      </ul>

      <div class="off-canvas-utility">
        <ul>
          <li>
            <a>Find information for...</a>
            <span class="toggle">
              <span>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                  <title>Toggle</title>
                  <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
                </svg>
              </span>
            </span>
            <ul>
                <li><a href="#">Prospective Students</a></li>
                <li><a href="#">Current Students</a></li>
                <li><a href="#">Alumni</a></li>
                <li><a href="#">Faculty &amp; Staff</a></li>
                <li><a href="#">Parents &amp; Families</a></li>
              </ul>
          </li>
          <li>
            <a href="#">Degrees &amp; Programs</a>
          </li>
          <li>
            <a>Maps &amp; Directories</a>
            <span class="toggle">
              <span>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                  <title>Toggle</title>
                  <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
                </svg>
              </span>
            </span>
            <ul>
              <li><a href="#">Foo</a></li>
              <li><a href="#">Bar</a></li>
            </ul>
          </li>
          <li>
            <a href="#">News</a>
          </li>
          <li>
            <a href="#">Events</a>
          </li>
          <li>
            <a href="#">Social</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
