<header>

<%= render 'widgets/shared/omninav' %>

    <div class="main-nav-container">
        <a class="logo" href="../../index.aspx" itemscope="itemscope" itemtype="http://schema.org/Organization"><span itemprop="name">Chapman University</span></a>
        <nav class="mainNav">
            <div class="mainNavExpand"><a href="javascript:;">
                Menu <span class="arrow">&#160;</span></a>
            </div>
            
            <ul class="mainNavLinks" id="mainNavLinks">
                <li class="has-dropdown"><a class="first" href="../../about/index.aspx"><span>About</span></a>
                    <div class="subNavLinks clearfix">
                        <ul>
                            <li><a class="icon icon-location" href="../../about/maps-directions/index.aspx">Maps and Directions </a>
                            </li>
                            <li><a class="icon icon-california" href="../../about/visit-chapman/index.aspx">Visit Chapman</a>
                            </li>
                            <li><a class="icon icon-cu-window" href="../../discover/index.html">Discover Chapman</a>
                            </li>
                            <li><a class="icon icon-office" href="../../about/campus/index.aspx">Our Campus</a>
                            </li>
                            <li><a class="icon icon-library4" href="../../about/facts-history/index.aspx">Facts and History</a>
                            </li>
                            <li><a class="icon icon-cu-window" href="../../about/administration/index.aspx">Administration</a>
                            </li>
                            <li><a class="icon icon-envelop" href="../../about/contact-us.aspx">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="has-dropdown"><a href="../../academics/index.aspx"><span>Academics</span></a>
                    <div class="subNavLinks clearfix">
                        <ul>
                            <li><a class="icon icon-graduation" href="../../academics/degrees-and-programs.aspx">Degrees &amp; Programs</a>
                            </li>
                            <li><a class="icon icon-library2" href="../../academics/schools-colleges.aspx">Schools &amp; Colleges</a>
                            </li>
                            <li><a class="icon icon-calendar4" href="../../academics/academic-calendar.aspx">Academic Calendar</a>
                            </li>
                            <li><a class="icon icon-books" href="../../academics/libraries/index.aspx">Libraries</a>
                            </li>
                            <li><a class="icon icon-book2" href="../../academics/course-catalogs/index.aspx">Course Catalogs</a>
                            </li>
                            <li><a class="icon icon-earth" href="../../international-studies/index.aspx">International Study</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="has-dropdown"><a href="../../admission/index.aspx"><span>Admission</span></a>
                    <div class="subNavLinks clearfix">
                        <ul>
                            <li><a class="icon icon-bookmark" href="../../admission/undergraduate/index.aspx">Undergraduate Admission</a>
                            </li>
                            <li><a class="icon icon-pencil5" href="../../admission/undergraduate/applynow.aspx">Undergraduate Application</a>
                            </li>
                            <li><a class="icon icon-bookmark2" href="../../admission/graduate/index.aspx">Graduate Admission</a>
                            </li>
                            <li><a class="icon icon-pencil5" href="../../admission/graduate/applynow.aspx">Graduate Application</a>
                            </li>
                            <li><a class="icon icon-calculate2" href="../../admission/undergraduate/afford.aspx">Affordability</a>
                            </li>
                            <li><a class="icon icon-calculate" href="../../students/tuition-and-aid/financial-aid/net-cost-calculator/index.aspx">Financial Aid Calculator</a>
                            </li>
                            <li><a class="icon icon-office" href="../../admission/undergraduate/visit.aspx">Campus Tours</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a href="../../arts/index.aspx"><span>Arts</span></a>
                </li>
                
                <li class="has-dropdown"><a href="../../campus-life/index.aspx"><span>Campus Life</span></a>
                    <div class="subNavLinks clearfix">
                        <ul>
                            <li><a class="icon icon-paw" href="http://www.chapmanathletics.com/landing/index">Athletics</a></li>
                            <li><a class="icon icon-hand" href="../../diversity/index.aspx">Diversity and Inclusion</a></li>
                            <li><a class="icon icon-calendar4" href="https://events.chapman.edu/ ">Events</a></li>
                            <li><a class="icon icon-earth" href="../../about/fish-interfaith-center/index.aspx">Fish Interfaith Center</a></li>
                            <li><a class="icon icon-heart3" href="../../students/health-and-safety/index.aspx">Health and Safety</a></li>
                            <li><a class="icon icon-home2" href="../../students/services/housing-and-residence/index.aspx">Residence Life</a></li>
                            <li><a class="icon icon-smiley" href="../../students/life/index.aspx">Student Life</a></li>
                        </ul>
                    </div>
                </li>                
                
                </li>
                <li class="has-dropdown"><a href="../../research/index.aspx"><span>Research</span></a>
                	<div class="subNavLinks last clearfix">
                        <ul>
                            <li><a class="icon icon-certificate" href="../../research/pre-award/index.aspx">Pre-Award Administration</a></li>
                            <li><a class="icon icon-medal" href="../../research/post-award/index.aspx">Post-Award Administration</a></li>
                            <li><a class="icon icon-clipboard5" href="../../research/integrity/index.aspx">Research Integrity</a></li>
                            <li><a class="icon icon-library4" href="../../research/institutes-and-centers/index.aspx">Institutes and Centers</a></li>
                            <li><a class="icon icon-lamp8" href="../../research/office-undergraduate-research-creative-activity/index.aspx">Undergraduate Research and Creative Activity</a></li>
                            <li><a class="icon icon-microscope" href="../../research/graduate-research/index.aspx">Graduate Research Support</a></li>
                        </ul>
                    </div>
                </li>
                <li class="has-dropdown"><a href="../../support-chapman/index.aspx"><span>Support</span></a>
                    <div class="subNavLinks last clearfix">
                        <ul>
                            <li><a class="icon icon-envelop" href="../../support-chapman/contact-us.aspx">Contact Development</a>
                            </li>
                            <li><a class="icon icon-hand" href="../../support-chapman/get-involved.aspx">Get Involved</a>
                            </li>
                            <li><a class="icon icon-cu-window" href="../../support-chapman/ways-to-give/areas-to-support.aspx">Areas to Support</a>
                            </li>
                            <li><a class="icon icon-paw" href="../../alumni/index.aspx">Alumni</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="mainNavLinksAfter"> </li>
            </ul>
        </nav>
    </div>
</header>