<ul>
    
                                <li class="title t1">
                <a href="../index.aspx" target="_top" title="Academics">
                    Academics
                </a>
            </li>
            

    
            
    
                                         
        
        
    
                                         
        
        
            
                                    <li>
                
                    <a class="s-p" href="../academic-calendar.aspx" title="Academic Calendar">
                        Academic Calendar 
                    </a>
                
                </li>

            
        
    
                                         
        
            
                                    <li class="active">
                
                    <a class="s-f-idx" href="index.aspx">
                        Academic Integrity
                                            </a>
                    
                                            
    
        <ul class="leftNav-sub">

            
                
                
                                
                    
                            
                            <li>
                                <a class="c-p" href="violations.aspx" title="Academic Integrity Violations">
                                    <span class="bullet">» </span>
                                    Academic Integrity Violations 
                                </a>
                            </li>
    
                                                
                    
                
            
                
                
                                
                    
                            
                            <li>
                                <a class="c-p" href="sanctions.aspx" title="Academic Integrity Sanctions">
                                    <span class="bullet">» </span>
                                    Academic Integrity Sanctions 
                                </a>
                            </li>
    
                                                
                    
                
            
                
                
                                
                    
                            
                            <li>
                                <a class="c-p" href="information-for-faculty.aspx" title="Information for Faculty">
                                    <span class="bullet">» </span>
                                    Information for Faculty 
                                </a>
                            </li>
    
                                                
                    
                
            
                
                
                                
                    
                            
                            <li>
                                <a class="c-p" href="information-for-students.aspx" title="Information for Students">
                                    <span class="bullet">» </span>
                                    Information for Students 
                                </a>
                            </li>
    
                                                
                    
                
            
                
                
                                
                    
                
            
        </ul>
        
    
                                        
                </li>
                    
            
        
        
    
                                         
        
        
            
                                    <li>
                
                    <a class="s-p" href="../aims-of-education.aspx" title="Aims of Education">
                        Aims of Education 
                    </a>
                
                </li>

            
        
    
                                         
        
        
            
        
    
                                         
        
            
                                    <li>
                
                    <a class="s-f-idx" href="../course-catalogs/index.aspx">
                        Catalogs
                                            </a>
                    
                                        
                </li>
                    
            
        
        
    
                                         
        
        
            
                                    <li>
                
                    <a class="s-p" href="../degrees-and-programs.aspx" title="Degrees and Programs">
                        Degrees and Programs 
                    </a>
                
                </li>

            
        
    
                                         
        
            
                                    <li>
                
                    <a class="s-f-idx" href="../extended-education/index.aspx">
                        Extended Education
                                                    <span class="plus">+</span>
                                            </a>
                    
                                            
    
        <ul class="leftNav-sub">

            
                
                                
                                    
                                                
                            <li>
    
                                <a class="c-f" href="../extended-education/professional-development-opportunities/index.aspx" title="Professional Development Opportunities">
                                    <span class="bullet">» </span>
                                    Professional Development Opportunities   
                                </a>
    
                            </li>
                            
                                                
                    
                
                
            
                
                                
                                    
                                                
                            <li>
    
                                <a class="c-f" href="../extended-education/enrichment-and-extensions/index.aspx" title="Enrichment and Extensions of Current Academic Degree Programs">
                                    <span class="bullet">» </span>
                                    Enrichment and Extensions of Current Academic Degree Programs   
                                </a>
    
                            </li>
                            
                                                
                    
                
                
            
                
                                
                                    
                                                
                            <li>
    
                                <a class="c-f" href="../extended-education/community-collaborations/index.aspx" title="Community Collaborations">
                                    <span class="bullet">» </span>
                                    Community Collaborations   
                                </a>
    
                            </li>
                            
                                                
                    
                
                
            
        </ul>
        
    
                                        
                </li>
                    
            
        
        
    
                                         
        
            
                                    <li>
                
                    <a class="s-f-idx" href="../general-education/index.aspx">
                        GE Program
                                                    <span class="plus">+</span>
                                            </a>
                    
                                            
    
        <ul class="leftNav-sub">

            
                
                
                                
                    
                            
                            <li>
                                <a class="c-p" href="../general-education/first-year-planning.aspx" title="Planning Your First Year GE Courses">
                                    <span class="bullet">» </span>
                                    Planning Your First Year GE Courses 
                                </a>
                            </li>
    
                                                
                    
                
            
                
                
                                
                    
                            
                            <li>
                                <a class="c-p" href="../general-education/ffc-course-descriptions.aspx" title="First-year Foundations Courses">
                                    <span class="bullet">» </span>
                                    First-year Foundations Courses 
                                </a>
                            </li>
    
                                                
                    
                
            
                
                                
                                    
                                                
                            <li>
    
                                <a class="c-f" href="../general-education/multidisciplinary-clusters/index.aspx" title="Inter/Multidisciplinary Cluster">
                                    <span class="bullet">» </span>
                                    Inter/Multidisciplinary Cluster   
                                </a>
    
                            </li>
                            
                                                
                    
                
                
            
                
                
                                
                    
                            
                            <li>
                                <a class="c-p" href="../general-education/shared-inquiry.aspx" title="Shared Inquiry Courses">
                                    <span class="bullet">» </span>
                                    Shared Inquiry Courses 
                                </a>
                            </li>
    
                                                
                    
                
            
                
                
                                
                    
                            
                            <li>
                                <a class="c-p" href="../general-education/global-citizen.aspx" title="Global Citizen Cluster">
                                    <span class="bullet">» </span>
                                    Global Citizen Cluster 
                                </a>
                            </li>
    
                                                
                    
                
            
        </ul>
        
    
                                        
                </li>
                    
            
        
        
    
                                         
        
            
                                    <li>
                
                    <a class="s-f-idx" href="../learning-at-chapman/index.aspx">
                        Learning At Chapman
                                                    <span class="plus">+</span>
                                            </a>
                    
                                            
    
        <ul class="leftNav-sub">

            
                
                                
                                    
                                                
                            <li>
    
                                <a class="c-f" href="../learning-at-chapman/program-review/index.aspx" title="Program Review">
                                    <span class="bullet">» </span>
                                    Program Review   
                                </a>
    
                            </li>
                            
                                                
                    
                
                
            
                
                                
                                    
                                                
                            <li>
    
                                <a class="c-f" href="../learning-at-chapman/assessment/index.aspx" title="Assessment">
                                    <span class="bullet">» </span>
                                    Assessment   
                                </a>
    
                            </li>
                            
                                                
                    
                
                
            
                
                                
                                    
                                                
                            <li>
    
                                <a class="c-f" href="../learning-at-chapman/general-education-outcomes/index.aspx" title="General Education Outcomes">
                                    <span class="bullet">» </span>
                                    General Education Outcomes   
                                </a>
    
                            </li>
                            
                                                
                    
                
                
            
                
                
                                
                    
                
            
                
                
                                
                    
                
            
                
                                
                                    
                                                
                            <li>
    
                                <a class="c-f" href="../learning-at-chapman/experiential-learning/index.aspx" title="Experiential Learning">
                                    <span class="bullet">» </span>
                                    Experiential Learning   
                                </a>
    
                            </li>
                            
                                                
                    
                
                
            
        </ul>
        
    
                                        
                </li>
                    
            
        
        
    
                                         
        
            
                                    <li>
                
                    <a class="s-f-idx" href="../libraries/index.aspx">
                        Libraries
                                            </a>
                    
                                        
                </li>
                    
            
        
        
    
                                         
        
        
            
                                    <li>
                
                    <a class="s-p" href="../schools-colleges.aspx" title="Schools and Colleges">
                        Schools and Colleges 
                    </a>
                
                </li>

            
        
    
                                         
        
            
                                    <li>
                
                    <a class="s-f-idx" href="../summer-session/index.aspx">
                        Summer Session
                                                    <span class="plus">+</span>
                                            </a>
                    
                                            
    
        <ul class="leftNav-sub">

            
                
                
                                
                    
                            
                            <li>
                                <a class="c-p" href="../summer-session/how-to-register.aspx" title="How to Register">
                                    <span class="bullet">» </span>
                                    How to Register 
                                </a>
                            </li>
    
                                                
                    
                
            
                
                
                                
                    
                            
                            <li>
                                <a class="c-p" href="../summer-session/summer-faqs.aspx" title="Summer FAQs">
                                    <span class="bullet">» </span>
                                    Summer FAQs 
                                </a>
                            </li>
    
                                                
                    
                
            
                
                
                                
                    
                            
                            <li>
                                <a class="c-p" href="../summer-session/who-should-enroll.aspx" title="Who Should Enroll">
                                    <span class="bullet">» </span>
                                    Who Should Enroll 
                                </a>
                            </li>
    
                                                
                    
                
            
        </ul>
        
    
                                        
                </li>
                    
            
        
        
    
                                         
        
            
                                    <li>
                
                    <a class="s-f-idx" href="../honors/index.aspx">
                        University Honors Program
                                                    <span class="plus">+</span>
                                            </a>
                    
                                            
    
        <ul class="leftNav-sub">

            
                
                                
                                    
                                                
                            <li>
    
                                <a class="c-f" href="../honors/prospective-students/index.aspx" title="Prospective Students">
                                    <span class="bullet">» </span>
                                    Prospective Students   
                                </a>
    
                            </li>
                            
                                                
                    
                
                
            
                
                
                                
                    
                            
                            <li>
                                <a class="c-p" href="../honors/new-student-information.aspx" title="Admitted Student Information 2016-2017">
                                    <span class="bullet">» </span>
                                    Admitted Student Information 2016-2017 
                                </a>
                            </li>
    
                                                
                    
                
            
                
                
                                
                    
                            
                            <li>
                                <a class="c-p" href="../honors/current-students.aspx" title="Current Students ">
                                    <span class="bullet">» </span>
                                    Current Students  
                                </a>
                            </li>
    
                                                
                    
                
            
                
                                
                                    
                                                
                            <li>
    
                                <a class="c-f" href="../honors/courses/index.aspx" title="Honors Courses">
                                    <span class="bullet">» </span>
                                    Honors Courses   
                                </a>
    
                            </li>
                            
                                                
                    
                
                
            
                
                                
                                    
                                                
                            <li>
    
                                <a class="c-f" href="../honors/activities-events/index.aspx" title="Activities and Events">
                                    <span class="bullet">» </span>
                                    Activities and Events   
                                </a>
    
                            </li>
                            
                                                
                    
                
                
            
                
                                
                                    
                                                
                            <li>
    
                                <a class="c-f" href="../honors/achievements/index.aspx" title="The Honors Legacy">
                                    <span class="bullet">» </span>
                                    The Honors Legacy   
                                </a>
    
                            </li>
                            
                                                
                    
                
                
            
                
                                
                    
                
                
            
                
                                
                                    
                                                
                            <li>
    
                                <a class="c-f" href="../honors/contact-us/index.aspx" title="Contact Us">
                                    <span class="bullet">» </span>
                                    Contact Us   
                                </a>
    
                            </li>
                            
                                                
                    
                
                
            
                
                                
                                    
                                                
                            <li>
    
                                <a class="c-f" href="../honors/academic-resources/index.aspx" title="Academic Forms and Resources">
                                    <span class="bullet">» </span>
                                    Academic Forms and Resources   
                                </a>
    
                            </li>
                            
                                                
                    
                
                
            
        </ul>
        
    
                                        
                </li>
                    
            
        
        
    
                                         
        
        
            
                                    <li>
                
                    <a class="s-p" href="../war-and-peace.aspx" title="War and Peace">
                        War and Peace 
                    </a>
                
                </li>

            
        
    

    
</ul>