<ul>
        <li class="title"><a href="index.aspx">Academics</a></li>

                                
                                                        <li><a href="academic-calendar.aspx">Academic Calendar</a></li>
                                                        
                                    <li>
                                                <a href="academic-integrity/index.aspx">Academic Integrity<span class="plus">+</span></a>
                                                                                                                                                                                                                                                                 <ul class="leftNav-sub">
                                        <li>
                                                                        <a href="academic-integrity/violations.aspx"><span class="bullet">» </span>Academic Integrity Violations</a>
                                                                                                                                                                                                                                         <a href="academic-integrity/sanctions.aspx"><span class="bullet">» </span>Academic Integrity Sanctions</a>
                                                                                                                                                                                                                                         <a href="academic-integrity/information-for-faculty.aspx"><span class="bullet">» </span>Information for Faculty</a>
                                                                                                                                                                                                                                         <a href="academic-integrity/information-for-students.aspx"><span class="bullet">» </span>Information for Students</a>
                                                                                                                                                                                                                                                                                                                </li>
                            </ul>
                                                </li>
                                                        
                                                        <li><a href="aims-of-education.aspx">Aims of Education</a></li>
                                                                                            
                                    <li>
                                                <a href="course-catalogs/index.aspx">Catalogs<span class="plus">+</span></a>
                                                                                                                                                            </li>
                                                        
                                                        <li><a href="degrees-and-programs.aspx">Degrees and Programs</a></li>
                                                        
                                    <li>
                                                <a href="extended-education/index.aspx">Extended Education Opportunities<span class="plus">+</span></a>
                                                                                                                                                                                                                                                                 <ul class="leftNav-sub">
                                        <li>
                                                                        <a href="extended-education/professional-development-opportunities/index.aspx"><span class="bullet">» </span>Professional Development Opportunities</a>
                                                                                                                                                                                                                                         <a href="extended-education/enrichment-and-extensions/index.aspx"><span class="bullet">» </span>Enrichment and Extensions</a>
                                                                                                                                                                                                                                         <a href="extended-education/community-collaborations/index.aspx"><span class="bullet">» </span>Community Collaborations</a>
                                                                                                                                                </li>
                            </ul>
                                                </li>
                                                        
                                    <li>
                                                <a href="general-education/index.aspx">GE Program<span class="plus">+</span></a>
                                                                                                                                                                                                                                                                 <ul class="leftNav-sub">
                                        <li>
                                                                        <a href="general-education/first-year-planning.aspx"><span class="bullet">» </span>Planning Your First Year GE Courses</a>
                                                                                                                                                                                                                                         <a href="general-education/ffc-course-descriptions.aspx"><span class="bullet">» </span>First-year Foundations Courses</a>
                                                                                                                                                                                                                                         <a href="general-education/multidisciplinary-clusters/index.aspx"><span class="bullet">» </span>Inter/Multidisciplinary Cluster</a>
                                                                                                                                                                                                                                         <a href="general-education/shared-inquiry.aspx"><span class="bullet">» </span>Shared Inquiry Courses</a>
                                                                                                                                                                                                                                         <a href="general-education/global-citizen.aspx"><span class="bullet">» </span>Global Citizen Cluster</a>
                                                                                                                                                </li>
                            </ul>
                                                </li>
                                                        
                                    <li>
                                                <a href="learning-at-chapman/index.aspx">Learning at Chapman<span class="plus">+</span></a>
                                                                                                                                                                                                                                                                 <ul class="leftNav-sub">
                                        <li>
                                                                        <a href="learning-at-chapman/program-review/index.aspx"><span class="bullet">» </span>Program Review</a>
                                                                                                                                                                                                                                         <a href="learning-at-chapman/assessment/index.aspx"><span class="bullet">» </span>Learning Outcomes Assessment </a>
                                                                                                                                                                                                                                         <a href="learning-at-chapman/general-education-outcomes/index.aspx"><span class="bullet">» </span>General Education Outcomes</a>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         <a href="learning-at-chapman/experiential-learning/index.aspx"><span class="bullet">» </span>Experiential Learning</a>
                                                                                                                                                </li>
                            </ul>
                                                </li>
                                                        
                                    <li>
                                                <a href="libraries/index.aspx">Libraries<span class="plus">+</span></a>
                                                                                                                                                            </li>
                                                        
                                                        <li><a href="schools-colleges.aspx">Schools and Colleges</a></li>
                                                        
                                    <li>
                                                <a href="summer-session/index.aspx">Summer Session<span class="plus">+</span></a>
                                                                                                                                                                                                                                                                 <ul class="leftNav-sub">
                                        <li>
                                                                        <a href="summer-session/how-to-register.aspx"><span class="bullet">» </span>How to Register</a>
                                                                                                                                                                                                                                         <a href="summer-session/summer-faqs.aspx"><span class="bullet">» </span>Summer FAQs</a>
                                                                                                                                                                                                                                         <a href="summer-session/who-should-enroll.aspx"><span class="bullet">» </span>Who Should Enroll</a>
                                                                                                                                                </li>
                            </ul>
                                                </li>
                                                        
                                    <li>
                                                <a href="honors/index.aspx">University Honors Program<span class="plus">+</span></a>
                                                                                                                                                                                                                                                                 <ul class="leftNav-sub">
                                        <li>
                                                                        <a href="honors/prospective-students/index.aspx"><span class="bullet">» </span>Prospective Students</a>
                                                                                                                                                                                                                                         <a href="honors/new-student-information.aspx"><span class="bullet">» </span>Admitted Student Information 2016-2017</a>
                                                                                                                                                                                                                                         <a href="honors/current-students.aspx"><span class="bullet">» </span>Current Students </a>
                                                                                                                                                                                                                                         <a href="honors/courses/index.aspx"><span class="bullet">» </span>Honors Courses</a>
                                                                                                                                                                                                                                         <a href="honors/activities-events/index.aspx"><span class="bullet">» </span>Activities and Events</a>
                                                                                                                                                                                                                                         <a href="honors/achievements/index.aspx"><span class="bullet">» </span>Honors Achievements</a>
                                                                                                                                                                                                                                                                                                                                                                                                         <a href="honors/contact-us/index.aspx"><span class="bullet">» </span>Contact Us</a>
                                                                                                                                                                                                                                         <a href="honors/academic-resources/index.aspx"><span class="bullet">» </span>Academic Forms and Resources</a>
                                                                                                                                                </li>
                            </ul>
                                                </li>
                                                        
                                                        <li><a href="war-and-peace.aspx">War and Peace</a></li>
</ul>
