.miniRotatorNav {
  position: relative;
  top: 0;
  left: auto;
  z-index: 1000;
  display: block;

  a {
    position: absolute;
    height: 56px;
    width: 43px;
    color: $white;
    top: -176px;
    cursor: pointer;
    background-image: image-url('gray_arrows.png');
    background-repeat: no-repeat;

    &.disabled {
      opacity: .4;
      filter: alpha(opacity = 40);
    }
  }

  .prev {
    background-position: left center;
    left: 0;
  }

  .next {
    background-position: right center;
    right: 0;
  }
}

.miniRotator {
  position: relative;
  overflow: hidden;
  height: 285px;
  padding: 0;
  margin: 0;
  list-style: none;

  &.oldie .inner {
		word-break: break-all;
  }

  ul {
    width: 20000em;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    max-width: 266px;
    padding: 0;
    margin: 0 21px 0 0;
    list-style: none;
    float: left;
    overflow: hidden;

    .no-js & {
      margin: 0 15px 0 0; // Prevents 4th item from overflowing to next line
    }

    img {
      position: relative;
      z-index: 1;
    }

    .item {
      display: block;
      height: 285px;
      position: relative;
      background: #a82439;
    }
  }

  .caption {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background: #a82439;
    top: 220px;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-delay: 0.8s;
    -moz-transition-delay: 0.8s;
    -ms-transition-delay: 0.8s;
    transition-delay: 0.8s;
    z-index: 10;
    height: 100%;
    max-height: 215px;
    width: 100%;
    word-break: break-word;

    &:before {
      display: block;
      content: '';
      background-repeat: no-repeat;
      background-position: center top;
      position: absolute;
      width: 100%;
      height: 16px;
      top: -16px;
      left: 0;
      z-index: 9;
      opacity: 1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      transition: all 0.3s;
    }
  }

  .item {
  	.inner {
	    position: absolute;
	    padding: 10px 25px 15px 25px;
	    left: 0;
	    top: 0;
	    -webkit-transition: all 0.8s;
	    -moz-transition: all 0.8s;
	    -ms-transition: all 0.8s;
	    transition: all 0.8s;
	    -webkit-transition-delay: 0s;
	    -moz-transition-delay: 0s;
	    -ms-transition-delay: 0s;
	    transition-delay: 0s;
	    transition-delay: 0s;
	    word-break: break-all;
	  }

	  .caption:hover {
	  	top: 50px;
		  -webkit-transition-delay: 0s;
		  -moz-transition-delay: 0s;
		  transition-delay: 0s;

	  	&:before {
		    opacity: 0;
		  }

		  .inner {
		    position: absolute;
		  }

		  .button {
		    opacity: 1;
		    -webkit-transition-delay: 0.5s;
		  }

		  .copy {
		    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		    filter: alpha(opacity = 100);
		    opacity: 1;
		    -webkit-transition-delay: 0.2s;
		  }
	  }
  }

  .copy {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity = 0);
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
    font-size: 13px;
    margin: 10px 0 0 0;
    line-height: 1.5;
    word-break: normal;
    word-wrap: break-word;
  }

  .button {
    opacity: 0;
    -webkit-transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    -ms-transition: opacity 0.8s;
    transition: opacity 0.8s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    background-color: $white;
    font-weight: 600;
    color: #830c28;
    float: left;
    padding: 5px 10px 5px 10px;
    margin-top: 15px;
  }

  .title {
    font-family: $font-stack-heading;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: -3px;
    word-wrap: break-word;
    word-break: normal;
  }
}

.miniRotatorContainer {
  width: 266px;
  max-width: 1130px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 100;

  @include bp(wildcard-min, 600px) {
  	width: 533px;
  }
  @include bp(wildcard-min, 880px) {
  	width: 840px;
  }
  @include bp(wildcard-min, 1160px) {
  	width: 100%;
  }
}

.rotatorContainer .slide {
  max-height: 440px;
  min-height: 240px !important;
  padding-bottom: 15px;

  @include bp(wildcard-min, 786px) {
  	height: auto !important;
    min-height: 340px !important;
    padding-bottom: 0;
  }
}

.oldie.miniRotator .inner{
  word-break: break-all;
}
