/*
 * Branded v201611
 */
.masthead-branded-v201611 {
  width: 100%;

  .grid {
    max-width: 1130px;
    margin: 0 auto;

    @include media($medium-screen) { display: table; }

    .column {
      position: relative;

      @include media($medium-screen) {
        display: table-cell;
      }

      &.image {
        @include media($medium-screen) {
          width: 70%;
        }

        img {
          display: block;
          width: 100%;
          height: auto;

          @include media($medium-screen) { max-height: 280px; }

          @include media($large-screen) { max-height: 400px; }
        }

        div.photo-by {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 16px;
          font-size: 16px;
          color: $white;
          background-color: rgba(56,56,56,0.70);
        }
      }

      &.header {
        width: 100%;
        color: $white;

        @include media($medium-screen) {
          vertical-align: bottom;
          width: 30%;
        }

        h2 {
          padding: 36px 22px;
          margin: 0;
          font-family: $font-stack-heading;
          font-size: 22px;
          line-height: 30px;

          @include media($medium-screen) { padding: 32px; }

          @include media($large-screen) {
            font-size: 36px;
            line-height: 44px;
          }
        }
      }
    }
  }
}
