.brochure-masthead {
  position: relative;

  &, .cd-hero-slider {
    background-color: $bg-light-gray;
    height: 300px;
    width: 100%;

    @include media($medium-screen) { height: 400px; }
    @include media($large-screen)  { height: 600px; }
  }

  /* only display slide controls when hovering on masthead on medium+ screen */
  @include media($medium-screen) {
    .slider-controls { display: none; }
    &:hover{ .slider-controls { display: block; } }
  }

  .foreground-content {
    position: absolute;
    left: 0; right: 0; bottom: 30px;
    text-align: center;
    z-index: 666;

    @include media($medium-screen) { bottom: 44px; }
    @include media($large-screen) { bottom: 60px; }
  }

  .slider-controls {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 50px;
    width: 100%;
    margin: auto;
    z-index: 666;

    .control {
      display: inline-block;
      width: 50px;
      height: 50px;
      text-align: center;
      background-color: white;
      opacity: .8;
      cursor: pointer;

      &.left { float: left; }
      &.right { float: right; }

      a {
        font-size: 80px;
        line-height: 40px;
        color: $black;
      }
    }
  }

  .headline-container {
    margin-bottom: 8px;

    @include media($large-screen) { margin-bottom: 16px; }

    .headline {
      font-size: 32px;
      line-height: 32px;
      margin: 0;
      color: white;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.3);

      @include media($large-screen)  {
        font-size: 48px;
        line-height: 48px;
      }

      &.primary {
        font-weight: 800;
        text-transform: uppercase;
      }

      &.secondary { font-weight: 100; }
    }
  }

  .offcanvas-menu-trigger a{
    display: inline-block;
    border: 2px solid white;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: $black;
    }
  }

  .background-content {
    .slider-wrapper {
      position: absolute;
      top: 0; left: 0; bottom: 0;
      width: 100%;
      height: 100%;
    }

    .cd-hero-slider {
      list-style-type: none;

      li, .background-image {
        width: 100%;
        height: 100%;
        margin: 0;
      }

      .background-image {
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .background-video-wrapper {
      background-color: $bg-light-gray;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      display: block;
      width: 100%;
      height: auto;
      overflow: hidden;
    }

    .gradient-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgba(0,0,0,0.6) 0%, transparent 100%);
    }
  }
}