html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-size: 12px;
  height: 100%;
  margin: 0;
  padding: 0;

	.label {
		//background: rgba(255, 255, 255, 0.75);
		//padding: 5px;
		//width: 120px;
	}

  .virtualTour {
    height: 100%;

    .row {
      overflow: hidden;
    }
  }

  .container-fluid {
	  // overflow-y: hidden;
    overflow: hidden;
	  position: relative;
  }

	.container-fluid,
	.row,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12 {
		height: 100%;
	}
}

.container {
  height: 100%;
}

h2 {
  /*font-family: "Open Sans";*/
  // font-weight: 400;
  // text-transform: uppercase;
  // line-height: 1em;
  // padding: 0;
  // margin: 0;
  a {
    text-decoration: none;
  }
}

// .virtualTour-wrapper {
//   padding-right: 18px;
//   padding-left: 18px;
// }

.oldie .virtualTour-mainNavigationItem {
  border: 1px solid $mediumGray;
}


.virtualTour-dumbbell:before {
  background: #55c4eb;
}
.virtualTour-library2:before {
  background: #d2001d;
}
.virtualTour-users:before {
  background: #ee7318;
}
.virtualTour-food3:before {
  background: #07429d;
}
.virtualTour-mic3:before {
  background: #a3a3a3;
}
.virtualTour-lab3:before {
  background: #b2156e;
}
.virtualTour-car:before {
  background: #14a99b;
}
.virtualTour-steps:before {
  background: #c18d61;
}
.virtualTour-camera:before {
  background: #fe94a2;
}
.virtualTour-tree:before {
  background: #aa1dbb;
}
.virtualTour-bed:before {
  background: #707070;
}
.virtualTour-graduation:before {
  background: #1d9114;
}
.virtualTour-star3:before {
  background: #ffd028;
}
.virtualTour-bus:before {
  background: #6a1c89;
}
.virtualTour-accessibility2:before {
  background: #018be4;
}
.virtualTour-aid:before {
  background: #fd338f;
}
.virtualTour-coin:before {
  background: #a2dc35;
}
.virtualTour-toilets_unisex:before {
  background: $black;
}


@media only screen and (min-width: 768px) {
  // #container {
  //   overflow: hidden;
  // }

  .issues {
    display: block;
  }

  #feedbackButton {
    display: block;
    background: $primary-color;
    width:100px;
    padding:5px 10px;
    color: $white;
    text-decoration: none;
    /*font-family: "Open Sans", "rooney-sans", Arial, Sans-serif;*/
    position: fixed;
    bottom:25px;
    right:0px;
    z-index: 1000;
  }

  /** IE8 adjustments */
  body.oldie label.virtualTour-categoryCheckboxLabel {
    display: none;
  }
  body.oldie .virtualTour-categoryCheckbox {
    position: absolute;
    top: 10px;
    left: 5px;
    display: block;
  }
  body.oldie .virtualTour-subCategory .virtualTour-categoryCheckbox {
    top: 5px;
    left: 20px;
  }
  .infoBox, .infoBox .content {
    // width: auto !important; // To override Google's CSS
    max-width: 15.625rem !important; // To override Google's CSS
  }
  .infoBox .content {
    background: $white;
    background: $white-to-grey-gradient;
    border: 1px solid $color-row-border;
    // background: #f9f9f9;
    // @include background-image(90deg, rgb(223, 223, 223) 10%, rgb(249, 249, 249) 30%);
    // background-image: linear-gradient(0deg, rgb(223, 223, 223) 10%, rgb(255, 255, 255) 70%);
    // border-top: 1px solid #fff;
    // border-right: 2px solid #fff;
    // border-bottom: 2px solid #fff;
    // border-left: 2px solid #fff;
    /*font-family: "Open Sans";*/
    /*font-weight: 600;*/
    font-family: $font-stack-body;
    font-size: 14px;
    // font-weight: 600;
    color: $black;
    @include vendorize(box-sizing, border-box);
    padding: 9px;
    min-height: 40px;
    position: relative;
    // @include vendorize(box-shadow, 1px 1px 10px rgba(0, 0, 0, 0.75));
  }
  .infoBox .content:after, .infoBox .content:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .infoBox .content:after {
    border-color: rgba(249, 249, 249, 0);
    border-right-color: #f9f9f9;
    border-width: 10px;
    /*top: 50%;
    */
    top: 18px;
    margin-top: -10px;
  }
  .infoBox .content:before {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 13px;
    /*top: 50%;*/
    top: 18px;
    margin-top: -13px;
  }

}

@media print {
  body, html {
    width: 100%;
    /*height: 95%;
    */
    height: 700px;
    margin: 0 auto;
  }
  #virtualTour-mainColumn {
    display: none;
  }
  #virtualTour-mapColumn {
    position: relative;
    display: block;
    margin-top: 20px;
    width: 700px;
    height: 700px;
  }
	#streetViewCanvas,
  #virtualTour-mapCanvas {
    width: 100%;
    height: 100%;
  }
  #printButton {
    display: none;
  }
  .label {
    background: rgba(255, 255, 255, 0.75);
    padding: 5px;
    width: 120px;
    text-align: center;
  }
}

img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
  max-width: none;
}
