@import "chapman-web-components";

html, body {
  background: $green;
  height: 100%;
}

h1,h2,h3,h4,h5,h6,p,ol,ul,li {
  color: white;
  line-height: normal;
}

a, a:link, a:active, a:visited {
  color: $yellow;
  text-decoration: underline;
}

code {
  background: $cool-gray;
  color: $black;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 75%;
  line-height: normal;
}

.copy-code {
  display: block;
  width: 100%;
  content: border-box;
  padding: 10px;
  border: none;
  background: $black;
  color: $gray-mist;
  font-weight: bold;
  height: 300px;
  border-radius: 3px;
  font-family: monospace;

}

.content {
  font-size: 180%;
}

.page-content {
  padding-top: 80px;
}

.page-title {
  font-size: 72px;
  margin-bottom: 80px;
}

.page-description {
  padding: 30px 0;
  background: rgba(red($black), green($black), blue($black), 0.8);
  box-shadow: inset 0px 4px 4px -2px $black, inset 0px -4px 4px -2px $black;
}

.navigation {
  margin-top: 80px;
  text-align: center;
}

.template-options {
  list-style-type: none;
  margin: 100px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.template-option {
  margin: 0;
  padding: 0;
  display: inline-block;

  img {
    width: 300px;
  }
}

.template-title {
  color: $yellow;
  text-decoration: none;
}

/* Random Page Index
---------------------------------------- */

.random-page {
  padding: 30px 0;
  p { font-size: 75%; }
}

.random-page--layout {
  margin: 0 0 10px 0;
}

.random-page--config {
  display: flex;
  justify-content: space-between;
  /* The smallest screen*/ flex-flow: column nowrap; 
  @include breakpoint(m) { flex-flow: row nowrap; }
  background: rgba(0,0,0,0.15);
  border-radius: 3px;
  padding: 10px;

  strong { text-decoration: underline; }

  p {
    margin: 10px;
    font-size: 75%;
    @include breakpoint(m) { width: 25%;  }
  }
}


