$palettes: map-merge($palettes, (
    'dap-discover-form': (
        'core': $black,
        'background': $white
    )
));

.dap-discover-form {
	padding: rem-calc(35 0 30);

	.filter-types {
		display: none;

		.row {
			padding: rem-calc(45 0 25);
		}

	}

}
