$palettes: map-merge($palettes, (
    'dap-discover-form': (
        'core': $black,
        'background': $white
    )
));

.dap-discover-form {

	@include breakpoint(medium) {
		padding: rem-calc(35 0 20);
	}

	.filter-types {
		display: none;

		.row {
			padding: rem-calc(45 0 25);
		}

	}

}
