$palettes: map-merge($palettes, (
    'dap-form': (
        'core': $black,
        'background': $white
    )
));

.dap-form {
	color: $white;
	background-color: $mine-shaft;
	padding: rem-calc(0 10);

	@include breakpoint(medium) {
		padding: rem-calc(0 4);
	}

	@include breakpoint(xlarge) {
		padding: 0;
	}

	fieldset > .row {
		margin-bottom: rem-calc(20);

		&:last-child {
			margin-bottom: 0;
		}

	}

	.field-container {
		position: relative;
		margin: rem-calc(0 0 20);
	}

	form {

		.subsection-heading {
			font-size: rem-calc(18);
			font-weight: 700;
			border-bottom: $transparent-white-border;
			padding: rem-calc(0 0 12);
			margin: rem-calc(0 0 20);
		}

	}

	.filter-types {

		.large-5 {

			&:first-child {
				
				@include breakpoint(large) {
					width: 44%;
				}

			}

			&:last-child {

				@include breakpoint(large) {
					width: 44%;
				}

			}

		}

		.large-2 {

			@include breakpoint(large) {
				width: 12%;
			}

		}

	}

	.program-type {
		background-color: transparent;
		padding: 0;
		text-align: center;
		display: block;
		position: relative;

		input {
			display: none;

			&:checked ~ .inner {
				background-color: $paprika;
				border: 1px solid transparent;

				svg {
					opacity: 1;
					width: rem-calc(30);
				}

			}

		}

		.inner {
			background-color: transparent;
			border: $transparent-white-border;
			width: 100%;
			height: 100%;
			transition: background-color $transition-time, border-color $transition-time;
		}

		svg,
		span {
			vertical-align: middle;
			display: inline-block;
		}

		svg {
			overflow: hidden;
			opacity: 0;
			width: 0;
			transition: width $transition-time, opacity $transition-time;
		}

		span {
			line-height: inherit;
		}

	}

	.or-separator {
		position: relative;
		margin: rem-calc(0 0 20);

		span {
			text-transform: uppercase;
			line-height: $input-height/2;
			font-weight: 700;
			font-size: rem-calc(21);
			text-align: center;
			letter-spacing: 1px;
			display: block;

			@include breakpoint(large) {
				line-height: $input-height;
			}

		}

	}

}
