$palettes: map-merge($palettes, (
    'dap-discover-form': (
        'core': $black,
        'background': $white
    )
));

.dap-discover-form {
	padding: rem-calc(35 0 30);

	.filter-types {
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.5s;

		&.open {
			max-height: rem-calc(300);

			&.show-overflow {
				overflow: visible;
			}

		}

		.row {
			padding: rem-calc(45 0 25);
		}

	}

}
