$palettes: map-merge($palettes, (
    'dap-header': (
        'core': $black,
        'background': $white
    )
));

.dap-header {
	color: $white;
	text-align: center;

	.bigMasthead &,
	.bigMasthead.smallRotator & {
		padding: rem-calc(30 25);
		margin: 0;

		@include breakpoint(medium) {
			padding: rem-calc(75 25);
		}

	}

	h2,
	h3 {
		text-shadow: 0 0.05em 0.2em rgba($black, 0.7);
	}
	
	h2 {
		font-size: rem-calc(30);
		line-height: 1;
		margin: rem-calc(0 0 10);

		@include breakpoint(medium) {
			font-size: rem-calc(48);
		}

	}

	h3 {
		font-size: rem-calc(18);
		font-weight: 400;
		line-height: 1.125;
		margin: rem-calc(0 0 8);
	}

}

.dap-section-accordion-trigger {
	cursor: pointer;
	border-radius: 100%;
	background-color: $burgundy;
	width: rem-calc(52);
	height: rem-calc(52);
	display: block;
	margin: 0 auto;
	padding: rem-calc(9);
	transform: scale(1);
	transition: background-color $transition-time, transform $transition-time;

	&:hover {

		.no-touch &,
		.no-js & {
			transform: scale(1.1675);

			.icon {
				transform: rotateX(0deg) scale(0.8565);
			}

		}

		.no-touch .dap-section.active & {

			.icon {
				transform: rotateX(180deg) scale(0.8565);
			}

		}

	}

	.icon {
		fill: $white;
		width: 100%;
		height: 100%;
		transform: rotateX(0deg) scale(1);
		transition: fill $transition-time, transform $transition-time;
		// transform-style: preserve-3d;
	}

	.dap-section.active & {
		background-color: $white;

		.icon {
			fill: $burgundy;
			transform: rotateX(180deg);
		}

	}

}
