$palettes: map-merge($palettes, (
    'dap-undergraduate-form': (
        'core': $black,
        'background': $white
    )
));

.dap-undergraduate-form {
	padding: rem-calc(75 0 55);

	.dap-undergraduate-interests-list,
	.link-list {
		margin: rem-calc(0 0 20);

		@include breakpoint(medium) {
			column-count: 4;
			column-gap: rem-calc(20);
		}

		&.show-all {

			li {
				display: block;

				&.show-more {
					display: none;
				}

			}

		}

		li {
			margin: rem-calc(0 0 12);
			display: none;

			@include breakpoint(medium) {
				display: block;
			}
			
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(8) {
				display: block;
			}

			&.show-more {
				display: block;

				@include breakpoint(medium) {
					display: none;
				}

			}

		}

		a {
			color: $white;
			background-color: transparent;
			transition: color $transition-time, background-color $transition-time;
			display: inline-block;
			padding: rem-calc(2);

			&:hover {

				.no-touch &,
				.no-js & {
					color: $paprika;
					background-color: $white;
				}

			}

		}

		label {
			font-weight: normal;
			margin: 0;

			input {
				display: none;

				&:checked ~ span {
					color: $paprika;
					background-color: $white;
				}

			}

			span {
				color: $white;
				background-color: transparent;
				transition: color $transition-time, background-color $transition-time;
				display: inline-block;
				padding: rem-calc(2);
			}

		}

		.show-more a {
			font-weight: 700;
			text-transform: uppercase;
		}

	}

	.reset {
		color: $white;
		line-height: rem-calc(22);
		font-weight: 700;
		text-transform: uppercase;
		float: right;

		&:hover {

			.no-touch &,
			.no-js & {
				color: $silver;
			}

		}

		.icon {
			vertical-align: top;
			width: rem-calc(20);
			height: rem-calc(20);
			display: inline-block;
			margin-right: 0.25em;
		}

	}

}
