$palettes: map-merge($palettes, (
    'dap-results': (
        'core': $black,
        'background': $white
    )
));

$dap-result-breakpoint: rem-calc(600);

.dap-results {
	background-color: $white;
	padding: rem-calc(30 0);

	.column:last-child:not(:first-child),
	.columns:last-child:not(:first-child) {
		float: left;
	}

	&.grid-view {

		.result {

			@include breakpoint($dap-result-breakpoint) {
				width: 50%;
			}

			@include breakpoint(medium) {
				width: 33.33333%;
			}

			@include breakpoint(large) {
				width: 25%;
			}

			&:nth-child(2n+1) {
				
				@include breakpoint($dap-result-breakpoint) {
					clear: both;
				}

				@include breakpoint(medium) {
					clear: none;
				}

			}

			&:nth-child(3n+1) {
				
				@include breakpoint(medium) {
					clear: both;
				}

				@include breakpoint(large) {
					clear: none;
				}
			
			}

			&:nth-child(4n+1) {
				
				@include breakpoint(large) {
					clear: both;
				}
			
			}

			.result-content {
				padding-top: rem-calc(12);
			}

			.title {
				font-size: rem-calc(18);
			}
			
			.desc,
			button,
			.button {
				display: none;
			}

		}

	}

	&.list-view {

		.results-row {
			padding-left: rem-calc(10);
			padding-right: rem-calc(10);
		}

		.result {
			border-bottom: 1px solid $burgundy;
			padding: rem-calc(30 0);

			.image {
				display: none;
			}

			.active-content,
			.active-content-toggle {
				display: none;
			}

			.title {
				font-size: rem-calc(20);
			}

		}

	}

	.results-row {
		transition: height $transition-time;
	}

	.result {
		opacity: 0;
		overflow: hidden;
		padding-top: rem-calc(25);
		width: 100%;
		transition: opacity $transition-time;
		display: none;

		&.ghost {
			padding-top: 0;
			height: 2px;
		}

		&.visible,
		.no-js & {
			display: block;
		}

		&.faded-in,
		.no-js & {
			opacity: 1;
		}

		&.active {

			.active-content {
				opacity: 1;
			}

			.active-content-toggle {
				
				&:before {
					border-color: transparent;
				}

				.icon {
					transform: rotate(0deg);
				}
				
			}

		}

		.image {
			background-color: $dusty-gray; // Backup if no image
			background-size: cover;
			background-position: $image-bg-position;
			width: 100%;
			position: relative;

			&:after {
				content: '';
				display: block;
				padding-top: 72.66667%;
			}

		}

		.active-content,
		.active-content-toggle {
			position: absolute;
		}

		.active-content {
			opacity: 0;
			background-color: rgba($mexican-red, 0.9);
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			padding: rem-calc(20);
			transition: opacity $transition-time;

			.active-content-inner {
				overflow: hidden;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				max-height: 100%;
			}

			&,
			* {
				color: $white;
			}

			.desc {
				font-size: rem-calc(14);
				display: block;
				margin-top: 0;
				max-height: calc(100% - #{rem-calc(30)});
			}
			
			// scss-lint:disable ImportantRule
			a {
				font-size: rem-calc(18);
				font-weight: 700;
				display: block !important; // Overwrites plugin inline style
				margin-top: rem-calc(12);
			}
			// scss-lint:enable ImportantRule

		}

		.active-content-toggle {
			text-align: center;
			line-height: rem-calc(52);
			cursor: pointer;
			right: 0;
			bottom: 0;
			width: rem-calc(52);
			height: rem-calc(52);
			display: flex;
			align-items: center;

			&:before {
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 52px 52px;
				border-color: transparent transparent rgba($mexican-red, 0.7);
				display: block;
				position: absolute;
				right: 0;
				bottom: 0;
				transition: border-color $transition-time;
			}

			.icon {
				color: $white;
				width: 100%;
				height: rem-calc(18);
				display: block;
				transition: transform $transition-time;
				transform: rotate(45deg);
				position: relative;
				top: rem-calc(10);
				left: rem-calc(10);
			}

		}

		.result-content {

			.desc {
				max-height: 1.325em * 6;

				@include breakpoint(medium) {
					max-height: 1.325em * 4;
				}

			}

		}

		.title {
			line-height: 1.125;

			a {
				color: $burgundy;

				&:hover {
					
					// scss-lint:disable NestingDepth
					.no-touch &,
					.no-js & {
						color: $cardinal;
					}
					// scss-lint:enable NestingDepth

				}

				&:active {
					color: $paprika;
				}
				
			}

		}

		.campuses,
		.degree-types {
			margin: rem-calc(5 0 0);

			li {
				font-weight: 700;
				display: inline;

				&:after {
					content: '|';
					display: inline;
					margin: rem-calc(0 8);
				}

				&:last-child:after {
					display: none;
				}

			}

		}

		.campuses li {
			color: $dark-gray;
			font-size: rem-calc(14);
			line-height: 1.2;
		}

		.degree-types li {
			color: $boulder;
			font-size: rem-calc(16);
		}

		.desc,
		button,
		.button {
			margin: rem-calc(15 0 0);
		}

		.desc {
			font-size: rem-calc(16);
			line-height: 1.325;
		}

		button,
		.button {
			border-radius: rem-calc(3);
			font-size: rem-calc(18);
			font-weight: 700;
			width: auto;
		}

	}

	.no-results {

		p {
			font-size: rem-calc(16);
			margin: rem-calc(10 0 15);
		}
		
	}

}

.dap-results-discover {
	display: none;

	.no-js & {
		display: block;
	}

	+ .dap-form {
		background-color: $white;
		padding: 0;
	}

}
