$palettes: map-merge($palettes, (
    'dap-discover-interests': (
        'core': $black,
        'background': $white
    )
));

.dap-discover-interests {
	overflow: hidden;
	max-height: 0;
	transition: max-height 2s;

	&.open {
		max-height: rem-calc(2000);
	}

	&.lighten-background {
		background-color: lighten($mine-shaft, 10%);
		padding: rem-calc(0 10);
		margin: rem-calc(0 -10);

		@include breakpoint(medium) {
			background-color: transparent;
			padding: 0;
			margin: 0;
		}

		hr {
			display: none;

			@include breakpoint(medium) {
				display: block;
			}

		}

	}

	.no-js & {
		max-height: none;
	}

	.row {
		padding-top: rem-calc(35);
		max-width: rem-calc(940);
	}

	&.interest-active {

		svg {
			fill: rgba($white, 0.5);
		}

		.title {
			color: rgba($white, 0.5);
		}

		hr:last-child {
			top: 0;
		}

	}

	.interest {
		cursor: pointer;
		height: rem-calc(150);
		display: none;

		&.visible {
			opacity: 0;
			display: block;
			transition: opacity 0.75s;

			&.faded-in {
				opacity: 1;
			}

		}

		&.active {

			.svg-container {
				background-color: $white;
			}

			svg {
				fill: $burgundy;
			}

			.title {
				color: $white;
			}

		}

		&:hover {

			.no-touch &,
			.no-js & {
				
				.svg-container {
					background-color: $burgundy;
				}

				svg {
					fill: $white;
				}

				.title {
					color: $white;
				}

			}

		}

		&.active:hover {

			.no-touch &,
			.no-js & {
				
				svg {
					fill: $white;
				}

			}

		}

	}

	label {
		margin: 0;
		width: 100%;
		height: 100%;
		display: block;

		input {
			display: none;
		}

	}

	.svg-container {
		background-color: transparent;
		border-radius: 100%;
		width: rem-calc(75);
		height: rem-calc(75);
		margin: 0 auto rem-calc(5);
		padding: rem-calc(15);
		transition: background-color $transition-time;

		svg {
			width: 100%;
			height: 100%;
		}

	}

	.title {
		text-align: center;
		font-size: rem-calc(18);
		font-weight: 400;
		line-height: 1.175;
		display: block;
	}

	hr:last-child {
		position: relative;
		top: 1px;
	}

}
