#*
 * OffCanvasNav Macros for OmniNav v2.
 * Chapman.edu/_components/omni_nav_v2/macros/off_canvas_nav.vm
 *#

 #macro ( buildOffCanvasNav )
  <div class="off-canvas-overlay" id="js-off-canvas-overlay"></div>
  <div class="off-canvas-nav-container" id="js-off-canvas-nav-container">
    #buildOffCanvasNavHeader()
    #buildOffCanvasNavMenus()
  </div>
#end

#macro ( buildOffCanvasNavHeader )
  <div class="cu-off-canvas-header">
    <div class="cu-logo-wrapper">
        <div class="primary-logo">
          <a class="$logoClass off-logo" href="/" title="Chapman University Website Home Page">
            <!-- logo set as background image by class -->
          </a>
        </div>
    </div>

    <span class="close" id="js-close-off-canvas-nav">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 512 512">
        <title></title>
        <g id="icomoon-ignore"></g>
        <path d="M446.627 110.627l-45.254-45.254-145.373 145.372-145.373-145.372-45.254 45.253 145.373 145.374-145.373 145.373 45.254 45.254 145.373-145.373 145.373 145.373 45.254-45.255-145.372-145.372z"></path>
      </svg>
    </span>
  </div>
#end

#macro ( buildOffCanvasNavMenus )
  ## For umbrella cats, build secondary menu.
  #if ( $isUmbrellaCategory )
    #buildOffCanvasNavSecondaryMenu()
  #end

  #buildOffCanvasNavMainMenu()
#end

#macro ( buildOffCanvasNavMainMenu )
  <div class="main-menu">Main Menu</div>

  <div class="off-canvas-nav clearfix" id="js-off-canvas-nav">
    <div class="off-canvas-main">
      <ul>
        <li>
          <a>About</a>
          #buildToggleIcon()
          <ul>
            <li><a>Maps &amp; Directions</a></li>
            <li><a>Visit Chapman</a></li>
            <li><a>Discover Chapman</a></li>
            <li><a>Our Campus</a></li>
          </ul>
        </li>
        <li>
          <a>Academics</a>
          #buildToggleIcon()
        </li>
        <li>
          <a>Admission</a>
          #buildToggleIcon()
        </li>
        <li><a>Arts</a></li>
        <li>
          <a>Campus Life</a>
          #buildToggleIcon()
        </li>
        <li><a>Research</a></li>
        <li>
          <a>Support</a>
          #buildToggleIcon()
        </li>
      </ul>
    </div>
    <div class="off-canvas-utility">
      <ul>
        <li>
          <a>Find information for...</a>
          #buildToggleIcon()
          <ul>
            <li><a>Prospective Students</a></li>
            <li><a>Current Students</a></li>
            <li><a>Alumni</a></li>
            <li><a>Faculty &amp; Staff</a></li>
            <li><a>Parents &amp; Families</a></li>
          </ul>
        </li>
        <li><a>Degrees &amp; Programs</a></li>
        <li>
          <a>Maps &amp; Directories</a>
          #buildToggleIcon()
        </li>
        <li>
          <a>Blogs</a>
          #buildToggleIcon()
        </li>
        <li><a>Events</a></li>
        <li><a>Social</a></li>
      </ul>
    </div>
  </div>
#end

#macro ( buildOffCanvasNavSecondaryMenu )
  <ul class="level-1">
    #foreach ( $asset in $umbrellaAssets )
      #buildSecondaryMenuItem( $asset )
    #end
  </ul>
#end

#macro ( buildSecondaryMenuItem $siblingNode )
#end

#macro ( buildToggleIcon )
  <span class="toggle">
    <span>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
        <title></title>
        <g id="icomoon-ignore"></g>
        <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
      </svg>
    </span>
  </span>
#end
