@import "variables";

/* BODY
---------------------------------------- */
//make room at top of page for omni-nav
html.omni-nav-v2 {
  padding-top: 60px;

  @include media($medium-screen) {
    padding-top: 120px;
  }

  @include media($large-screen) {
    padding-top: 60px;
  }

  &.utility-nav-open {
    @include media($medium-screen) {
      padding-top: 180px;
    }

    @include media($large-screen) {
      padding-top: 120px;
    }
  }
}

#omni-nav-v2 {
  position: fixed;
  width: 100%;
  top: 0;
  font-family: "futura-pt", verdana, sans-serif;
  z-index: 666;

  .omni-nav-search-box {
    position: relative;
    width: 100%;

    .omni-nav-search-input {
      width: 100%;
      margin: 0;
      border: 1px solid #545454;
      border-radius: 0;
      font-weight: 800;
      color: $utility-nav-background-color;


    }

    .search-icon {
      position: absolute;
      display: inline-block;
      top: 0; bottom: 0; left: 54px;
      width: $square-icon-size;
      height: $square-icon-size;
      margin: auto;

      svg {
        display: block;
        fill: $utility-nav-background-color;
      }

      &.hide {
        display: none;
      }
    }

  }

  /* UTILITY NAV
  ---------------------------------------- */
  .utility-nav {
    display: none;
    width: 100%;
    height: $primary-nav-height;
    background-color: $utility-nav-background-color;

    nav {
      display: table;
      table-layout: fixed;
      width: 100%;
    }

    .utility-nav-container {
      display: none;
      vertical-align: middle;

      &.utility-search {
        .utility-cell {
          border-right: none;
          padding-right: 0px;
        }

        & > .utility-list {
          li { padding-right: 16px; }
          & > li:last-child { padding-left: 0px; }
        }
      }

      &.utility-links {
        //This width is exactly the width of the content
        //may need to be updated if content changes
        width: 741px;
      }
    }

    &.utility-nav-open {
      @include media($medium-screen) {
        display: block;
      }




      .utility-nav-container {

        
        
        //only search container displayed on medium screen
        @include media($medium-screen) {
          &.utility-search {
            display: table-cell;
            width: 100%;
          }


        }

        //show all utility sections on large screen
        @include media($large-screen) {
          display: table-cell;

          &.utility-search {
            display: table-cell;
            width: auto;
          }
        }
      }
    }

    .utility-list {
      display: table;
      height: $primary-nav-height;
      width: 100%;

      .search-type {
        width: 120px;
      }
    }

    .utility-cell {
      display: table-cell;
      vertical-align: middle;
      border-right: 1px solid $primary-nav-border-color;
      padding: 0 20px;
      cursor: pointer;

      &.utility-has-dropdown {
        position: relative;

        & > a:after{
          content: '';
          display: inline-block;
          width: 10px;
          height: 10px;
          margin-left: 4px;
          background: image-url('arrow-down');
          background-size: cover;
        }

        &.dropdown-open {
          background-color: #4d4d4d;

          & > a:after { transform: rotate(-180deg); }

          .dropdown { display: block; }
        }
      }

      .utility-dropdown {
        background-color: #4d4d4d;

        li:hover { background-color: $utility-nav-background-color; }
      }

      a {
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
        color: $white;
        vertical-align: middle;
      }
    }
  }

  /* PRIMARY NAV
  ---------------------------------------- */
  #primary-nav {
    @include pad(0 $base-spacing);
    background-color: $white;
    width: 100%;
    height: $primary-nav-height;
    line-height: $primary-nav-height;
    overflow: visible;
    border-bottom: 1px solid #999999;

    @include media($medium-screen) {
      padding: 0;
      height: 120px;
    }

    @include media($large-screen) {
      height: $primary-nav-height;
    }

    &.search-open {
      .nav-container.primary-nav-search {
        display: block;
        overflow: hidden;
        float: none;

        // search is in utility-nav container for screen width > 768px
        @include media($medium-screen) {
          display: none;
        }
      }

      // logo should stay unless screen width < 768px
      @include bp(wildcard-max, $medium-screen) {
        .cu-logo-container {
          display: none;
        }      
      }
    }

    .nav-container {
      display: inline-block;
      float: left;

      &.primary-nav-search {
        display: none;
      }

      &.left-nav-container {
        @include media($medium-screen) {
          padding-left: $base-spacing;
        }
        padding-right: $base-spacing;
      }

      &.right-nav-container {
        font-size: 0; //to prevent div separation
        padding-left: 8px;
        float: right;
        display: table;
        height: 60px;
        line-height: 60px;

        .primary-nav-action {
          height: 60px;
          display: table-cell;
          position: relative;
          line-height: 60px;

          // without z-index, global nav dropdown overlaps primary icons
          z-index: 668;
          
          @include media($medium-screen) {
            width: 60px;
            background-color: #2f2f2f;
            margin: 0 auto;
          }

          .primary-nav-icon {
            @include media($medium-screen) {

              vertical-align: middle;
              position: absolute;
              text-align: center;
              width: 60px;

              svg {
                width: 22px;
                height: 22px;
              }

            }
          }

          &:hover {
            .nav-icon-text {
              @include bp(wildcard-max, $medium-screen) {
                display: none;
              }

              line-height: normal;
              bottom: 5px;
              position: absolute;
              width: 60px;
              text-align: center;
              
              a {
                display: inline-block;
                font-size: 10px;
                font-family: "futura-pt", verdana, sans-serif;
                font-weight: 800;
                text-transform: uppercase;
                color: $white;
              }
            }    
          }

          //only search text ("Find") stays when utility nav is open
          &.utility-open {
            .nav-icon-text.search { 
              @include bp(wildcard-max, $medium-screen) {
                display: none;
              }

              line-height: normal;
              bottom: 5px;
              position: absolute;
              width: 60px;
              text-align: center;
              
              a {
                display: inline-block;
                font-size: 10px;
                font-family: "futura-pt", verdana, sans-serif;
                font-weight: 800;
                text-transform: uppercase;
                color: $white;
              }
            }
          }
          
        }

        .primary-nav-icon svg {
          @include media($medium-screen) {
            fill: $white;
          }
        }
      }

      .primary-nav-icon {
        cursor: pointer;

        svg { 
          vertical-align: middle; 
        }
      }

      .off-canvas-nav-trigger {
        padding-right: 12px;
        height: $primary-nav-height;
        line-height: $primary-nav-height;
        cursor: pointer;
        
        &.primary-nav-icon {
          svg { 
            padding-bottom: 4px;
          }
        }      
      }



      /* GLOBAL NAV
      ---------------------------------------- */
      &.cu-global-nav {
        display: none;
        padding: 14px $base-spacing;
        background-color: $white;
        border-top: 1px solid $primary-nav-border-color;

        @include media($medium-screen) {
          display: block;
          width: 100%;
        }

        /* the current content does not fit in 1024px across
          1024-1030 causes style to break */
        @media only screen and (min-width: 1030px) {
          display: inline-block;
          float: right;
          width: auto;
          border-top: none;
          margin: 14px $base-spacing;
          padding: 0;
        }

        .global-nav-links {
          display: table;
          height: 32px;
        }

        .primary-link {
          display: table-cell;
          position: relative;
          vertical-align: middle;
          padding: 0 9px;
          border-right: 1px solid $primary-nav-border-color;
          cursor: pointer;

          &:first-of-type {
            padding-left: 0;
          }

          &:last-of-type {
            padding-right: 0;
            border-right: none;
          }

          & > a {
            text-transform: uppercase;
            font-size: 15px;
          }

          &:hover {
            .global-nav-dropdown { display: block; }
          }

          .global-nav-dropdown {
            display: none;
            position: absolute;
            width: $primary-nav-dropdown-width;
            left: 0;
            padding-top: 20px;
            background-color: $white;

            li {
              border-bottom: 1px solid $primary-nav-border-color;
              padding: 10px $base-spacing;
              font-size: 14px;
              margin-bottom: 0;

              &:last-of-type { border-bottom: none; }

              &:hover {
                background-color: #eaeaea;

                a { color: $red; }
              }
            }

            a:before { padding-right: 8px; }
          }
        }

        a { color: $black; }
      }
    }
  }

  /* GENERAL DROPDOWN STYLES
  ---------------------------------------- */
  .dropdown {
    display: none;
    position: absolute;
    top: 60px; left: 0px;
    width: $primary-nav-dropdown-width;
    z-index: 667;

    ul {
      list-style-type: none;
    }

    li {
      border-top: 1px solid $white;
      margin-bottom: 0;
      padding: 10px $base-spacing;
      cursor: pointer;

      &:first-of-type {
        border-top: none;
      }

      a {
        font-size: 14px;
        line-height: 14px;
        color: $white;
      }
    }

    svg {
      width: $square-icon-size;
      height: $square-icon-size;
      vertical-align: middle;
      fill: $white;
    }

    &.social-dropdown {
      width: 120px;

      li {
        padding: 0;
        text-align: center;
      }

      ul.social-list {
        text-align: left;
        padding: 10px;

        li {
          display: inline-block;
          width: 26px;
          height: 26px;
          border: none;
          padding: 0;

         a { 
          display: block;
          font-size: 0px;
          line-height: 26px;
        }

          &:hover {
            border: 1px solid $white;
          }
        }
      }

      a.social-link {
        display: block;
        padding: 10px;
        font-size: 12px;
        font-weight: 800;
        text-transform: uppercase;
      }
    }
  }

  /* CU LOGOS
  ---------------------------------------- */
  .cu-logo-wrapper {
    display: table;
    height: $primary-nav-height;
  }

  .secondary-logo {
    display: none;
  }

  .primary-logo {
    display: table-cell;
    vertical-align: middle;

    a {
      display: block;
      border: 0;
      text-indent: -998em;
      margin: 0;
    }

    svg {
      display: block;
    }
  }

  /* NAV TRIGGERS
  ---------------------------------------- */
  .primary-nav-action {
    display: inline-block;
  }

  .primary-nav-icon {
    display: inline-block;
    width: 18px;
    height: 18px;

    @include media($medium-screen) {
      width: 22px;
      height: 22px;
    }
  }

  .utility-nav-trigger{
    @include media($medium-screen) {
      border-right: 1px solid $primary-nav-border-color;
    }

    .primary-nav-icon {
      margin-right: 4px;

      .icon-open-search, .icon-close-search {
        &.hide {
          display: none;
        }      
      }
    }

    .text {
      margin-bottom: 0;
      color: $white;
    }
  }

  .cu-login-trigger {
    position: relative;

    &:hover {
      .login-menu { display: block; }
    }

    .login-menu {
      display: none;
      position: absolute;
      top: 60px; 
      right: -20px;
      width: 175px;
      background-color: #2f2f2f;
      text-align: left;
      z-index: 667;

      @include media($medium-screen) {
        right: 0px;
      }

      ul {
        list-style-type: none;
      }

      li {
        border-top: 1px solid $white;
        margin-bottom: 0;
        padding: 10px $base-spacing;
        cursor: pointer;

        &:first-of-type {
          border-top: none;
        }

        &:hover {
          background-color: #4d4d4d;
        }

        a {
          font-size: 14px;
          line-height: 14px;
          color: $white;
          padding-left: 9px;
        }
      }

      svg {
        width: $square-icon-size;
        height: $square-icon-size;
        vertical-align: middle;
        fill: $white;

      }
    }
  }






  /* BRANDED PAGES
  *************************************/
  &.branded {
    .secondary-logo {
      display: none;
      vertical-align: middle;
      padding-left: 20px;
      border-left: 1px solid #2f2f2f;
      font-size: 18px;
      font-family: Minion Pro;
      font-style: italic;

      @include media($medium-screen) {
        display: table-cell;
      }

      a { color: $black; }
    }
  }
}