$primary-nav-height: 60px;

// Off Canvas Nav

$cu-off-canvas-nav-mobile-width: 85%;
$cu-off-canvas-nav-desktop-width: 400px;
$cu-off-canvas-nav-border-color: #CFCFCF;
$cu-off-canvas-nav-background: #EAEAEA;