.simple-form-widget {
  input[type="text"],
  textarea {
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
  }

  label {
  	display: inline;
  	margin-left: 2px;
	font-weight: normal;
  }
  
  h2 {
  	padding: 0 4px;
  }
  
  .editableContent {
  	padding: 0 4px;
  }

  padding: 16px;
}