.simple-form-widget {
  input[type="text"],
  textarea {
    width: 100%;
  }

  .short-form {
    padding: 16px;
  }

  input[type="submit"] {
    width: 100%;
  }

  label {
  	display: inline;
  	margin-left: 5px;
  }

  padding: 15px;

}