.simple-form-widget {
	background-color: #d8d8d8;
  border: 1px solid #c1c1c1; 
	color: #313131;
	
  input[type="text"],
  textarea {
    width: 100%;
	margin-bottom: 10px
  }

  input[type="submit"] {
    width: 100%;
	margin-top: 10px;
  }

  label {
  	/*display: inline;*/
  	margin-left: 2px;
	margin-top:10px;
	margin-bottom:2px;
  }
  
  legend {
  	font-weight: bold;
	margin-top:10px;
	margin-bottom:10px;
  }
  	input[type=radio]+label,
	input[type=checkbox]+label {
		font-weight: normal;
		display: inline;
		margin-top:2px;
		margin-botton:10px;
	}
  
  h2 {
  	padding: 0 4px;
  }
  
  .editableContent {
  	padding: 2px 4px;
  }

  padding: 16px;
}

