/***************************************************
* Accessibility Statement Section
***************************************************/

.homepage {
  #accessibility-statement {
    background-color: $white;
    padding: 10px;
    h2 {
      font-size: 18px;
    }
    a {
      border-bottom: 2px solid rgba($cu-red, 0.7);
    }
  }
}
