/***************************************************
* Accessibility Statement Section
***************************************************/

.homepage {
  #accessibility-statement {
    background-color:#fff;
    padding:10px;
    h2 {
      font-size:14px;
    }
  }
}