/***************************************************
* Chapman Family Section
***************************************************/

.homepage {
  #chapmanFamily {
    .third {
      display: none;
    }
    .third:last-of-type {
      display: block;
    }
    h2 {
      margin-top: 0;
      font-size: 24px;
    }
  }
}

@media only screen and (min-width: 680px) {
  .homepage {
    #chapmanFamily {
      .third {
        display: block;
      }
      .story {
        display: block;
        &.big .story-bg {
          min-height: 200px;
        }
      }
      .third:nth-of-type(3) {
        padding-left: 20px;
      }
      .heading {
        font-size: 40px;
        line-height: 40px;
      }
    }
  }
}
