/***************************************************
* Chapman Family Section
***************************************************/

.homepage {
  #chapmanFamily {
    margin-bottom: 50px;
    .heading {
      margin: 30px auto 0 auto;
    }
    .story {
      display: none;
    }
    h2 {
      margin-top: 0;
    }
  }
}

@media only screen and (min-width: 680px) {
  .homepage {
    #chapmanFamily {
      .heading {
        margin: 50px auto;
      }
      .story {
        display: block;
        &.big .story-bg {
          min-height: 200px;
        }
      }
      .third:nth-of-type(3) {
        padding-left: 20px;
      }
    }
  }
}