/***************************************************
* Graduate Admission Section
***************************************************/

#graduateAdmission {
  background: #111111 image-url('graduate-admission-2017.jpg') no-repeat center;
  background-size: cover;
  color: #FFFFFF;
  text-align: center;
  overflow: hidden;
  p, h3 {
    color: #FFFFFF;
  }
}

.skrollr #graduateAdmission {
  background-attachment: fixed;
}

#graduateAdmission {
  .heading {
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    span {
      display: block;
    }
  }
  .subheading {
    margin: 0 15px;
    font-family: 'minion-pro', serif;
    font-style: italic;
    font-weight: 400;
    text-align: center;
  }
  .actions {
    margin-top: 25px;
    text-align: center;
  }
  br.large-screens {
    display: none;
  }
}

@media only screen and (min-width: 680px) {
  #graduateAdmission {
    text-align: left;
    background-position: center;
    .heading, .subheading {
      margin: 0 50px;
      z-index: 1;
      position: relative;
    }
  }
}

@media only screen and (min-width: 980px) {
  #graduateAdmission {
    .heading, .subheading {
      text-align: right;
      margin: 0 auto;
    }
    .actions {
      position: absolute;
      bottom: 0;
      margin-bottom: 75px;
      text-align: left;
      margin-left: 25px;
    }
  }
}

@media only screen and (min-width: 1250px) {
  #graduateAdmission { 
    .actions {
      // hardcoded width so buttons stay stacked in desktop view instead of 100%
      width: 470px;
      margin-left: 50px;
    }
  }
  #graduateAdmission br.large-screens {
    display: block;
  }
}