// I HAVE NO IDEA WHERE THE REST OF THIS GOES

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#virtualTour-parkingInfo .line-item {
	clear: both;
}
#virtualTour-parkingInfo .left-text, #virtualTour-parkingInfo .right-text {
	display: block;
	float: left;
}
#virtualTour-parkingInfo .left-text {
	width: 50%;
}
#virtualTour-parkingInfo .right-text {
	width: 25%;
}
#virtualTour-attractionContent ul, #virtualTour-attractionContent ol {
	margin-top: 1em;
	margin-left: 2em;
}

.flex-direction-nav li a.flex-next {
	position: absolute;
	right: 0;
}
.flexslider .flex-viewport {
	overflow: hidden !important;
}

.jspVerticalBar {
	background: transparent;
	margin-right: 6px;
	width: 6px;
}
.jspTrack {
	background: transparent !important;
	box-shadow: none;
}
.jspDrag {
	background: #ccc !important;
}
.jspDrag:after {
	display: none;
}

#virtualTour-scrollPane {
	position: relative;
}

/** flexslider */
.virtualTour .slideImgContainer {
	border: 1px solid #dadada;
	padding: 4px;
}
.virtualTour .slides {
	min-height: 230px;
}
.virtualTour .slide {
	/*opacity: 0.2;*/
	min-height: 230px;
}
.virtualTour #virtualTour-attractionContent .slides {
	margin: 0;
}
.virtualTour #virtualTour-attractionContent .flex-direction-nav {
	margin-top: 0;
}


@media only screen and (min-width: 768px) {
	.jspHorizontalBar {
		display: none !important;
	}
	/** flexslider */
	.virtualTour .slide {
		height: auto;
	}
	.virtualTour .rotatorContainer {
		background: #f1f1f1;
		min-height: 171px;
	}
}

