.messaging-2-column {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: $base-spacing*2 0;
	background-color: white;

	.outer-container {
		@include outer-container;
		@include clearfix;
	}

	.media-column {
		padding: $base-spacing*4 0 0 0;
		white-space: nowrap;
		@include media($medium-screen) {
			@include span-columns(8);
			@include pad($base-spacing*4 default);
		}

		@include media($large-screen){
			@include span-columns(10);
			text-align: center;
		}
	}

	.text-column {
		@include pad($base-spacing*2 $base-spacing*2 $base-spacing*4);

		@include media($medium-screen) {
			@include span-columns(9);
			padding-top: $base-spacing*4;
		}

		@include media($large-screen){
			@include pad($base-spacing*2 default $base-spacing*4);
			@include span-columns(7);
			@include shift(1);
		}
	}

	.center-media-helper {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	.media {
		vertical-align: middle;
		width: 100%;
		height: auto;
	}

	h1.title {
		@include main_heading(100);
		margin-bottom: 0;
	}

	h4.category {
		@include content_label();
		margin-top: 0;
	}

	p {
		@include p_standard();
		margin: 32px 0 0;
	}

	.button.red {
		text-align: center;
		padding: 15px 25px;
		font-size: 16px;
		font-weight: normal;
	}

	.actions {
		margin-top: 72px;
		text-align: center;
		@include media($medium-screen) {
			text-align: left;
		}
	}
}
