.messaging-2-column {
	
	@include outer-container();

	.column {
		&:first-of-type {
			@include span-columns(7);
		}
		@include span-columns(5);

		@include media($medium-screen-up) {
			&:first-of-type {
				@include span-columns(4);
			}
			@include span-columns(4);
		}
	}

	img {
		width: 100%;
		max-height: 374px;
	}

	h1.title {
		margin: 0;
		font-weight: normal;
	}

	h4.category {
		margin-top: 0;
		text-transform: uppercase;
		color: #62605a;
	}

	p.message-text {
		margin: 20px 0 30px;
	}

	.button.red {
		text-align: center;
		padding: 15px 25px;
		margin: 0;
		font-size: 16px;
		font-weight: normal;
	}

	@media only screen and (max-width: 600px) {
		.actions {
			text-align: center;
		}
		h4.category {
			margin-top: 30px;
		}
	}
}
