header.navigation {
  $base-border-color: transparent !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;

  $navigation-padding: 0.7em;
  $navigation-background: $dark-gray;
  $navigation-submenu-background: lighten($light-gray, 5%);
  $navigation-color: white;
  $navigation-color-hover: $red;
  $navigation-height: 50px;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: em(275px);
  $horizontal-bar-mode:       $large-screen;
  $horizontal-bar-mode-huge:  1134px;

  min-height: $navigation-height;
  width: 100%;
  margin-top:    $base-spacing * 2;
  margin-bottom: $base-spacing * 2;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
  }

  .logo {
    float: left;

    img {
      padding-right: $base-spacing;
      width: 240px;
      height: auto;
      @include media($horizontal-bar-mode) {
        height: 50px;
        width: 272px;
      }
    }
  }

  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding: 0 1em 0 1.5em;
    text-transform: uppercase;
    position: relative;
    z-index: 9999;
    cursor: pointer;
    background-color: $navigation-background;

    &:before {
      content: ' ';
      position: absolute;
      top: 0; left: 0;
      height: 0; width: 0;
      border-width: ($navigation-height / 2)  10px;
      border-style: solid;
      border-color: transparent transparent transparent $light-gray;

      @include media($horizontal-bar-mode) {
        content: none;
      }
    }

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // ---------------- THE MAIN NAV ELEMENT -------------------- //

  nav {
    float: none;
    position: relative;
    min-height: $navigation-height;

    &:before,
    &:after {
      content: ' ';
      position: absolute;
      top: 0; left: 0;
      height: 0; width: 0;
    }

    @include media ($horizontal-bar-mode) {
      float: left;
      background-color: $navigation-background;

      &:before {
        border-width: ($navigation-height / 2)  10px;
        border-style: solid;
        border-color: transparent transparent transparent $light-gray;
      }

      &:after {
        left: 100%;
        width: 100%;
        background-color: $navigation-background;
        height: $navigation-height;
      }

      @include media($horizontal-bar-mode-huge) {
        min-height: $navigation-height;
      }
    }
  }

  ul.navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // --------------- THE PRIMARY LINKS ---------------- //
  ul li.nav-link {
    background: $navigation-background;
    display: block;
    overflow: hidden;
    text-align: left;
    width: 100%;
    z-index: 999;

    @include media ($horizontal-bar-mode) {
      text-align: center;
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto;

      &.first > a {
        position: relative;
        padding-left: 24px;

        @include media(1134px) {
          padding-left: 36px;
        }

        &:before {
          height: $navigation-height;
          content: '';
          position: absolute;
          width: 0; height: 0;
          left: 0;  top: 0;
          border-width: ($navigation-height / 2)  10px;
          border-style: solid;
          border-color: transparent transparent transparent $light-gray;
        }
      }
    }

    > a {
      font-family: $heading-font-family;

      @include media($horizontal-bar-mode) {
        font-size: 14px;
        line-height: $navigation-height;
      }

      @include media(970px) {
        font-size: 16px;
      }

      @include media(1134px) {
        font-size: 20px;
      }
    }

    &.active > a,
    &:hover > a,
    &:focus > a, {
      color: $navigation-color-hover;
      background-color: ligten($navigation-background, 10%);
      transition: color $base-duration $base-timing;
      transition: background-color $base-duration $base-timing;
      background-color: $navigation-submenu-background;

      @include media($horizontal-bar-mode) {
      }
    }

    // All links
    a {
      color: $navigation-color;
      display: inline-block;
      font-weight: 400;
      text-decoration: none;
      padding: $navigation-padding;
      width: 100%;

      @include media ($horizontal-bar-mode) {
        padding: 0 $navigation-padding;
        width: auto;
      }
    }
    .icon:before {
      padding: $small-spacing;
    }
  }

  // Sub menus
  li.more.nav-link.last {
    @include media($horizontal-bar-mode) {
      .submenu {
        position: absolute;
        right: 0px;
        left: auto;
      }
    }
  }

  li.more {
    position: relative;
    overflow: visible;

    &:focus > a:after,
    &:hover > a:after {
      color: $navigation-color-hover;
    }

    &.active > .submenu {
      display: block;
      opacity: 1;
      transition: opacity $base-duration $base-timing;
    }

    @include media($horizontal-bar-mode) {
      &:focus > .submenu,
      &:hover > .submenu {
        display: block;
        opacity: 1;
        transition: opacity $base-duration $base-timing;
      }
    }
  }

  ul.submenu {
    display: none;
    opacity: 0;
    transition: opacity $base-duration $base-timing;
    padding-left: 0;
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, .2);


    @include media($horizontal-bar-mode) {
      position: absolute;
      left: 0;
      top: 34px;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $navigation-submenu-width - 0.2em;
        top: 0;
      }
    }
    // ------------- SUBMENU ITEMS AND LINKS ----------------- //
    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $navigation-height / 1.3;

        &:first-child > a {
          border-top: none;
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
        }
      }

      a {
        display: inline-block;
        text-align: left;
        width: 100%;
        border-top: 1px solid lighten($dark-gray, 60%);
        padding: $small-spacing / 2;
        background-color: $navigation-submenu-background;
        color: $dark-gray;

        @include media($horizontal-bar-mode) {
          padding-left: $navigation-submenu-padding;
          text-align: left;
          width: $navigation-submenu-width;
        }

        &:hover {
          color: $red;
          transition: color none;
          background-color: lighten($navigation-submenu-background, 20%);
        }
      }
    }
  }
}