<div class="chapman-events-feed-widget chapman-events-feed-widget__medium-bg">
  <div class="outer-container">
    <div class="column left">
      <h2>Upcoming Events</h2>
      <div data-chapman-featured-event="https://events.chapman.edu/4352"></div>
    </div>
    <div class="column right">
      <div data-chapman-events-feed="https://events.chapman.edu"></div>
      <div class="actions">
        <a href="https://events.chapman.edu" class="events-feed-url theme-button">See All Events</a>
      </div>
    </div>
  </div>
</div>