<div class="chapman-social-feed-widget chapman-social-feed-widget__has-social-icons">
  <div class="outer-container">
    <h2 class="chapman-social-feed-title">Chapman University Social Media</h2>
    <div class="chapman-social-feed-icons">
    	<ul class="social-icon-list">
    	  <li><a class="social-link icon-instagram" href="http://www.instagram.com/chapmanu"></a></li>
    	  <li><a class="social-link icon-facebook" href="http://www.facebook.com/ChapmanUniversity"></a></li>
    	  <li><a class="social-link icon-twitter" href="http://twitter.com/#!/chapmanu"></a></li>
    	</ul>
    </div>
    <div class="chapman-social-feed"></div>
    <script type="text/javascript">
      jQuery('.chapman-social-feed').chapmanSocialFeed({url: 'https://social.chapman.edu', per: 9, max_columns: 4});
    </script>
    <a class="view-all-link" href="https://social.chapman.edu/">View all at social.chapman.edu »</a>
  </div>
</div>