<div class="chapman-stories-feed-widget chapman-stories-feed-widget__medium-bg"
     data-chapman-stories-feed-url="https://blogs.chapman.edu/law"
     data-chapman-stories-top-story-url="https://blogs.chapman.edu/law/2017/01/12/alumna-recognized-as-one-of-2016s-100-most-influential-people-in-orange-county/"
     data-chapman-stories-title="Chapman Stories Feed Widget"
     data-chapman-stories-bg-color=""
     data-chapman-stories-button-label="More Stories, Please!"
     data-chapman-stories-button-url="https://blogs.chapman.edu/">
    Chapman Stories Feed Widget (loads dynamically)
</div>