<div class="chapman-stories-feed-widget chapman-stories-feed-widget__medium-bg"
     data-chapman-stories-feed-url="https://blogs.chapman.edu/dodge/"
     data-chapman-stories-top-story-url="https://blogs.chapman.edu/dodge/2016/10/20/alumni-spotlight-justin-deimen/"
     data-chapman-stories-title="Chapman Stories Feed Widget"
     data-chapman-stories-bg-color=""
     data-chapman-stories-button-label="More Stories, Please!"
     data-chapman-stories-button-url="https://blogs.chapman.edu/">
    Chapman Stories Feed Widget (loads dynamically)
</div>