<div class="contact-footer-widget">
	<div class="outer-container">
		<div class="footer-section title">
			<h2 class="footer-title">Contact Dodge College of Film and Media Arts</h2>
		</div>
		<div class="footer-section contact-1">
			<address class="mailing">
				<h3 class="footer-heading address name">Front Office</h3>
				<p class="address">Marion Knott Studios, Room 309<br>One University Drive<br>Orange, CA 92866</p>
			</address>
		</div>
		<div class="footer-section contact-2">
			<address class="addl-contact">
				<a class="address phone">(714)997-6711</a>
				<a class="address email">dodgecollege@chapman.edu</a>
			</address>
		</div>
		<div class="footer-section social-media">
			<h3 class="footer-heading">Connect with Us</h3>
			<ul class="social-media-list">
				<li><a class="social-link instagram" href="http://www.instagram.com/chapmanu"style="background-image: url(<%= image_url 'instagram.svg' %>);"></a></li>
				<li><a class="social-link facebook" href="http://www.facebook.com/ChapmanUniversity" style="background-image: url(<%= image_url 'facebook.svg' %>);"></a></li>
				<li><a class="social-link twitter" href="http://twitter.com/#!/chapmanu" style="background-image: url(<%= image_url 'twitter.svg' %>);"></a></li>
			</ul>
		</div>
	</div>
</div>