<div class="cta-footer-widget">
	<div class="outer-container">
		<div class="footer-section text">
			<p>Next Steps</p>
		</div>
		<div class="footer-section buttons">
			<div class="buttons-container">
				<div class="button-wrapper">
					<a class="footer-button gray" href="../../admission/undergraduate/applynow.aspx">Visit our Campus</a>
				</div>
				<div class="button-wrapper">
					<a class="footer-button theme-button" href="../../admission/undergraduate/applynow.aspx">Alumni Success</a>
				</div>
				<div class="button-wrapper">
					<a class="footer-button red" href="../../admission/undergraduate/applynow.aspx">Apply Now</a>
				</div>
			</div>
		</div>
	</div>
</div>