<div class="cta-footer-widget">
	<div class="outer-container">
		<div class="text-section">
			<p class="theme-text-color">Take the Next Step</p>
		</div>
		<div class="button-section">
			<div class="button-wrapper">
				<a class="footer-button theme-button" href="../../admission/undergraduate/applynow.aspx">View Undergraduate Programs</a>
			</div>
			<div class="button-wrapper">
				<a class="footer-button theme-button" href="../../admission/undergraduate/applynow.aspx">View Graduate Programs</a>
			</div>
			<div class="button-wrapper">
				<a class="footer-button theme-button" href="../../admission/undergraduate/applynow.aspx">About Chapman</a>
			</div>
		</div>
	</div>
</div>