<div class="cta-footer-widget">
  <div class="outer-container">
    <div class="tool-bar">
      <p>Next Steps</p>

      <div class="selector">
        <select>
          <option value="option1">Option1</option>
          <option value="option2">Option2</option>
          <option value="option3">Option3</option>
          <option value="option4">Option4</option>
        </select>
      </div>

      <div class="v_campus">
        <a href="https">Visit Out Campus</a>
      </div>

      <div class = "a_now">
        <a href="www.google.com">Apply Now</a>
      </div>
    </div>
  </div>
</div>
