<div class="cta-block-widget cta-block-widget__text-light">
  <div class= "outer-container">
    <div class="row">
      <div class="box" style="background-image: url('http://7-themes.com/data_images/out/45/6924102-funny-kitten-pictures.jpg');">
        <a href="http://www.google.com" class="content-container">
          <span class="content">
            <h1>MY TITLE</h1>
            <p>My badass super awesome blah blah blah blah amazing description.</p>
          </span>
        </a>
      </div>
      <div class="box">hello there</div>
      <div class="box">hello there</div>
      <div class="box">hello there</div>
    </div>
    <div class="row">
      <div class="box">hello there</div>
      <div class="box">hello there</div>
      <div class="box">hello there</div>
      <div class="box">hello there</div>
    </div>
  </div>
</div>