<div class="messaging-widget messaging-widget__2-column messaging-widget__text-right messaging-widget__text-dark messaging-widget__has-fact-cards">
  <div class="outer-container">
    <div class="text-column">
      <div class="section-message">
        <h4 class="category">category</h4>
        <h2 class="title">Sample Message With Facts</h2>
        <div class="body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet libero ultrices, aliquam ligula eu, sodales ligula. Ut maximus mauris tincidunt maximus hendrerit. Nullam velit felis, ultricies sit amet efficitur at, aliquet vitae velit. Phasellus dui magna, condimentum id fringilla sit amet, ultrices a magna. Ut semper, leo nec efficitur facilisis, nisi mi faucibus odio, ac ornare orci urna hendrerit
          </p>
        </div>
        <div class="text-actions"><a class="theme-button">This is a button</a></div>
      </div>
    </div>
    <div class="media-column">
      <span class="center-media-helper"></span>
      <div class="media">
        <div class="fact-card-container">
          <div class="fact-card">
            <div class="fact-front orange">
              <div class="fact-image student"></div>
              <div class="fact-content">
                <span class="fact-stat-nums">23<br></span>
                <span class="fact-title-1">average<br>class size</span>
              </div>
            </div>
            <div class="fact-back fact-content">
              <p class="fact-back-text">Chapman takes the top scores from each of your SAT sections, so if you take the test more than once, you'll get a higher score with Chapman than you might expect.</p>
              <a class="fact-link">REQUEST INFORMATION »</a>
            </div>
          </div>
          <div class="fact-card">
            <div class="fact-front green">
              <div class="fact-image books"></div>
              <div class="fact-content">
                <span class="fact-stat-nums">102<br></span>
                <span class="fact-title-2">AREAS OF STUDY</span>
                <span class="fact-stat-nums">23</span>
                <span class="fact-title-2">MINORS</span>
              </div>
            </div>
            <div class="fact-back fact-content">
              <p class="fact-back-text">GPA averages are calculated in the following way, and this means that people who apply to Chapman are frequently in the top 10% of their graduating class.</p>
              <a class="fact-link">REQUEST INFORMATION »</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>