<div class="messaging-widget messaging-widget__2-column messaging-widget__dark-bg messaging-widget__text-left">
  <div class="outer-container">
    <div class="column media-column" style="height: auto;">
        <span class="center-media-helper"></span>
        <div class="media fluid-width-video-container">
          <iframe id="widget2"
                  frameborder="0"
                  height="315"
                  width="560"
                  src="https://www.youtube.com/embed/d7W4ViC1ics?enablejsapi=1&amp;origin=https:%2F%2Fwww.chapman.edu">
          </iframe>
        </div>
    </div>
    <div class="text-column">
      <div class="section-message">
        <h2 class="title">Impact Series: Entertainment Law Program </h2>
        <div class="body editableContent">
          <p></p>
          <p>Learn about the Entertainment Law Program at Chapman University Fowler School of Law, one of the many ways in which the law school is making an impact in Southern California and beyond.</p>
          <p><strong>More Fowler Law Videos:</strong></p>
          <p><a href="https://www.youtube.com/watch?v=wiuluPQpjG8&amp;list=PLnhaubN8vO4-ngfeatx0cGsGO4EX4Arad"><strong>Fowler School of Law Virtual Tour</strong></a></p>
          <p><strong><a href="https://vimeo.com/191722062">The First Year Experience at Fowler School of Law </a></strong></p>
          <p></p>
        </div>
        <div class="text-actions">
          <a class="theme-button">This is a button</a>
          <nav class="text-widget-select">
            <button class="select-button theme-border-color theme-text-color">List Options<span class="select-arrow theme-border-color"></span></button>
            <ul class="select-list">
              <li><a href="http://www.google.com">Option One</a></li>
              <li><a href="http://www.google.com">Option Two</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
