<div class="messaging-widget messaging-widget__2-column messaging-widget__text-left .messaging-widget__dark-bg" style="background-image: url('http://static.dolimg.com/lucas/movies/starwars/starwars_films_03-a5f94b04af09.jpg')">
  <div class="outer-container">
    <div class="media-column">
      <span class="center-media-helper"></span>
    </div>
    <div class="text-column">
      <div class="section-message">
        <h4 class="category">category</h4>
        <h1 class="title">Obi Wan</h1>
        <div class="body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet libero ultrices, aliquam ligula eu, sodales ligula. Ut maximus mauris tincidunt maximus hendrerit. Nullam velit felis, ultricies sit amet efficitur at, aliquet vitae velit. Phasellus dui magna, condimentum id fringilla sit amet, ultrices a magna. Ut semper, leo nec efficitur facilisis, nisi mi faucibus odio, ac ornare orci urna hendrerit</p>
        </div>
        <div class="text-actions">
          <a class="theme-button">This is a button</a>
          <nav class="text-widget-select">
            <button class="select-button theme-border-color theme-text-color">List Options<span class="select-arrow theme-border-color"></span></button>
            <ul class="select-list">
              <li><a href="http://www.google.com">Option One</a></li>
              <li><a href="http://www.google.com">Option Two</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
