<div class="messaging-widget messaging-widget__1-column messaging-widget__has-fact-cards">
  <div class="outer-container">
    <div class="text-column">
      <div class="section-message">
        <h4 class="category">category</h4>
        <h2 class="title">Sample Message With Facts</h2>
        <div class="body editableContent">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet libero ultrices, aliquam ligula eu, sodales ligula. Ut maximus mauris tincidunt maximus hendrerit. Nullam velit felis, ultricies sit amet efficitur at, aliquet vitae velit. Phasellus dui magna, condimentum id fringilla sit amet, ultrices a magna. Ut semper, leo nec efficitur facilisis, nisi mi faucibus odio, ac ornare orci urna hendrerit
          </p>
        </div>
      </div>
    </div>
    <div class="media-column">
      <div class="media">
        <div class="fact-card-container">
          <div class="fact-card">
            <div class="fact-front red">
              <div class="fact-image mortarboard"></div>
              <div class="fact-content">
                <span class="fact-stat-nums">3.67</span>
                <span class="fact-title-1">CHAPMAN'S crazy stuff like this</span>
                <span class="fact-title-2">AVERAGE GPA Is lots of stuff</span>
              </div>
            </div>
            <div class="fact-back fact-content">
              <p class="fact-back-text">GPA averages are calculated in the following way, and this means that people who apply to Chapman are frequently in the top 10% of their graduating class.</p>
              <a href="http://google.com" class="fact-link">REQUEST INFORMATION »</a>
            </div>
          </div>

          <div class="fact-card">
            <div class="fact-front orange">
              <div class="fact-image chair"></div>
              <div class="fact-content">
                <span class="fact-stat-nums">23</span>
                <span class="fact-title-1">average class size</span>
              </div>
            </div>
            <div class="fact-back fact-content">
              <p class="fact-back-text">Chapman takes the top scores from each of your SAT sections, so if you take the test more than once, you'll get a higher score with Chapman than you might expect.</p>
              <a class="fact-link">REQUEST INFORMATION »</a>
            </div>
          </div>

          <div class="fact-card">
            <div class="fact-front green">
              <div class="fact-image books"></div>
              <div class="fact-content">
                <span class="fact-stat-nums">102</span>
                <span class="fact-title-1">AREAS OF STUDY</span>
                <span class="fact-title-2">MINORS</span>
              </div>
            </div>
            <div class="fact-back fact-content">
              <p class="fact-back-text">GPA averages are calculated in the following way, and this means that people who apply to Chapman are frequently in the top 10% of their graduating class.</p>
              <a class="fact-link">REQUEST INFORMATION »</a>
            </div>
          </div>

          <div class="fact-card">
            <div class="fact-front blue">
              <div class="fact-image people"></div>
              <div class="fact-content">
                <span class="fact-stat-nums">14:1</span>
                <span class="fact-title-1">RATIO</span>
                <span class="fact-title-2">STUDENT TO FACULTY</span>
              </div>
            </div>
            <div class="fact-back fact-content">
              <p class="fact-back-text">Chapman takes the top scores from each of your SAT sections, so if you take the test more than once, you'll get a higher score with Chapman than you might expect.</p>
              <a class="fact-link">REQUEST INFORMATION »</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-actions"><a class="theme-button">This is a button</a></div>
  </div>
</div>