<div class="subscribe-widget">
  <div class="outer-container">
    <div class="subscribe-message-column">
      <p>Sign up to receive updates from Dodge College</p>
    </div>

    <!-- Copied and Pasted in from Campaign Monitor -->
    <div class="campaign-monitor-forms">
      <form>
        <p>
          <label for="fieldEmail">Email</label><br />
          <input type="email" required />
        </p>
        <p>
          <button type="submit">Subscribe</button>
        </p>
      </form>
    </div>

  </div>
</div>