<div class="collapsibles-widget">

<h2 class="sectionHeader">This is the header within collapsibles widget</h2>
                <div class="editableContent summaryText">This is summary text above the collapsibles which is still part of the widget. This example will not have any P tags</div>                
                
    <div class="accordion">
        <h2 class="header">
                    <span class="show">+</span>
                    <span class="hide">-</span>
                                        Application process and admission requirements
                </h2>
        <div class="content editableContent" style="display: none;">
            <p align="left" class="O7086">Chapman University’s MS.AT program will be using the Athletic Training Centralized Application System (ATCAS). Applications may be obtained from <a href="http://caate.net/apply-now/" target="_blank">ATCAS</a> at &nbsp;and will be available the year prior to your intended matriculation, beginning each year in July. The MS.AT program has two routes for admission, with each route requiring the prospective student to complete the required course prerequisites. &nbsp;For regular admission, please refer to the <a href="../graduate-programs/ms-athletic-training/index.aspx">Master of Science in Athletic Training page&nbsp;</a>.&nbsp; For accelerated admission (i.e. 3+2), please refer to the criteria below.</p>
        </div>
    </div>
    <div class="accordion active">
        <h2 class="header">
                    <span class="show">+</span>
                    <span class="hide">-</span>
                                        3+2 accelerated admission
                </h2>
        <div class="content editableContent" style="overflow: hidden;">
            <p class="O17">The following criteria are required for 3+2 accelerated admission:</p>
            <ol>
                <li>Kinesiology undergraduate major at Chapman University.</li>
                <li>All general education courses completed prior to matriculation.</li>
                <li>All major Kinesiology major courses completed with the exception of emphasis area courses (24 credits of the MS.AT program will count towards the undergraduate degree requirements and will be used for the area of emphasis within the Kinesiology major).</li>
                <li>Minimum of 100 completed undergraduate credits prior to matriculation.</li>
                <li>Cumulative GPA of 3.0 or higher.</li>
                <li>Prerequisite (all required courses) GPA of 3.000 or higher (on a 4.000 scale) with no course grade below a "C".</li>
                <li>Complete the GRE, then contact Dr. Jason Bennett at <a href="mailto:jbennett@chapman.edu">jbennett@chapman.edu</a> to determine if the minimum GRE scores were achieved.</li>
            </ol>
        </div>
    </div>
</div>
