<div class="news-events-widget newsEvents">
    <ul class="newsEventsNav">
        <li class="active">Featured</li>
        <li class="">News</li>
        <li>Events</li>
    </ul>
  <ul class="newsEventsContent">
    <a class="no-js-link" href="https://blogs.chapman.edu/news-and-stories/" title="View All News Stories">View All News »</a>
    <a class="no-js-link" href="https://events.chapman.edu/" title="View All Event Listings">View All Events »</a>
    <li class="active">
        <div class="featured">
            <div class="col1">
                <img alt="Celebrate your Panther Pride at Chapman Family Homecoming, Oct. 6-7" class="image" height="190" src="http://www.chapman.edu/students/_files/slide-small/new-slide-region.jpg" width="190">
            </div>
            <div class="col2">
                <div class="date">
                    <div class="day">21</div>
                    <div class="month">SEPT</div>
                    <div class="year">2017</div>
                </div>
                <div class="title"><a href="https://blogs.chapman.edu/happenings/2017/09/21/celebrate-your-panther-pride-at-chapman-family-homecoming-oct-6-7/">Celebrate your Panther Pride at Chapman Family Homecoming, Oct. 6-7</a></div>
                <div class="description">Save the date and start making your plans to join us for the Chapman Family Homecoming Celebration, Friday, Oct. 6 and Saturday, Oct. 7. This year’s festivities are jam-packed with reunions, master classes, the 8th annual Chili Cook-Off...</div>
                <div class="readMore"><a href="https://blogs.chapman.edu/happenings/2017/09/21/celebrate-your-panther-pride-at-chapman-family-homecoming-oct-6-7/">Read More<span class="bullet"> »</span></a></div>
            </div>
        </div>
    </li>
    <li class="">
      <div class="news clearfix">
        <img alt="Loading news list..." class="loading" src="../_files/level/img/ajax-loader.gif" style="display: none;">
        <div class="story story1" itemscope="" itemtype="http://schema.org/Article" style="visibility: visible;">
          <div class="todayTomorrow">
            <span class="today">TODAY</span>
            <span class="tomorrow">TOMORROW</span>
          </div>
          <div class="date" itemprop="datePublished">
            <div class="day">28</div>
            <div class="month">SEP</div>
            <div class="year">2017</div>
          </div>
          <div class="title">
            <a href="https://blogs.chapman.edu/happenings/2017/09/28/chapman-receives-largest-orange-county-gift-from-w-m-keck-foundation/">Chapman receives largest Orange County gift from W. M. Keck Foundation</a>
            <span class="bullet">»</span>
          </div>
          <!--<p class="copy ellipsis multiline"></p>-->
          <!--<a class="readMore">Read More »</a>-->
        </div>
        <div class="story story2" itemscope="" itemtype="http://schema.org/Article" style="visibility: visible;">
          <div class="todayTomorrow">
            <span class="today">TODAY</span>
            <span class="tomorrow">TOMORROW</span>
          </div>
          <div class="date" itemprop="datePublished">
            <div class="day">26</div>
            <div class="month">SEP</div>
            <div class="year">2017</div>
          </div>
          <div class="title">
            <a href="https://blogs.chapman.edu/happenings/2017/09/26/70-years-school-desegregation-mendez-westminster/">70 years later, O.C. school desegregation case echoes on campus - 'Mendez v. Westminster' remembered during National Hispanic Heritage Month</a>
            <span class="bullet">»</span>
          </div>
          <!--<p class="copy ellipsis multiline"></p>-->
          <!--<a class="readMore">Read More »</a>-->
        </div>
        <div class="story story3 future" itemscope="" itemtype="http://schema.org/Article" style="visibility: visible;">
          <div class="todayTomorrow">
            <span class="today">TODAY</span>
            <span class="tomorrow">TOMORROW</span>
          </div>
          <div class="date" itemprop="datePublished">
            <div class="day">26</div>
            <div class="month">SEP</div>
            <div class="year">2017</div>
          </div>
          <div class="title">
            <a href="https://blogs.chapman.edu/happenings/2017/09/26/sylvia-mendez-segregation-still-exists-public-schools/">Sylvia Mendez: De facto segregation still exists in public schools</a>
            <span class="bullet">»</span>
          </div>
          <!--<p class="copy ellipsis multiline"></p>-->
          <!--<a class="readMore">Read More »</a>-->
        </div>
        <a class="allNews" href="http://blogs.chapman.edu/news-and-stories">View all News »</a>
      </div>
    </li>
    <li>
      <div class="events clearfix">
        <img alt="Loading events list..." class="loading" src="../_files/level/img/ajax-loader.gif" style="display: none;">
        <div class="story story1" itemscope="" itemtype="http://schema.org/Article" style="visibility: visible;">
          <div class="todayTomorrow">
            <span class="today">TODAY</span>
            <span class="tomorrow">TOMORROW</span>
          </div>

          <div class="date" itemprop="datePublished">
            <div class="day">28</div>
            <div class="month">SEPT</div>
            <div class="year">2017</div>
          </div>
          <div class="title">
            <a href="https://events.chapman.edu/41518">Chapman Veg*ns Meeting</a>
            <span class="bullet">»</span>
          </div>
          <!--<p class="copy ellipsis multiline"></p>-->
          <!--<a class="readMore">Read More »</a>-->
        </div>
        <div class="story story2" itemscope="" itemtype="http://schema.org/Article" style="visibility: visible;">
          <div class="todayTomorrow">
            <span class="today">TODAY</span>
            <span class="tomorrow">TOMORROW</span>
          </div>

          <div class="date" itemprop="datePublished">
            <div class="day">28</div>
            <div class="month">SEPT</div>
            <div class="year">2017</div>
          </div>
          <div class="title">
            <a href="https://events.chapman.edu/40538">PokePeople Meeting</a>
            <span class="bullet">»</span>
          </div>
          <!--<p class="copy ellipsis multiline"></p>-->
          <!--<a class="readMore">Read More »</a>-->
        </div>
        <div class="story story3 future" itemscope="" itemtype="http://schema.org/Article" style="visibility: visible;">
          <div class="todayTomorrow">
            <span class="today">TODAY</span>
            <span class="tomorrow">TOMORROW</span>
          </div>

          <div class="date" itemprop="datePublished">
            <div class="day">28</div>
            <div class="month">SEPT</div>
            <div class="year">2017</div>
          </div>
          <div class="title">
            <a href="https://events.chapman.edu/40756">Sketch Comedy Meeting</a>
            <span class="bullet">»</span>
          </div>
          <!--<p class="copy ellipsis multiline"></p>-->
          <!--<a class="readMore">Read More »</a>-->
        </div>
        <a class="allEvents" href="https://events.chapman.edu/">View all Events »</a>
      </div>
    </li>
  </ul>
</div>
