<div class="form-widget">
    <script language="JavaScript" type="text/javascript">
    <!--
    function validate() {
            var formObj = document.form1;
            if (formObj.email.value.length == 0) {
                alert("Email");
                formObj.email.focus();
                return false;
            } else if (checkEmail(formObj.email) != true) {
                formObj.email.focus();
                return false;
            } else {
                alert("Successfully submitted.");
                return true;
            }
        }
        //-->
    </script>
    <div class="responsiveForm">
        <form action="http://webfarm.chapman.edu/mailservice/formmail.aspx" id="form1" method="post" name="form1" onsubmit="return validate(this);">
            <input name="recipient" type="hidden" value="mthomas@chapman.edu">
            <input name="sender" type="hidden" value="webmaster@chapman.edu">
            <input name="subject" type="hidden" value="Test of form">
            <input name="mail_format" type="hidden" value="html">
            <input name="redirect_url" type="hidden" value="http://V_HTTP_HOST/index.aspx">
            <h2>Student Information:</h2>
            <label for="student_name">Student NAme:</label>
            <input id="student_name" maxlength="50" name="student_name" size="30" type="text">
            <label for="email">* Email:</label>
            <input id="email" maxlength="50" name="email" size="15" type="text">
            
            <label for="Course_Term_Semester">Semester:</label>
            <select name="Course_Term_Semester" title="Semester">
                <option value="">(select one)</option>
                <option value="Spring">Spring</option>
                <option value="Fall">Fall</option>
                <option value="InterTerm">InterTerm</option>
                <option value="Summer">Summer</option>
            </select>
            <label for="Course_Term_Year">Year:</label>
            <input id="Course_Term_Year" maxlength="4" name="Course_Term_Year" size="4" type="text">
            <fieldset>
  <legend>Sample Radio button</legend>         
  <input id="yes_orig" name="proposal_contains_original_research" type="radio" value="yes"/>
  <label for="yes_orig">Yes</label>  
  <input id="no_orig" name="proposal_contains_original_research" type="radio" value="no"/>
  <label for="no_orig">No</label>
</fieldset>
            
            <label for="proposal_abstract">Abstract (50 words or less):</label>
<textarea name="proposal_abstract" id="proposal_abstract" cols="50" rows="5"></textarea>

<label for="proposal_text">Proposal (upload document):</label>
<input id="proposal_text" name="proposal_text" type="file"/>

<label for="proposal_text2">Outline (upload document:</label>
<input id="proposal_text2" name="proposal_text2" type="file"/>

            <input name="submit" type="submit" value="Submit">
            <!-- The following code is invisible to people and
     contains some trap text fields-->
            <div style="display:none;">
                If you can read this, don't touch the following field:
                <input name="address_bot" type="text" value="">
            </div>
        </form>
    </div>
</div>
