<div class="regions-widget">
                                    <div class="region">
            <h3>Funnels (1 up)</h3>  
            <div class="content">
            <p>
                <img alt="sample image 1 of 2 for funnel widget" class="featureImage" height="150" src="//www.chapman.edu/students/_files/slide-small/new-slide-region.jpg" width="200"/>
                <div id="lipsum">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec leo turpis, dictum a quam eget, pellentesque feugiat diam. Quisque non lobortis mi. Aliquam tempor fermentum volutpat. Duis nisl urna, molestie vel arcu vitae, pulvinar hendrerit felis. Quisque at tellus egestas, suscipit metus vel, semper ex. Donec commodo sem non ultrices hendrerit. Nunc at gravida odio. Praesent elementum porta felis, eu fringilla odio placerat sit amet.&#160;</p>
</div>
            </p>
                            <ul class="linkList">
                                                                                                    <li>
                        <a href="http://www.chapman.edu/admission/index.aspx">Internal Link »</a>
                        </li>
                                                                                                                        <li>
                        <a href="http://blogs.chapman.edu">External Link »</a>
                        </li>
                                                                                                                        <li>
                        <a href="http://blogs.chapman.edu>File Link »</a>
                        </li>
                                                    </ul>
            </div>
                    </div>
                                    <div class="region">
            <h3>Funnels (1 up)</h3>  
            <div class="content">
            <p>
                <img alt="sample image 2 of 2 for funnel widget" class="featureImage" height="150" src="//www.chapman.edu/campus-services/marketing-communication/_files/website/images/image-sizes/200x150.jpg" width="200"/>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec leo turpis, dictum a quam eget, pellentesque feugiat diam. Quisque non lobortis mi. Aliquam tempor fermentum volutpat. Duis nisl urna, molestie vel arcu vitae, pulvinar hendrerit felis. Quisque at tellus egestas, suscipit metus vel, semper ex. Donec commodo sem non ultrices hendrerit. Nunc at gravida odio. Praesent elementum porta felis, eu fringilla odio placerat sit amet.
            </p>
                            <ul class="linkList">
                                                                                                    <li>
                        <a href="http://blogs.chapman.edu">Blogs at Chapman »</a>
                        </li>
                                                                                                                         <li>
                         
                         </li>
                                                                                                                         <li>
                         
                         </li>
                                                    </ul>
            </div>
                    </div>
 </div>