<div class="sponsor-box-widget sponsor" id="big-sponsor">
        <h2 class="header">Logo Image Rotator</h2>
        <div class="carousel">
        <ul>
            <li><a href="index.aspx"><img alt="logo 1" src="http://placehold.it/114x100"/></a></li>
            <li><a href="http://www.google.com"><img alt="logo 2" src="http://placehold.it/114x100"/></a></li>
            <li><a href="index.aspx"><img alt="logo 3" src="http://placehold.it/114x100"/></a></li>
            <li><a href="index.aspx"><img alt="logo 4" src="http://placehold.it/114x100"/></a></li>
            <li><a href="index.aspx"><img alt="logo 5" src="http://placehold.it/114x100"/></a></li>
            <li><a href="index.aspx"><img alt="logo 6" src="http://placehold.it/114x100"/></a></li>
       </ul>
    	</div>
</div>