<!--- note this version doesn't have the optional Section Header or introductory copy --->

<div class="personnel-listing-widget">

            <!-- anchor: -->
            <span id="jane-doe"></span>
            <div class="person" itemscope="itemscope" itemtype="http://schema.org/Person">
                                       <img alt="photo of Jane Doe" class="image" itemprop="image" src="//www.chapman.edu/_files/level/img/unisex-silhouette.jpg" style="width:120px;"/>         
                                                                <div class="name" itemprop="name">Jane Doe</div>
                <div class="title" itemprop="title">Director of Something Complicated</div>
                                    <div class="location">Beckman Hall 201</div>
                                                    <div class="phone" itemprop="telephone">(714) 555-5555</div>
                                                    <a class="email" href="mailto:name@chapman.edu" itemprop="email">name@chapman.edu</a>
                                                                            <div class="bio">Bio paragraph goes here.</div>
                                                                                                                                                <div class="bio-url">
                        <a href="index.aspx">View Full Bio &#187;</a>
                    </div>
                            </div>
            <!-- anchor: -->
            <span id="john-doe"></span>
            <div class="person" itemscope="itemscope" itemtype="http://schema.org/Person">
                                       <img alt="photo of John Doe" class="image" itemprop="image" src="//www.chapman.edu/_files/level/img/unisex-silhouette.jpg" style="width:120px;"/>         
                                                                <div class="name" itemprop="name">John Doe</div>
                <div class="title" itemprop="title">Manager of Something Complicated</div>
                                    <div class="location">Beckman Hall 201</div>
                                                    <div class="phone" itemprop="telephone">(714) 555-5555</div>
                                                    <a class="email" href="mailto:name@chapman.edu" itemprop="email">name@chapman.edu</a>
                                                                            <div class="bio">The bio paragraph goes here. </div>
                                                                                                                                                <div class="bio-url">
                        <a href="index.aspx">View Full Bio &#187;</a>
                    </div>
                            </div>
<!-- anchor: -->
            <span id="joe-student"></span>
			<div class="person" itemscope="itemscope" itemtype="http://schema.org/Person">
                                     <img alt="no photo available for Joe Student" class="image" itemprop="image" src="//www.chapman.edu/_files/level/img/unisex-silhouette.jpg" style="width:120px;">
                                                                <div class="name" itemprop="name">Joe Student</div>
                <div class="title" itemprop="title">B.A. legal studies, '05</div>
                <div class="bio">During his time at Chapman, Joe Student was a competing member of the Mock Trial team, where he won the Best Witness award at a regional competition, and participated in the Orange County Internship Program. Joe returned to Chapman in 2013 to pursue a J.D. at the Fowler School of Law, anticipating completion of his degree in 2015. He serves as a Student Ambassador for the law school.</div>
                <div class="bio">Joe Student’s brother, graduated from Chapman in 1998 with a degree in broadcast journalism.</div>
                <div class="bio">Joe lives in Orange with his wife, and they strive to eat at every new (and old) restaurant in the Orange Plaza.</div>
          </div>

</div>