<div id="personnel-anchors">

  <h2>Personnel Anchors</h2>
  <p class="overview">
    This section was added to address this issue:
    <a href="https://github.com/chapmanu/cascade-assets/issues/129" target="_blank">
      https://github.com/chapmanu/cascade-assets/issues/129
    </a>
  </p>

  <h3 class="personnel-anchors">
    <a href="#personnel-anchor-jane">Jump to Jane</a>

      ...or...

    <a href="#personnel-anchor-john">Jump to John</a>
  <h3>

  <div class="personnel-listing-widget">
    <!-- anchor: these anchor tags are found in production -->
    <span id="personnel-anchor-jane"></span>
    <div class="person" itemscope="itemscope" itemtype="http://schema.org/Person">
      <img alt="photo of Jane Doe" class="image" itemprop="image"
           src="//www.chapman.edu/_files/level/img/unisex-silhouette.jpg"
           style="width:120px;"/>
      <div class="name" itemprop="name">Jane Doe</div>
      <div class="title" itemprop="title">Director of Something Complicated</div>
      <div class="location">Beckman Hall 201</div>
      <div class="phone" itemprop="telephone">(714) 555-5555</div>
      <a class="email" href="#personnel-anchors" itemprop="email">name@chapman.edu</a>
      <div class="bio">Bio paragraph goes here.</div>
      <div class="bio-url">
        <a href="#personnel-anchors">View Full Bio &#187;</a>
      </div>
    </div>

    <!-- anchor: -->
    <span id="personnel-anchor-john"></span>
    <div class="person" itemscope="itemscope" itemtype="http://schema.org/Person">
      <img alt="photo of John Doe" class="image" itemprop="image"
           src="//www.chapman.edu/_files/level/img/unisex-silhouette.jpg"
           style="width:120px;"/>
      <div class="name" itemprop="name">John Doe</div>
      <div class="title" itemprop="title">Manager of Something Complicated</div>
      <div class="location">Beckman Hall 201</div>
      <div class="phone" itemprop="telephone">(714) 555-5555</div>
      <a class="email" href="#personnel-anchors" itemprop="email">name@chapman.edu</a>
      <div class="bio">The bio paragraph goes here. </div>
      <div class="bio-url">
        <a href="#personnel-anchors">View Full Bio &#187;</a>
      </div>
    </div>
  </div>

</div>