<div class="regions-widget">
            <div class="region">
            <h3>New Students</h3>
            <div class="content">
            <p>
                <img alt="Students with Pete the Panther" class="featureImage" height="150" src="../students/_files/slide-small/new-slide-region.jpg" width="200">

            </p>
                            <ul class="linkList">
                                                                                                    <li>
                        <a href="../students/dean-of-students/index.aspx">Welcome from the Dean of Students - Student Affairs&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/new-students/first-year-experience/first-year-programs.aspx">First Year Programs&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/new-students/freshman-checklist.aspx">Freshman Checklist&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/new-students/graduate-checklist.aspx">Graduate Checklist&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/new-students/healthy-panther/index.aspx">Healthy Panther&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/new-students/first-year-experience/orientation/index.aspx">Orientation&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/new-students/transfer-checklist.aspx">Transfer Checklist&nbsp;»</a>
                        </li>
                                                    </ul>
            </div>
                    </div>
            <div class="region">
            <h3>Academic Resources</h3>
            <div class="content">
            <p>
                <img alt="Students at computer" class="featureImage" height="150" src="../students/_files/slide-small/academic-slide-region.jpg" width="200">

            </p>
                            <ul class="linkList">
                                                                                                    <li>
                        <a href="../students/academic-resources/advising/index.aspx">Academic Advising&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../academics/academic-calendar.aspx">Academic Calendar&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/academic-resources/blackboard/index.aspx">Blackboard&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../international-studies/center-for-global-education/index.aspx">Center for Global Education&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/academic-resources/course-schedule.aspx">Course Schedules&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/academic-resources/first-generation/index.aspx">First Generation College Students&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../academics/general-education/index.aspx">General Education Program&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/academic-resources/graduation/index.aspx">Graduation&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../academics/honors/index.aspx">Honors Program&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="https://web.chapman.edu/OnlineSyllabus/Account/Index?ReturnUrl=%2fOnlineSyllabus%2f">Online Course Syllabi&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/academic-resources/registrar/index.aspx">Registration&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/academic-resources/tutoring-center/index.aspx">Tutoring, Learning &amp; Testing Center&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../wilkinson/english/orgs-publications/writing-center/index.aspx">Writing Center&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/academic-resources/registrar/student-services/webadvisor-access.aspx">Web Advisor&nbsp;»</a>
                        </li>
                                                    </ul>
            </div>
                    </div>
            <div class="region">
            <h3>Student Life</h3>
            <div class="content">
            <p>
                <img alt="Chapman Students" class="featureImage" height="150" src="../students/_files/slide-small/student-life-slide-region.jpg" width="200">

            </p>
                            <ul class="linkList">
                                                                                                    <li>
                        <a href="../students/life/clubs-organizations/index.aspx">Clubs and Organizations&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/life/civic-engagement/index.aspx">Civic Engagement&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/life/tickets.aspx">Discount Tickets&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/life/cross-cultural-engagement/index.aspx">Cross-Cultural Engagement&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/new-students/first-year-experience/first-year-programs.aspx">First Year Programs&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/life/fitness-and-wellness/index.aspx">Fitness and Wellness&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/life/greek-life/index.aspx">Greek Life&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/life/leadership-opportunities/index.aspx">Leadership Opportunities&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/life/civic-engagement/programs/index.aspx">Service Programs&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/life/spirituality.aspx">Spirituality, Faith and Worship&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/life/student-union/index.aspx">Student Union&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/life/civic-engagement/index.aspx">Sustainability&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/life/student-government/index.aspx">Student Government&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/life/program-board/index.aspx">University Program Board&nbsp;»</a>
                        </li>
                                                    </ul>
            </div>
                    </div>
            <div class="region">
            <h3>Student Services</h3>
            <div class="content">
            <p>
                <img alt="Chapman Students" class="featureImage" height="150" src="../students/_files/slide-small/student-service-slide-region.jpg" width="200">

            </p>
                            <ul class="linkList">
                                                                                                    <li>
                        <a href="../students/services/career-development/index.aspx">Career Development Center&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/services/computing-email.aspx">Computing and Email&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/services/dining.aspx">Dining&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/health-and-safety/disability-services/index.aspx">Disability Services&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/services/housing-and-residence/index.aspx">Housing and Residence&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../international-studies/index.aspx">International Student Services&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/health-and-safety/public-safety.aspx">Parking and Transportation&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/services/student-ask/index.aspx">Student Ask&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../faculty-staff/human-resources/student-employment-services.aspx">Student Employment Opportunities&nbsp;»</a>
                        </li>
                                                    </ul>
            </div>
                    </div>
            <div class="region">
            <h3>Tuition and Financial Aid</h3>
            <div class="content">
            <p>
                <img alt="Chapman Students" class="featureImage" height="150" src="../students/_files/slide-small/tuition-slide-region.jpg" width="200">

            </p>
                            <ul class="linkList">
                                                                                                    <li>
                        <a href="../students/tuition-and-aid/financial-aid/federal-work-study.aspx">Federal Work Study&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/academic-resources/fellowships/index.aspx">Fellowships&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/tuition-and-aid/financial-aid/index.aspx">Financial Aid&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/tuition-and-aid/SBS/index.aspx">Student Business Services&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/tuition-and-aid/SBS/current-students/2013-2014-tuition.aspx">Tuition and Fees&nbsp;»</a>
                        </li>
                                                    </ul>
            </div>
                    </div>
            <div class="region">
            <h3>Health Services</h3>
            <div class="content">
            <p>
                <img alt="Health slide" class="featureImage" height="150" src="../students/_files/slide-small/health-slide-region.jpg" width="200">

            </p>
                            <ul class="linkList">
                                                                                                    <li>
                        <a href="../students/health-and-safety/disability-services/index.aspx">Disability Services&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/health-and-safety/health-services/index.aspx">Health Center&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/health-and-safety/peer/index.aspx">PEER &nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/health-and-safety/psychological-counseling/index.aspx">Psychological Counseling&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/health-and-safety/public-safety.aspx">Public Safety&nbsp;»</a>
                        </li>
                                                    </ul>
            </div>
                    </div>
            <div class="region">
            <h3>Policy and Forms</h3>
            <div class="content">
            <p>
                <img alt="panther statue" class="featureImage" height="150" src="../students/_files/slide-small/policy-slide-region.jpg" width="200">

            </p>
                            <ul class="linkList">
                                                                                                    <li>
                        <a href="../campus-services/marketing-communication/services/events/event-planning-guide/index.aspx">Event Planning Guide&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/academic-resources/registrar/student-services/forms.aspx">Registrar Forms&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../academics/course-catalogs/index.aspx">Student Catalog&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="../students/policies-forms/student-conduct/index.aspx">Student Conduct &nbsp;»</a>
                        </li>
                                                    </ul>
            </div>
                    </div>
            </div>