<div class="regions-widget">
                    <div class="region">
            <h3>Student Opportunities</h3>  
            <div class="content">
            <p>
                <img alt="Student Opportunities" class="featureImage" height="150" src="../_files/civic-engagement/images/region-dayofservice.png" width="200">
                Students can participate in a&nbsp;<a href="programs/index.aspx">variety of experiences</a>&nbsp;throughout the year to develop a strong sense of civic identity and a deep commitment to civic engagement. &nbsp;From short-term opportunities that introduce students to our local community and public issues, to long-term commitments for students looking for immersive civic experiences, Civic Engagement Initiatives supports each student's civic development!
            </p>
                            <ul class="linkList">
                                                                                                     <li>
                         
                         </li>
                                                    </ul>
            </div>
                    </div>
                    <div class="region">
            <h3>Community Agencies</h3>  
            <div class="content">
            <p>
                <img alt="Community Agencies" class="featureImage" height="150" src="../_files/civic-engagement/images/region-maryskitchen.png" width="200">
                </p><p>Interested in becoming a partner in our civic engagement initiatives? There are many ways in which community agencies can&nbsp;<a href="community-agencies.aspx">connect with Chapman</a>!&nbsp;</p>
            <p></p>
                            <ul class="linkList">
                                                                                                     <li>
                         
                         </li>
                                                                                                                         <li>
                         
                         </li>
                                                    </ul>
            </div>
                    </div>
                    <div class="region">
            <h3>Faculty &amp; Staff</h3>  
            <div class="content">
            <p>
                <img alt="Faculty and Staff" class="featureImage" height="150" src="../_files/civic-engagement/images/region-asb.png" width="200">
                Civic Engagement Initiatives has a number of resources and opportunities to <a href="faculty-staff.aspx">support and engage faculty and staff</a>.
            </p>
                            <ul class="linkList">
                                                                                                    <li>
                        <a href="programs/alternative-spring-break.aspx">Serve as an Alternative Break Trip Advisor&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="programs/day-of-service.aspx">Participate in the Chapman Day of Service&nbsp;»</a>
                        </li>
                                                                                                                        <li>
                        <a href="http://www.tanakafarms.com/sign-up/">Subscribe to Tanaka Farms' CSA (Pick-Up at Chapman)&nbsp;»</a>
                        </li>
                                                    </ul>
            </div>
                    </div>
            </div>