<div class="regions-widget">
                    <div class="region">
            <h3>Role of Student Organization Advisor</h3>  
            <div class="content">
            <p>
                <img alt="Campus flag" class="featureImage" height="150" src="../_files/clubs-organizations/images/region-leaders.png" width="200">
                </p><p>Advisors are encouraged to talk with student leaders to co-create the role, responsibilities, and time commitment of the advisor for that specific organization. Whatever is decided, the advisor can play a critical role in supporting the organization while still allowing it to run independently so students can gain valuable leadership experience with their peers.</p>
<p>Some of the responsibilities the advisor may want to consider are:</p>
<ul>
<li>Help the club navigate campus <a href="../../../campus-services/marketing-communication/services/events/event-planning-guide/index.aspx" target="_blank" title="Event Planning Guide">resources, policies &amp; procedures</a></li>
<li>Assist the club in developing an understanding of fulfilling its mission and purpose at Chapman</li>
<li>Ensure that the organization maintains <a href="manage.aspx" target="_blank" title="Manage Your Organization Page">good standing</a> by attending President's Council and submitting the End of Semester report</li>
<li>Be a liaison between the club and the University – share chapter successes and university information</li>
<li>Challenge and support the club to continuously grow and improve</li>
<li>Promote the Chapman University <a href="../../policies-forms/student-conduct/index.aspx" target="_blank" title="Student Conduct Code">Code of Conduct</a> and the <a href="../../../about/facts-history/index.aspx" target="_blank" title="Chapman Facts &amp; History Page">mission of the University</a></li>
</ul>
            <p></p>
                            <ul class="linkList">
                                                                                                     <li>
                         
                         </li>
                                                    </ul>
            </div>
                    </div>
                    <div class="region">
            <h3>Resources</h3>  
            <div class="content">
            <p>
                <img alt="Resources" class="featureImage" height="150" src="../_files/clubs-organizations/images/clubs1.jpg" width="200">
                </p><p><a href="../../../campus-services/marketing-communication/services/events/event-planning-guide/index.aspx" target="_blank" title="Event Planning Guide">Event Planning Guide</a>&nbsp;– A step-by-step guide to navigating event planning at Chapman University! Includes contact information for relevant campus departments, as well as information, links and forms for contracts, vendors, calendaring, media services, facilities, catering, and more.</p>
<p><a href="http://chapman.orgsync.com/" target="_blank" title="Chapman OrgSync Page">OrgSync</a>&nbsp;- Search all student organizations &amp; departmental student involvement opportunities, find contact info for organization leaders &amp; advisors, request to join organizations, and manage communication with your club.</p>
<p><a href="../student-government/index.aspx" target="_blank" title="SGA Page">Student Government Association</a>&nbsp;– See the sections on finance and Senate for information on organization funding, conference scholarship, and student organization advocacy.</p>
<p><a href="http://www.acui.org/publications/bulletin/article.aspx?issue=22644&amp;id=13298" target="_blank" title="ACUI Article">Advisor Involvement and Retention</a>&nbsp;– Article from Association of Colleges Unions International (ACUI) about the role and impact of student organization advisors and factors that influence advisor involvement.</p>
            <p></p>
                            <ul class="linkList">
                                                                                                     <li>
                         
                         </li>
                                                    </ul>
            </div>
                    </div>
            </div>