<div class="sponsor-box-widget sponsor" id="big-sponsor">
    <span class="header">Thanks to...</span>
    <div class="carousel">
        <div class="jcarousel-container jcarousel-container-horizontal" style="position: relative; display: block;">
            <div class="jcarousel-clip jcarousel-clip-horizontal" style="position: relative;">
                <ul class="jcarousel-list jcarousel-list-horizontal" style="overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: -153px; width: 1171px;">
                    <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal" jcarouselindex="1" style="float: left; list-style: none;">
                        <a href="${sponsorLink}"><img alt="Deloitte" src="<%= image_path 'placeholder/deloitte.jpeg' %>">
                        </a>
                    </li>
                    <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-2 jcarousel-item-2-horizontal" jcarouselindex="2" style="float: left; list-style: none;">
                        <a href="${sponsorLink}"><img alt="Golds" src="<%= image_path 'placeholder/golds.jpeg' %>">
                        </a>
                    </li>
                    <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-3 jcarousel-item-3-horizontal" jcarouselindex="3" style="float: left; list-style: none;">
                        <a href="${sponsorLink}"><img alt="Jack" src="<%= image_path 'placeholder/jack.jpg' %>">
                        </a>
                    </li>
                    <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-4 jcarousel-item-4-horizontal jcarousel-item-placeholder jcarousel-item-placeholder-horizontal" jcarouselindex="4" style="float: left; list-style: none;"></li>
                    <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-5 jcarousel-item-5-horizontal jcarousel-item-placeholder jcarousel-item-placeholder-horizontal" jcarouselindex="5" style="float: left; list-style: none;"></li>
                    <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-6 jcarousel-item-6-horizontal jcarousel-item-placeholder jcarousel-item-placeholder-horizontal" jcarouselindex="6" style="float: left; list-style: none;"></li>
                    <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-7 jcarousel-item-7-horizontal" jcarouselindex="7" style="float: left; list-style: none;">
                        <a href="${sponsorLink}"><img alt="Deloitte" src="<%= image_path 'placeholder/deloitte.jpeg' %>">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="jcarousel-prev jcarousel-prev-horizontal" style="display: block;">«</div>
            <div class="jcarousel-next jcarousel-next-horizontal" style="display: block;">»</div>
        </div>
    </div>
</div>
