<div class="tabs-widget">
    <ul class="newsEventsNav">
        <li class="active">Executive Committee</li>
        <li>Chapman Chats - Students</li>
        <li>Chapman Chats - Alumni</li>
        <li>Summer Bash</li>
    </ul>
    <ul class="newsEventsContent editableContent clearfix">
        <li class="active"><img align="left" alt="Headshot of Ryan Hougardy" height="150" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/edited-for-web/ryan-hougardy-bio.jpg" width="130">
            <p><strong>Ryan Hougardy</strong>
                <br> B.S. business administration ’09 (MBA ’12)
                <br> Chair and Chapman Chats: Student-Alumni Connections Chair</p>
            <p>Originally from Thousand Oaks, Ryan moved to Orange in 2005 as a freshman international business student. Eventually settling on a business degree with emphases in finance and economics, Ryan graduated in 2009. Immediately following graduation, Ryan began working as a staff member for U.S. Representative Ed Royce. While on staff, he pursued an MBA at Chapman, completing the program in December 2011.</p>
            <p>Since obtaining his MBA, Ryan transitioned into the financial sector. Starting with Northwestern Mutual – Irvine at the end of 2011, Ryan began his career as a financial representative before moving into his current role as the operations manager.</p>
            <p>Ryan became involved with various alumni programs following graduation, including Chapman University Young Alumni (CUYA). He currently serves as co-chair of the group. His passion and pride for Chapman are strong and he remains a vocal activist for the university’s ambitions and vision.</p>
            <p><a href="mailto:ryanhougardy@gmail.com">Contact Ryan to get involved with Alumni and Student Chats or the Young Alumni Program.</a></p>
            <hr>
            <p><img align="left" alt="Headshot of Eric Purmort" height="167" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/eric-purmort-cuya.jpg" width="130"></p>
            <p><strong>Eric Purmort</strong>
                <br> B.A. economics ‘13
                <br> Chappy Hour and Chapman Meet Up Chair</p>
            <p>Eric has been a part of the Chapman Family since 2011 when he began his studies at the George L. Argyros School of Business and Economics. Since graduating, he has helped develop, coordinate and recruit attendees for events such as Chappy Hour, the Chapman Networking Roundtable, Chapman Chats and the CUYA Summer Bash.</p>
            <p>Eric currently works at Coldwell Banker Commercial Alliance where he specializes in corporate strategy for the leasing and acquiring of commercial real estate in the Orange County market. Prior to CBC Alliance, he worked at CBRE and Cushman &amp; Wakefield.</p>
            <p>He is involved with community service organizations including Big Brothers Big Sisters of Orange County and Susan G. Komen. He currently resides in Newport Beach where he enjoys golfing and the southern California lifestyle.</p>
            <p><a href="mailto:eric.purmort@cbcalliance.com">Contact Eric to learn more about or get involved with Chappy Hour and Chapman Meet Up events.</a></p>
            <hr>
            <p><img align="left" alt="Head shot of young alumni" height="158" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/IMG_3338.JPG" width="130"></p>
            <p><strong>Emily Spahn</strong>
                <br> B.A. peace studies ‘13
                <br> Summer Bash Chair</p>
            <p>Originally from the northwest suburbs of Chicago, Emily moved to Orange in 2011, as a transfer student from ASU, and majored in Peace Studies.
                <br> Since graduating, Emily has been working at True Designs as an admin assistant.</p>
            <p>She recently became involved with various alumni groups after graduation wanting to continue to be involved in the Chapman community.</p>
            <p><a href="emailto:spahnemily8@gmail.com" target="_blank">Contact Emily to learn more about or get involved with the Young Alumni Summer Bash.</a></p>
            <hr>
            <p><img align="left" alt="head shot young alumni" height="153" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/harstad.jpg" width="130"></p>
            <p><strong>Karlie Harstad</strong>
                <br> B.A. art history ’09
                <br> Communications Chair</p>
            <p>Karlie Harstad graduated from Chapman in the Fall of 2009 with a Bachelor of Arts in Art History. While studying abroad, she decided to move to Europe and worked as a tour guide following graduation.</p>
            <p>Karlie is now working in the medical device field here in Orange County and looks forward to engage and support Chapman young alumni in their career orientated goals.</p>
            <p><a href="emailto:karlie.harstad@gmail.com" target="_blank">Contact Karlie to learn more about or get involved with alumni communications</a>.</p>
        </li>
        <li>
            <h4><strong><a href="http://blogs.chapman.edu/alumni/2014/03/07/heads-up-young-alumni-want-to-mentor-current-students/" target="_blank">Chapman Chats: Student and Alumni Connections</a></strong></h4>
            <p>Want to connect with alumni in your field or to find out tips on how to get a jump–start on your career? Are you busy and just want a few questions answered quickly?&nbsp;</p>
            <p><strong><em>Chapman Chats: Student and Alumni Connections</em></strong> is here to help! &nbsp;</p>
            <p>Alumni are here for three days in the Spring to help mentor students. <a href="http://www.surveymonkey.com/s/ChapmanChatsStudents">Register</a> for Chapman Chats to have your questions answered quickly. Alumni are here for about 1 1/2 hours only so save your spot today.&nbsp;</p>
            <p><a href="emailto:eap@chapman.edu" target="_blank">Contact Lisa Eap, manager of alumni engagement</a> for more information.</p>
            <p><strong><strong>Date</strong>:</strong> April 14 - 16, 2015</p>
            <p><strong>Time:</strong>&nbsp;6:30 - 8 p.m.</p>
            <p><strong>Location:</strong> Chapman University</p>
            <p><strong>Check out this year's Alumni Facilitators</strong></p>
            <hr>
            <h3><strong>Tuesday, April 14, 2015 from 6:30 – 8 p.m.</strong></h3>
            <h4><strong>*Profiles are sorted alphabetical by career industry</strong></h4>
            <hr>
            <h3><strong><img alt="chandler-garbell.jpg" height="130" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/chandler-garbell.jpg" width="130"></strong></h3>
            <h4><a href="https://www.linkedin.com/profile/view?id=87990519&amp;authType=NAME_SEARCH&amp;authToken=U9a-&amp;locale=en_US&amp;srchid=1515715241426028107742&amp;srchindex=1&amp;srchtotal=1&amp;trk=vsrp_people_res_name&amp;trkInfo=VSRPsearchId%3A1515715241426028107742%2CVSRPtargetId%3A87990519%2CVSRPcmpt%3Aprimary%2CVSRPnm%3A" target="_blank"><strong>Chandler Faye Garbell</strong></a></h4>
            <p>Digital Arts 2010</p>
            <h4><strong>Apps/Technology: Oceanhouse Media, Inc.</strong></h4>
            <p>Art Director</p>
            <hr>
            <p><img alt="ryan-hougardy.jpg" height="130" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/ryan-hougardy.jpg" width="130"></p>
            <h4><a href="https://www.linkedin.com/profile/view?id=153923271&amp;authType=NAME_SEARCH&amp;authToken=SoI7&amp;locale=en_US&amp;trk=tyah2&amp;trkInfo=idx%3A1-2-2%2CtarId%3A1426028134023%2Ctas%3Aryan" target="_blank"><strong>Ryan Hougardy</strong></a></h4>
            <p>Business Administration 2009, MBA 2012</p>
            <h4><strong>Finance: Northwestern Mutual<a href="https://www.linkedin.com/company/2445?trk=prof-exp-company-name"></a></strong></h4>
            <p>Operations Manager</p>
            <hr>
            <p><img alt="karlie-harstad.jpg" height="153" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/harstad.jpg" width="130"></p>
            <h4><a href="https://www.linkedin.com/profile/view?id=104392677&amp;authType=NAME_SEARCH&amp;authToken=X1AT&amp;locale=fr_FR&amp;srchid=1515715241426028300234&amp;srchindex=1&amp;srchtotal=1&amp;trk=vsrp_people_res_name&amp;trkInfo=VSRPsearchId%3A1515715241426028300234%2CVSRPtargetId%3A104392677%2CVSRPcmpt%3Aprimary%2CVSRPnm%3A" target="_blank"><strong>Karlie Harstad</strong></a></h4>
            <p>Art History 2009</p>
            <h4><strong>Medical Device:&nbsp;</strong><strong>Edwards Lifesciences</strong></h4>
            <p>Department Specialist, THV Clinical Affairs</p>
            <hr>
            <p><img alt="cayla-perry.jpg" height="130" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/cayla-perry.jpg" width="130"></p>
            <h4><a href="https://www.linkedin.com/profile/view?id=64329325&amp;authType=NAME_SEARCH&amp;authToken=dWfU&amp;locale=en_US&amp;trk=tyah&amp;trkInfo=clickedVertical%3Amynetwork%2Cidx%3A1-1-1%2CtarId%3A1427384309983%2Ctas%3Acayla+pe" target="_blank"><strong>Cayla Perry</strong></a></h4>
            <p>Business Administration 2010</p>
            <h4><strong>Technology: Technologent</strong></h4>
            <p>Sales Support Specialist</p>
            <hr>
            <h3><strong>Wednesday, April 15, 2015 from 6:30 – 8 p.m.</strong></h3>
            <h4><strong>*Profiles are sorted alphabetical by career industry</strong></h4>
            <hr>
            <h4><strong><img alt="rob-selway.jpg" height="130" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/robert-selway.jpg" width="130"></strong></h4>
            <h4><a href="https://www.linkedin.com/profile/view?id=54940960&amp;authType=NAME_SEARCH&amp;authToken=8tPD&amp;locale=en_US&amp;trk=tyah2&amp;trkInfo=idx%3A1-1-1%2CtarId%3A1426028195185%2Ctas%3Arob+selw" target="_blank"><strong>Rob Selway</strong></a></h4>
            <p>Business Administration 2007, MBA 2009</p>
            <h4><strong>Commercial Banking and Real Estate:</strong> <strong>Citizens Business Bank</strong></h4>
            <p>Assistant Vice President, Relationship Manager</p>
            <hr>
            <h1><img alt="mary-gardiner.jpg" height="130" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/mary-gardiner.jpg" width="130"></h1>
            <h4><a href="https://www.linkedin.com/profile/view?id=179108691&amp;authType=NAME_SEARCH&amp;authToken=o-v2&amp;locale=en_US&amp;trk=tyah2&amp;trkInfo=idx%3A1-1-1%2CtarId%3A1426127898634%2Ctas%3Amary+gardi" target="_blank"><strong>Mary Gardiner</strong></a></h4>
            <p>Communications 2011</p>
            <h4><strong>Consumer Packaged Goods: ZICO Beverages, LLC</strong></h4>
            <p>Marketing Manager</p>
            <hr>
            <p><img alt="bradley-purcell.jpg" height="130" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/bradley-purcell.jpg" width="130"></p>
            <h4><a href="https://www.linkedin.com/profile/view?id=331143846&amp;authType=NAME_SEARCH&amp;authToken=POR7&amp;locale=en_US&amp;trk=tyah2&amp;trkInfo=idx%3A1-1-1%2CtarId%3A1426028166458%2Ctas%3Abradley+pur" target="_blank"><strong>Bradley Purcell</strong></a></h4>
            <p>Creative Writing 2007</p>
            <h4><strong>Finance and Insurance:&nbsp;</strong><strong>Bradley Purcell State Farm</strong></h4>
            <p>Agent</p>
            <hr>
            <p><img alt="adam-coughran.jpg" height="150" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/adam-coughran.jpg" width="130"></p>
            <h4><strong>Adam Coughran</strong></h4>
            <p>Political Science 2004, MA 2010</p>
            <h4><strong>Government/Entrepreneurship: Standards Training &amp; Consulting</strong></h4>
            <p>Owner, Founder</p>
            <hr>
            <p><img alt="brandon-avery.jpg" height="130" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/brandon-avery.jpg" width="130"></p>
            <h4><a href="https://www.linkedin.com/profile/view?id=28263219&amp;authType=NAME_SEARCH&amp;authToken=CG5b&amp;locale=en_US&amp;trk=tyah&amp;trkInfo=clickedVertical%3Amynetwork%2Cidx%3A1-1-1%2CtarId%3A1427138736222%2Ctas%3Abrandon+avery" target="_blank"><strong>Brandon Avery, CIC</strong></a></h4>
            <p>Political Science 2002</p>
            <h4><strong>Insurance: Liberty Mutual</strong></h4>
            <p>Vice President &amp; Managing Director</p>
            <hr>
            <p><img alt="patrick-takeshita.jpg" height="130" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/patrick-takeshita.jpg" width="130"></p>
            <h4><a href="https://www.linkedin.com/profile/view?id=74214418&amp;authType=NAME_SEARCH&amp;authToken=3CNC&amp;locale=en_US&amp;trk=tyah&amp;trkInfo=clickedVertical%3Amynetwork%2Cidx%3A1-2-2%2CtarId%3A1426727418134%2Ctas%3Apatrick+ta" target="_blank"><strong>Patrick Takeshita (LION)</strong></a></h4>
            <p>Accounting 2011</p>
            <h4><strong>IT Recruiting: CyberCoders</strong></h4>
            <p>Executive Recruiter - Current</p>
            <h4><strong>Retail/Sporting: Nike and Hurley</strong></h4>
            <p>Key Account Executive - Former</p>
            <hr>
            <p><img alt="no-picture.jpg" height="147" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/no-picture.jpg" width="130"></p>
            <h4><a href="https://www.linkedin.com/profile/view?id=22869963&amp;authType=NAME_SEARCH&amp;authToken=dMfX&amp;locale=en_US&amp;trk=tyah&amp;trkInfo=clickedVertical%3Amynetwork%2Cidx%3A1-1-1%2CtarId%3A1426727743351%2Ctas%3Aariana+burr" target="_blank"><strong>Ariana Burris</strong></a></h4>
            <p>JD 2009</p>
            <h4><strong>Law: Myler Disability</strong></h4>
            <p>Associate Attorney</p>
            <hr>
            <p><img alt="cayla-perry.jpg" height="130" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/cayla-perry.jpg" width="130"></p>
            <h4><a href="https://www.linkedin.com/profile/view?id=64329325&amp;authType=NAME_SEARCH&amp;authToken=dWfU&amp;locale=en_US&amp;trk=tyah&amp;trkInfo=clickedVertical%3Amynetwork%2Cidx%3A1-1-1%2CtarId%3A1427384309983%2Ctas%3Acayla+pe" target="_blank"><strong>Cayla Perry</strong></a></h4>
            <p>Business Administration 2010</p>
            <h4><strong>Technology: Technologent</strong></h4>
            <p>Sales Support Specialist</p>
            <hr>
            <h3><strong>Thursday, April 16, 2015 from 6:30 – 8 p.m.</strong></h3>
            <h4><strong>*Profiles are sorted alphabetical by career industry</strong></h4>
            <hr>
            <h4><img alt="mary-gardiner.jpg" height="130" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/mary-gardiner.jpg" width="130"></h4>
            <h4><a href="https://www.linkedin.com/profile/view?id=179108691&amp;authType=NAME_SEARCH&amp;authToken=o-v2&amp;locale=en_US&amp;trk=tyah2&amp;trkInfo=idx%3A1-1-1%2CtarId%3A1426127898634%2Ctas%3Amary+gardi" target="_blank"><strong>Mary Gardiner</strong></a></h4>
            <p>Communications 2011</p>
            <h4><strong>Consumer Packaged Goods:&nbsp;ZICO Beverages, LLC</strong></h4>
            <p>Marketing Manager</p>
            <hr>
            <p><img alt="jeffrey-kopasz" height="135" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/jeffrey-kopasz.jpg" width="130"></p>
            <h4><strong>Jeffrey Kopasz</strong></h4>
            <p>Music Education 2008, CRED 2010</p>
            <h4><strong>Education/Music: Murrieta Valley Unified Shcool District</strong></h4>
            <p>Choral Director</p>
            <hr>
            <div>
                <p><img alt="ryan-hougardy.jpg" height="130" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/ryan-hougardy.jpg" width="130"></p>
                <h4><a href="https://www.linkedin.com/profile/view?id=153923271&amp;authType=NAME_SEARCH&amp;authToken=SoI7&amp;locale=en_US&amp;trk=tyah2&amp;trkInfo=idx%3A1-2-2%2CtarId%3A1426028134023%2Ctas%3Aryan" target="_blank"><strong>Ryan Hougardy</strong></a></h4>
                <p>Business Administration 2009, MBA 2012</p>
                <h4><strong>Finance: Northwestern Mutual<a href="https://www.linkedin.com/company/2445?trk=prof-exp-company-name"></a></strong></h4>
                <p>Operations Manager</p>
                <hr>
                <p><img alt="bradley-purcell.jpg" height="130" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/bradley-purcell.jpg" width="130"></p>
                <h4><a href="https://www.linkedin.com/profile/view?id=331143846&amp;authType=NAME_SEARCH&amp;authToken=POR7&amp;locale=en_US&amp;trk=tyah2&amp;trkInfo=idx%3A1-1-1%2CtarId%3A1426028166458%2Ctas%3Abradley+pur" target="_blank"><strong>Bradley Purcell</strong></a></h4>
                <p>Creative Writing 2007</p>
                <h4><strong>Finance and Insurance:&nbsp;</strong><strong>Bradley Purcell State Farm</strong></h4>
                <p>Agent</p>
                <hr>
                <p><img alt="adam-coughran.jpg" height="150" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/adam-coughran.jpg" width="130"></p>
                <h4><strong>Adam Coughran</strong></h4>
                <p>Political Science 2004, MA 2010</p>
                <h4><strong>Government/Entrepreneurship: Standards Training &amp; Consulting</strong></h4>
                <p>Owner, Founder</p>
                <hr>
                <p><img alt="zackery-glass.jpg" height="130" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/zackery-glass.jpg" width="130"></p>
                <h4><strong>Zackery Glass</strong></h4>
                <p>Business Administration 2008</p>
                <h4><strong>Non-Profit: OC LGBT Pride</strong></h4>
                <p>President</p>
                <hr>
                <p><img alt="connie-benson.jpg" height="130" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/connie-benson.jpg" width="130"></p>
                <h4><a href="https://www.linkedin.com/profile/view?id=101563986&amp;authType=NAME_SEARCH&amp;authToken=0ktv&amp;locale=en_US&amp;trk=tyah2&amp;trkInfo=idx%3A1-1-1%2CtarId%3A1426028378336%2Ctas%3Aconnie" target="_blank"><strong>Connie Benson</strong></a></h4>
                <p>Legal Studies 1993, JD 1996</p>
                <h4><strong>Law:</strong> <strong>Williamson Law Group</strong></h4>
                <p>Senior Attorney</p>
                <hr>
                <p><img alt="faheem-tukhi.jpg" height="130" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/faheem-tukhi.jpg" width="130"></p>
                <h4><a href="https://www.linkedin.com/profile/view?id=331923752&amp;authType=NAME_SEARCH&amp;authToken=Vbwl&amp;locale=en_US&amp;trk=tyah2&amp;trkInfo=idx%3A1-1-1%2CtarId%3A1426028403491%2Ctas%3Afahee" target="_blank"><strong>Faheem Tukhi</strong></a></h4>
                <p>Legal Studies 2005, JD 2015</p>
                <p><strong>Law -&nbsp;</strong><strong>Juris Doctor Candidate,&nbsp;</strong><strong>Chapman University School of Law</strong></p>
                <p>Employment Law</p>
            </div>
        </li>
        <li>
            <h4><strong><a href="http://blogs.chapman.edu/alumni/2014/03/07/heads-up-young-alumni-want-to-mentor-current-students/" target="_blank">Chapman Chats: Student and Alumni Connections</a></strong></h4>
            <p>Interested in coming back to campus to interact with and mentor current students for 1, 2, or 3 days in the spring?
                <a href="http://blogs.chapman.edu/alumni/2014/03/07/heads-up-young-alumni-want-to-mentor-current-students/" target="_blank"></a>
            </p>
            <p>Chapman Chats gives students and alumni the chance to interact and develop relationships in an informal setting. Alumni facilitators will lead a discussion with students by asking thought provoking questions, encouraging students to think about their time at Chapman and life after Chapman, sharing your experiences and offering advice. As alumni, you have been in the students’ shoes and have valuable knowledge to share. Students have a number of questions about navigating Chapman and how they should make the most out of their Chapman experience and what to expect right before and after graduation.&nbsp;</p>
            <p>It is important for students to develop relationships with those outside of their immediate social and academic circles. These relationships are the ones that will help them get internships and jobs. You can help students start creating these connections by being a facilitator for Chapman Chats!</p>
            <p>Want to get involved?<strong>&nbsp;</strong><a href="emailto:eap@chapman.edu" target="_blank">Contact Lisa Eap, manager of alumni engagement</a>&nbsp;for more information.</p>
            <p><strong><strong>Date</strong>:</strong>&nbsp;April 14 - 16, 2015</p>
            <p><strong>Time:</strong>&nbsp;6:30 - 8 p.m.</p>
            <p><strong>Location:</strong>&nbsp;Chapman University</p>
        </li>
        <li>
            <p>Catch up with friends and share memories as you enjoy dinner and drinks on the beautiful Marvin W. Meyer Faculty Athenaeum Patio. The annual Summer Bash is our first event to welcome the newly graduated Class of 2015. Don't miss this chance to meet the newest members of the alumni family and enjoy a fun-filled evening&nbsp;under the warm summer skies. The Summer Bash is open to all alumni.</p>
            <p><strong>Thursday, July 16, 2015</strong>
                <br> 6 p.m.
                <br> Marvin W. Meyer Faculty Athenaeum Patio, Argyros Forum</p>
            <p>Your ticket includes dinner, two alcoholic drinks (beer/wine), unlimited non-alcoholic drinks and a gift to the Chapman Fund that helps future students have the same life-changing experience at Chapman that you had.</p>
            <p><a href="https://secure.touchnet.com/C20539_ustores/web/product_detail.jsp?PRODUCTID=616" target="_blank">Purchase your tickets today!</a></p>
            <p><img alt="Summer Bash" height="225" src="http://dev-www.chapman.edu/alumni-AFTER-MIGRATION/_files/IMG_5767.JPG" width="300"></p>
            <p>Check out who's coming</p>
            <table border="0" cellpadding="0" cellspacing="0" style="width: 159px;">
                <colgroup>
                    <col width="159">
                </colgroup>
                <tbody>
                    <tr height="20">
                        <td height="20" width="159">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Lara Acedillo</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Alison Acon Conners</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Garrett Addison</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Nicole Ann</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Liz Ann</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div></div>
                                <div>Kreithchele Barnard</div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Sarah Barton</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Jordan Beeks</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Chris Bernabe</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Adam Brook</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Sarah Buckley</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Ariana Burris</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Austin Cameron</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Christine Cathleen</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Harrison Chase</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Alexandra Contreras</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>David Corley</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Hannah Darbourne</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Gabriella David</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Jasmyn Domingues</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Amanda Erwin</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Nicole Fait</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Janelle Farkas</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div></div>
                                <div>Kaitlan Fisher</div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Conrad Frausto</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Sophe Friedman</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Delaney Gay</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Jessica Goldman</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Chelsea Gregory</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Andi Hamamoto Kowal</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Amy Hammer</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Karlie Harstad</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Tracey Hartsock</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Cynthia Hernandez</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Brady Hogan</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Ryan Hougardy</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Nicole Irwin</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Audrie Jan McCauley</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Assad Jandali</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Ashley Kaplan</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Yelena Kasianova</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Erin Kathleen</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Launa Kressin</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Janelle Kruly</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Lindsey Lagos</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Katie Luxton</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Clare Mackie</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Katie Maresca</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Joanna Marie Diaz</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Jenna Marshall</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Alice McWilliams</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <div>Daisy Mohrman</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Bijan Mohseni</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Margaret Moodian</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Megan Munson</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Gabriela N. Manriquez</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Jennifer Nicole</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Ijaaz Noohu</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Katie Norton</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Savanna Olson</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Philia Pak</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Kassy Parker</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Paula Pearl</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Kristen Pedley</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Natasha Peralta</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Alex Popescu</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Anna Price</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Caroline Price</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Sadie Reeves</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Carlos Roman</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Adrina Rose</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Katie Roy</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Jessica Schulte</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div></div>
                                <div>Justin Schulte</div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Katie Sellars</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div></div>
                                <div>Rob Selway</div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Chelsea Simmons</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Emily Spahn</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Jared Stephens</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Gabby Stetz</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Duke Steven Paniagua</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Taryn Tardio</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Erin Thompson</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Delite Travis</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Sarai Urzua</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Jared Wallace</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Chris Watkins</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20">
                            <div>
                                <div>
                                    <div></div>
                                    <div>Carly Yates</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>
</div>
