<div class="wysiwyg-widget editableContent clearfix">
    <div class="content">
        <p>This program guarantees excellent Health Science students a seat in Chapman University’s Doctor of Physical Therapy Program and makes them eligible for scholarship money awarded to outstanding physical therapy students.&nbsp;&nbsp; Early, guaranteed admission is a three-step process.</p>
        <p><span style="text-decoration: underline;">STEP ONE: Academic Performance</span></p>
        <p>Declare the Physical Therapy track through the Office of the Registrar by the end of the sophomore year.&nbsp;</p>
        <p>By spring semester of the junior year, students seeking early, guaranteed admission must:</p>
        <ol>
            <li>
                <p>Complete the following courses and adhere to the criteria associated with the courses:</p>
                <ol>
                    <li>
                        <p>BIO 204, BIO 205 (or BIO 208), HESC 210, HESC 365, HESC 366, CHEM 140, CHEM 150, PHYS 107, PHYS 108, and&nbsp;PSY 203 (or MATH 203)</p>
                    </li>
                    <li>
                        <p>Must be taken at Chapman University or must be identified as equivalent in the Chapman University/Saddleback College TAG agreement;</p>
                    </li>
                    <li>
                        <p>May only be taken once;</p>
                    </li>
                    <li>
                        <p>Must be taken for a letter grade;</p>
                    </li>
                    <li>
                        <p>Must be completed by the end of spring semester junior year;</p>
                    </li>
                    <li>
                        <p>Taken together the courses must compute to a GPA &gt; 3.6.&nbsp;</p>
                    </li>
                </ol>
            </li>
        </ol>
        <p><span style="text-decoration: underline;">STEP TWO:&nbsp; Early Admission Declaration and Plan</span></p>
        <p>By October 1 of the junior year, the student seeking guaranteed early admission must schedule an interview with Serena Healey (<a href="mailto:healey@chapman.edu">healey@chapman.edu</a>)&nbsp; to review requirements and establish a plan to complete successfully the requirements for guaranteed early admission.&nbsp;&nbsp;</p>
        <p><span style="text-decoration: underline;">STEP THREE:&nbsp; Requirements to Convert from Conditional to a Fully Admitted Student:</span></p>
        <ol>
            <li>
                <p>Submit an application through the Physical Therapy Centralized Application Service (PTCAS) in August before the beginning of the senior year.</p>
            </li>
            <li>
                <p>Complete the GRE before the beginning of the senior year with the following minimum scores: Verbal 152, Quantitative 148, Writing 5.0.</p>
            </li>
            <li>
                <p>Submit documentation showing completion of 40 hours of physical therapy observation/experience; &nbsp;</p>
            </li>
            <li>
                <p>&nbsp;Complete B.S. Health Science degree with a cumulative GPA <span style="text-decoration: underline;">&gt;</span>3.4.&nbsp; The degree may be completed during any term of the senior year and must be verified by the Office of the Registrar.</p>
            </li>
            <li>
                <p>Submit a deposit.</p>
            </li>
        </ol>
    </div>
</div>
