<div class="wysiwyg-widget editableContent clearfix">
        <div class="content"><p>Welcome to the 3 Column Test Page. This is a page you will be required to recreate to better acquaint yourself with our Cascade CMS. The <a href="../../campus-services/marketing-communication/guidelines-and-resources/web/modular-widgets/3-column-modular-example-page.aspx">3 column template</a> and <a href="../../campus-services/marketing-communication/guidelines-and-resources/web/modular-widgets/2-column-modular-example-page.aspx">2 column template</a> use the same widgets, with the most notable differences being:</p>
<ul>
<li>The 3 column template includes a third column on the right side of the page.&nbsp;</li>
<li>The 2 column template allows one additional widget called the <a href="../../campus-services/marketing-communication/guidelines-and-resources/web/modular-widgets/primary-funnel-2up.aspx">Funnel 2up</a>.</li>
</ul>
<h2>Common Mistakes:</h2></div>
    </div>