<div class="wysiwyg-widget editableContent clearfix">
    <div class="content">
        <p><strong>What is Chapman University Young Alumni?</strong>&nbsp;</p>
        <p>If you graduated within the last 10 years, you’re invited to be a part of Chapman University Young Alumni. Young Alumni creates opportunities for undergraduate alumni who have graduated in the last 10 years to connect with fellow alumni, current students and the university.&nbsp;</p>
        <p>Young Alumni strives to do the following:&nbsp;</p>
        <ul>
            <li>Create a greater sense of community for alumni who have graduated from Chapman University within the past 10 years</li>
            <li>Allow young alumni to stay connected with their alma mater by networking, socializing and building relationships with Chapman leaders</li>
            <li>Increase the participation of young alumni in Chapman university events, particularly those directed toward young alumni</li>
            <li>Raise alumni giving participation</li>
            <li>Allow current students and young alumni to realize the value and importance of giving their resources in order to improve and continue the mission of Chapman University</li>
        </ul>
        <p>Young Alumni signature events:&nbsp;</p>
        <ul>
            <li>Chapman Chats: Student and Alumni Connections - Alumni are welcome back to campus to mentor students for 1, 2, or 3 days in the Spring to help prepare students on what is to come in the next few years.</li>
            <li>Summer Bash - The Summer Bash is planned every year to bring new graduates and older graduates together for some fun in a social environment.</li>
        </ul>
        <p>If you would like to get involved, have any ideas or would like any additional information, please contact Lisa Eap Miller, alumni engagement manager, at <a href="mailto:eap@chapman.edu">eap@chapman.edu</a>.</p>
    </div>
</div>