
#theme.copa__music {

    .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo {
    background: #793141; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #793141 0%, #592530 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#793141), color-stop(100%,#592530)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #793141 0%,#592530 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #793141 0%,#592530 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #793141 0%,#592530 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  #793141 0%,#592530 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#793141', endColorstr='#592530',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    .rightColumn .styleTwo .border { background-color: #592530; }
    .nameBarButtons li a { color: #592530;}
    .expandedNameBarContainer h2, .expandedNameBarContainer a { color: #c9adb3; }

    #social_follow_us .banner { 
        background-image: url('/renderfile/6fef14a3c04d744c610b81dac0a8d082/_files/social_accounts/images/copa_music_follow_us.png'); 
        }
    #social_follow_us li span.hover_state, #social_follow_us li span.inactive_state {
        background: url('/renderfile/6fef14a3c04d744c610b81dac0a8d082/_files/social_accounts/images/copa_music_icons.png');
        }
        
    .rounded-slider .info-container .blue{
        background-color:#793141;
    }   

    .newbutton a, .newbutton a:hover {
        border: 1px solid #793141;
        background-color: #793141;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#793141), to(#592530));
        background-image: -webkit-linear-gradient(top, #793141, #592530);
        background-image: -moz-linear-gradient(top, #793141, #592530);
        background-image: -o-linear-gradient(top, #793141, #592530);
        background-image: linear-gradient(to bottom, #793141, #592530);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#793141', endColorstr='#592530',GradientType=1 );
    }

    .midPhotoCallouts .photoCallout .caption,
    .photoCallouts .caption,
    .photoCallouts .rollover{
         background-color: #793141;   
    }
}