.breadcrumbs {
  clear: both;
  // margin: 0 0 10px 50px;
  margin: 0 0 30px 10px;

  // Hotfix for Social media icon overlap
  @media only screen and (min-width: 780px) {
    > ul {
      padding-right: 225px;
    }
  }

  .virtualTour & {
    text-align: center;
    padding: 0;
    margin: 0 0 15px 0;
    display: none;
    ul li {
      font-size: 13px;
    }
    .bullet {
      margin: 0;
      @include bp(wildcard-min, 767px) {
        margin: 0 5px;
      }
    }
    @include bp(wildcard-min, 767px) {
      display: block;
    }
  }
  a {
    border-bottom: 2px dotted #c1c1c1;
  }
  .home {
    // display: block;
    display: inline-block;
    vertical-align: text-top;
    border-bottom: none;
    height: 17px;
    width: 13px;
    text-indent: -9999px;
    background-image: image-url('home_icon.png');
    background-repeat: no-repeat;
    background-position: left center;
  }
  ul li {
    list-style-type: none;
    display: inline-block;
    // list-style-type: none;
    // display: inline-block;
    // margin: 0 0 10px 7px;
    // padding: 0 0 0 7px;
    // border-left: 1px solid $black;
    &:first-child {
      margin-left: 0;
      padding-left: 0;
      border-left: none;
    }
  }
  .bullet {
    margin: 0 6px;
  }
  @include bp(l) {
    // margin: 10px 0 10px 50px;
    margin: 10px 0 10px 10px;
  }
}
