.breadcrumbs {
  clear: both;
  margin: 10px 0 10px 0;

  > ul {
    width: 60%;
    float: left;
    text-align: left;
  }

  .virtualTour & {
    text-align: center;
    padding: 0;
    margin: 0 0 15px 0;
    display: none;
    ul li {
      font-size: 13px;
    }
    .bullet {
      margin: 0;
      @include bp(wildcard-min, 767px) {
        margin: 0 5px;
      }
    }
    @include bp(wildcard-min, 767px) {
      display: block;
    }
  }
  a {
    border-bottom: 2px dotted #c1c1c1;
  }
  .home {
    display: inline-block;
    vertical-align: text-top;
    border-bottom: none;
    height: 17px;
    width: 13px;
    text-indent: -9999px;
    background-image: image-url('home_icon.png');
    background-repeat: no-repeat;
    background-position: left center;
  }
  ul li {
    list-style-type: none;
    display: inline-block;
    &:first-child {
      margin-left: 0;
      padding-left: 0;
      border-left: none;
    }
  }
  .bullet {
    margin: 0 6px;
  }
}
