.callout {
  background-color: #e2e1dc;
  border-right: 1px solid #c0c0b8;
  border-bottom: 1px solid #c0c0b8;
  padding: 10px;
  margin: 10px 0 10px 0;
  @include clearfix;

  h3 { margin: 5px 0 5px 0; }
}