.callout {
  @include clearfix;
  background-color: $white;
  border: 1px solid #c1c1c1;
  line-height: 20px;
  margin: 0 0 20px 0;
  width: 195px;
  position: relative;
  @include bp(l) {
    width: 100%;
  }

  .editableContent, h2 {
    padding: 0 $base-spacing;
    margin: $base-spacing 0;
    line-height: 20px;
    a {
      border-bottom: 2px dotted #a8a8a8;
    }
  }
  
  img { display: block; }
  h3 { margin: 5px 0; }
  h2 { font-size: 14px; }
}