// ---------- Common Classes ---------- //

.btn-flat {
  padding: 5px 10px 5px 10px;
  &:after {
    font-size: 16px;
    content: "»";
    margin-left: 20px;
  }
  &.white {
    background-color: $white;
  }
}

.teal {
  background-color: $teal;
  &:hover {
    background-color: $teal-hover;
  }
}

.teal2 {
  background-color: $teal2;
  &:hover {
    background-color: $teal2-hover;
  }
}

.red {
  background-color: $red;
  &:hover {
    background-color: $red-hover;
  }
}

.grey {
  background-color: $grey;
  &:hover {
    background-color: $grey-hover;
  }
}

.grey2 {
  background-color: $grey2;
  &:hover {
    background-color: $grey2-hover;
  }
}

.leftSlideFade, .rightSlideFade {
	.ie7 & {
		display: none;
	}
}

.leftSlideFade {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: -100%;
  z-index: 110;
  background-image: image-url('slide_fade_left.png');
  background-repeat: repeat-y;
  background-position: right top;
}

.rightSlideFade {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  right: -100%;
  z-index: 110;
  background-image: image-url('slide_fade_right.png');
  background-repeat: repeat-y;
  background-position: left top;
}

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  br {
    display: none;
  }
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &.focusable {
    &:active, &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

.invisible {
  visibility: hidden;
}

.is-visible {
  visibility: visible;
}

.clearfix {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  zoom: 1;
}

.ellipsis.multiline {
  white-space: normal;
}

.js .noscript {
  display: none;
}

.noscript p {
  position: static;
  color: $black;
  border-bottom: 1px solid $black;
  text-align: left;
  padding: 8px 12px 8px 50px;
  margin: -8px 0 0 0;
  font-size: 1.2em;
  line-height: 1.4em;
  background: #FFFFBD;
}

.twitter {
  background-position: -2px -1px;
  @include bp(m) {
    background-position: -2px -1px;
  }
}
.facebook {
  background-position: -28px -1px;
  @include bp(m) {
    background-position: -28px -1px;
  }
}
.pinterest {
  background-position: -54px -1px;
  @include bp(m) {
    background-position: -54px -1px;
  }
}
.iTunes {
  background-position: -80px -1px;
  @include bp(m) {
    background-position: -80px -1px;
  }
}
.youTube {
  background-position: -106px -1px;
  @include bp(m) {
    background-position: -106px -1px;
  }
}
.linkedIn {
  background-position: -132px -1px;
  @include bp(m) {
    background-position: -132px -1px;
  }
}
.googlePlus {
  background-position: -158px -1px;
  @include bp(m) {
    background-position: -158px -1px;
  }
}

.fast_transition {
  -webkit-transition: left 1s ease-out, opacity 1s ease-out;
     -moz-transition: left 1s ease-out, opacity 1s ease-out;
       -o-transition: left 1s ease-out, opacity 1s ease-out;
          transition: left 1s ease-out, opacity 1s ease-out;
}

.slow_transition {
  -webkit-transition: left 2s ease-out, opacity 2s ease-out;
     -moz-transition: left 2s ease-out, opacity 2s ease-out;
       -o-transition: left 2s ease-out, opacity 2s ease-out;
          transition: left 2s ease-out, opacity 2s ease-out;
}

.maxWidth {
  @include bp(m) {
    max-width: 1130px;
    margin: 0 auto 0 auto;
  }
}

.address {
  color: $grey;
  line-height: 18px;
}

.copyright {
  font-style: italic;
}

th.header-light {
  background-color: #EAE1BC;
}

.tweetbox {
  border:1px solid #c1c1c1;
  margin: 0 0 20px 0 ;
  iframe {
    width: 100% !important;
  }
}