/* These styles get applied to anywhere a user added content to the
 * website through a cascade wysiwyg editor.  We add the class .editableContent
 * on all wysiwyg content.
 */

.editableContent {
  ul, ol {
    margin-left: $base-spacing*2;
  }

  img {
    margin: 0 $base-spacing $base-spacing $base-spacing;
    padding: 10px;
    background: #ffffff;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    
    &[align="left"] {
      margin-left: 0;
    }
    &[align="right"] {
      margin-right: 0;
    }
  }

  .editableContent .noborder {
  border: 0;
  }

  .video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: $base-spacing;

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}