html {
   background-color: $cu-light-grey;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
}

//NEW AS OF 8/15/16

/* Call to action buttons */

.homepage {
  a.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 3px;
    background: #cfcfcf no-repeat center;
    color: #313131;
    &:hover {
      background-color: #c1c1c1;
      text-decoration: none;
    }
    &.red {
      background: #98002e no-repeat center;
      color: #FFFFFF;
      &:hover {
        background-color: #7f0026;
        text-decoration: none;
      }
    }
    &.blue {
      background: #407892 no-repeat center;
      color: #FFFFFF;
      &:hover {
        background-color: #4c87a2;
        text-decoration: none;
      }
    }
    &.white {
      background: #ffffff no-repeat center;
      color: #313131;
      &:hover {
        background-color: #eaeaea;
        text-decoration: none;
      }
    }
    width: 80%;
    margin-bottom: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .maxWidth {
    margin: 0 15px;
  }
  #mastheadNavigationWrapper {
    position: relative;
    height: 0px;
    overflow: visible;
    z-index: 100;
  }
  #mastheadNavigation {
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 100;
    display: none;
    .smallButton {
      color: #FFFFFF;
      border: none;
      border-radius: 3px;
      width: 44px;
      height: 44px;
      padding: 5px;
      margin: 0 0 0 10px;
      background: image-url('gray_30.png');
      text-indent: -9999px;
      opacity: 0.75;
      -webkit-transition: opacity 0.2s ease-out, height 0s ease-out;
      -moz-transition: opacity 0.2s ease-out, height 0s ease-out;
      -o-transition: opacity 0.2s ease-out, height 0s ease-out;
      transition: opacity 0.2s ease-out, height 0s ease-out;
      &.disabled {
        opacity: 0;
        cursor: default;
        height: 0px;
        padding: 0px;
        overflow: hidden;
      }
      &:hover {
        opacity: 1;
      }
      &:focus {
        outline: none;
      }
    }
    #changeVolume {
      background: rgba(0, 0, 0, 0.8) image-url('volume-on_white.svg') no-repeat center;
      background-size: 20px;
      &.muted {
        background: rgba(0, 0, 0, 0.8) image-url('volume-off_white.svg') no-repeat 16px center;
        background-size: 20px;
      }
    }
    #showOlderContent {
      background: rgba(0, 0, 0, 0.8) image-url('arrow-right_white.svg') no-repeat center;
      background-size: 20px;
    }
    #showNewerContent {
      background: rgba(0, 0, 0, 0.8) url('arrow-left_white.svg') no-repeat center;
      background-size: 20px;
    }
  }
}

@media only screen and (min-width: 500px) {
  .homepage a.button {
    width: auto;
    margin-bottom: 0;
  }
}

/* Padding for content area */

@media only screen and (min-width: 780px) {
  .homepage .maxWidth {
    margin: 0 30px;
  }
}

@media only screen and (min-width: 1180px) {
  .homepage .maxWidth {
    margin: 0 auto;
  }
}

/***************************************************
* Hero area navigation controls
***************************************************/

@media only screen and (min-width: 680px) {
  .homepage #mastheadNavigation {
    display: block;
  }
}

/***************************************************
* Main Hero Area
***************************************************/

#heroWrapper {
  overflow: auto;
  background: #111111;
}

#hero {
  clear: both;
  position: relative;
  overflow: hidden;
  min-height: 300px;
  padding: 15px 0 80px 0;
  background: #333333 no-repeat center;
  background-size: cover;
  color: #FFFFFF;
  .button {
    margin-right: 10px;
  }
  .actions {
    margin-top: 50px;
  }
  #mastheadContent {
    position: relative;
    z-index: 20;
  }
  &.dark-bg {
    .heading, .subheading, .excerpt {
      color: #FFFFFF;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }
  }
  &.light-bg {
    .heading, .subheading, .excerpt {
      color: #353430;
    }
  }
  &.align-left {
    text-align: left;
  }
  &.align-right {
    text-align: right;
    .excerpt {
      margin-left: auto !important;
      margin-right: 0 !important;
    }
  }
  &.align-center {
    text-align: center;
    .excerpt {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
  .heading {
    margin: 0;
    padding: 40px 0 0 0;
    font-size: 32px;
    line-height: 32px;
    text-transform: none;
    font-weight: 800;
  }
  .subheading {
    margin: 0;
    padding: 0;
    font-size: 32px;
    line-height: 32px;
    text-transform: none;
    font-weight: 800;
  }
  .excerpt {
    margin: 20px 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    max-width: 600px;
    display: none;
  }
  .heading {
    &.uppercase, &.lowercase, &.extended, &.thin {}
  }
  .subheading {
    &.uppercase, &.lowercase, &.extended, &.thin {}
  }
  #mastheadGradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.4);
    background: image-url('gray_30.png') repeat;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.6)), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
    /* IE6-9 */
  }
  #mastheadBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media only screen and (min-width: 780px) {
  #hero {
    min-height: 350px;
    padding: 15px 0 150px 0;
    .actions {
      margin-top: 70px;
    }
  }
}

@media only screen and (min-width: 1180px) {
  #hero {
    min-height: 450px;
  }
}

@media only screen and (min-width: 1480px) {
  #hero {
    min-height: 550px;
  }
}

/*
* Top content layer & Title Styles
***************************************************/

/* Dark BG Colors */

/* Light BG Colors */

/* Alignment */

/* Styles */

@media only screen and (min-width: 480px) {
  #hero {
    .heading, .subheading, .excerpt {
      display: block;
    }
    .heading, .subheading {
      &.uppercase {
        text-transform: uppercase;
      }
      &.lowercase {
        text-transform: lowercase;
      }
      &.extended {
        letter-spacing: 4px;
      }
      &.thin {
        font-weight: 100;
      }
    }
  }
}

@media only screen and (min-width: 780px) {
  #hero {
    .heading {
      font-size: 48px;
      line-height: 48px;
      padding-top: 100px;
    }
    .subheading {
      font-size: 48px;
      line-height: 48px;
    }
    .excerpt {
      font-size: 18px;
      line-height: 22px;
    }
    .heading {
      &.uppercase, &.lowercase, &.extended {}
      &.thin {
        font-size: 62px;
        line-height: 62px;
      }
    }
    .subheading {
      &.uppercase, &.lowercase, &.extended, &.thin {}
    }
  }
}

@media only screen and (min-width: 1140px) {
  #hero {
    .heading, .subheading {
      font-size: 52px;
      line-height: 52px;
    }
    .excerpt {
      font-size: 18px;
      line-height: 22px;
    }
    .heading {
      &.big800, &.lowercase, &.extended {}
      &.thin {
        font-size: 62px;
        line-height: 62px;
      }
    }
    .subheading {
      &.big800, &.lowercase, &.extended, &.thin {}
    }
  }
}

/*
* Middle gradient layer
***************************************************/

/*
* Background image or video layer
***************************************************/

.backgroundsize #hero #mastheadBackground img {
  display: none;
}

#hero #mastheadVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 639px) {
  #hero #mastheadVideo {
    display: none;
  }
}

@media only screen and (min-width: 640px) {
  /*#hero.video-playing[style] { background:#111111 !important; }*/
}

/***************************************************
* Story styles - For Homepage
***************************************************/

/* Hides stacked images on older browsers */

.homepage {
  .imagerotator {
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  #featured_stories {
    width: 100%;
    padding: 25px 0;
    position: relative;
    z-index: 30;
    overflow: auto;
    .announcement {
      overflow: auto;
      clear: both;
      margin: 0 0 25px 0;
      padding: 10px;
      .details {
        float: none;
        max-width: 100%;
        margin-top: 15px;
      }
      .imagerotator {
        float: none;
        max-width: 100%;
        /*height:300px;*/
        img {
          width: 100%;
          height: auto;
          border-radius: 3px;
        }
      }
      .title {
        text-transform: none;
        color: #a82439;
        font-size: 24px;
        line-height: 24px;
        margin: 0;
      }
      .source {
        margin: 4px 0 0;
        a {
          background-position: 0 center !important;
          padding-left: 24px !important;
          color: #000000;
          opacity: 0.5;
        }
      }
      a.tag {
        color: #000000;
        opacity: 0.5;
      }
      .source a:hover, a.tag:hover {
        opacity: 0.8;
        color: #a82439;
      }
    }
    .third {
      display: none;
    }
  }
}

@media only screen and (min-width: 680px) {
  .homepage {
    #featured_stories {
      padding: 50px 0;
      .third {
        display: block;
        width: 50%;
        .story-3 {
          display: none;
        }
      }
      .announcement {
        .details {
          float: left;
          max-width: 65%;
          margin-top: 0;
        }
        .imagerotator {
          float: left;
          margin-right: 2%;
          width: 33%;
        }
      }
      .actions {
        padding: 25px 0 0 0;
      }
    }
  }
}

@media only screen and (min-width: 960px) {
  .homepage {
    #featured_stories .third {
      width: 33%;
      .story-3 {
        display: block;
      }
    }
    /* IE Compatibility */
    .ie7 #featured_stories .third {
      padding: 0;
      width: 31%;
      margin-right: 2%;
    }
    #featured_stories .announcement {
      .details {
        float: left;
        max-width: 55%;
      }
      .imagerotator {
        float: left;
        margin-right: 2%;
        width: 43%;
      }
      .details .title {
        font-size: 30px;
        line-height: 36px;
      }
    }
  }
}

@media only screen and (min-width: 1180px) {
  .homepage {
    #featured_stories .announcement {
      .details {
        max-width: 349px;
      }
      .imagerotator {
        width: 725px;
        margin-right: 34px;
      }
    }
  }
}

.homepage {
  .stories {
    .story {
      .publication_date {
        display: none;
      }
      .story-bg {
        margin-top: 15px;
      }
      .permalink {
        max-height: 265px;
      }
      .title {
        color: #a82439;
        text-transform: none;
        min-height: 50px;
      }
    }
    .blogname a {
      background-repeat: no-repeat !important;
      background-position: 10px center !important;
      background-size: 20px !important;
      display: block;
      padding-left: 35px !important;
    }
    .story {
      width: 100%;
      margin-bottom: 15px;
      border: 1px solid #d8d8d8;
      color: #a82439;
      background: #FFFFFF;
      box-shadow: 0 rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      .story_footer {
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        .meta {
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
        }
        background-color: #fff;
      }
      a {
        color: #a82439;
        text-decoration: none;
      }
      p {
        margin: 0;
      }
      img {
        max-width: 100%;
      }
      .title {
        margin: 0 20px 0 20px;
        font-size: 18px;
        line-height: 20px;
      }
      .publication_date {
        margin: 5px 0 20px 24px;
        font-size: 12px;
        clear: both;
        color: #62605a;
      }
      a.permalink {
        display: block;
        overflow: hidden;
      }
      &.big a.permalink {
        max-height: 483px;
      }
      &.small a.permalink {
        max-height: 365px;
      }
      .title {
        .beginning:after {
          content: "Ã¢â‚¬Â¦";
        }
        .end {
          display: none;
        }
      }
      a.permalink:hover .title {
        color: #C92741;
        .beginning:after {
          content: "";
        }
        .end {
          display: inline;
          /*max-height:99px;*/
        }
      }
      .tag {
        display: inline-block;
        padding: 5px 10px 5px 20px;
        /*background:#f7f6f0;*/
        /*border-left:5px solid #a82439;*/
        margin: 15px 0 0 0;
        color: #62605a;
        text-decoration: none;
        font-size: 12px;
        /*border-radius: 3px;*/
        -webkit-transition: all 0.1s ease-out;
        -moz-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
        &:hover {
          background: #d8d8d8;
          color: #313131;
          padding-left: 25px;
        }
      }
    }
    .story-bg {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #f7f6f0;
      min-height: 200px;
      img {
        display: none;
      }
    }
    .story_footer {
      position: relative;
      background: #f7f6f0;
      overflow: visible;
      min-height: 40px;
      font-size: 12px;
      line-height: 20px;
      p {
        margin: 0;
        font-size: 12px;
        line-height: 18px;
      }
      a, .meta a:hover {
        opacity: 1;
      }
      .source {
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        &:hover a {
          z-index: 2;
          opacity: 1;
          color: #a82439;
        }
        a {
          padding: 14px 50px 13px 24px;
          display: block;
          color: #000000;
          opacity: 0.6;
          text-decoration: none;
          line-height: 11px;
          overflow: hidden;
        }
        &.facebook:before {
          content: "";
          display: block;
          width: 15px;
          height: 15px;
          background: url('../img/icons/svg/facebook_red.svg') no-repeat center left;
          background-size: contain;
          position: absolute;
          top: 10px;
          left: 10px;
          opacity: 0.8;
          -webkit-filter: grayscale(1);
        }
        &.instagram:before {
          content: "";
          display: block;
          width: 15px;
          height: 15px;
          background: url('../img/icons/svg/instagram_red.svg') no-repeat center left;
          background-size: contain;
          position: absolute;
          top: 10px;
          left: 10px;
          opacity: 0.8;
          -webkit-filter: grayscale(1);
        }
        &.twitter:before {
          content: "";
          display: block;
          width: 15px;
          height: 15px;
          background: url('../img/icons/svg/twitter_red.svg') no-repeat center left;
          background-size: contain;
          position: absolute;
          top: 12px;
          left: 11px;
          opacity: 0.8;
          -webkit-filter: grayscale(1);
        }
        &.blogs:before {
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          background: image-url('cu_monogram_red.svg') no-repeat center left;
          background-size: contain;
          position: absolute;
          top: 10px;
          left: 8px;
          opacity: 0.8;
          -webkit-filter: grayscale(1);
        }
        &:hover:before {
          -webkit-filter: grayscale(0);
        }
        &.facebook a, &.instagram a, &.twitter a, &.blogs a {
          padding-left: 30px !important;
        }
      }
      .meta {
        position: absolute;
        top: 0;
        right: 0;
        background: #fff;
        .icon {
          display: block;
          color: #000000;
          opacity: 0.6;
          text-decoration: none;
          padding: 13px 20px 13px 10px;
          float: left;
        }
        .action {
          display: block;
          color: #000000;
          opacity: 1;
          text-decoration: none;
          float: left;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    .icon {
      color: #FFFFFF;
      text-decoration: none;
    }
    a.icon {
      color: #FFFFFF;
      text-decoration: none;
      &:hover {
        opacity: 0.75;
      }
    }
    .icon {
      background-size: 14px;
      background-repeat: no-repeat;
      background-position: center right;
      padding-right: 20px;
      min-height: 14px;
      margin-right: 10px;
      &.comments {
        background-image: image-url('bubble-dots3_white.svg');
      }
      &.shares {
        background-image: image-url('share_white.svg');
      }
      &.views {
        background-image: url('../img/icons/svg/eye2_white.svg');
      }
    }
    .story .icon {
      &.comments {
        background-image: image-url('bubble-dots3.svg');
      }
      &.shares {
        background-image: image-url('share.svg');
      }
      &.views {
        background-image: url('../img/icons/svg/eye2.svg');
      }
    }
  }
}

/* Limit story tile height */

/* NOTE: ICON DATA IS DOWNLOADED FROM cu_icons.css; these rules supplement the data which is loaded. */

/* from Inside.Chapman styles */
/***************************************************
* Story structure
***************************************************/

/* Truncate long titles */

/* Expand long titles */

/*.stories .story .tag:hover { background: #eceadf; color:#a82439; padding-left:25px; }*/

@media only screen and (min-width: 980px) {
  .homepage {
    .stories .story .title {
      font-size: 24px;
      line-height: 24px;
    }
  }
}

@media only screen and (min-width: 1180px) {
  .homepage {
    .stories .story {
      &.big {
        .title {
          font-size: 30px;
          line-height: 32px;
        }
        .story-bg {
          min-height: 350px;
        }
      }
      .publication_date {
        margin-bottom: 30px;
      }
    }
  }
}

/* from Inside.Chapman styles */
/***************************************************
* Footer Elements
***************************************************/

/* from Inside.Chapman styles */
/***************************************************
* Icon Elements
***************************************************/

/* No SVG Support */

.homepage {
  .no-svg .stories {
    .icon {
      &.comments {
        background-image: url('../img/icons/png/bubble-dots3_white_14.png');
      }
      &.shares {
        background-image: url('../img/icons/png/share_white_14.png');
      }
      &.views {
        background-image: url('../img/icons/png/eye2_white_14.png');
      }
    }
    .story .icon {
      &.comments {
        background-image: url('../img/icons/png/bubble-dots3_14.png');
      }
      &.shares {
        background-image: url('../img/icons/png/share_14.png');
      }
      &.views {
        background-image: url('../img/icons/png/eye2_14.png');
      }
    }
  }

  .stories {
    .action {
      display: inline-block;
      background-size: 14px;
      background-repeat: no-repeat;
      background-position: center;
      height: 40px;
      text-indent: -9999px;
      width: 0;
      position: relative;
      -webkit-transition: all 0.1s ease-out;
      -moz-transition: all 0.1s ease-out;
      -o-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out;
      &.facebook {
        background-image: image-url('facebook_white.svg');
        background-color: #38659f;
        background-position: center !important;
      }
      &.twitter {
        background-image: image-url('twitter_white.svg');
        background-color: #3aa8dd;
        background-position: center !important;
      }
    }
    .meta.share_action {
      .action {
        width: 40px;
      }
      .icon {
        &.comments, &.views {
          display: none;
        }
        &.shares {
          opacity: 0.2 !important;
          cursor: default;
        }
      }
    }
  }
}

/***************************************************
* Statistics Blocks
***************************************************/

.homepage {
  ul.statistics {
    list-style-type: none;
    margin: 75px 0;
    text-align: center;
    overflow: auto;
    box-sizing: initial;
    /*max-width:50%; */
    p {
      margin: 0;
    }
    li {
      max-width: 100%;
      padding: 10px;
      background: url('../img/gray_50.png');
      &:last-of-type {
        margin-right: 0;
      }
      .bigstat {
        font-size: 32px;
        line-height: 32px;
        font-family: 'futura-pt', sans-serif;
        color: #FFFFFF;
        margin-top: 0px;
        font-weight: 800;
      }
      .label {
        font-size: 18px;
        line-height: 18px;
        font-family: 'futura-pt', sans-serif;
        color: #FFFFFF;
      }
    }
  }
}

@media only screen and (min-width: 680px) {
  .homepage {
    /* Break stats and label onto two lines */
    ul.statistics li {
      .bigstat {
        display: block;
      }
      .label {
        display: block;
        font-size: 16px;
        line-height: 16px;
      }
    }
    /* Centered <ul> */
    #undergraduateAdmission ul.statistics {
      overflow: visible;
      float: right;
      position: relative;
      right: 50%;
      li {
        position: relative;
        left: 50%;
      }
    }
    /* Colored circles */
    ul.statistics li {
      float: left;
      width: 85px;
      height: 85px;
      padding: 30px;
      margin-right: -15px;
      border-radius: 50%;
      padding: 30px;
      &.fact1 {
        background: rgba(255, 142, 59, 0.6);
      }
      &.fact2 {
        background: rgba(53, 109, 157, 0.6);
      }
      &.fact3 {
        background: rgba(152, 172, 82, 0.6);
      }
      &.fact4 {
        background: rgba(251, 208, 79, 0.6);
      }
      &.fact5 {
        background: rgba(28, 141, 169, 0.6);
      }
    }
  }
}

@media only screen and (min-width: 980px) {
  .homepage {
    ul.statistics li {
      .bigstat {
        font-size: 38px;
        line-height: 38px;
      }
      .label {
        font-size: 18px;
        line-height: 18px;
        margin-top: 10px;
      }
      width: 100px;
      height: 100px;
      padding: 50px;
      margin-right: -40px;
    }
  }
}

@media only screen and (min-width: 1180px) {
  .homepage {
    ul.statistics li {
      .bigstat {
        font-size: 52px;
        line-height: 52px;
      }
      .label {
        font-size: 22px;
        line-height: 22px;
        font-weight: 800;
      }
      width: 150px;
      height: 130px;
      padding: 70px 50px 50px 50px;
    }
  }
}

/***************************************************
* Section Styles
***************************************************/

.homepage {
  .section {
    position: relative;
    .heading {
      font-size: 28px;
      line-height: 28px;
      text-transform: none;
      margin: 0;
    }
    .subheading {
      font-size: 18px;
      line-height: 18px;
      text-transform: none;
      margin: 0;
    }
    &.dark-bg {
      background-color: #111111;
      .heading, .subheading {
        color: #FFFFFF;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      }
    }
    &.light-bg {
      .heading, .subheading {
        color: #353430;
      }
      .heading {
        color: #353430;
        font-size: 18px;
        line-height: 18px;
        margin: 40px 0 0 0;
        text-align: center;
      }
      .subheading {
        color: #353430;
        font-size: 18px;
        line-height: 18px;
        margin: 0 0 40px 0;
        text-align: center;
      }
      .heading, .subheading {
        color: #353430;
      }
      .heading {
        color: #353430;
        font-size: 18px;
        line-height: 18px;
        margin: 40px 0 0 0;
        text-align: center;
      }
      .subheading {
        color: #353430;
        font-size: 18px;
        line-height: 18px;
        margin: 0 0 40px 0;
        text-align: center;
      }
    }
    .actions {
      text-align: center;
      clear: both;
      .button {
        background-size: 15px;
        background-position: 15px center;
        padding-left: 35px;
        padding-right: 20px;
        margin: 5px;
        .apply {
          background-image: image-url('file6_white_15.png');
          background-image: none, image-url('file6_white.svg');
        }
        &.apply-ug {
          background-image: image-url('file6.png');
          background-image: none, image-url('file6.svg');
        }
        &.request {
          background-image: image-url('email_white_15.png');
          background-image: none, image-url('email_white.svg');
        }
        &.request-ug {
          background-image: image-url('email.png');
          background-image: none, image-url('email.svg');
        }
        &.monogram {
          background-image: image-url('cu_monogram_gray_25.png');
          background-image: none, image-url('cu_monogram_gray.svg');
          background-size: 25px;
          padding-left: 43px;
        }
        &.calendar {
          background-image: image-url('calendar4_white_15.png');
          background-image: none, image-url('calendar4_white.svg');
        }
      }
    }
    overflow: auto;
    background: #eaeaea;
    .third {
      padding: 10px;
      overflow: hidden;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      h3 {
        font-weight: 800;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 26px;
      }
      img {
        width: 100%;
      }
      .imagerotator {
        width: 100%;
        margin: 0 0 15px 0;
      }
    }
  }
}

/* Headings */

/* Dark BG */

/* Light BG */

/* Light BG */

@media only screen and (min-width: 680px) {
  .homepage {
    .section {
      .heading {
        font-size: 32px;
        line-height: 32px;
      }
      .subheading {
        font-size: 22px;
        line-height: 22px;
      }
      &.light-bg {
        .heading {
          font-size: 24px;
          line-height: 24px;
          margin: 75px 0 0 0;
          font-weight: 800;
        }
        .subheading {
          font-size: 24px;
          line-height: 24px;
          margin: 0 0 75px 0;
          font-weight: 800;
        }
      }
    }
  }
}

@media only screen and (min-width: 980px) {
  .homepage {
    .section {
      .heading {
        font-size: 56px;
        line-height: 56px;
      }
      .subheading {
        font-size: 32px;
        line-height: 32px;
      }
      &.light-bg {
        .heading {
          font-size: 32px;
          line-height: 32px;
          margin: 75px 0 0 0;
        }
        .subheading {
          font-size: 32px;
          line-height: 32px;
          margin: 0 0 75px 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 1180px) {
  .homepage {
    .section {
      .heading {
        font-size: 64px;
        line-height: 64px;
      }
      .subheading {
        font-size: 32px;
        line-height: 32px;
      }
    }
  }
}

/* Column Thirds */

@media only screen and (min-width: 400px) {
  .homepage {
    .section .third .imagerotator {
      width: 40%;
      float: left;
      margin: 0 15px 15px 0;
    }
  }
}

@media only screen and (min-width: 680px) {
  .homepage {
    .section .third {
      float: left;
      width: 33%;
      .imagerotator {
        width: 100%;
        height: auto;
        margin: 0 0 20px 0;
      }
    }
  }
}

/* IE Compatibility */

.homepage {
  .ie7 .section .third {
    padding: 0;
    width: 31%;
    margin-right: 2%;
  }
}

/***************************************************
* Undergraduate Admission Section
***************************************************/

#undergraduateAdmission {
  background: #111111 image-url('undergrad-admissions.jpg') no-repeat center;
  background-size: cover;
  color: #FFFFFF;
  padding: 65px 0 140px 0;
  text-align: center;
  .maxWidth {
    margin: 0 auto;
  }
}

/*#undergraduateAdmission:before,
#graduateAdmission:before { content:""; display: block; width:30px; height:12px; position: absolute; top:0; left:50%; margin-left:-15px; background: url('../img/pulldown_arrow.svg') no-repeat center top; background-size: contain; }
*/

.skrollr #undergraduateAdmission {
  background-attachment: fixed;
}

#undergraduateAdmission .subheading {
  font-weight: 100;
}

/***************************************************
* General Admission Information
***************************************************/

.homepage {
  #generalInformation {
    padding: 0 0 30px 0;
    a:after {
      content: " Â»";
    }
  }
}

@media only screen and (min-width: 680px) {
  .homepage {
    #generalInformation {
      padding: 0 0 80px 0;
    }
  }
}

/***************************************************
* Admission CTA form
***************************************************/

.homepage {
  #admissionCTA {
    padding: 30px 0;
    display: block;
    color: #333;
    position: relative;
    text-align: center;
  }

  #admissionCTA_form {
    padding: 15px 15px 5px 15px;
    border-radius: 3px;
    background: #eaeaea;
    background: rgba(255, 255, 255, 0.6);
    display: inline-block;
    position: relative;
  }

  #admissionCTA {
    .status {
      font-weight: normal;
      font-size: 36px;
      color: #FFFFFF;
      font-family: 'proxima-nova', sans-serif;
      small {
        font-size: 60%;
      }
    }
    .textinput {
      background-color: #FFFFFF;
      padding: 10px;
      border: none;
      border-radius: 3px;
      font-size: 16px;
      margin: 0 10px 10px 0;
      height: 20px;
      &:hover, &:focus {
        outline: none;
      }
      &.dimmed {
        background-color: #F5F5F5;
        color: #9a9996;
        &:hover {
          color: #666666;
          background-color: #FFFFFF;
        }
      }
    }
    #admission_CTA_submit {
      border: none;
      background: #a82439;
      color: #FFFFFF;
      border-radius: 3px;
      padding: 10px;
      height: 40px;
      font-size: 16px;
    }
    .student_type_section {
      padding: 15px 15px 25px 15px;
      legend {
        font-style: italic;
        opacity: 0.8;
      }
      label {
        font-weight: 800;
      }
    }
  }

  /* Select box styles */

  select.selector {
    background: #F5F5F5 image-url('arrow_down.png') no-repeat right center;
    background-size: 40px;
    width: auto;
    padding: 5px 30px 5px 10px;
    margin: 0 10px 10px 0;
    font-size: 14px;
    font-weight: 100;
    line-height: 18px;
    border: none;
    outline: none;
    border-radius: 3px;
    height: 40px;
    max-width: 100%;
    cursor: pointer;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    &:hover, &.selected {
      background-color: #FFFFFF;
      outline: none;
    }
  }

  /* Firefox fix - we cannot style the dropdown arrow */
  @-moz-document url-prefix() {
    select.selector {
      background-image: none;
      padding-right: 5px;
    }
  }


  /* IE we cannot sytle the dropdown arrow */

  .ie select.selector {
    background-image: none;
    padding-right: 5px;
  }

  /* Radio selector styles */

  #admissionCTA input[type="radio"] {
    display: none;
    + label {
      background: image-url('radio_off.svg') no-repeat left top;
      background-size: contain;
      padding: 2px 10px 2px 25px;
    }
    &:checked + label {
      background: image-url('radio_on.svg') no-repeat left top;
      background-size: contain;
    }
  }
}

/* Small devices */
@media only screen and (max-width: 679px) {
  .homepage {
    #admissionCTA {
      input, select {
        width: 85%;
        padding: 10px !important;
        margin: 5px 0 !important;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
      }
    }
  }
}

/***************************************************
* Graduate Admission Section
***************************************************/

#graduateAdmission {
  background: #111111 image-url('graduate_admissions_960_v3.jpg') no-repeat center;
  background-size: cover;
  color: #FFFFFF;
  padding: 50px 0;
  text-align: center;
  overflow: hidden;
  p, h3 {
    color: #FFFFFF;
  }
}

.skrollr #graduateAdmission {
  background-attachment: fixed;
}

#graduateAdmission {
  .maxWidth {
    position: relative;
  }
  .heading {
    margin: 0 auto 15px auto;
    font-weight: 800;
    text-align: center;
  }
  .subheading {
    margin: 0 auto;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
  }
  p.subheading {
    font-family: 'proxima-nova', sans-serif;
    font-weight: 800;
    margin-top: 15px;
  }
  .statistics {
    margin: 0 0 30px 0;
    li {
      margin: 0;
    }
  }
  .actions {
    margin: 35px 0 40px 0;
  }
  br.large-screens {
    display: none;
  }
}

@media only screen and (min-width: 680px) {
  #graduateAdmission {
    background-image: image-url('graduate_admissions_1200_v3.jpg');
    text-align: left;
    background-position: center;
    .statistics {
      position: absolute;
      top: 0;
      left: 40px;
    }
    .heading, .subheading {
      z-index: 1;
      position: relative;
    }
    .actions {}
  }
}

@media only screen and (min-width: 980px) {
  #graduateAdmission {
    .actions {
      margin: 40px 0 100px 0;
    }
    .statistics {
      left: 20px;
    }
    .heading, .subheading {}
  }
}

@media only screen and (min-width: 1180px) {
  #graduateAdmission {
    background-image: image-url('graduate_admissions_1706_v3.jpg');
    padding: 100px;
    .statistics {
      left: -50px;
    }
    .heading, .subheading {}
  }
}

@media only screen and (min-width: 1250px) {
  #graduateAdmission br.large-screens {
    display: block;
  }
}

/***************************************************
* Chapman Family Section
***************************************************/

.homepage {
  #chapmanFamily {
    margin-bottom: 50px;
    .heading {
      margin: 30px auto 0 auto;
    }
    .story {
      display: none;
    }
    h2 {
      margin-top: 0;
    }
  }
}

@media only screen and (min-width: 680px) {
  .homepage {
    #chapmanFamily {
      .heading {
        margin: 50px auto;
      }
      .story {
        display: block;
        &.big .story-bg {
          min-height: 200px;
        }
      }
      .third:nth-of-type(3) {
        padding-left: 20px;
      }
    }
  }
}

/***************
Image Quick View
****************/

.homepage {
  #heroQuickView {
    display: none;
    width: 100%;
    height: 100%;
    background: #333333;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    color: #FFFFFF;
  }

  #heroQuickViewTable {
    display: table;
    width: 100%;
    height: 100%;
  }

  #heroQuickViewCell {
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  #heroQuickView {
    img, iframe {
      max-width: 90%;
      max-height: 90%;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
      cursor: pointer;
    }
  }
}

/* End of file */