.leftNavSubContent {
	width: 100%;
	margin: 0 0 0 0;
	float: left;

	.social {
		margin: 0 0 0 25px;
	}

	.newsEventsNav li.active {
		padding-left: 20px;
		padding-right: 20px;
	}

	.callout {
		background-color:#d8d8d8;
		border: 1px solid #c1c1c1;
		vertical-align: top;
		.border {
			height: 7px;
			background-color: #c1c1c1;
		}

		.contact-widget {		
			h3, h4 {
				margin: 5px 0;
				font-size: 14px;
				font-weight: 600;
				line-height: 16px;
			}				
			ul.left-social-icons {
				background-color: transparent;
				display: block;
				width: 100%;			
				padding: 0;
				margin-top: 0;
				margin: 0 0 0 0;
				float: left;
				position: relative;
				list-style: none;
				li {
					float: left;
					position: relative;
					padding-right: 12px;
					font-size: 16px;
					margin-bottom: 4px;
					&.last {
						padding-right:0;
					}
					a {
						text-decoration: none;
						border-bottom: none;
					}
					.icon {
						display: inline-block;
						color: $cu-red;
						width: 1em;
						height: 1em;
						fill: currentColor;
						padding: 0;
					}	

				}
			}
			.view-more-expander {
				line-height: 10px;
				text-align:center;							
				padding: 0;
				min-height: 35px;				
				cursor: pointer;	
				.active {
					display:block;
				}
				.inactive {
					display: none;
				}
				.view-more {
					background-color: $cu-red;
				}
				.view-more-link {
					height: 21px;
					padding: 0 0 5px 0; 
					margin: 0;
					background-color: $cu-red;
				}
				.view-less-link {
					height: 30px;
					padding: 10px 0 0 0;
					margin-bottom: -4px;
					background-color: $cu-red;
				}
				a {			
					color: $white;
					font-size: 10px;
					font-weight: 700;
					letter-spacing: 1px;
					text-transform:uppercase;
					padding: 0;
					&:hover  {			
						color: $cu-warm-light-grey;
					}
				}
				.icon {
					display: inline-block;
					color: #444444;
					width: 1em;
					height: 1em;
					fill: currentColor;
					padding: 0;

				}
				.icon-triangle-down {
					color: #d8d8d8;
					font-size: 18px;
					margin-top: -4px;					
				}
				.icon-triangle-up {
					color: $cu-red;
					width:100%;
					padding: 0;
					font-size: 18px;
					margin-bottom: -9px;
				}
			}			
		} 	

		.editableContent {	
			.inactive {
				display: none;
			}	
			.active {
				display: block;
			}
			.social-follow-us {
				margin-bottom: 65px;		
				@include bp(l) {
					margin-bottom: 38px;					
				}

			}

			a {
				display: inline;
			}

			ul { 
				margin-top :10px;
			}

			.buttonLinks > li > a {
				display: inline-block;
			}
			
			.redLeftColButton {
				margin: 0 0 0 0;
				ul {
					list-style: none;
					width: 234px;
					margin: 0 0 0 -15px;
					padding: 0;
				}
				li {
					padding-bottom: 2px;
				}
				a {
					position: relative;
					text-align: right;
					padding: 0 30px 0 5px;
					color: $white;
					text-transform: uppercase;
					font-weight: 800;
					line-height: 47px;
					display: block;
					border: 1px solid #e3cfd8;
					background-color: #a12756;
					background-image: -webkit-gradient(linear, left top, left bottom, from(#a12756), to($cu-red));
					background-image: -webkit-linear-gradient(top, #a12756, $cu-red);
					background-image: -moz-linear-gradient(top, #a12756, $cu-red);
					background-image: -o-linear-gradient(top, #a12756, $cu-red);
					background-image: linear-gradient(to bottom, #a12756, $cu-red);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a12756', endColorstr='#{$cu-red}',GradientType=1 );
					font-size: 1.1em;
					.arrow {
						position: absolute;
						top: 50%;
						right: 16px;
						margin-top: -25px;
					}
					&:hover {
						background: $cu-dark-red;
						background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E2ZDBkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MDliYjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
						background: -moz-linear-gradient(top, $cu-dark-red 0%, $cu-red 100%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $cu-dark-red), color-stop(100%, $cu-red));
						background: -webkit-linear-gradient(top, $cu-dark-red 0%, $cu-red 100%);
						background: -o-linear-gradient(top, $cu-dark-red 0%, $cu-red 100%);
						background: -ms-linear-gradient(top, $cu-dark-red 0%, $cu-red 100%);
						background: linear-gradient(to bottom, $cu-dark-red 0%, $cu-red 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$cu-dark-red}', endColorstr='#{$cu-red}',GradientType=0 );
					}
					&.long {
						line-height: 14px;
						padding: 10px 30px 10px 5px;
						.arrow {
							margin-top: -12px;
						}
					}
				}

			} // end redleftbutton
		} // end editableContent
	} // end callout
} //end leftnavsubcontent