.newbutton {
  margin: 0 0 20px 0;
  .rightColumn & {
  	@include bp(m) {
      margin-top: 0;
    }
  }
  ul {
    list-style: none;
  }
  li {
    padding-bottom: 2px;
    margin: 0;
  }
  a, a:link { // a:link selector added by SH
    position: relative;
    text-align: left;
    padding: 10px 38px 10px 20px;
    color: $white;
    font-weight: 800;
    display: block;
    
    background-color: $cu-red;
    font-size: 1.1em;
    clear: both;
    &:after {
      font-family: Georgia;
      content: '»';
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      top: 50%;
      right: 16px;
      margin-top: -9px;
    }
    &:hover {
    	background: $red-hover;
    }
    &:active {
      background: $red-active;
    }
  }
}
