// Links for accessibility (screen readers, etc.)

.skip-link {
	position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}

a.skip-link:active, 
a.skip-link:focus, 
a.skip-link:hover {
    left: 0; 
    top: 0;
    width: auto; 
    height: auto; 
    overflow: visible; 
}