#social_follow_us {
  width: auto;
  height: 38px;
  position: relative;
  z-index: 1000;
  float: right;
  margin-top: 0;
  padding-left: 8px;
  @include vendorize(border-radius, 4px);
  ul {
    padding: 0;
    list-style: none; // Added by SH
  }
  .banner {
    position: absolute;
    width: 105px;
    height: 28px;
    background: image-url('default_follow_us.png');
    left: -93px;
    top: 6px;
  }
  li {
    width: 24px;
    height: 25px;
    position: relative;
    padding: 0;
    margin: 6px 0 0 0 !important;
    border: none;
    cursor: pointer;
    span {
      &.hover_state {
        width: 24px;
        height: 25px;
        position: absolute;
        top: 0;
        left: 0;
        background: image-url('default_icons.png') -1px -1px;
        z-index: 100;
      }
      &.inactive_state {
        width: 24px;
        height: 25px;
        position: absolute;
        top: 0;
        left: 0;
        background: image-url('default_icons.png') -1px -1px;
        z-index: 100;
        z-index: 200;
      }
    }
    a {
      display: block;
      width: 24px;
      height: 25px;
      z-index: 1000;
      position: absolute;
      border-bottom: 0;
    }
    &:hover {
      background-position: -1px -27px;
    }
    span.hide {
      display: none;
    }
    &.first {
      margin-left: 7px !important;
    }
    &.first-last {
      margin-left: 7px !important;
      margin-right: 0 !important;
    }
    &.last {
      margin: 0 0 0 -1px !important;
    }
    &.facebook span {
      &.inactive_state {
        background-position: -26px -1px;
      }
      &.hover_state {
        background-position: -26px -27px;
      }
    }
    &.twitter span {
      &.inactive_state {
        background-position: -1px -1px;
      }
      &.hover_state {
        background-position: -1px -27px;
      }
    }
    &.flickr span {
      &.inactive_state {
        background-position: -51px -1px;
      }
      &.hover_state {
        background-position: -51px -27px;
      }
    }
    &.vimeo span {
      &.inactive_state {
        background-position: -76px -1px;
      }
      &.hover_state {
        background-position: -76px -27px;
      }
    }
    &.linkedin span {
      &.inactive_state {
        background-position: -101px -1px;
      }
      &.hover_state {
        background-position: -101px -27px;
      }
    }
    &.youtube span {
      &.inactive_state {
        background-position: -126px -1px;
      }
      &.hover_state {
        background-position: -126px -27px;
      }
    }
    &.blog span {
      &.inactive_state {
        background-position: -151px -1px;
      }
      &.hover_state {
        background-position: -151px -27px;
      }
    }
    &.instagram span {
      &.inactive_state {
        background-position: -176px -1px;
      }
      &.hover_state {
        background-position: -176px -27px;
      }
    }
  }
  @include bp(m) {
    margin-top: -35px;
  }
}