<div id="cu-global-nav">
  <nav>
    <ul class="global-nav-links">
      <li class="primary-link"><a>About</a></li>
      <li class="primary-link"><a>Academics</a></li>
      <li class="primary-link"><a>Admission</a></li>
      <li class="primary-link"><a>Faculty</a></li>
      <li class="primary-link"><a>Careers</a></li>
      <li class="primary-link"><a>Current Students</a></li>
      <li class="primary-link"><a>Support</a></li>
    </ul>
  </nav>
</div>