<div class="utility-nav utility-nav-open">
  <nav>
    <div class="utility-nav-container">
      <ul class="utility-list">
        <li class="utility-section utility-has-dropdown"><a>Find information for</a></li>
        <li class="utility-section utility-has-dropdown"><a>Degrees &amp; Programs</a></li>
        <li class="utility-section utility-has-dropdown"><a>Map &amp; Directories</a></li>
        <li class="utility-section utility-has-dropdown"><a>Blogs</a></li>
        <li class="utility-section utility-has-dropdown"><a>Events</a></li>
        <li class="utility-section utility-has-dropdown"><a>Social</a></li>
      </ul>
    </div>
    <div class="utility-nav-container utility-search">
      <ul class="utility-list">
        <li class="utility-section search-type utility-has-dropdown"><a>Search from</a></li>
        <li class="utility-section">
          <%= render 'omni_nav/search_box' %>
        </li>
      </ul>
    </div>
  </nav>
</div>
