<div id="omni-nav-v2">
  <%= render 'omni_nav/utility_nav' %>
  <div id="primary-nav">
    <div class="nav-container left-nav-container">
      <div class="off-canvas-nav-trigger">
        <a href="#" class="primary-nav-icon"id="js-cu-off-canvas-nav-trigger" title="Access links to the pages within this section of the website and to other sections of the website" aria-label="Access links to the pages within this section of the website and to other sections of the website">
          <svg viewBox="0 0 16 16">
          <path d="M1 3h14v2h-14v-2z"></path><path d="M1 7h14v2h-14v-2z"></path><path d="M1 11h14v2h-14v-2z"></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="nav-container cu-logo-container">
      <div class="cu-logo-wrapper">
        <div class="primary-logo">
          <a class="cu-logo" href="${domain}" title="Chapman University Website Home Page">
            <span itemprop="name">Chapman University</span>
          </a>
        </div>
        <div class="secondary-logo">
          <a class="branded-logo" href="#">Fowler School of Law</a>
        </div>
      </div>
    </div>
    <div class="nav-container primary-nav-search">
      <%= render 'omni_nav/search_box' %>
    </div>
    <div class="nav-container right-nav-container">

      <div class="primary-nav-action cu-search-trigger">
        <a class="primary-nav-icon">
          <svg viewBox="0 0 16 16" class="icon-open-search">
          <path d="M16 13.5l-4.695-4.695c0.444-0.837 0.695-1.792 0.695-2.805 0-3.314-2.686-6-6-6s-6 2.686-6 6 2.686 6 6 6c1.013 0 1.968-0.252 2.805-0.695l4.695 4.695 2.5-2.5zM2 6c0-2.209 1.791-4 4-4s4 1.791 4 4-1.791 4-4 4-4-1.791-4-4z"></path>
          <path d="M9 5h-2v-2h-2v2h-2v2h2v2h2v-2h2z"></path>
          </svg>
          <svg viewBox="0 0 16 16" class="icon-close-search">
            <path d="M16 13.5l-4.695-4.695c0.444-0.837 0.695-1.792 0.695-2.805 0-3.314-2.686-6-6-6s-6 2.686-6 6 2.686 6 6 6c1.013 0 1.968-0.252 2.805-0.695l4.695 4.695 2.5-2.5zM2 6c0-2.209 1.791-4 4-4s4 1.791 4 4-1.791 4-4 4-4-1.791-4-4z"></path>
          <path d="M3 5h6v2h-6v-2z"></path>
          </svg>
        </a>
      </div>
      <div class="primary-nav-action cu-login-trigger">
        <a class="primary-nav-icon" role="button">
          <svg viewBox="0 0 16 16"><path d="M4 5c0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.209-1.791 4-4 4s-4-1.791-4-4zM12 10h-8c-2.209 0-4 1.791-4 4v1h16v-1c0-2.209-1.791-4-4-4z"></path></svg>
        </a>
      </div>
      <div class="primary-nav-action utility-nav-trigger">
        <a class="primary-nav-icon" href="#"></a>
      </div>
    </div>
    <div class="nav-container cu-global-nav">
      <%= render 'omni_nav/global_nav' %>
    </div>
  </div>
  <div id="off-canvas-nav"></div>
</div>