<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	{{> _meta }}

	<title>{{ title }}</title>

	{{> _map-extras }}

	{{> _fonts }}

	{{> _css-main }}

	{{> _js-modernizr }}

</head>

<!--[if lt IE 7]> <body class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <body class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <body class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!--> <body> <!--<![endif]-->

	{{> control-issues }}

	<div class="container-fluid">
		{{#parseFixture 'map-data.json'}}
			{{ body }}
		{{/parseFixture}}
	</div>

	{{> _js-cdn }}

	{{> _js-main }}

	{{> _js-map-plugins }}

	{{> _js-map-overlays }}

	{{> _js-map }}

</body>
</html>
