.anchorLinks-widget {
    padding: $primary-column-widget-spacing 0;
}

.anchorLinks {
  margin:0 20px 20px 20px;
}

.anchorLinks>a {
  padding:0 8px 0 8px;
  text-decoration:underline;
  border-left:1px solid black;
  border-bottom: none;
  font-weight:600;
}

.anchorLinks>a:first-child {
  padding:0 8px 0 0;
  text-decoration:underline;
  border-left:none;
  border-bottom: none;
}

.letterBlock {
  margin: 0 0 20px 20px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.ie7 .letterBlock {
  display:inline;
  zoom:1;   
}

.letterBlock ul {
  list-style-type:none;   
}

.letterBlock ul li{
  margin:0 20px 5px 0;   
  padding:0 0 0 12px;
  text-indent:-12px;
}

.letter, .letter:hover, .letter:focus, .letter:visited{
  color:Black !important;   
  text-decoration:none;
  margin: 20px 0 5px 0;
  display:block;
}
