.carousel-prev {
  left: 0;
  background: linear-gradient(to right, rgba(32, 32, 32, 0.6666), rgba(32, 32, 32, 0.25)), image-url('carousel-prev.png') no-repeat center / 60%;
  background-image: image-url('carousel-prev.png');
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-next {
  right: 0;
  background: linear-gradient(to left, rgba(32, 32, 32, 0.6666), rgba(32, 32, 32, 0.25)), image-url('carousel-next.png') no-repeat center / 60%;
  background-image: image-url('carousel-next.png');
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-prevnext {
  bottom: 160px;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  width: 8%;
  z-index: 1;
  opacity: 0.5;
  transition: opacity 200ms;
  background-color: rgba(0,0,0,0);
  &:hover {
    opacity: 1;
  }
}

.carousel-widget a.carousel-prevnext  {
  border: none;
  outline: none;
  &:hover, &:focus, &:active, &:visited {
    border: none;
    outline: none;
  }
}

.carousel-widget {
  border: 0 solid;
  color: inherit;
  font-size: inherit;
  //margin: $primary-column-widget-spacing 0;
  margin: 0 0 20px 0;
  text-decoration: none;
  vertical-align: inherit;
  height: 0;
  padding-top: 56.25%;
  padding-bottom: 160px;
  position: relative;
  width: 100%;
  z-index: 0;
  background-color: #2f2f2f;
  border-radius: 0 0 4px 4px;
  color: #ffffff;
  #big-sponsor &, #small-sponsor & {
    border: 1px solid #bcbcbc;
    background: $white;
    li {
      width: 153px;
      padding: 1em 0;
      text-align: center;
    }
    .jcarousel-prev, .jcarousel-next {
      position: absolute;
      background-color: $cu-light-grey;
      color: $cu-red;
      width: 24px;
      height: 26px;
      font-size: 1.5em;
      text-align: center;
      cursor: pointer;
    }
    .jcarousel-prev-disabled, .jcarousel-next-disabled {
      color: #bcbcbc;
    }
  }
  #big-sponsor & {
    .jcarousel-prev {
      top: -27px;
      right: 29px;
    }
    .jcarousel-next {
      top: -27px;
      right: 0;
    }
  }
  #small-sponsor & {
    .jcarousel-prev {
      bottom: -27px;
      left: 0px;
    }
    .jcarousel-next {
      bottom: -27px;
      right: 0px;
    }
  }
  &:before, &::after {
    border: 0 solid;
    -moz-box-sizing: border-box;
    box-sizing: inherit;
    color: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: inherit;
  }
  *:first-child {
    margin-top: 0;
  }
  figure {
    border: 0 solid;
    -moz-box-sizing: border-box;
    box-sizing: inherit;
    color: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: inherit;
    display: none;
    &.active {
      display: block;
      blockquote {
        -webkit-animation: carousel-slidein 400ms;
        animation: carousel-slidein 400ms;
      }
    }
    &::before, &::after {
      border: 0 solid;
      -moz-box-sizing: border-box;
      box-sizing: inherit;
      color: inherit;
      font-size: inherit;
      margin: 0;
      padding: 0;
      text-decoration: none;
      vertical-align: inherit;
    }
    blockquote {
      h2 {
        margin-top: 20px;
        margin-top: 1.25rem;
        font-family: "proxima-nova", "Helvetica Neue", "Microsoft Sans Serif", sans-serif;
        color: $grey;
        font-size: 1.5em;
        line-height: 1.16666666666667;
        line-height: 1.75rem;
      }
      p {
        font-size: .875em;
        // line-height: 1.42857142857143;
        line-height: 1.25rem;
      }
    }
  }
  figcaption {
    border: 0 solid;
    -moz-box-sizing: border-box;
    box-sizing: inherit;
    color: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: inherit;
    display: block;
    background-color: #2f2f2f;
    border-radius: 0 0 4px 4px;
    bottom: 0;
    font-size: 14px;
    left: 0;
    line-height: 20px;
    min-height: 160px;
    padding: 16px;
    position: absolute;
    right: 0;
    z-index: 2;
    &::before, &::after {
      border: 0 solid;
      -moz-box-sizing: border-box;
      box-sizing: inherit;
      color: inherit;
      font-size: inherit;
      margin: 0;
      padding: 0;
      text-decoration: none;
      vertical-align: inherit;
    }
  }
  blockquote {
    border: 0 solid;
    -moz-box-sizing: border-box;
    box-sizing: inherit;
    color: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: inherit;
    display: block;
    position: absolute;
    bottom: 160px;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    &::before, &::after {
      border: 0 solid;
      -moz-box-sizing: border-box;
      box-sizing: inherit;
      color: inherit;
      font-size: inherit;
      margin: 0;
      padding: 0;
      text-decoration: none;
      vertical-align: inherit;
    }
  }
  h2, p {
    color: #F9F9F9;
  }
  h2 {
    border: 0 solid;
    -moz-box-sizing: border-box;
    box-sizing: inherit;
    color: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: inherit;
    &::before, &::after {
      border: 0 solid;
      -moz-box-sizing: border-box;
      box-sizing: inherit;
      color: inherit;
      font-size: inherit;
      margin: 0;
      padding: 0;
      text-decoration: none;
      vertical-align: inherit;
    }
  }
  p {
    border: 0 solid;
    -moz-box-sizing: border-box;
    box-sizing: inherit;
    color: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: inherit;
    &::before, &::after .carousel-widget img {
      border: 0 solid;
      -moz-box-sizing: border-box;
      box-sizing: inherit;
      color: inherit;
      font-size: inherit;
      margin: 0;
      padding: 0;
      text-decoration: none;
      vertical-align: inherit;
    }
  }
  img {
    &::before, &::after {
      border: 0 solid;
      -moz-box-sizing: border-box;
      box-sizing: inherit;
      color: inherit;
      font-size: inherit;
      margin: 0;
      padding: 0;
      text-decoration: none;
      vertical-align: inherit;
    }
  }
}

/*IMG Alignment*/

[data-img] {
  background-color: rgba(0, 0, 0, 0.125);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

[data-img~="contain"] {
  background-size: contain;
}

[data-img~="top-left"] {
  background-position: 0% 0%;
}

[data-img~="top-center"] {
  background-position: 50% 0%;
}

[data-img~="top-right"] {
  background-position: 100% 0%;
}

[data-img~="middle-left"] {
  background-position: 0% 50%;
}

[data-img~="middle-right"] {
  background-position: 100% 50%;
}

[data-img~="bottom-left"] {
  background-position: 0% 100%;
}

[data-img~="bottom-center"] {
  background-position: 50% 100%;
}

[data-img~="bottom-right"] {
  background-position: 100% 100%;
}

/*KeyFrames*/

@-webkit-keyframes carousel-slidein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes carousel-slidein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
