.collapsibles-widget {
  padding: $primary-column-widget-spacing 0;
}

.collapsibles-widget .accordion {
	//background-color: $cu-off-white;
	background-color: #f5f5f5;
  border: 1px solid #cdcdc7;
  border-radius: 2px;
  margin-bottom: 2px;
	.ie7 & {
		zoom: normal;
		&.active header {
			//background-color: $cu-off-white;
			background-color: #f5f5f5;
		}
    h3 {
      zoom: normal;
    }
    .header {
		  background-color: #d8d8d8;
		  overflow: hidden;
		  width: 100%;
		}
	}
  .ie9 & {
    .header {
      filter: none;
    }
  }
	&.active {
		header {
			//background-color: $cu-off-white;
			background-color: #f5f5f5;
		}
		.header {
			font-weight: 600;
      //background: $cu-off-white;
	  background: #f5f5f5;

			.show {
	      display: none;
	    }
	    .hide {
	      display: block;
	    }
		}
	}
	&.first {
    margin-top: 20px;
  }
  table {
    width: 100%;
  }
  .header {
    background-color: #d8d8d8;
    font-size: 16px;
    color: #434343;
    padding: 10px 45px 10px 27px;
    margin: 0;
    position: relative;
    cursor: pointer;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 800;
    text-transform: none;
    .show, .hide {
      background-image: image-url('miscButtons.png');
      background-position: -23px 0;
      background-repeat: no-repeat;
      position: absolute;
      text-indent: -9999px;
      color: $white;
      top: 8px;
      right: 13px;
      width: 27px;
      height: 27px;
    }
    .show {
      background-position: -23px 0;
      display: block;
      &:hover {
        background-position: -51px 0;
        display: block;
      }
    }
    .hide {
      background-position: -23px -29px;
      display: none;
      &:hover {
        background-position: -51px -29px;
        display: none;
      }
    }
  }
  .content {
    margin: 0 20px 18px 27px;
    overflow: hidden;
  }
}