.personnel-listing-widget {
  padding: $primary-column-widget-spacing 0;
	
  .sectionHeader {
    margin-top: 0;
	padding-top: 0;
	}
		
  .person {
    &:first-child {
      border-top: none;
    }

    position: relative;
    border-bottom: 1px solid $cu-border;
    padding: $base-spacing*1 0;
    padding-left: 145px;
    height: auto;
    min-height: 200px;
  }

  .title, .location, .phone, .email {
    @include paragraph;
    margin-bottom: 0;
  }

  .image {
    position: absolute;
    top: $base-spacing*1;
    left: 0;
    border-radius: 3px;
  }

  .name {
    font-size: 18px;
    margin-bottom: $base-spacing;
    padding-top: 0;
  }

  .bio, .bio-url {
    @include paragraph;
    margin-top: $base-spacing;

    &:last-child {
      margin-bottom: 0;
    }
  }
}