.personnel-listing-widget {
  padding: $primary-column-widget-spacing 0;

  .person {
    position: relative;
    border-top: 1px solid $cu-border;
    padding: $base-spacing 0;
    padding-left: 145px;
    color: #4a4949;
    font-size: 14px;
    line-height: 1.2;
    height: auto;
    min-height: 150px;
    margin-bottom: $base-spacing;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .image {
    position: absolute;
    top: $base-spacing;
    left: 0;
    border-radius: 50%;
  }
  .name {
    font-size: 18px;
    margin-bottom: $base-spacing;
    padding-top: $base-spacing / 2;

  }
  .email {
    text-decoration: underline;
  }
  .bio, .bio-url {
    margin-top: $base-spacing;
  }
}