div.four-col-float {
  float: left;
  width: 150px;
  height: 150px;
  margin: 10px;
}

/*Region*/
.regions-widget {
  padding: 0 0 20px 0;

  .region {
    overflow: auto;
  }

  .region h2 {
    border-bottom: 1px solid #383838;
    clear: both;
    margin: 0;
    padding: 20px 0 7px;
  }

  .region h2, .funnel .region h3 a {
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    color: #313131;
    padding: 10px 0 5px 0;
    margin: 0;
    clear: both;
    line-height:1.25;
  }

  .region .featureImage {
    background: #ffffff;
    padding:10px;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    float: left;
  }

  .region li {
    margin:0 0 3px 0;
  }

  .region h3 a:hover {
    color:$cu_red;
  }

  .region .content {
    float: left;
    width: 100%;
    padding: $base-spacing 3px;

    ul {
      padding-left: $base-spacing*2;
      overflow: hidden;
    }
    > p {
      margin: 0;
    }
  }

  .region ul.linkList {
    margin: $base-spacing 0 0 0;
    list-style-type: none;
    padding: 0;
    float: left;
    a {
      border-bottom: 0;
    }
  }
}
