.wysiwyg-widget {
  padding: $primary-column-widget-spacing 0;

  .content > p:last-child {
    margin-bottom: 0;
  }
<<<<<<< HEAD

  #map_frame {
    min-height: 79vh;

    @include media($medium-screen) {
      min-height: 59vh;
    }
  }
=======
>>>>>>> c850040d02e535f25a2ddf0e831b5853de785f42
}
