@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon.eot?i6jc7o');
	src:  url('fonts/icomoon.eot?i6jc7o#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff2?i6jc7o') format('woff2'),
		url('fonts/icomoon.ttf?i6jc7o') format('truetype'),
		url('fonts/icomoon.woff?i6jc7o') format('woff'),
		url('fonts/icomoon.svg?i6jc7o#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	// font-family: 'icomoon' !important;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-backspace:before {
	content: "\e90f";
}
.icon-map-marker:before {
	content: "\e900";
}
.icon-clock:before {
	content: "\e901";
}
.icon-clock-globe:before {
	content: "\e902";
}
.icon-double-chevron:before {
	content: "\e903";
}
.icon-hamburger:before {
	content: "\e90d";
}
.icon-information:before {
	content: "\e904";
}
.icon-left-arrow:before {
	content: "\e905";
}
.icon-map:before {
	content: "\e906";
}
.icon-minus:before {
	content: "\e907";
}
.icon-phone:before {
	content: "\e908";
}
.icon-plus:before {
	content: "\e909";
}
.icon-search:before {
	content: "\e90a";
}
.icon-chevron-up:before {
	content: "\e90b";
}
.icon-check-mark:before {
	content: "\e90c";
}
.icon-tree:before {
	content: "\e001";
}
.icon-steps:before {
	content: "\e002";
}
.icon-star3:before {
	content: "\e003";
}
.icon-square:before {
	content: "\e004";
}
.icon-search3:before {
	content: "\e005";
}
.icon-print:before {
	content: "\e006";
}
.icon-pin:before {
	content: "\e007";
}
.icon-mic3:before {
	content: "\e008";
}
.icon-library2:before {
	content: "\e009";
}
.icon-lab3:before {
	content: "\e00a";
}
.icon-home2:before {
	content: "\e00b";
}
.icon-graduation:before {
	content: "\e00c";
}
.icon-food3:before {
	content: "\e00d";
}
.icon-dumbbell:before {
	content: "\e00e";
}
.icon-coin:before {
	content: "\e00f";
}
.icon-car:before {
	content: "\e011";
}
.icon-camera:before {
	content: "\e012";
}
.icon-bus:before {
	content: "\e013";
}
.icon-bed:before {
	content: "\e014";
}
.icon-bathroom:before {
	content: "\e015";
}
.icon-arrows_up:before {
	content: "\e016";
}
.icon-arrows_down:before {
	content: "\e017";
}
.icon-aid:before {
	content: "\e018";
}
.icon-toilets_unisex:before {
	content: "\e01a";
}
.icon-accessibility2:before {
	content: "\e019";
}
.icon-users:before {
	content: "\e000";
}
.icon-link:before {
	content: "\f05c";
}
.icon-close:before {
	content: "\f00d";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
