## This format is to be used in the future, with the block that loads siblings and renders forward.
## Works on non-index pages.

#set ( $currentPage = $_XPathTool.selectSingleNode( $contentRoot, "//system-folder[@current = 'true']/system-page[@current = 'true']" ) )
## Current page name
#set ( $currentPageName = $currentPage.getChild("name") )
## Parent page
#set ( $parent = $_XPathTool.selectSingleNode($contentRoot, "//system-folder[@current = 'true']/system-page[name = 'index']") )

## This macro is to display children of a sibling
#macro( displayChildren $children )
    <ul class="leftNav-sub">
        #foreach ( $child in $children )
            #set ( $childPath = $child.getChild("link").value )
            #set ( $childTitle = $_EscapeTool.xml($child.getChild("display-name").value) )
            #set ( $childType = $child.getName() )
            #set ( $hideSibling = $_XPathTool.selectNodes($child, "dynamic-metadata[1][value='Yes'] or system-page[name = 'index']/dynamic-metadata[1][value='Yes']") )

            #if ( $childType == "system-folder" && $hideSibling == [false] )
                <li>
                    <a href="${childPath}/index" title="${childTitle}" class="c-f">
                        <span class="bullet">» </span>
                        $childTitle
                    </a>
                </li>
            #elseif ( $childType == "system-page" && $hideSibling == [false] )
                #if ( !$_XPathTool.selectSingleNode($child, "dynamic-metadata[1][value='Yes']") )
                    <li>
                        <a href="$childPath" title="${childTitle}" class="c-p">
                            <span class="bullet">» </span>
                            $childTitle
                        </a>
                    </li>
                #end
            #end
        #end
    </ul>
#end

## This macro sets up the siblings, calls other macro to set up children
#macro ( displaySiblings $siblings )
    <ul>
    #foreach ( $sibling in $siblings )
        #set ( $current = $sibling.getAttribute("current").value == 'true' )
        #set ( $siblingPath = $sibling.getChild("link").value )
        #set ( $siblingTitle = $_EscapeTool.xml($sibling.getChild("display-name").value) )
        #set ( $siblingType = $sibling.getName() )
        #set ( $hideSibling = $_XPathTool.selectNodes($sibling, "dynamic-metadata[1][value='Yes'] or system-page[name = 'index']/dynamic-metadata[1][value='Yes']") )
        #set ( $children = $_XPathTool.selectNodes($sibling, "system-page[name != 'index'] | system-folder") )
        #set ( $hiddenChildren = $_XPathTool.selectNodes($sibling, "system-page[name != 'index']/dynamic-metadata[1][value='Yes'] | system-folder[dynamic-metadata[1][value='Yes']]") )
        
        #if ( $children.size() > $hiddenChildren.size() )
            #set ( $siblingHasChildren = true )
        #else
            #set ( $siblingHasChildren = false )
        #end
         
        #if ( $siblingType == "system-folder" && $hideSibling == [false] )
            #if ( $current == true )
                <li class="active">
            #else
                <li>
            #end
            <a href="${siblingPath}/index" class="s-f-idx">
                $siblingTitle
                #if ( $siblingHasChildren && $current == false )
                    <span class="plus">+</span>
                #end
            </a>
            #if ( $siblingHasChildren )
                #displayChildren( $children )
            #end
            </li>
        #elseif ( $siblingType == "system-page" && $hideSibling == [false] )
            #if ( $current == true )
                <li class="active">
            #else
                <li>
            #end
            
            <a href="${siblingPath}" title="${siblingTitle}" class="s-p">
                $siblingTitle 
            </a>
            </li>
        #end
    #end
    </ul>
#end

#set ( $parentDisplayName = $parent.getChild("display-name") )
## if fails to find parent page, don't do title, gives error (eg parent folder unindexed or not right metadata):
#if ( $parentDisplayName.value )
    #set ( $parentTitle = $_EscapeTool.xml( $parentDisplayName.value ) )
    <div class="leftTitle">
        <ul>
            <li class="title">
            <a href="$parent.getChild("link").value" title="${parentTitle}">
                $parentTitle
            </a>
            </li>
        </ul>
    </div>
#end

#set ( $siblings = $_XPathTool.selectNodes($currentPage, "//system-folder[system-page[@current and name = 'index']] | //system-page[@current and name != 'index'] | //system-folder[system-page[@current and name = 'index']]/following-sibling::*[name != 'index'] | //system-folder[system-page[@current and name = 'index']]/preceding-sibling::*[name != 'index'] | //system-page[@current and name != 'index']/following-sibling::*[name != 'index'] | //system-page[@current and name != 'index']/preceding-sibling::*[name != 'index']") )
#displaySiblings( $siblings )