.chapman-events-feed-widget {
  background-color: $bg-light-gray;
  padding: $one-column-widget-spacing 0;
  text-align: center;

  h2 {
    margin-top: 0;
    text-align: left;
    font-weight: 800;
    font-size: 32px;
    line-height: 32px;

    @include media($medium-screen) {
      margin-bottom: 36px;
      font-size: 38px;
      line-height: 38px;
    }

    @include media($large-screen) {
      margin-bottom: 32px;
      font-size: 48px;
      line-height: 48px;
    }
  }

  .outer-container {
    @include outer-container;
    @include pad(0 $base-spacing);
    width: 100%;
  }

  .column {
    width:100%;
    text-align: left;

    @include media($medium-screen) {
      @include media($medium-screen) { @include span-columns(9); }
      width:50%;
      &.right { padding-left: 60px; }
    }
  }

  .event-card {
    margin-bottom: 42px;

    h3 {
      margin: 0 0 16px;
      font-size: 18px;
      line-height: 24px;
      color: $red;

      @include media($medium-screen) { margin: 0 0 16px; }
    }

    p {
      text-transform: lowercase;
      margin: 0;
    }

    .event-date {
      .date-wrapper {
        display: table;
        height: 32px;
      }

      .date-column {
        display: table-cell;
        vertical-align: middle;

        &.left p {
          padding-right: 4px;
          font-size: 32px;
        }

        &.right p {
          font-weight: 700;
        }
      }

      p {
        color: $red;
        font-weight: 800;
        line-height: 1;
      }
    }
  }

  .feed-column {
    @include media($medium-screen){ margin-bottom: 48px; }

    .event-date {
      width: 140px;
      margin-bottom: 32px;
      padding-bottom: 16px;
      border-bottom: 2px solid $red;
    }
  }

  .featured-event {
    &.event-card {
      @include media($medium-screen) { margin-bottom: 0; }
    }

    .event-date {
      margin-bottom: 28px;
      @include media($large-screen){ margin-bottom: 16px; }
    }

    .featured-image {
      margin-bottom: 28px;
      width: 100%;
      height: 144px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      @include media($medium-screen){
        height: 188px;
        margin-bottom: 36px;
      }
      @include media($large-screen){ height: 254px; }
    }
  }

  .actions {
    text-align: center;
    margin-top: 48px;
    @include media($medium-screen){
      margin-top: 0px;
      text-align: left;
    }
  }
}

.chapman-events-feed-widget__medium-bg {
  background-color: $bg-silver-gray;
}

.chapman-events-feed-widget__dark-bg {
  background-color: $black;
  color: white;

  .event-card {
    a, p, .event-date p {color: white;}
  }

  .feed-column .event-date {
    border-bottom: 2px solid white;
  }
}