.photo-gallery {
  .rightColumn & {
    background-color: transparent;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    box-shadow: none;
    padding: 0;
    width: 200px;
    text-align: right;
  }
  ul {
    list-style: none;
    position: relative;
    @extend .clearfix; // Added by SH
  }
  li {
    display: inline-block;
    margin: 8px;
    border: 8px solid $white;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    width: 84px;
    height: 77px;
    position: relative;
    overflow: hidden;
    background-color: $black;
    float: left; // Added by SH
    a {
      position: absolute;
      display: block;
      height: 77px;
    }
    img {
      position: absolute;
      top: 0;
    }
  }
  .more-link {
    color: #98002e;
    font-weight: bold;
    .arrow {
      color: $cu-red;
    }
  }
}