.funnel-boxes-widget {
  padding: $primary-column-widget-spacing 0;
}

.funnel {
	.ie7 & {
		.funnelBlock {
		  zoom: 1;
		  display: inline;
		}
	}
	.funnelBlock {
	  display: inline-block;
	  vertical-align: top;
	  width: 300px;
	  padding: 10px;
    padding-top: 10px;
	  margin: 0 20px 20px 0;
	  .featureImage {
      text-align: center;
      line-height: 0;
    }
    h3 {
      font-weight: 700;
      font-size: 18px;
      font-style: normal;
      color: $grey;
      padding: 10px 0 5px 0;
      margin: 0;
      clear: both;
      line-height: 1.25;
      a {
        font-weight: 700;
        font-size: 18px;
        font-style: normal;
        color: $grey;
        padding: 10px 0 5px 0;
        margin: 0;
        clear: both;
        line-height: 1.25;
        &:hover {
          color: $cu-red;
        }
      }
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      margin: 0 0 3px 0;
    }
    .linkList {
      margin: 10px 0 0 0;
    }
    .copy {
      font-size: 14px;
      color: $grey;
    }
	}
	.more {
    color: $black;
    font-weight: 800;
    font-size: 11px;
    cursor: pointer;
  }
  .region h3 a {
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    color: $grey;
    padding: 10px 0 5px 0;
    margin: 0;
    clear: both;
    line-height: 1.25;
  }
}

.funnelBlock a {
  &:link, &:visited {
    border-bottom: none;
  }
}
