/* 
 * These styles apply to the news-events-widget which can now be present
 * in the primary content of a cascade page, or in the left column under
 * the site navigation.
 */


/* News Events Wrapper
---------------------------------------- */
$tab-content-bg-color: #f5f5f5;
$tab-content-border-color: #c1c1c1;

.news-events-widget {
  //padding: $primary-column-widget-spacing 0;
  padding: 0 0 20px 0;
}

.newsEvents {
  width: 100%;
  min-height: 310px; // To avoid jumpyness when loading
  clear: both;
  display: inline-block;

  a { border-bottom: none; }
  // Story titles
  h3 {
    margin: 10px 0 0 0;
    a {
      font-weight: normal;
      font-size: 14px;
      color: $text-color;
      &:hover { color: $link-color; }
    }
    .bullet {
      font-size: 12px;
      position: relative;
      bottom: 2px;
      display: none;
    }
  }
  // The links at the bottom of the page
  .allNews, .allEvents, .readMore {
    margin-top: 25px;
    display: block;
  }
}

/* Navigation Tabs
---------------------------------------- */

// The navigation container
.newsEventsNav {
  display: block;
  z-index: 100;
  position: relative;
  display: block;
  height: auto;
  clear: both;
  @include bp(l) {
    padding: 0 0 10px 0;
  }
}

// The clickable tabs
.newsEventsNav  li {
  // When small, make the tabs collapse.
  background-color: #cfcfcf;
  color: #383838;
  font-size: 1.1em;
  padding: 0 17px 0 17px;
  line-height: 35px;
  height: 35px;
  cursor: pointer;
  bottom: -1px; // Cover up the border of the primary content
  position: relative;
  border-top: 2px solid transparent;  // Keep text in same spot as active element
  border-bottom: 1px solid #c1c1c1;
  list-style-type: none;
  margin: 0;

  // When its a news-events-widget item, or
  // when if it is in the left-nav,
  // make the tabs look like normal tabs.
  .news-events-widget &, .leftNav & {
    margin: 0 2px 0 0;
    float: left;
    transition: padding 200ms;
  }
  // When big screen, make the tabs look like tabs
  @include bp(l) {
    margin: 0 2px 0 0;
    float: left;
    transition: padding 200ms;
  }
  &:hover {
    background-color: #d8d8d8;
    color: $link-color;
  }
  &.active { // The selected tab
    background-color: $tab-content-bg-color;
    font-weight: 800;
    color: $primary-color;
    border-top: 2px solid $primary-color;
    border-right: 1px solid $tab-content-border-color;
    border-left: 1px solid $tab-content-border-color;
    border-bottom: 1px solid $tab-content-bg-color;
    @include bp(l) { padding: 0 40px 0 40px; }
  }
}

// When in Left Nav override padding
.leftNav .newsEventsNav li.active {
  padding: 0 20px 0 20px; // Less padding
}


/* Content
---------------------------------------- */

// The container of all content
.newsEventsContent {
  background-color: $tab-content-bg-color;
  border: 1px solid $tab-content-border-color;
  position: relative;
  //color: $text-color;
  color: #383838;
  clear: both;
  padding: 20px;
  div { margin: 0; }
  > li { display: none; }
  > li.active { display: block;}
}

// The featured tab content
.newsEventsContent .featured {
  position:   relative;
  overflow:   auto;
  overflow-x: hidden;
  .title {
    margin: 5px 0 10px 0;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.3em;
  }
  .description {
    clear: left;
  }
  .image {
    margin: 1px 20px 20px 1px;
    padding: 10px;
    background: #ffffff;
    height: auto;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .col1 {
    float: left;
  }
}

// The news and events tabs content
.newsEventsContent .story {
  a { border-bottom: none; }
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid #ded3bb;
  float: none;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 15px 0px 15px 0px;
  @include bp(l) {
    border: none;
    border-right: 1px solid #dfd3bc;
    width: 28.9%;
    min-height: 130px;
    padding: 0;
    padding-right: 2%;
    margin-right: 2%;
  }

  // The overrides for the last story
  &.story3 {
    border: none;
    margin-right: 0px;
  }
}

// Overrides for when the widget is in the left nav
.leftNav .newsEventsContent .story {
  border: none;
  border-bottom: 1px solid $tab-content-border-color;
  width: 100%;
  margin: 0;
  padding: 15px 0px 15px 0px;
  position: relative;
  min-height: auto;

  &.story3 {
    border: none;
  }
}

// Styles for the cool red dates
.newsEvents {
  .date {
    font-family: $font-stack-heading;
    color: $red;
    display: inline-block;
    font-weight: 800;
    height: 25px;
    width: 85px;
    position: relative;
    .day {
      font-size: 29px;
      position: absolute;
      top: 5px;
      left: 0;
    }
    .month {
      font-size: 12px;
      position: absolute;
      top: 0;
      left: 40px;
    }
    .year {
      font-size: 12px;
      position: absolute;
      top: 12px;
      left: 40px;
    }
  }
}

// Styles for the today and tomorrow texts (hidden by default, and shown with js)
.newsEvents .story {
  .todayTomorrow { height: 20px; }
  .today, .tomorrow {
    display: none;
    font-weight: bold;
  }
}