#small-sponsor {
  position: relative;
  padding: 13px 17px 6px;
  img {
  	max-width: 144px; 
	  padding-left: 28px;
  }
  h2.header {
    color:#353430;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
    text-align: center;
    display: block;
    padding: 5px;
	  margin-top: 1px;
    min-height: 15px;
  }
  .jcarousel-clip {
    overflow: hidden;
  }
  .carousel {
    border: 0;
    background: $white;
    li {
      width: 153px;
      padding: 1em 0;
      text-align: center;
    }
    .jcarousel-prev, .jcarousel-next {
      position: absolute;
      color: $cu-red;
      width: 16px;
      height: 26px;
      font-size: 1.5em;
      text-align: center;
      cursor: pointer;
    }
    .jcarousel-prev {
      //bottom: -20px;
      left: -15px;
    }
    .jcarousel-next {
      //bottom: -20px;
      right: -15px;
    }
    .jcarousel-prev-disabled, .jcarousel-next-disabled {
      color: #bcbcbc;
    }
  }
}