.midPhotoCallouts {
  //margin: 15px 0 5px 0;
  margin: 0 0 20px 0;
  text-align: center;
  .photoCallout {
    display: inline-block;
    float: none;
    margin: 0 0 20px 12px;
    border: 0;
    padding: 10px;
    background: #ffffff;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    word-wrap: normal;
    width: 160px;
    &:hover {
      text-decoration: none;
      cursor: hand;
      cursor: pointer;
    }
    &:first-child {
      // margin: 0 0 20px 0;
      // width: 160px;
    }
    .image-container {
      height: 130px; 
    }
    img {
      max-width: 100%;
    }
    .caption {
      height: 50px;
      background-color: #98002e;
      top: 0px;
      .text {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        line-height: 1;
        padding: 0px;
      }
    }
    @include bp(wildcard-min, 500px) {
      margin: 0 0 20px 8px;
      // float: left;
      width: 160px;
    }
  }
}