<div class="carousel" data-carousel="data-carousel">
    <p>Carousel Image here</p>
    <figure class="active">
        <blockquote data-img="data-img" data-src="{% asset_path placeholder/chapman.jpg %}">&#160;</blockquote>
        <figcaption>
            <h2><headline>Chapman University</headline></h2>
            <span>In 1972 a crack commando unit was sent to prison by a military court for a crime they didn't commit. These men promptly escaped from a maximum security stockade to the Los Angeles underground. But they got diff'rent strokes. It takes diff'rent strokes - it takes diff'rent strokes to move the world. In 1972 a crack commando unit was sent to prison by a military court for a crime they didn't commit.&#160;</span>
        </figcaption>
    </figure>
    <p>Carousel Image here</p>
    <figure>
        <blockquote data-img="data-img" data-src="https://lh3.googleusercontent.com/-W35g63GXxpo/UzynM7evfaI/AAAAAAAAFiA/MiEfAH_4FIk/w1914-h1276-no/2013%2BGraduate%2BStudent%2BOrientation9.jpg">&#160;</blockquote>
        <figcaption>
            <h2><headline>Star Trek</headline></h2>
            <span>Here's the story of a lovely lady who was bringing up three very lovely girls. It's time to play the music. It's time to light the lights. It's time to meet the Muppets on the Muppet Show tonight? Their house is a museum where people come to see &#8216;em.&#160;</span>
        </figcaption>
    </figure>

    <p>Carousel Image here</p>
    <figure>
        <blockquote data-img="data-img" data-src="{% asset_path placeholder/musco.jpg %}">&#160;</blockquote>
        <figcaption>
            <h2><headline>Musco Center</headline></h2>
            <span>Here's the story of a lovely lady who was bringing up three very lovely girls. It's time to play the music. It's time to light the lights. It's time to meet the Muppets on the Muppet Show tonight? Their house is a museum where people come to see &#8216;em.&#160;</span>
        </figcaption>
    </figure>
</div>