#theme.business {
  @include theme-color-classes($asbe-primary);

  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo {
    background: $asbe-primary; /* Old browsers */
  }

  .nameBarButtons li a {
    color: $asbe-primary;
  }

  .rightColumn .styleTwo .border {
    background-color: $asbe-tertiary;
  }

  .rightColumn .styleTwo a {
    color: $white;
    border-bottom: 2px dotted #74868c;
  }

  .expandedNameBarContainer {
    h2, a {
      color: #95d2e8;
    }
  }

  #social_follow_us {
    .banner {
      background-image: image-url('asbe_follow_us.png');
    }
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('asbe_icons.png');
      }
    }
  }

  .rounded-slider .info-container .blue {
    background-color: $asbe-primary;
  }

  .newbutton a {
    background-color: $asbe-primary;
    &:hover {
      background-color: $asbe-secondary;
    }
    &:active {
      background-color: $asbe-tertiary;
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: $asbe-primary;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: $asbe-primary;
    }
  }

  .leftNavSubContent .callout .view-more-expander {
    .view-more {
      background-color: $asbe-primary;
    }
    .view-more-link {
      background-color: $asbe-primary;
    }
    .view-less-link {
      background-color: $asbe-primary;
    }
    .icon-triangle-up {
      color: $asbe-primary;
    }
  }
}
