
#theme.business {
  @include theme-color-classes($asbe-primary);

  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo, .background-image-overlay {
    background: $asbe-primary; /* Old browsers */
  }

  .nameBarButtons li a {
    color: $theme-blue;
  }

  div.styleTwo a {
    color: $white;
  }

  .expandedNameBarContainer {
    h2, a {
      color: #95d2e8;
    }
  }

  #social_follow_us {
    .banner {
      background-image: image-url('asbe_follow_us.png');
    }
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('asbe_icons.png');
      }
    }
  }

  .rounded-slider .info-container .blue {
    background-color: $asbe-primary;
  }

  .newbutton a {
    border: 1px solid $theme-blue;
    background-color: $theme-blue;
    
    &:hover {
      border: 1px solid $theme-blue;
      background-color: $theme-blue;
    
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: $asbe-primary;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: $asbe-primary;
    }
  }

}