
#theme.ces {
  @include theme-color-classes($ces-primary);
  
  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo {
  	background: $ces-primary; /* Old browsers */
  	//background: -moz-radial-gradient(center, ellipse cover, $ces-primary 1%, $ces-secondary 93%); /* FF3.6+ */
  	//background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,$ces-primary), color-stop(93%,$ces-secondary)); /* Chrome,Safari4+ */
  	//background: -webkit-radial-gradient(center, ellipse cover, $ces-primary 1%,$ces-secondary 93%); /* Chrome10+,Safari5.1+ */
  	//background: -o-radial-gradient(center, ellipse cover, $ces-primary 1%,$ces-secondary 93%); /* Opera 12+ */
  	//background: -ms-radial-gradient(center, ellipse cover, $ces-primary 1%,$ces-secondary 93%); /* IE10+ */
  	//background: radial-gradient(center, ellipse cover, $ces-primary 1%,$ces-secondary 93%); /* W3C */
  	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$ces-primary}', endColorstr='#{$ces-secondary}',GradientType=1 ); /* IE6-9 fallback on horizontal gradient //*/
  }

  .rightColumn .styleTwo .border {
    background-color: $ces-tertiary;
  }

  .rightColumn .styleTwo a {
    color: #ffffff;
    border-bottom: 2px dotted #8eb2bf;
  }

  .nameBarButtons li a {
    color: $ces-primary;
  }

  #social_follow_us {
    .banner {
      background-image: image-url('ces_follow_us.png');
    }
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('ces_icons.png');
      }
    }
  }

  .rounded-slider .info-container .blue {
    background-color: $ces-primary;
  }

  .newbutton a {
    background-color: $ces-primary;
    &:hover {
      background-color: $ces-secondary;
    }
    &:active {
      background-color: $ces-tertiary;
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: $ces-primary;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: $ces-primary;
    }
  }

  .leftNavSubContent .callout .view-more-expander {
    background-color: $ces-primary;
    .icon-triangle-down {
      background-color: $ces-primary;
    }
    .icon-triangle-up {
      background-color: #d8d8d8;
      color: $ces-primary;
    }
  }
}