#theme.communication {
  @include theme-color-classes($communication-primary);

  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo {
    background: $communication-primary; /* Old browsers */
  }

  .rightColumn .styleTwo .border {
    background-color: $communication-tertiary;
  }

  .rightColumn .styleTwo a {
    color: #ffffff;
    border-bottom: 2px dotted #cfab66;
  }

  .nameBarButtons li a {
    color: $communication-primary;
  }

  #social_follow_us {
    .banner {
      background-image: image-url('communication_follow_us.png');
    }
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('communication_icons.png');
      }
    }
  }

  .rounded-slider .info-container .blue {
    background-color: $communication-primary;
  }

  .newbutton a {
    background-color: $communication-primary;
    &:hover {
      background-color: $communication-secondary;
    }
    &:active {
      background-color: $communication-tertiary;
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: $communication-primary;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: $communication-primary;
    }
  }

  .leftNavSubContent .callout .view-more-expander {
    .view-more {
      background-color: $communication-primary;
    }
    .view-more-link {
      background-color: $communication-primary;
    }
    .view-less-link {
      background-color: $communication-primary;
    }
    .icon-triangle-up {
      color: $communication-primary;
    }
  }
}
