#theme.copa__dance {
  @include theme-color-classes($dance-primary);
  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo {
    background: $dance-primary; /* Old browsers */

  }

  .rightColumn .styleTwo .border {
    background-color: $dance-tertiary;
  }

  .rightColumn .styleTwo a {
    color: #ffffff;
    border-bottom: 2px dotted #728b88;
  }

  .nameBarButtons li a {
    color: $dance-primary;
  }

  .expandedNameBarContainer h2 {
    color: #a7c3be;
  }

  #social_follow_us {
    .banner {
      background-image: image-url('copa_dance_follow_us.png');
    }
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('copa_dance_icons.png');
      }
    }
  }

  .rounded-slider .info-container .blue {
    background-color: $dance-primary;
  }

  .newbutton a {
    background-color: $dance-primary;
    &:hover {
      background-color: $dance-secondary;
    }
    &:active {
      background-color: $dance-tertiary;
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: $dance-primary;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: $dance-primary;
    }
  }

  .leftNavSubContent .callout .view-more-expander {
    .view-more {
      background-color: $dance-primary;
    }
    .view-more-link {
      background-color: $dance-primary;
    }
    .view-less-link {
      background-color: $dance-primary;
    }
    .icon-triangle-up {
      color: $dance-primary;
    }
  }
}
