#theme.copa__music {
  @include theme-color-classes($music-primary);

  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo {
    background: $music-primary; /* Old browsers */
  }

  .rightColumn .styleTwo .border { 
    background-color: $music-tertiary; 
  }

  .rightColumn .styleTwo a {
    color: #ffffff;
    border-bottom: 2px dotted #877479;
  }

  .nameBarButtons li a { 
    color: $music-secondary;
  }

  .expandedNameBarContainer h2, .expandedNameBarContainer a { 
    color: #c9adb3; 
  }

  #social_follow_us {
    .banner {
      background-image: image-url('copa_music_follow_us.png');
    }
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('copa_music_icons.png');
      }
    }
  }

  .rounded-slider .info-container .blue{
    background-color: $music-primary;
  }

  .newbutton a {
    background-color: $music-primary;
    &:hover {
      background-color: $music-secondary;
    }
    &:active {
      background-color: $music-tertiary;
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: $music-primary;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: $music-primary;
    }
  }

  .leftNavSubContent .callout .view-more-expander {
    .view-more {
      background-color: $music-primary;
    }
    .view-more-link {
      background-color: $music-primary;
    }
    .view-less-link {
      background-color: $music-primary;
    }
    .icon-triangle-up {
      color: $music-primary;
    }
  }
}
