
#theme.copa__dance {
  @include theme-color-classes($dance-primary);
  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo {
  	background: $dance-primary; /* Old browsers */
  	
  }

  .rightColumn .styleTwo .border {
    background-color: #003832;
  }

  .rightColumn .styleTwo a {
    color: #ffffff;
  }

  .nameBarButtons li a {
    color: $dance-primary;
  }

  .expandedNameBarContainer h2 {
    color: #a7c3be;
  }

  #social_follow_us {
    .banner {
      background-image: image-url('copa_dance_follow_us.png');
    }
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('copa_dance_icons.png');
      }
    }
  }

  .rounded-slider .info-container .blue {
    background-color: $dance-primary;
  }

  .newbutton a {
    border: 1px solid $dance-primary;
    background-color: $dance-primary;;
    
    &:hover {
      border: 1px solid $dance-primary;
      background-color: $dance-primary;;
    
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: $dance-primary;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: $dance-primary;
    }
  }
}