
#theme.copa__music {
  @include theme-color-classes($music-primary);
  
  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo, .outer-background-overlay, .inner-background-overlay {
  	background: $music-primary; /* Old browsers */
  	
  }
	
    .rightColumn .styleTwo .border { 
		background-color: $music-secondary; 
	}

    .rightColumn .styleTwo a {
      color: #ffffff;
    }
    
    .nameBarButtons li a { 
		color: $music-secondary;
	}
    
	.expandedNameBarContainer h2, .expandedNameBarContainer a { 
		color: #c9adb3; 
	}

    #social_follow_us {
    .banner {
      background-image: image-url('copa_music_follow_us.png');
    }
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('copa_music_icons.png');
      }
    }
  }
        
    .rounded-slider .info-container .blue{
        background-color: $music-primary;
    }   

    .newbutton a {
    border: 1px solid $music-primary;
    background-color: $music-primary;
    
    &:hover {
      border: 1px solid $music-primary;
      background-color: $music-primary;
    
    }
  }

   .midPhotoCallouts .photoCallout .caption {
    background-color: $music-primary;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: $music-primary;
    }
  }
}