
#theme.copa__theatre {
  @include theme-color-classes($theatre-primary);
  
  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo, .background-image-overlay {
  	background: $theatre-primary; /* Old browsers */
  	
  }

  .rightColumn .styleTwo .border {
    background-color: #001226;
  }

  .rightColumn .styleTwo a {
    color: #ffffff;
  }

  .nameBarButtons li a {
    color: $theatre-primary;
  }

  .expandedNameBarContainer h2 {
    color: #a1a9bd;
  }

  #social_follow_us {
    .banner {
      background-image: image-url('copa_theatre_follow_us.png');
    }
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('copa_theatre_icons.png');
      }
    }
  }

  .rounded-slider .info-container .blue {
    background-color: $theatre-primary;
  }

  .newbutton a {
    border: 1px solid $theatre-primary;
    background-color: $theatre-primary;
    
    &:hover {
      border: 1px solid $theatre-primary;
      background-color: $theatre-primary;
    
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: $theatre-primary;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: $theatre-primary;
    }
  }
}