#theme.copa {
  @include theme-color-classes($copa-primary);
  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo {
    background: $copa-primary; /* Old browsers */

  }

  .rightColumn .styleTwo .border {
    background-color: $copa-tertiary;
  }

  .rightColumn .styleTwo a {
    color: #ffffff;
    border-bottom: 2px dotted #8b7784;
  }

  .nameBarButtons li a {
    color: $copa-primary;
  }

  .expandedNameBarContainer h2 {
    color: #af9fa9;
  }

  #social_follow_us {
    .banner {
      background-image: image-url('copa_follow_us.png');
    }
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('copa_icons.png');
      }
    }
  }

  .rounded-slider .info-container .blue {
    background-color: $copa-primary;
  }

  .newbutton a {
    background-color: $copa-primary;
    &:hover {
      background-color: $copa-secondary;
    }
    &:active {
      background-color: $copa-tertiary;
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: $copa-primary;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: $copa-primary;
    }
  }

  .leftNavSubContent .callout .view-more-expander {
    .view-more {
      background-color: $copa-primary;
    }
    .view-more-link {
      background-color: $copa-primary;
    }
    .view-less-link {
      background-color: $copa-primary;
    }
    .icon-triangle-up {
      color: $copa-primary;
    }
  }
}
