
#theme.copa {
  @include theme-color-classes($copa-primary);
  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo, .background-image-overlay  {
  	background: $copa-primary; /* Old browsers */

  }

  .rightColumn .styleTwo .border {
    background-color: #36232f;
  }

  .rightColumn .styleTwo a {
    color: #ffffff;
  }

  .nameBarButtons li a {
    color: $copa-primary;
  }

  .expandedNameBarContainer h2 {
    color: #af9fa9;
  }

  #social_follow_us {
    .banner {
      background-image: image-url('copa_follow_us.png');
    }
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('copa_icons.png');
      }
    }
  }

  .rounded-slider .info-container .blue {
    background-color: $copa-primary;
  }

  .newbutton a {
    border: 1px solid $copa-primary;
    background-color: $copa-primary;
    
    &:hover {
      border: 1px solid $copa-primary;
      background-color: $copa-primary;
    
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: $copa-primary;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: $copa-primary;
    }
  }
}