
#theme.crean {
  @include theme-color-classes($crean-primary);
  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo, .background-image-overlay {
  	background: $crean-primary; /* Old browsers */
  	
  }
	
    .rightColumn .styleTwo .border { 
		background-color: $crean-secondary; 
	}

    .rightColumn .styleTwo a {
      color: $white;
	  text-decoration: underline;
    }
    
    .nameBarButtons li a { 
		color: $crean-secondary;
	}
    
	.expandedNameBarContainer h2, .expandedNameBarContainer a { 
		color: $theme-light-grey;
		text-decoration: underline; 
	}

    #social_follow_us {
    .banner {
      background-image: image-url('crean_follow_us.png');
    }
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('crean_icons.png');
      }
    }
  }
        
    .rounded-slider .info-container .blue{
        background-color: $crean-primary;
    }   

    .newbutton a {
    border: 1px solid $crean-primary;
    background-color: $crean-primary;
    
    &:hover {
      border: 1px solid $crean-primary;
      background-color: $crean-primary;
    
    }
  }

   .midPhotoCallouts .photoCallout .caption {
    background-color: $crean-primary;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: $crean-primary;
    }
  }
}