
#theme.dodge {
  @include theme-color-classes($dodge-primary);
  
  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo {
  	background: $dodge-primary; /* Old browsers */
  	
  }

  .rightColumn .styleTwo .border {
    background-color: $black;
  }

  .styleTwo {
    p, li, div, h2, h3 {
      color: $white;
    }
    a {
  	  color: $white;
  	  text-decoration: underline;
  	}
  }

  .nameBarButtons li a {
    color: $dodge-primary;
  }

  .expandedNameBarContainer h2 {
    color: #cdcdcd;
  }

  #social_follow_us {
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('dodge_icons.png');
      }
    }
    .banner {
      background: image-url('dodge_follow_us.png');
      background-image: image-url('dodge_follow_us.png');
    }
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('dodge_icons.png');
      }
    }
  }

  .rounded-slider .info-container .blue {
    background-color: $dodge-primary;
  }

  .newbutton a {
    border: 1px solid $black;
    background-color: $dodge-primary;
    
    &:hover {
      border: 1px solid $black;
      background-color: $dodge-primary;
    
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: $dodge-primary;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: $dodge-primary;
    }
  }
}