#theme.dodge {
  @include theme-color-classes($dodge-primary);
  
  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo {
    background: $dodge-primary; /* Old browsers */
  }

  .rightColumn .styleTwo .border {
    background-color: $dodge-tertiary;
  }

  .styleTwo {
    p, li, div, h2, h3 {
      color: $white;
    }
    a {
      color: $white;
      border-bottom: 2px dotted #676767;
    }
  }

  .nameBarButtons li a {
    color: $dodge-primary;
    border-bottom: 2px dotted #74868c;
  }

  .expandedNameBarContainer h2 {
    color: #cdcdcd;
  }

  #social_follow_us {
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('dodge_icons.png');
      }
    }
    .banner {
      background: image-url('dodge_follow_us.png');
      background-image: image-url('dodge_follow_us.png');
    }
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('dodge_icons.png');
      }
    }
  }

  .rounded-slider .info-container .blue {
    background-color: $dodge-primary;
  }

  .newbutton a {
    background-color: $dodge-primary;
    &:hover {
      background-color: $dodge-secondary;
    }
    &:active {
      background-color: $dodge-tertiary;
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: $dodge-primary;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: $dodge-primary;
    }
  }

  .leftNavSubContent .callout .view-more-expander {
    .view-more {
      background-color: $dodge-primary;
    }
    .view-more-link {
      background-color: $dodge-primary;
    }
    .view-less-link {
      background-color: $dodge-primary;
    }
    .icon-triangle-up {
      color: $dodge-primary;
    }
  }
}
