#theme.law {
  @include theme-color-classes($law-primary);
  
  .bigMasthead header {
    @include media(1024px) { margin: 0; }
    @include media(1120px) { margin: 30px 0; }
  }

  .logo {
    background: image-url('logo_law_alternate.svg') ;
    background-repeat: no-repeat;
    height: 57px;
    width: 200px;
    margin: 0 auto $base-spacing auto;
    @include bp(m) { margin: 0 $base-spacing $base-spacing $base-spacing;}
    @include media(1120px) { margin: -13px $base-spacing 0 0; }
  }

  .collapsedNav {
    margin: 115px 0 0 0;
  }

  .mainNavLinks > li > a {
    background-color: $law-primary;
  }

  .mainNavLinks .mainNavLinksAfter,
  .mainNavLinks .mainNavLinksAfter:hover {
    background-color: $law-primary !important;
  }

  @include bp(m) {
    .ie8 .subNavLinks {
      border-right: 1px solid #00307c;
      border-bottom: 1px solid #00307c;
      border-left: 1px solid #00307c;
    }

    .mainNav .icon {
      margin-left: 0;
    }

    .mainNav .icon:before {
      display: none;
    }
  }

  .nameBarButtons li a {
    color: #00307c;
  }

  .expandedNameBarContainer h2,
  .expandedNameBarContainer a,
  div.styleTwo a {
    color: #99afda;
  }

  .smallMasthead .masthead,
  .bigMasthead .masthead,
  .nameBar {
    background: #00307c;
  }

  #social_follow_us .banner {
    background-image: image-url('law_follow_us.png');
  }
  
  #social_follow_us li span.hover_state,
  #social_follow_us li span.inactive_state {
    background-image: image-url('law_icons.png');
  }

  .ie8 .slideDescription,
  .ie9 .slideDescription{
    display: none !important;
  }

  .mainNavExpand a {
    background-color: $law-primary;
  }

  .mainNavLinks > li {
    background-color: #353430;
  }

  /* ==|== media queries ====================================================== */
  @include bp(m) {

    header {
      padding: 0 0 15px 0;
    }

    .infoFor {
      width: 600px;
    }

    .mainNavLinks {
      background-image: image-url('ribbon_tails_law.png');
    }

    .mainNavLinks > li.noSubNav > a {
      padding:0 !important;
    }

    .mainNavLinks > li:hover{
      background-color:transparent;
    }

    .mainNavLinks > li > a > span {
      padding-left: 12px;
      padding-right: 12px;
    }

    .mainNavLinks,
    .mainNavLinks > li,
    .mainNavLinks > li.noSubNav:hover {
      background-color: $law-primary;
    }

  }

  @include media(1120px) {

    .mainNavLinks{
      background-color: transparent;
    }
  }

  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo {
  background: $law-primary; /* Old browsers */
  }
  
  .rightColumn .styleTwo .border { background-color: #002663; }
  .styleTwo p {color: $white;}
  .styleTwo li {color: $white;}
  .styleTwo div {color: $white;}
  .styleTwo h2 {color: $white;}
  .styleTwo h3 {color: $white;}
  .rightColumn .styleTwo a {color: $white; border-bottom: 2px dotted #61728d;}

  .nameBarButtons li a { color: $law-primary;}
  .expandedNameBarContainer h2, .expandedNameBarContainer a, div.styleTwo a { color: #99afda; }

  #social_follow_us .banner {
    background-image: image-url('law_follow_us.png');
  }
  
  #social_follow_us li span.hover_state, #social_follow_us li span.inactive_state {
    background-image: image-url('law_icons.png');
  }

  .rounded-slider .info-container .blue{
    background-color: $law-primary;
    background-image: -webkit-gradient(linear, left top, left bottom, from($law-primary), to($law-secondary));
    background-image: -webkit-linear-gradient(top, $law-primary, $law-secondary);
    background-image: -moz-linear-gradient(top, $law-primary, $law-secondary);
    background-image: -o-linear-gradient(top, $law-primary, $law-secondary);
    background-image: linear-gradient(to bottom, $law-primary, $law-secondary);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f7c', endColorstr='#01235b',GradientType=1 );
  }

  .newbutton a {
    background-color: $law-primary;
    &:hover {
      background-color: #063a8f;
    }
    &:active {
      background-color: #002562;
    }
  }
  
  .midPhotoCallouts .photoCallout .caption,
  .photoCallouts .caption,
  .photoCallouts .rollover{
    background-color: $law-primary;
  }

  
  .leftNavSubContent .callout .view-more-expander {
    .view-more {
      background-color: $law-primary;;
    }
    .view-more-link {
      background-color: $law-primary;;
    }
    .view-less-link {
      background-color: $law-primary;;
    }
    .icon-triangle-up {
      color: $law-primary;;
    }
  }

  /* Footer */

  .link-container-before,
  .links-header {
    background-color: $law-primary;
  }

  .link-container-after {
    background-image: image-url('ribbon_tails_law.png');
  }
}