
#theme.pharmacy {
  @include theme-color-classes($pharmacy-primary);
  
  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo {
  	background: $pharmacy-primary; /* Old browsers */
  	
  }

  .rightColumn .styleTwo {
    .border {
      background-color: #bebd69;
    }
    a {
      color: #fafadf;
    }
  }

  .nameBarButtons li a {
    color: $pharmacy-primary;
  }

  .expandedNameBarContainer {
    h2, .copy {
      color: $pharmacy-tertiary;
    }
    a {
      color: $pharmacy-tertiary;
      text-decoration: underline;
    }
  }

  #social_follow_us {
    .banner {
      background-image: image-url('pharmacy_follow_us.png');
    }
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('pharmacy_icons.png');
      }
    }
  }

  .rounded-slider .info-container .blue {
    background-color: $pharmacy-primary;
  }

  .newbutton a {
    border: 1px solid $pharmacy-primary;
    background-color: $pharmacy-primary;
    
    &:hover {
      border: 1px solid $pharmacy-primary;
      background-color: $pharmacy-primary;
    
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: $pharmacy-primary;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: $pharmacy-primary;
    }
  }
}