#theme.pharmacy {
  @include theme-color-classes($pharmacy-primary);

  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo {
    background: $pharmacy-primary; /* Old browsers */
  }

  .rightColumn .styleTwo {
    .border {
      background-color: $pharmacy-tertiary;
    }
    a {
      color: #ffffff;
      border-bottom: 2px dotted #b2b198;
    }
  }

  .nameBarButtons li a {
    color: $pharmacy-primary;
  }

  .expandedNameBarContainer {
    h2, .copy {
      color: $pharmacy-tertiary;
    }
    a {
      color: $pharmacy-tertiary;
      text-decoration: underline;
    }
  }

  #social_follow_us {
    .banner {
      background-image: image-url('pharmacy_follow_us.png');
    }
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('pharmacy_icons.png');
      }
    }
  }

  .rounded-slider .info-container .blue {
    background-color: $pharmacy-primary;
  }

  .newbutton a {
    background-color: $pharmacy-primary;
    &:hover {
      background-color: $pharmacy-secondary;
    }
    &:active {
      background-color: $pharmacy-tertiary;
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: $pharmacy-primary;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: $pharmacy-primary;
    }
  }

  .leftNavSubContent .callout .view-more-expander {
    .view-more {
      background-color: $pharmacy-primary;
    }
    .view-more-link {
      background-color: $pharmacy-primary;
    }
    .view-less-link {
      background-color: $pharmacy-primary;
    }
    .icon-triangle-up {
      color: $pharmacy-primary;
    }
  }
}
