
#theme.scst {
  @include theme-color-classes($scst-primary);

  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo {
  	background: $scst-primary; /* Old browsers */
  	
  }

  .rightColumn .styleTwo {
    .border {
      background-color: $scst-tertiary;
    }
    .editableContent {
      p {
        color: $white;
      }
      a {
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }

  .nameBarButtons li a {
    color: $scst-primary;
  }

  .expandedNameBarContainer {
    h2, .copy {
      color: $theme-light-grey;
    }
    a {
      color: $theme-light-grey;
      text-decoration: underline;
    }
  }

  #social_follow_us {
    .banner {
      background-image: image-url('scst_follow_us.png');
    }
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('scst_icons.png');
      }
    }
  }

  .rounded-slider .info-container .blue {
    background-color: $scst-primary;
  }

  .newbutton a {
    border: 1px solid $scst-primary;
    background-color: $scst-primary;
    
    &:hover {
      border: 1px solid $scst-primary;
      background-color: $scst-primary;
    
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: $scst-primary;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: $scst-primary;
    }
  }
}