#theme.scst {
  @include theme-color-classes($scst-primary);

  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo {
    background: $scst-primary; /* Old browsers */
  }

  .rightColumn .styleTwo {
    .border {
      background-color: $scst-tertiary;
    }
    .editableContent {
      p {
        color: $white;
      }
      a {
        color: #ffffff;
        border-bottom: 2px dotted #838a6d;
      }
    }
  }

  .nameBarButtons li a {
    color: $scst-primary;
  }

  .expandedNameBarContainer {
    h2, .copy {
      color: $theme-light-grey;
    }
    a {
      color: $theme-light-grey;
      text-decoration: underline;
    }
  }

  #social_follow_us {
    .banner {
      background-image: image-url('scst_follow_us.png');
    }
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('scst_icons.png');
      }
    }
  }

  .rounded-slider .info-container .blue {
    background-color: $scst-primary;
  }

  .newbutton a {
    background-color: $scst-primary;
    &:hover {
      background-color: $scst-secondary;
    }
    &:active {
      background-color: $scst-tertiary;
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: $scst-primary;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: $scst-primary;
    }
  }

  .leftNavSubContent .callout .view-more-expander {
    .view-more {
      background-color: $scst-primary;
    }
    .view-more-link {
      background-color: $scst-primary;
    }
    .view-less-link {
      background-color: $scst-primary;
    }
    .icon-triangle-up {
      color: $scst-primary;
    }
  }
}
