
#theme.wilkinson {
  @include theme-color-classes($wilkinson-primary);
  
  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo, .outer-background-overlay, .inner-background-overlay {
  	background: $wilkinson-primary; /* Old browsers */
  	
  }

  .rightColumn .styleTwo .border {
    background-color: $theme-blue;
  }

  .rightColumn .styleTwo a {
    color: #ffffff;
  }

  .nameBarButtons li a {
    color: $wilkinson-primary;
  }

  .expandedNameBarContainer h2 {
    color: #a8cce1;
  }

  #social_follow_us {
    .banner {
      background-image: image-url('wilkinson_follow_us.png');
    }
    li span {
      &.hover_state, &.inactive_state {
        background-image: image-url('wilkinson_icons.png');
      }
    }
  }

  .rounded-slider .info-container .blue {
    background-color: $wilkinson-primary;
  }

  .newbutton a {
    border: 1px solid $wilkinson-primary;
    background-color: $wilkinson-primary;
    
    &:hover {
      border: 1px solid $wilkinson-primary;
      background-color: $wilkinson-primary;
    
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: $wilkinson-primary;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: $wilkinson-primary;
    }
  }
}